@charset "UTF-8";
* {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  width: 10rem;
  background: url("../images/bg.jpg") repeat;
  background-size: 5%;
  /*价格计算【通用】*/ }
  #evt_content img {
    width: 100%;
    display: block; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    width: 10rem;
    height: 10.29333rem;
    background: url("../images/banner.png") no-repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
  #evt_content .hy-title {
    width: 10rem;
    margin: 1.06667rem auto 1.06667rem; }
  #evt_content .icon {
    position: absolute;
    width: 1.09333rem;
    height: 0.89333rem;
    top: 0.02667rem;
    left: 2.86667rem; }
  #evt_content .icon_20 {
    background: url("../images/icon_20.png") no-repeat;
    background-size: 100%; }
  #evt_content .icon_40 {
    background: url("../images/icon_40.png") no-repeat;
    background-size: 100%; }
  #evt_content .icon_60 {
    background: url("../images/icon_60.png") no-repeat;
    background-size: 100%; }
  #evt_content .buy_btns {
    position: absolute;
    width: 1.97333rem;
    top: 6.13333rem;
    left: 1.2rem;
    background: #c99d70;
    border-radius: 0.66667rem; }
    #evt_content .buy_btns span {
      display: block;
      line-height: 0.66667rem;
      font-size: 0.24rem;
      color: #fff;
      text-align: center;
      cursor: pointer; }
  #evt_content .buy_btns.end {
    background: #ababab; }
  #evt_content .sec-main {
    width: 10rem;
    height: 37.58667rem;
    padding: 0;
    background: url("../images/main_bg.png") no-repeat;
    background-size: 100%;
    overflow: hidden; }
    #evt_content .sec-main .hongbao {
      margin-top: 1.33333rem;
      overflow: hidden; }
    #evt_content .sec-main .pro-num {
      position: relative;
      float: left;
      width: 2.50667rem;
      height: 0.66667rem;
      display: inline-block;
      background: #c99c70;
      margin-left: 0.06667rem;
      border-radius: 0.66667rem; }
      #evt_content .sec-main .pro-num a {
        position: absolute;
        top: -0.2rem;
        width: 1.06667rem;
        height: 1.06667rem;
        display: block;
        z-index: 2; }
      #evt_content .sec-main .pro-num .minus {
        display: inline-block;
        background: url(../images/in-a-1.png) center no-repeat;
        left: -0.2rem;
        background-size: 50%; }
      #evt_content .sec-main .pro-num .plus {
        display: inline-block;
        background: url(../images/in-a-2.png) center no-repeat;
        right: -0.13333rem;
        background-size: 50%; }
      #evt_content .sec-main .pro-num .bang {
        display: inline-block;
        width: 1.73333rem;
        line-height: 0.70667rem;
        position: absolute;
        top: 0;
        left: 0.33333rem;
        text-align: center;
        color: #fff;
        background: none;
        font-size: 0.24rem;
        padding: 0;
        z-index: 1; }
    #evt_content .sec-main .row {
      position: relative; }
      #evt_content .sec-main .row .cake {
        position: absolute; }
      #evt_content .sec-main .row .price {
        position: absolute; }
    #evt_content .sec-main .row1 {
      height: 6.66667rem; }
      #evt_content .sec-main .row1 .cake {
        width: 5.44rem;
        top: 0;
        left: 0;
        z-index: 1; }
      #evt_content .sec-main .row1 .price {
        top: 2.26667rem;
        left: auto;
        right: -0.4rem; }
    #evt_content .sec-main .row2 {
      height: 6.66667rem; }
      #evt_content .sec-main .row2 .cake {
        width: 4.78667rem;
        top: 0;
        right: 0;
        z-index: 1; }
      #evt_content .sec-main .row2 .price {
        top: 2rem;
        left: 0.4rem;
        z-index: 2; }
    #evt_content .sec-main .row3 {
      height: 6.66667rem; }
      #evt_content .sec-main .row3 .cake {
        width: 5.13333rem;
        top: 0;
        left: 0;
        z-index: 1; }
      #evt_content .sec-main .row3 .price {
        top: 1.73333rem;
        left: auto;
        right: -0.4rem; }
    #evt_content .sec-main .row4 {
      height: 6.66667rem; }
      #evt_content .sec-main .row4 .cake {
        width: 5.89333rem;
        top: 0;
        right: 0;
        z-index: 1; }
      #evt_content .sec-main .row4 .price {
        top: 2.26667rem;
        left: 0.4rem;
        z-index: 2; }
  #evt_content .sec-tusi .tusi {
    position: relative;
    margin: 0 auto;
    width: 10rem; }
  #evt_content .sec-tusi .btn1 {
    top: 7.33333rem;
    left: 1.4rem; }
  #evt_content .sec-tusi .btn2 {
    top: 7.33333rem;
    left: 6.73333rem; }
  #evt_content .sec-footer {
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 1.33333rem;
      margin: 0 auto;
      color: #653e00; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.29333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.28rem;
        padding-left: 0.46667rem;
        line-height: 0.46667rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          text-indent: 1.06667rem; }
  #evt_content .price {
    position: absolute;
    width: 5.33333rem;
    text-align: left;
    z-index: 2; }
    #evt_content .price .title {
      position: relative;
      width: 4.88rem;
      margin: 0.13333rem 0 1.06667rem 0; }
    #evt_content .price h2 {
      position: relative;
      font-size: 0.26667rem;
      font-weight: normal;
      line-height: 1.06667rem;
      color: #393c3f; }
      #evt_content .price h2 i {
        font-size: 0.26667rem;
        line-height: 0.4rem;
        font-style: normal;
        vertical-align: middle; }
      #evt_content .price h2 span {
        font-size: 0.45333rem; }
      #evt_content .price h2 em {
        font-style: normal; }
    #evt_content .price s {
      font-size: 0.26667rem;
      color: #888785;
      font-weight: normal;
      margin-left: 0.13333rem; }
      #evt_content .price s span {
        font-size: 0.26667rem; }
      #evt_content .price s b {
        font-weight: normal; }
    #evt_content .price ul.buy_btn_box {
      width: 2.25333rem;
      overflow: hidden;
      margin: 0;
      float: left; }
    #evt_content .price ul.buy_btn_box li span {
      display: block;
      width: 2.25333rem;
      background: #c99c70;
      border-radius: 0.66667rem;
      line-height: 0.66667rem;
      text-align: center;
      font-size: 0.24rem;
      color: #fff; }
