@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}
*{ vertical-align: baseline !important;}  /*价格符号不对齐*/
#evt_content{width: px2rem(750);background: url("../images/bg.jpg") repeat; background-size: 5%;
  img{width:100%; display: block;}
  .sec{position: relative; }

  .sec-top{ width: px2rem(750); height: px2rem(772); background:url("../images/banner.png") no-repeat; background-size: 100%; z-index: 1; overflow: hidden;
  }


  .hy-title{ width: px2rem(750); margin:px2rem(80) auto px2rem(80); }


  .icon{position: absolute; width:px2rem(82); height:px2rem(67); top:px2rem(2); left: px2rem(215); }
  .icon_20{background: url("../images/icon_20.png") no-repeat; background-size: 100%;}
  .icon_40{background: url("../images/icon_40.png") no-repeat; background-size: 100%;}
  .icon_60{background: url("../images/icon_60.png") no-repeat; background-size: 100%;}


  .buy_btns{position: absolute; width:px2rem(148); top:px2rem(460); left:px2rem(90); background: #c99d70; border-radius:px2rem(50);
    span{ display: block; line-height:px2rem(50); font-size: px2rem(18); color: #fff; text-align: center; cursor: pointer;}
  }
  .buy_btns.end{background: #ababab;}

  .sec-main{ width: px2rem(750); height: px2rem(2819); padding:0; background:url("../images/main_bg.png") no-repeat; background-size: 100%; overflow: hidden;

    .hongbao{ margin-top:px2rem(100);overflow: hidden;

    }

    .pro-num{ position: relative; float: left; width: px2rem(188); height: px2rem(50); display: inline-block; background:#c99c70; margin-left:px2rem(5); border-radius: px2rem(50);
      a{ position: absolute; top:px2rem(-15); width:px2rem(80); height:px2rem(80); display:block; z-index: 2;}
      .minus{display:inline-block;background:url(../images/in-a-1.png) center no-repeat; left:px2rem(-15); background-size: 50%;}
      .plus{display:inline-block;background:url(../images/in-a-2.png) center no-repeat; right:px2rem(-10); background-size: 50%;}
      .bang{ display:inline-block; width:px2rem(130); line-height:px2rem(53); position:absolute; top:0; left:px2rem(25); text-align:center; color:#fff; background: none; font-size:px2rem(18); padding:0; z-index: 1;}
    }

    .row{ position: relative;
      .cake{position: absolute;}
      .price{position: absolute;}
    }
    .row1{height: px2rem(500);
      .cake{width:px2rem(408); top:0; left:0; z-index: 1;}
      .price{top:px2rem(170); left: auto; right:px2rem(-30);}
    }
    .row2{height: px2rem(500);
      .cake{ width:px2rem(359); top:0; right:0; z-index: 1;}
      .price{ top: px2rem(150); left:px2rem(30); z-index: 2;}
    }

    .row3{height: px2rem(500);
      .cake{width:px2rem(385); top:0; left:0; z-index: 1;}
      .price{top:px2rem(130); left: auto; right:px2rem(-30);}
    }

    .row4{height: px2rem(500);
      .cake{ width:px2rem(442); top:0; right:0; z-index: 1;}
      .price{ top: px2rem(170); left:px2rem(30); z-index: 2;}
    }

  }

  .sec-tusi{
    .tusi{position: relative; margin:0 auto; width:px2rem(750); }
    .btn1{ top:px2rem(550); left:px2rem(105);}
    .btn2{ top:px2rem(550); left:px2rem(505);}
  }

  .sec-footer{ position: relative; padding-bottom: px2rem(50); z-index:1;
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(100); margin: 0 auto;  color: #653e00;
      h2{font-size: px2rem(22); font-weight: normal; }
      p{ font-size: px2rem(21); padding-left: px2rem(35); line-height:px2rem(35);  text-indent: px2rem(-35); margin:px2rem(5) 0;
        span{display: block; text-indent: px2rem(80);}
      }
    }
  }


  /*价格计算【通用】*/
  .price{ position: absolute;  width: px2rem(400); text-align: left; z-index: 2;

    .title{position: relative; width: px2rem(366); margin:px2rem(10) 0 px2rem(80) 0;}
    h2{position: relative; font-size:  px2rem(20); font-weight: normal; line-height: px2rem(80); color:#393c3f;
      i{font-size:  px2rem(20); line-height: px2rem(30); font-style: normal;vertical-align:middle; }
      span{font-size: px2rem(34); }
      em{font-style:normal;}
    }
    s{ font-size:  px2rem(20); color:#888785; font-weight: normal; margin-left: px2rem(10);
      span{font-size: px2rem(20); }
      b{font-weight:normal;}
    }

    ul.buy_btn_box { width: px2rem(169); overflow: hidden; margin:0; float: left;   }
    ul.buy_btn_box li span {display: block; width: px2rem(169); background:#c99c70; border-radius: px2rem(50); line-height: px2rem(50); text-align: center; font-size: px2rem(18); color: #fff; }
  }

}

