@charset "UTF-8";
#evt_content {
  background: url("../images/bg.jpg") repeat;
  /*价格*/ }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    z-index: 1;
    height: 10.6rem;
    background: url("../images/banner-bg.png") repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
    #evt_content .sec-top .banner {
      position: absolute;
      width: 9.84rem;
      top: 0.93333rem;
      left: 0; }
  #evt_content .sec-0 {
    padding: 0.66667rem 0; }
    #evt_content .sec-0 div {
      position: relative; }
    #evt_content .sec-0 .quanyi {
      width: 9.93333rem;
      margin: 0.4rem auto 0; }
  #evt_content .sec-zp {
    position: relative;
    z-index: 2;
    padding: 0.13333rem 0 0.26667rem 0; }
    #evt_content .sec-zp div {
      position: relative; }
    #evt_content .sec-zp .zp {
      width: 9.17333rem;
      margin: 0.4rem auto;
      z-index: 1; }
    #evt_content .sec-zp .zp-txt {
      width: 9.17333rem;
      margin: 0.4rem auto;
      text-align: center;
      font-size: 0.24rem;
      z-index: 1;
      color: #5d5d5d; }
  #evt_content .hy-title {
    position: relative;
    width: 5.16rem;
    margin: 0.4rem auto; }
  #evt_content .sec-main {
    margin-top: -0.66667rem;
    z-index: 2; }
    #evt_content .sec-main .row {
      position: relative;
      height: 7.73333rem; }
    #evt_content .sec-main .row1 {
      height: 6.66667rem; }
      #evt_content .sec-main .row1 .cake {
        width: 7.22667rem;
        top: 0rem;
        left: 0;
        z-index: 1; }
      #evt_content .sec-main .row1 .price {
        top: 0.66667rem;
        left: 5.6rem; }
      #evt_content .sec-main .row1 .disc {
        left: 0.26667rem; }
      #evt_content .sec-main .row1 .price ul.price_p li {
        background: #34c1e4 !important; }
      #evt_content .sec-main .row1 .price s, #evt_content .sec-main .row1 .price .price_num dl dt input, #evt_content .sec-main .row1 .price h2, #evt_content .sec-main .row1 .price .huangou {
        color: #1aaace !important; }
      #evt_content .sec-main .row1 .price ul.price_p li.cur, #evt_content .sec-main .row1 .price ul.buy_btn_box li span {
        background: #1aaace !important; }
      #evt_content .sec-main .row1 .price input:disabled, #evt_content .sec-main .row1 .price input[disabled] {
        color: #1aaace;
        -webkit-text-fill-color: #1aaace;
        -webkit-opacity: 1;
        opacity: 1; }
      #evt_content .sec-main .row1 .price_num dl dd.reduce {
        background: url("../images/reduce-1.png") no-repeat;
        background-size: 99%; }
      #evt_content .sec-main .row1 .price_num dl dd.add {
        background: url("../images/add-1.png") no-repeat scroll;
        background-size: 99%; }
      #evt_content .sec-main .row1 .icon {
        background: url("../images/icon-1.png") !important;
        background-size: 100% !important; }
      #evt_content .sec-main .row1 .icon.on {
        background: url("../images/icon-1-h.png") !important;
        background-size: 100% !important; }
    #evt_content .sec-main .row2 .cake {
      width: 10rem;
      top: 0;
      right: 0;
      z-index: 1; }
    #evt_content .sec-main .row2 .price {
      top: 0.4rem;
      left: 0.13333rem;
      z-index: 2; }
    #evt_content .sec-main .row2 .disc {
      left: 0; }
    #evt_content .sec-main .row2 .price ul.price_p li {
      background: #47bfd9 !important; }
    #evt_content .sec-main .row2 .price s, #evt_content .sec-main .row2 .price .price_num dl dt input, #evt_content .sec-main .row2 .price h2, #evt_content .sec-main .row2 .price .huangou {
      color: #47bfd9 !important; }
    #evt_content .sec-main .row2 .price ul.price_p li.cur, #evt_content .sec-main .row2 .price ul.buy_btn_box li span {
      background: #47bfd9 !important; }
    #evt_content .sec-main .row2 .price input:disabled, #evt_content .sec-main .row2 .price input[disabled] {
      color: #47bfd9;
      -webkit-text-fill-color: #47bfd9;
      -webkit-opacity: 1;
      opacity: 1; }
    #evt_content .sec-main .row2 .price_num dl dd.reduce {
      background: url("../images/reduce-2.png") no-repeat;
      background-size: 99%; }
    #evt_content .sec-main .row2 .price_num dl dd.add {
      background: url("../images/add-2.png") no-repeat scroll;
      background-size: 99%; }
    #evt_content .sec-main .row2 .icon {
      background: url("../images/icon-2.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row2 .icon.on {
      background: url("../images/icon-2-h.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row3 .cake {
      width: 8.72rem;
      top: -1.33333rem;
      left: 0;
      z-index: 1; }
    #evt_content .sec-main .row3 .price {
      top: 1.33333rem;
      left: 5.6rem; }
    #evt_content .sec-main .row3 .disc {
      left: 0.26667rem; }
    #evt_content .sec-main .row3 .price ul.price_p li {
      background: #e3a47e !important; }
    #evt_content .sec-main .row3 .price s, #evt_content .sec-main .row3 .price .price_num dl dt input, #evt_content .sec-main .row3 .price h2, #evt_content .sec-main .row3 .price .huangou {
      color: #bf724f !important; }
    #evt_content .sec-main .row3 .price ul.price_p li.cur, #evt_content .sec-main .row3 .price ul.buy_btn_box li span {
      background: #bf724f !important; }
    #evt_content .sec-main .row3 .price input:disabled, #evt_content .sec-main .row3 .price input[disabled] {
      color: #bf724f;
      -webkit-text-fill-color: #bf724f;
      -webkit-opacity: 1;
      opacity: 1; }
    #evt_content .sec-main .row3 .price_num dl dd.reduce {
      background: url("../images/reduce-3.png") no-repeat;
      background-size: 99%; }
    #evt_content .sec-main .row3 .price_num dl dd.add {
      background: url("../images/add-3.png") no-repeat scroll;
      background-size: 99%; }
    #evt_content .sec-main .row3 .icon {
      background: url("../images/icon-3.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row3 .icon.on {
      background: url("../images/icon-3-h.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row4 {
      height: 6.66667rem; }
      #evt_content .sec-main .row4 .cake {
        width: 8.53333rem;
        top: 0rem;
        right: 0;
        z-index: 1; }
      #evt_content .sec-main .row4 .price {
        top: 1.06667rem;
        left: 0.13333rem;
        z-index: 2; }
      #evt_content .sec-main .row4 .disc {
        left: 0; }
      #evt_content .sec-main .row4 .price ul.price_p li {
        background: #64b4bb !important; }
      #evt_content .sec-main .row4 .price s, #evt_content .sec-main .row4 .price .price_num dl dt input, #evt_content .sec-main .row4 .price h2, #evt_content .sec-main .row4 .price .huangou {
        color: #64b4bb !important; }
      #evt_content .sec-main .row4 .price ul.price_p li.cur, #evt_content .sec-main .row4 .price ul.buy_btn_box li span {
        background: #64b4bb !important; }
      #evt_content .sec-main .row4 .price input:disabled, #evt_content .sec-main .row4 .price input[disabled] {
        color: #64b4bb;
        -webkit-text-fill-color: #64b4bb;
        -webkit-opacity: 1;
        opacity: 1; }
      #evt_content .sec-main .row4 .price_num dl dd.reduce {
        background: url("../images/reduce-4.png") no-repeat;
        background-size: 99%; }
      #evt_content .sec-main .row4 .price_num dl dd.add {
        background: url("../images/add-4.png") no-repeat scroll;
        background-size: 99%; }
      #evt_content .sec-main .row4 .icon {
        background: url("../images/icon-4.png") !important;
        background-size: 100% !important; }
      #evt_content .sec-main .row4 .icon.on {
        background: url("../images/icon-4-h.png") !important;
        background-size: 100% !important; }
  #evt_content .price {
    position: absolute;
    width: 4.66667rem;
    text-align: center;
    z-index: 2; }
    #evt_content .price .title {
      position: relative;
      width: 4.66667rem;
      margin: 0.13333rem auto; }
    #evt_content .price h2 {
      font-size: 0.4rem;
      font-weight: normal;
      line-height: 0.66667rem;
      color: #9e1316; }
      #evt_content .price h2 i {
        font-size: 0.26667rem;
        line-height: 0.4rem;
        font-style: normal;
        vertical-align: middle; }
      #evt_content .price h2 span {
        font-size: 0.62667rem; }
    #evt_content .price s {
      font-size: 0.26667rem;
      color: #c7818b;
      font-weight: normal;
      display: none; }
    #evt_content .price ul.price_p {
      margin: 0.13333rem auto 0.26667rem;
      color: #000;
      width: 3.73333rem; }
    #evt_content .price ul.price_p.short1 {
      margin: 0.26667rem auto;
      color: #000;
      width: 0.86667rem; }
    #evt_content .price ul.price_p.short2 {
      margin: 0.26667rem auto;
      color: #000;
      width: 1.86667rem; }
    #evt_content .price ul.price_p.short3 {
      margin: 0.26667rem auto;
      color: #000;
      width: 2.66667rem; }
    #evt_content .price .bslang {
      font-size: 0.26667rem; }
    #evt_content .price ul.price_p.minshort {
      margin: 0.26667rem auto;
      color: #000;
      width: 1.73333rem; }
    #evt_content .price ul.price_p li {
      cursor: pointer;
      float: left;
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      width: 0.8rem;
      background: #febdbb;
      margin-right: 0.13333rem;
      border-radius: 50%;
      color: #fff;
      font-size: 0.32rem; }
    #evt_content .price ul.price_p li:last-child {
      margin-right: 0; }
    #evt_content .price ul.price_p .bd {
      width: 1.6rem !important;
      margin-left: 2rem !important; }
    #evt_content .price ul.price_p li.cur {
      background: #e29792 !important;
      color: #fff !important; }
    #evt_content .price .huangou {
      position: relative;
      width: 2.93333rem;
      font-size: 0.29333rem;
      color: #9b4245;
      margin: 0 auto 0.26667rem;
      text-align: left;
      padding-left: 0.46667rem; }
      #evt_content .price .huangou .icnone {
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.4rem;
        height: 0.4rem;
        margin-top: -0.2rem;
        background: url("../images/icon-1.png");
        background-size: 100%;
        z-index: 1; }
      #evt_content .price .huangou .icon {
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.4rem;
        height: 0.4rem;
        margin-top: -0.2rem;
        background: url("../images/icon-1.png");
        background-size: 100%;
        z-index: 2; }
      #evt_content .price .huangou .icon.on {
        background: url("../images/icon-1-h.png");
        background-size: 100%; }
    #evt_content .price .price_num {
      margin: 0 auto;
      width: 2.53333rem;
      position: relative; }
    #evt_content .price .price_num dl {
      float: left;
      padding-left: 0.06667rem; }
    #evt_content .price .price_num dl dd {
      cursor: pointer;
      float: left;
      height: 0.6rem;
      width: 0.6rem; }
    #evt_content .price .price_num dl dd.reduce {
      background: url("../images/reduce-1.png") no-repeat;
      background-size: 99%; }
    #evt_content .price .price_num dl dd.add {
      background: url("../images/add-1.png") no-repeat scroll;
      background-size: 99%; }
    #evt_content .price .price_num dl dt {
      float: left;
      height: 0.6rem;
      width: 0.93333rem;
      margin: 0 0.13333rem; }
    #evt_content .price .price_num dl dt input {
      font-size: 0.4rem;
      background: transparent none repeat scroll 0 0;
      border: none;
      height: 100%;
      line-height: 0.53333rem;
      text-align: center;
      width: 100%;
      color: #9e1316; }
    #evt_content .price ul.buy_btn_box {
      width: 2.26667rem;
      overflow: hidden;
      margin: 0.26667rem auto; }
    #evt_content .price ul.buy_btn_box li {
      float: left;
      margin-right: 0.13333rem; }
    #evt_content .price ul.buy_btn_box li:last-child {
      margin-right: 0; }
    #evt_content .price ul.buy_btn_box li span {
      display: block;
      background: #db8f93 none repeat scroll 0 0;
      color: #fff;
      cursor: pointer;
      line-height: 0.73333rem;
      font-size: 0.29333rem;
      padding: 0 0.18667rem;
      text-align: center;
      border-radius: 0.36667rem;
      width: 2.26667rem; }
  #evt_content .sec-footer {
    background: #f8f4d9;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 1.33333rem;
      margin: 0 auto;
      color: #5d5d5d; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.30667rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }

/*浮动*/
.floater {
  position: fixed;
  width: 1.93333rem;
  height: 1.93333rem;
  bottom: 0.26667rem;
  right: 0.13333rem;
  z-index: 11;
  cursor: pointer;
  display: none; }
  .floater img {
    width: 100%; }
  .floater .tips {
    position: absolute;
    width: 0.66667rem;
    height: 0.66667rem;
    right: -0.06667rem;
    top: -0.06667rem;
    border-radius: 50%;
    background: url("../images/tips.png") center no-repeat;
    background-size: 100%;
    text-align: center;
    z-index: 12; }
    .floater .tips span {
      display: block;
      font-size: 0.26667rem;
      color: #fff;
      line-height: 0.66667rem; }
