@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}
#evt_content *{ vertical-align: baseline!important;}  /*价格符号不对齐*/
#evt_content{  background:#fff;
  img{width:100%;display: block;}
  .sec{position: relative; }

  .sec-top{ height: px2rem(836); background:url("../images/banner.png") repeat; background-size: 100%; z-index: 1;}
  .sec-1{ z-index: 2;
    div{position: relative;}
    .card{width: px2rem(750);}
      .goubtn{ position: absolute; top:px2rem(290); left: 50%; margin-left: px2rem(-84.5); width: px2rem(169); height: px2rem(188); background:url("../images/buy-btn.png"); background-size: 100%; }
    }

  .sec-2{ z-index: 2;
    div{position: relative;}
    .qy{width: px2rem(750);}

  }



  .sec-footer{ background:#2f8be3; position: relative; padding-bottom: px2rem(100); z-index:2;
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(50); margin: 0 auto;  color: #fff; text-align: left;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(20); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35);
        margin:px2rem(5) 0;text-align: left;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }


}


/*浮动*/
.floater{  position: fixed; width: px2rem(714); height: px2rem(90); bottom:px2rem(-10); left: 50%; margin-left: px2rem(-357);  z-index: 11; cursor: pointer; display: none;
  img{ width: 100%;}
}



@media screen and (max-width: 320px) {

}
