@charset "UTF-8";
#evt_content * {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  background: #ffd7d0;
  background-size: 100%; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    height: 10.45333rem;
    background: url("../images/banner.png") repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
  #evt_content .hy-title {
    width: 9.46667rem;
    margin: 0.66667rem auto; }
  #evt_content .pro-list {
    width: 10rem;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 0.66667rem; }
    #evt_content .pro-list ul {
      width: 10rem;
      margin-left: -0.13333rem; }
    #evt_content .pro-list li {
      width: 4.70667rem;
      margin: 0 0 0 0.26667rem;
      background: #fff;
      color: #242424;
      font-size: 0.26667rem;
      float: left;
      list-style: none;
      padding-bottom: 0.53333rem; }
      #evt_content .pro-list li .fl {
        float: left; }
      #evt_content .pro-list li .fl.ftitle {
        width: 2.66667rem;
        height: 0.8rem;
        overflow: hidden;
        align-items: center; }
      #evt_content .pro-list li h2 {
        text-align: center;
        font-size: 0.4rem;
        color: #f5f0c8;
        font-weight: normal;
        margin-top: 0.13333rem; }
      #evt_content .pro-list li .c-price {
        position: relative; }
      #evt_content .pro-list li .center {
        position: absolute;
        width: 1.6rem;
        top: 0.53333rem;
        right: 0.13333rem;
        margin: 0.26667rem auto 0; }
      #evt_content .pro-list li .go-btn, #evt_content .pro-list li .go-dh {
        width: 1.6rem;
        float: left;
        background: #ffd7d0;
        color: #000;
        border-radius: 0.22667rem;
        cursor: pointer;
        margin: 0 auto 0.2rem; }
        #evt_content .pro-list li .go-btn span, #evt_content .pro-list li .go-dh span {
          display: block;
          line-height: 0.53333rem;
          font-size: 0.21333rem;
          text-align: center;
          letter-spacing: 0.02667rem; }
  #evt_content .sec-footer {
    background: #ffc9bf;
    background-size: 100%;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 0.66667rem;
      margin: 0 auto;
      color: #000; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.32rem;
        padding-left: 0.46667rem;
        line-height: 0.6rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          padding-left: 0.13333rem;
          text-indent: -0.13333rem; }

.shoudong {
  animation: shoudong 1.5s infinite alternate; }

@keyframes shoudong {
  0% {
    transform: translate3d(0, -0.13333rem, 0);
    transform-origin: 50% 100%; }
  100% {
    transform: translate3d(0, 0.13333rem, 0);
    transform-origin: 50% 100%; } }

/*蛋糕选择弹窗*/
.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-Select {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 0.18667rem;
  width: 8rem;
  height: auto;
  margin-top: -4.26667rem;
  margin-left: -4rem;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 0.13333rem; }

.s-closes {
  position: absolute;
  top: 0.13333rem !important;
  right: -0.50667rem !important;
  width: 0.36rem !important;
  height: 0.36rem !important;
  background: url("../images/close.png");
  background-size: 100%; }

.Select {
  position: relative;
  color: #000;
  height: 100%;
  text-align: left; }
  .Select .s-title {
    height: 1.37333rem;
    background: #f2f2f2;
    position: relative;
    border-top-left-radius: 0.13333rem;
    border-top-right-radius: 0.13333rem; }
    .Select .s-title h2 {
      font-size: 0.37333rem;
      line-height: 0.4rem;
      padding-left: 0.53333rem;
      padding-top: 0.4rem; }
    .Select .s-title b {
      font-size: 0.18667rem;
      color: #9a9a9a;
      font-weight: normal;
      padding-left: 0.53333rem; }
  .Select .s-bangshu {
    padding-top: 0.26667rem; }
    .Select .s-bangshu ul {
      margin-left: 0.53333rem; }
      .Select .s-bangshu ul li {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        background: #f2f2f2;
        border-radius: 50%;
        text-align: center;
        color: #4a4a4a;
        margin-right: 0.66667rem;
        font-size: 0.30667rem;
        line-height: 0.26667rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column; }
        .Select .s-bangshu ul li i {
          font-size: 0.21333rem;
          line-height: 0.26667rem;
          font-style: normal; }
      .Select .s-bangshu ul li.on {
        background: #d44745;
        color: #fff; }
  .Select .d-tips {
    padding: 0.26667rem 0.53333rem;
    color: #4c4c4c;
    font-size: 0.24rem; }
  .Select .s-num {
    height: 1.33333rem;
    padding-left: 0.53333rem;
    border-top: #ededed 1px solid; }
    .Select .s-num b {
      display: inline-block;
      width: 2.66667rem;
      margin: 0.26667rem 0;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-num .nums {
      display: inline-block;
      margin: 0.26667rem 0.53333rem 0.26667rem 0.26667rem;
      float: right;
      height: 0.74667rem;
      position: relative;
      width: 2.66667rem; }
    .Select .s-num .nums a {
      display: block;
      width: 0.74667rem;
      height: 0.74667rem;
      position: absolute;
      top: 0.02667rem; }
    .Select .s-num .nums .minus {
      background: url("../images/btn-1.png") no-repeat;
      background-size: 100%;
      left: 0; }
    .Select .s-num .nums .plus {
      background: url("../images/btn-2.png") no-repeat;
      background-size: 100%;
      right: 0; }
    .Select .s-num .nums input {
      background: none;
      border: none;
      color: #626262;
      display: block;
      font-size: 0.4rem;
      height: 0.74667rem;
      left: 0.8rem;
      line-height: 0.74667rem;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.06667rem; }
  .Select .s-prices {
    font-size: 0.29333rem;
    padding: 0.4rem 0.53333rem;
    border-top: #ededed 1px solid;
    color: #4a4a4a; }
    .Select .s-prices b {
      display: inline-block;
      width: 3.06667rem;
      margin: 0;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-prices p {
      display: block;
      line-height: 0.74667rem;
      text-align: right; }
    .Select .s-prices i {
      font-style: normal; }
    .Select .s-prices span {
      font-size: 0.6rem; }
  .Select s {
    color: #7e7e7e; }
  .Select .btns {
    width: 100%;
    position: relative;
    bottom: 0rem;
    display: flex;
    height: 1.33333rem;
    line-height: 1.33333rem;
    flex-direction: row;
    text-align: center;
    font-size: 0.4rem;
    color: #000;
    padding: 0; }
    .Select .btns div {
      flex: 1;
      cursor: pointer; }
    .Select .btns .go-buy {
      background: #d44745;
      border-bottom-right-radius: 0.13333rem;
      border-bottom-left-radius: 0.13333rem;
      color: #fff; }
    .Select .btns .go-car {
      background: #d44745;
      border-bottom-right-radius: 0.13333rem;
      border-bottom-left-radius: 0.13333rem;
      float: left;
      color: #fff; }
    .Select .btns .go-buy.single {
      border-bottom-left-radius: 0.26667rem;
      background: #ffe32a;
      color: #c43818; }
  .Select .d-p {
    color: #d44745;
    font-size: 0.21333rem;
    text-align: right;
    padding: 0 0.53333rem 0.13333rem;
    margin-top: -0.4rem;
    display: none; }
  .Select .dh {
    display: block; }
