@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{

  img{width:100%;}
  .a{width:px2rem(217); top:px2rem(10); left:px2rem(10);}
  .b{width:px2rem(833); top:px2rem(200); left:0;}

  .section-top{
    position: relative;
    height:px2rem(406);
    z-index: 2;
    > div{ position: absolute;}
    .top_icon{ width:px2rem(276); top:px2rem(230); left:px2rem(45);}
    .top_btn{ width:px2rem(180); top:px2rem(305); left:px2rem(92); font-family:'mfshangya'; background:#b50e0d;
      font-size:px2rem(26); padding: px2rem(5); color:#fff; text-align: center; border-radius: 5px; }
    .top_btn a{ color: #fff; text-decoration: none;}
    .top_quality{width:px2rem(94); top:px2rem(390); left:px2rem(331); z-index: 3;}

  }
  .bj-card{ width:px2rem(270); top:px2rem(120); left:px2rem(420); z-index: 2;}
  .top_pic{ position: relative; width: px2rem(750); height: px2rem(432); z-index: 1; }
  .note{position: absolute; width: px2rem(400); top:px2rem(-30); right: px2rem(-100); display: none;}
  .title{position: absolute; width: px2rem(748); top: px2rem(20); left: px2rem(0);}
  .logos{position: absolute; width: px2rem(242); top: px2rem(22); left: px2rem(94);}
  .pic_ps{background: url("../images/pic-ps.jpg") center top no-repeat; background-size: 100%;
    .note-ps{display: block;}
  }
  .pic_38{background: url("../images/pic-38.jpg") center top no-repeat; background-size: 100%;
    .note_38{display: block;}
  }
  .pic_520{background: url("../images/pic-520.jpg") center top no-repeat; background-size: 100%;
    .note_520{display: block;}
  }
  .pic_christmasDay{background: url("../images/pic-christmasDay.jpg") center top no-repeat; background-size: 100%;
    .note_christmasDay{display: block;}
  }
  .pic_lover{background: url("../images/pic-lover.jpg") center top no-repeat; background-size: 100%;
    .note.note_lover{display: block;}
  }
  .pic_mother{background: url("../images/pic-mother.jpg") center top no-repeat; background-size: 100%;
    .note_mother{display: block;}
  }
  .pic_newyear{background: url("../images/pic-newyear.jpg") center top no-repeat; background-size: 100%;
    .note_newyear{display: block;}
  }


  .section-main{
    position: relative;
    background: url("../images/bg.jpg") repeat;
    z-index: 0;

    .act{height:px2rem(400); position:relative; padding-top:px2rem(100); cursor: pointer;
      .act_text{width:px2rem(600); margin:0 auto; font-size: px2rem(32); color: #4b87b2; text-align: center;}
      .act_sheng{width:px2rem(65); position:absolute; top:px2rem(260); left:px2rem(70);}
      .act_ge{width:px2rem(32); position:absolute; top:px2rem(260); left:px2rem(620); }
      .plate{position:absolute; width:px2rem(290); top:px2rem(129); left:px2rem(226);
        span{position:absolute; display:block; font-family:'mfshangya'; color:#2e68b3; font-size:px2rem(123);
          width:px2rem(100); height:px2rem(100);  top:px2rem(80); left:px2rem(100); text-align:center;}

        .word{width:px2rem(100); position:absolute;  top:px2rem(100); left:px2rem(100); }
      }
      .plate1{ left:px2rem(75);}
      .plate3{ left:px2rem(382);}
      .plate4{ left:px2rem(145);}
      .plate5{ left:px2rem(330);}

      .act_sheng.sheng{left:px2rem(120);}
      .act_ge.ge{left:px2rem(600);}
    }

    .act_end{
      .act_text{
        span{  font-size: px2rem(38); line-height: px2rem(50); vertical-align:unset; color: #08499d; }
      }

      .plate{
        span{ font-size: px2rem(70); top:px2rem(90);}
      }
    }
    .act_nextgou{
      text-align:center; color:#b50e0d; height: px2rem(200); padding-top:px2rem(40);
      h2{font-size:px2rem(33);}
      p{font-size:px2rem(20);}
    }
    .tower1{width:px2rem(182); top:px2rem(356); right: 0; position:absolute;}
    .tower2{width:px2rem(143); bottom:0; left:0; position:absolute;}

    .slider{width:px2rem(666); position:relative; margin:0 auto;border-bottom:2px solid #959595;
      .prev,.next{width:px2rem(90); top:px2rem(224); position:absolute;}
      .prev{left:0;}
      .next{right:0;}
    }
    .slideOuter{width:px2rem(442); height:px2rem(650); overflow:hidden; margin:0 auto;
      ul{width:px2rem(2800); padding: 0;}
      li{width:px2rem(442); margin:0 px2rem(5); color:#242424; font-size:px2rem(20); float:left; list-style: none;
        .fl{float:left;}
        .fr{float:right;}
        .p1{margin:px2rem(25) 0 0; width:98%;}
        .p2{padding-top:px2rem(1); width:98%; margin: 0;
          .fr{color:#377ad8;
            span{font-size:px2rem(22); font-weight: bold;}
          }
          .fl{padding-top:px2rem(2);}
        }
        .buybtn{width:100%; height:px2rem(54); display:block; border-radius:px2rem(2);
          text-decoration: none; margin:px2rem(5) 0 0 0; background:#1859ac; color:#ffffff;
          text-align:center; line-height:px2rem(54); font-size:px2rem(26); position:static;}
      }
    }
    .text1893{width:px2rem(174); margin:px2rem(20) auto;}
    .rules{padding:px2rem(50) px2rem(20) px2rem(80);  font-size:px2rem(32); color:#2b2b2b; line-height:px2rem(50);
      h2{font-weight:normal;  font-size:px2rem(40); }
      p{ font-size: px2rem(21); padding-left: px2rem(40); text-indent: px2rem(-40);}
    }
  }



}