html, body {
  height: 100%; }

#vue-header {
  /*width: px2rem(750); height: px2rem(100);*/
  margin: 0 auto;
  position: relative; }

.navTab {
  width: 10rem; }
  .navTab img {
    width: 100%; }

#evt_content {
  position: relative;
  max-width: 10rem;
  margin: 0 auto;
  background: url("../images/main-bg.png") repeat;
  background-size: 5%; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-banner {
    z-index: 1;
    width: 10rem;
    height: 17.58667rem; }
  #evt_content .sec_title {
    margin: 0.26667rem auto; }
  #evt_content .sec-1 {
    margin-top: -0.66667rem;
    padding: 0.01333rem 0 1.06667rem;
    background: url("../images/foot-top.png") bottom center no-repeat;
    background-size: 100%; }
    #evt_content .sec-1 .bread {
      position: relative;
      width: 10rem;
      height: 7rem;
      margin: 0.66667rem auto 0; }
      #evt_content .sec-1 .bread .row-cover {
        position: absolute;
        top: -0.06667rem;
        left: 0;
        width: 10rem;
        height: 101%;
        z-index: 3; }
    #evt_content .sec-1 .bread-2 {
      height: 6.6rem; }
      #evt_content .sec-1 .bread-2 .row-cover {
        top: 0;
        height: 6.6rem; }
    #evt_content .sec-1 .bread-3 {
      height: 5.42667rem; }
      #evt_content .sec-1 .bread-3 .row-cover {
        top: 0;
        height: 5.42667rem; }
    #evt_content .sec-1 .cake {
      width: 8.64rem;
      margin: 0 auto 0.26667rem;
      z-index: 5; }
    #evt_content .sec-1 .title {
      width: 6.06667rem;
      margin: 0 auto; }
    #evt_content .sec-1 .zp {
      margin-top: 0.66667rem; }
  #evt_content .buy_btns {
    position: relative;
    width: 2.33333rem;
    float: left;
    background: #fd931d;
    text-align: center;
    cursor: pointer;
    border-radius: 0.46667rem; }
    #evt_content .buy_btns span {
      display: block;
      color: #fff;
      font-size: 0.32rem;
      line-height: 0.70667rem; }
  #evt_content .sec-footer {
    background: url("../images/foot-bg.png") repeat;
    background-size: 12%;
    position: relative;
    z-index: 1;
    text-align: left;
    color: #5d2c1e; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 8.53333rem;
      padding: 1.6rem 0;
      margin: 0 auto;
      text-align: left; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.32rem;
        font-weight: bold; }
      #evt_content .sec-footer .txt p {
        font-size: 0.32rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        font-weight: bold;
        margin: 0.06667rem 0;
        text-align: left !important; }
        #evt_content .sec-footer .txt p span {
          display: block;
          padding-left: 0.13333rem;
          text-indent: -0.13333rem; }

.price {
  position: relative;
  width: 4.66667rem;
  margin: 0 auto;
  padding: 0.13333rem 0 0 0; }
  .price .icons {
    position: absolute;
    width: 1.25333rem;
    top: -0.06667rem;
    left: -1.46667rem; }
  .price .chl-brand {
    position: absolute;
    width: 1.76rem;
    top: 0.66667rem;
    right: -2.26667rem; }
  .price h2 {
    color: #ff8a00;
    float: left;
    line-height: 0.53333rem;
    margin-top: 0.04rem; }
    .price h2 i {
      font-size: 0.24rem;
      font-style: normal; }
    .price h2 b {
      font-size: 0.66667rem;
      font-weight: normal; }
  .price .huangou {
    position: relative;
    width: 5.33333rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #421800;
    margin: 0.26667rem auto;
    cursor: pointer;
    padding-left: 0.53333rem;
    text-align: left; }
  .price .huangou .icnone {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.2rem;
    width: 0.4rem;
    height: 0.4rem;
    z-index: 1; }
  .price .huangou .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.2rem;
    width: 0.4rem;
    height: 0.4rem;
    z-index: 2; }
  .price .price .huangou {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .price .icon, .price .icnone {
    background: url("../images/icon-1.png");
    background-size: 100%; }
  .price .icon.on {
    background: url("../images/icon-1-h.png");
    background-size: 100%; }

.swiper-container {
  z-index: 2;
  position: relative !important;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.swiper-slide {
  text-align: center;
  width: 100%;
  background: none;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-slide img {
  width: 100%; }

.swiper-pagination {
  width: 100%;
  position: absolute !important;
  bottom: 0.13333rem !important; }

.swiper-pagination-bullet {
  margin: 0 0.06667rem !important;
  background: #fff !important;
  opacity: 1 !important; }

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #8782e0 !important; }
