@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}
*{ vertical-align: baseline !important;}  /*价格符号不对齐*/
#evt_content{
  img{width:100%; display: block;}
  .sec{position: relative; }
  .sec-top{height: px2rem(1004); background:url("../images/banner-t.png") repeat; background-size: 100%; z-index: 2;
    .dis-1{width: px2rem(158); position: absolute; left: 0; bottom:px2rem(-50); z-index: 10;}
  }

  .hy-title{ width: px2rem(750); margin:px2rem(50) auto px2rem(50); }

  .sec-cake{ position: relative; z-index: 1; padding:0 0 px2rem(30); background: url("../images/banner-bg.png") bottom no-repeat; background-size: 100%;
    .cake{ width:px2rem(710); height: px2rem(678); margin: 0 auto; z-index: 1; overflow: hidden; }
    .price{width: px2rem(750); margin: px2rem(50) auto; }
    .cake-price{ width: px2rem(267); margin:px2rem(30) auto px2rem(10);}
    .content{width: px2rem(200); margin: 0 auto;}
    .pro-num{ float: left; margin-bottom: px2rem(20);}
    .buy_btn_box{ float: left;}
    .pro-num{border: none; border-bottom: #822013 1px solid; }
    .price ul.buy_btn_box li span{
      background: #822013;
    }
  }

  .sec-main{ padding:1px 0 px2rem(80); background: url("../images/main-bg.jpg"); background-size: 100%;
    .row{ position: relative; height: px2rem(640);
      .cake{ width:px2rem(750);}
    }


  }

  .sec-footer{background: url("../images/foot-bg.jpg"); background-size: 10%; position: relative; padding-bottom: px2rem(50); z-index:1;
    .f-txt{ position: relative; width:px2rem(700); padding-top: px2rem(80); margin: 0 auto; color:#69413c;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(22); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35); margin:px2rem(5) 0;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }


  /*价格计算【通用】*/
  .price{width: px2rem(430); text-align: center; z-index: 2; margin:px2rem(20) auto;
    .title{ font-size:px2rem(30); color:#000;}
    h2{font-size:  px2rem(20); font-weight: normal; line-height: px2rem(70); color:#b32918; margin: px2rem(10) auto;
      i{font-size:  px2rem(20); line-height: px2rem(30); font-style: normal;vertical-align:middle; }
      span{font-size: px2rem(34); }
      em{font-style:normal;}
    }
    s{ font-size:  px2rem(20); color: #f4f6d2; font-weight: normal; margin-left: px2rem(10);
      span{font-size: px2rem(20); }
      b{font-weight:normal;}
    }

    ul.buy_btn_box { overflow: hidden; margin:0 px2rem(10) 0 0; float: left;   }
    ul.buy_btn_box li span {display: block; background: #b32918 none repeat scroll 0 0;  color: #fff; cursor: pointer; line-height: px2rem(47); font-size: px2rem(22); text-align: center;  width: px2rem(200); }
  }

  .pro-num{ position: relative; float: right; width: px2rem(200); height: px2rem(45); display: inline-block; border:#b32918 1px solid;
    a{ position: absolute; top:50%; width:px2rem(40); height:px2rem(40); margin-top: px2rem(-20); display:block;}
    .minus{display:inline-block;background:url(../images/in-a-1.png) center no-repeat; left:0; background-size: 100%;}
    .plus{display:inline-block;background:url(../images/in-a-2.png) center no-repeat; right:0; background-size: 100%;}
    .bang{ display:inline-block; width:px2rem(130); line-height:px2rem(42); position:absolute; top:0; left:px2rem(35); text-align:center; color:#b32918; background: none; font-size:px2rem(20); padding:0;}
  }

}



.swiper-container {
  position: relative !important;
  width:px2rem(710); height: px2rem(678);  margin-left: auto; background: #f0d5c7;  margin-right: auto;  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  width:100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{width: 100%;}
.swiper-pagination{width: 20% !important; position: absolute !important; left: auto !important; right: 0 !important; bottom:px2rem(20) !important; }
.swiper-pagination-bullet{margin:0 px2rem(5) !important; background: #c3a599 !important; opacity: 0.2 !important;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background: #c3a599 !important; opacity: 1 !important;}





