@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}
html,body{ height: 100%;}
#evt_content{ max-width: px2rem(750);  margin: 0 auto;background:#fffcee;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }

  .sec-banner{ z-index: 1;}

  .btns{ position: absolute; width:px2rem(190); bottom: px2rem(60); left: px2rem(80); background:#5b3800; text-align: center; cursor: pointer; border-radius: px2rem(52); z-index: 2;
    span{ display: block; color: #fff; font-size:px2rem(24);  line-height:px2rem(52);}
  }

  .zp{position: absolute;}
  .sec-1{
    .zp-1{ width: px2rem(180); bottom: px2rem(80); right: px2rem(40);}
    .zp-2{ width: px2rem(180); bottom: px2rem(300); right: px2rem(20);}

  }
  .sec-2{
    .btns{bottom: px2rem(65); left: px2rem(70);}
    .zp-1{ width: px2rem(150); top: px2rem(230); left: px2rem(170);}
  }
  .sec-3{
    .btns{bottom: px2rem(100); left: px2rem(260);}
    .zp-1{ width: px2rem(110); bottom: px2rem(25); right: px2rem(10);}
  }
  .sec-4{
    .btns{bottom: px2rem(150); left: px2rem(45);}
    .zp-1{ width: px2rem(110); bottom: px2rem(20); left: px2rem(440);}
  }

  .sec-footer{background:url("../images/foot-bg.png") repeat-y; background-size: 100%; position: relative; padding-bottom: px2rem(50); z-index:1; text-align: left; color: #78675e;
    .txt{ position: relative; width:px2rem(680); padding: px2rem(120) 0; margin: 0 auto; text-align: left;
      h2{font-size: px2rem(27); font-weight: normal; }
      p{ font-size: px2rem(27); padding-left: px2rem(35); line-height:px2rem(50); text-indent: px2rem(-35);
        margin:px2rem(5) 0; text-align: left !important;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }

}



/*蛋糕选择弹窗*/

.Dialogbg-Select{ background-color: #000; height: 100%; left: 0; opacity: 0.85; position: fixed; top: 0; width: 100%; z-index: 200; display: none;
}




/*蛋糕选择弹窗*/

.Dialogbg-Select{ background-color: #000; height: 100%; left: 0; opacity: 0.85; position: fixed; top: 0; width: 100%; z-index: 200; display: none; }
.Dialog-Select{ background: #fff none repeat scroll 0 0; box-shadow: 0 0 0 #999; font-size:px2rem(14); width:px2rem(600); height: auto; margin-top: px2rem(-320); margin-left: px2rem(-300); left: 50%; padding: 0; position: fixed; top: 50%; z-index: 99999; display: none; border-radius:px2rem(10);
}
.s-closes{position: absolute; top: px2rem(10) !important; right: px2rem(-38) !important; width: px2rem(27) !important; height:px2rem(27) !important; background: url("../images/close.png"); background-size: 100%;}

.Select{ position: relative; color: #000; height: 100%; text-align: left;
  .s-title{ height:px2rem(103); background: #f2f2f2; position: relative; border-top-left-radius:px2rem(10);  border-top-right-radius:px2rem(10);
    h2{ font-size: px2rem(28); line-height: px2rem(30); padding-left: px2rem(40); padding-top: px2rem(30); }
    b{font-size: px2rem(14); color: #9a9a9a; font-weight: normal; padding-left: px2rem(40);}
  }
  .s-bangshu{ padding-top: px2rem(20);
    ul{ margin-left: px2rem(40);
      li{ float: left; width:px2rem(90); height: px2rem(90); background: #f2f2f2; border-radius: 50%; text-align: center; color: #4a4a4a; margin-right:px2rem(50); font-size: px2rem(23); line-height: px2rem(20);  display: flex; align-items: center; justify-content: space-around; flex-direction: column;
        i{ font-size: px2rem(16); line-height: px2rem(20); font-style: normal;}
      }
      li.on{ background: #ffc559; color: #000;}
    }
  }
  .d-tips{padding:px2rem(20) px2rem(40); color: #4c4c4c; font-size:px2rem(18);}
  .s-num{ height: px2rem(100);padding-left:px2rem(40);border-top: #ededed 1px solid;
    b{display: inline-block; width:px2rem(200); margin:px2rem(20) 0; line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    .nums {  display: inline-block; margin:px2rem(20) px2rem(40) px2rem(20) px2rem(20);  float: right;  height:px2rem(56);  position: relative;  width:px2rem(200);  }
    .nums a {  display: block;   width:px2rem(56); height:px2rem(56);  position: absolute;  top:px2rem(2);  }
    .nums .minus {  background: url("../images/btn-1.png") no-repeat; background-size: 100%;  left: 0;  }
    .nums .plus {  background: url("../images/btn-2.png") no-repeat; background-size: 100%;  right: 0;  }
    .nums input {  background:none;  border: none;  color: #626262;  display: block;  font-size:px2rem(30);  height:px2rem(56);  left:px2rem(60);  line-height:px2rem(56);  padding: 0;  position: absolute;  text-align: center;  top: 0;  width:px2rem(80);  }
  }
  .s-prices{font-size: px2rem(22); padding: px2rem(30) px2rem(40);border-top: #ededed 1px solid;  color: #4a4a4a;
    b{display: inline-block; width:px2rem(200); margin:0; line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    p{display:block; line-height: px2rem(56); text-align: right;}
    i{font-style: normal;}
    span{ font-size: px2rem(45);}
  }
  s{color: #7e7e7e;}
  .btns{ width: 100%; position: relative; bottom:px2rem(0); display: flex; height: px2rem(100); line-height: px2rem(100); flex-direction: row;  text-align: center; font-size: px2rem(30); color: #000; padding: 0;
    div{ flex: 1; cursor: pointer;}
    .go-buy{background:#ffe328; border-bottom-left-radius:px2rem(10); color: #000; }
    .go-car{background:#ffc559; border-bottom-right-radius:px2rem(10); float: left;}
    .go-buy.single{border-bottom-left-radius:px2rem(20); background: #ffe32a; color: #c43818;}
  }

}


.a-wobble{animation:wobble 2.5s ease infinite;}
.b-wobble{animation:wobble 2.5s 1s ease infinite;}
.c-wobble{animation:wobble 2.5s 1.8s ease infinite;}


/* 摇晃 */
@-webkit-keyframes wobble{
  0% {-webkit-transform:rotateZ(0deg)}
  5% {-webkit-transform:rotateZ(3deg)}
  15% {-webkit-transform:rotateZ(-3deg)}
  25% {-webkit-transform:rotateZ(3deg)}
  30% {-webkit-transform:rotateZ(0deg)}
}
@keyframes wobble{
  0% {transform:rotateZ(0deg)}
  5% {transform:rotateZ(5deg)}
  15% {transform:rotateZ(-5deg)}
  25% {transform:rotateZ(5deg)}
  30% {transform:rotateZ(0deg)}
}