#evt_content {
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100%; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-main {
    height: 31.50667rem; }
    #evt_content .sec-main .row {
      position: relative; }
    #evt_content .sec-main .title {
      width: 9.74667rem;
      top: 1.10667rem;
      left: 0.45333rem; }
    #evt_content .sec-main .women {
      width: 5.18667rem;
      top: 7.21333rem;
      left: 3.85333rem; }
    #evt_content .sec-main .cake {
      width: 6.44rem;
      top: 5.33333rem;
      left: 0rem; }
    #evt_content .sec-main .zengpin {
      width: 9.01333rem;
      top: 12.38667rem;
      left: 0.37333rem; }
    #evt_content .sec-main .shengyu {
      width: 6.50667rem;
      top: 16.64rem;
      left: 1.72rem; }
      #evt_content .sec-main .shengyu .number {
        position: absolute;
        top: 1.26667rem;
        left: 2.86667rem; }
        #evt_content .sec-main .shengyu .number span {
          float: left;
          display: block;
          width: 0.30667rem;
          height: 0.4rem;
          margin-right: 0.21333rem;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-0 {
          background: url("../images/num-0.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-1 {
          background: url("../images/num-1.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-2 {
          background: url("../images/num-2.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-3 {
          background: url("../images/num-3.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-4 {
          background: url("../images/num-4.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-5 {
          background: url("../images/num-5.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-6 {
          background: url("../images/num-6.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-7 {
          background: url("../images/num-7.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-8 {
          background: url("../images/num-8.png") no-repeat;
          background-size: 100%; }
        #evt_content .sec-main .shengyu .number .sz-9 {
          background: url("../images/num-9.png") no-repeat;
          background-size: 100%; }
    #evt_content .sec-main .slider-box {
      width: 8.53333rem;
      height: 6.66667rem;
      top: 19.85333rem;
      left: 0.70667rem;
      border: red 1px solid; }
  #evt_content .sec-footer {
    background: #e9d8e3;
    background-size: 100%;
    position: relative;
    padding-bottom: 0.53333rem; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 0.93333rem;
      margin: 0 auto;
      color: #000; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.4rem;
        font-weight: normal;
        color: #d6999b; }
      #evt_content .sec-footer .txt p {
        font-size: 0.29333rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }

.slideContain {
  width: 8.93333rem;
  height: 11.46667rem;
  top: 19.85333rem;
  left: 0.53333rem; }

.slider {
  width: 8.88rem;
  position: relative !important;
  margin: 0 auto; }
  .slider .prev, .slider .next {
    width: 1.04rem;
    top: 2.98667rem;
    position: absolute; }
  .slider .prev {
    left: 0; }
  .slider .next {
    right: 0; }

.slideOuter {
  width: 6.58667rem;
  height: 11.46667rem;
  position: relative !important;
  overflow: hidden;
  margin: 0 auto; }
  .slideOuter ul {
    width: 37.33333rem;
    padding: 0; }
  .slideOuter li {
    width: 6.58667rem;
    margin: 0 0.06667rem;
    color: #242424;
    font-size: 0.26667rem;
    float: left;
    list-style: none;
    background: url("../images/cake-bg.png") no-repeat;
    background-size: 100%; }
    .slideOuter li > img {
      width: 5.98667rem !important;
      margin: 0.26667rem 0.26667rem 0.13333rem 0.33333rem; }
    .slideOuter li .fl {
      float: left; }
    .slideOuter li .fr {
      float: right; }
    .slideOuter li p {
      text-align: center;
      font-size: 0.32rem;
      margin: -0.13333rem auto 0.04rem;
      line-height: 0.37333rem; }
      .slideOuter li p span {
        font-size: 0.26667rem; }
    .slideOuter li .buybtn {
      width: 3.6rem;
      height: 0.97333rem;
      display: block;
      border-radius: 0.02667rem;
      text-decoration: none;
      margin: 2.4rem auto 0;
      background: url("../images/btn-bg.png");
      background-size: 100%;
      color: #ffffff;
      text-align: center;
      line-height: 0.97333rem;
      font-size: 0.53333rem;
      position: static; }
    .slideOuter li .pro-num {
      position: relative;
      width: 6.58667rem;
      height: 1.46667rem;
      margin: 0.53333rem auto; }
      .slideOuter li .pro-num a {
        position: absolute;
        width: 1.08rem;
        height: 1.06667rem;
        display: block;
        top: 0.13333rem; }
      .slideOuter li .pro-num .minus {
        background: url(../images/btn-1.png);
        left: 0;
        background-size: 100%; }
      .slideOuter li .pro-num .plus {
        background: url(../images/btn-2.png);
        right: 0;
        background-size: 100%; }
      .slideOuter li .pro-num input {
        border: none;
        display: block;
        background: url(../images/input.png);
        width: 4rem;
        height: 1.29333rem;
        line-height: 1.29333rem;
        position: absolute;
        top: 0;
        left: 1.2rem;
        text-align: center;
        color: #626262;
        font-size: 0.53333rem;
        padding: 0; }

@media screen and (max-width: 320px) {
  .shengyu .number span {
    width: 0.33333rem !important;
    height: 0.44rem !important;
    margin-right: 0.24rem !important; } }
