@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}
h2,h3,h4,b,i,strong,samp{font-weight: normal;font-style: normal;}
i{font-size:px2rem(18);}

#evt_content *{ vertical-align: baseline!important;}
.buy-btn{position: absolute; width: px2rem(163); height: px2rem(46); background: url("../images/buy-btn.png"); background-size: 100%; left: 50%; margin-left: px2rem(-81.5);}

.buy-go{position: absolute; width: px2rem(171); height: px2rem(48); background: url("../images/plan2/buy-go.png"); background-size: 100%; left: 50%; margin-left: px2rem(-85.5);}

#evt_content{  background:url("../images/bg.jpg") repeat; background-size: 14.2%; padding-bottom:px2rem(1);
  img{width:100%;}
  .sec{position: relative; }



  .sec-top{ }
  .sec-0{
    .mid{width: px2rem(258); margin:px2rem(30) auto;}
    .word{width: px2rem(750); margin:px2rem(70) auto;}
    .zhuanqu{width: px2rem(750); position: relative;;
      .card{position: absolute; top:px2rem(171); left: px2rem(30); width: px2rem(328); height: px2rem(280);  }
      .card-2{left: px2rem(400);}
      .card-word{position: absolute; bottom:0; left:50%; width:px2rem(135); height:px2rem(48); background: url("../images/card-word-1.png") center no-repeat; background-size: 100%; margin-left: px2rem(-67.5);}
      .card-word-2{background: url("../images/card-word-2.png") center no-repeat; background-size: 100%;}
      .card-word-1.on{background: url("../images/card-word-1-on.png") center no-repeat; background-size: 100%;}
      .card-word-2.on{background: url("../images/card-word-2-on.png") center no-repeat; background-size: 100%;}
    }
  }

  .zn-price{position: absolute; bottom: px2rem(120); left:50%; margin-left: px2rem(-150); width:px2rem(300); text-align: center; margin-top:px2rem(20); font-size:px2rem(14); color: #e7401f; font-family: '宋体'!important;
    i{font-style: normal; font-family: 'Microsoft YaHei','微软雅黑','黑体',SimHei!important;}
    span{display: inline-block; line-height:px2rem(33); font-size:30px; font-family: '宋体'!important; }
    s{margin-left:px2rem(10);}
  }
  .sec-1{
    .img-1{width: px2rem(750); position: relative;
      .buy-btn{bottom: px2rem(50);}
      .buy-go{bottom: px2rem(65);}
    }
    .img-2{width: px2rem(750); margin: px2rem(90) auto px2rem(80); position: relative;
      .buy-btn{bottom: px2rem(50);}
      .buy-go{bottom: px2rem(65);}
    }
  }

  .prolist ul li div{margin: 0;}
  .sec-cakes{ padding-top: px2rem(30);
    .hy-title-1{width:px2rem(252); margin: px2rem(50) auto;}
    div{position:relative;}
    .cakes,.cakes-list{width: px2rem(750); margin: 0 auto; background: none !important;
      dl{background: none !important; margin-right: 0; margin-left: px2rem(-10);
        dd{position: relative; width:px2rem(369); height: px2rem(400); float: left; margin-top: px2rem(10); margin-left:px2rem(10); background: #fff;
          .cake-title{ width: px2rem(310); margin-top: px2rem(30); margin-left: px2rem(30);}
          img.zoom{position:absolute; top: px2rem(180); left: 0; width:px2rem(375); z-index: 1;}
          .m-btn,.m-cart{position: absolute; width: px2rem(133); top: px2rem(70); left: px2rem(30); z-index: 2;}

        }

      }
    }

  }

.more{ width: px2rem(304); margin: px2rem(80) auto;}

  .sec-footer{ position: relative; padding:0; z-index:1;
    img{display: block;}
  }


}



/*蛋糕选择弹窗*/

.Dialogbg-Select{ background-color: #000; height: 100%; left: 0; opacity: 0.85; position: fixed; top: 0; width: 100%; z-index: 200; display: none;
}



.Dialog-Select{ background: #fff none repeat scroll 0 0; box-shadow: 0 0 0 #999; font-size:px2rem(14); width:px2rem(600); height: auto; margin-top: px2rem(-320); margin-left: px2rem(-300); left: 50%; padding: 0; position: fixed; top: 50%; z-index: 99999; display: none; border-radius:px2rem(10);
}
.s-closes{position: absolute; top: px2rem(10) !important; right: px2rem(-38) !important; width: px2rem(27) !important; height:px2rem(27) !important; background: url("../images/close.png"); background-size: 100%;}

.Select{ position: relative; color: #000; height: 100%; text-align: left;
  .s-title{ height:px2rem(103); background: #f2f2f2; position: relative; border-top-left-radius:px2rem(10);  border-top-right-radius:px2rem(10);
    h2{ font-size: px2rem(28); line-height: px2rem(30); padding-left: px2rem(40); padding-top: px2rem(30); }
    b{font-size: px2rem(14); color: #9a9a9a; font-weight: normal; padding-left: px2rem(40);}
  }
  .s-bangshu{ padding-top: px2rem(20);
    ul{ margin-left: px2rem(40);
      li{ float: left; width:px2rem(90); height: px2rem(90); background: #f2f2f2; border-radius: 50%; text-align: center; color: #4a4a4a; margin-right:px2rem(50); font-size: px2rem(23); line-height: px2rem(20);  display: flex; align-items: center; justify-content: space-around; flex-direction: column;
        i{ font-size: px2rem(16); line-height: px2rem(20);}
      }
      li.on{ background: #f6e1dd; color: #c43818;}
    }
  }
  .d-tips{padding:px2rem(20) px2rem(40); color: #4c4c4c; font-size:px2rem(18);}
  .s-num{ height: px2rem(100);padding-left:px2rem(40);border-top: #ededed 1px solid;
    b{display: inline-block; width:px2rem(200); margin:px2rem(20) 0; line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    .nums {  display: inline-block; margin:px2rem(20) px2rem(40) px2rem(20) px2rem(20);  float: right;  height:px2rem(56);  position: relative;  width:px2rem(200);  }
    .nums a {  display: block;   width:px2rem(56); height:px2rem(56);  position: absolute;  top:px2rem(2);  }
    .nums .minus {  background: url("../images/btn-1.png") no-repeat; background-size: 100%;  left: 0;  }
    .nums .plus {  background: url("../images/btn-2.png") no-repeat; background-size: 100%;  right: 0;  }
    .nums input {  background:none;  border: none;  color: #626262;  display: block;  font-size:px2rem(30);  height:px2rem(56);  left:px2rem(60);  line-height:px2rem(56);  padding: 0;  position: absolute;  text-align: center;  top: 0;  width:px2rem(80);  }
  }
  .s-prices{font-size: px2rem(22); padding: px2rem(30) px2rem(40);border-top: #ededed 1px solid;  color: #4a4a4a;
    b{display: inline-block; width:px2rem(200); margin:0; line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    p{display:block; line-height: px2rem(56); text-align: right;}
    i{font-style: normal;}
    span{ font-size: px2rem(45);}
  }
  s{color: #7e7e7e;}
  .btns{ width: 100%; position: relative; bottom:px2rem(0); display: flex; height: px2rem(100); line-height: px2rem(100); flex-direction: row;  text-align: center; font-size: px2rem(30); color: #fff; padding: 0;
    div{ flex: 1; cursor: pointer; width: 50%;}
    .go-car{background: #f6e1dd;border-bottom-left-radius:px2rem(10); border-bottom-right-radius:px2rem(10);  float: left;  color: #c43818; }
    .go-buy{background:#f6e1dd; border-bottom-left-radius:px2rem(10); border-bottom-right-radius:px2rem(10);  float: left; color: #c43818;}
    .go-buy.single{border-bottom-left-radius:px2rem(20); background: #ffe32a; color: #c43818;}
  }

}






