#evt_container{ height:1454px;

  img{width:100%;}
  div{position:absolute;}
  a{display:block; position:absolute; background:#ffffff; opacity:0; filter:alpha(opacity=0);}
  .evt_content{position:relative; width:1000px; height:100%; margin:0 auto;}
  .evt_bg{width:2059px; top:0; left:50%; margin:0 0 0 -1029px;}
  .logo{width:399px; top:60px; left:12px;}
  .pink{width:515px; top:0; left:514px;
    a{width:459px; height:346px; top:0; left:25px;}
  }
  .mousse{width:577px; top:483px; left:23px;}
  .shumei{width:241px; top:479px; left:553px;}
  .bonbon{width:590px; top:725px; left:505px;
    a{width:425px; height:410px; top:10px; left:66px;}
  }
  .milk{width:173px; top:958px; left:239px;}
  .crepes{width:540px; top:1152px; left:103px; z-index:2;
    a{width:388px; height:307px; bottom:0; left:10px;}
  }
  .rules{width:403px; bottom:0; left:624px;
    .words{width:100%; top:0; left:0;}
    h2{color:#740000; font-size:18px; margin:27px 0 12px 263px;}
    p{font-size:14px; color:#303530; text-indent:-21px; margin:0 0 0 64px; width:284px; line-height:18px;}
  }
  area:focus{border:none; outline: none;}
  .evt_float{display:block; width:160px; position:fixed; right:10px; top:110px; z-index:10; background:transparent; opacity:1; filter:alpha(opacity=100);}
}