.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/*html,body,#evt_container{height: 100%;}*/
#iscroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden; }

html, body {
  height: 100%; }

input:disabled {
  color: #000;
  opacity: 0.5; }

#evt_container {
  width: 10rem;
  height: 100%; }

.bg {
  height: 100%;
  width: 10rem; }

img {
  width: 100%; }

.lingquan {
  position: absolute;
  bottom: 0.66667rem;
  left: 50%;
  margin-left: -4.65333rem;
  width: 9.32rem;
  text-align: center;
  background: #fff;
  padding: 0.66667rem 0.4rem;
  border-radius: 0.26667rem;
  z-index: 10; }
  .lingquan .tip {
    width: 6.02667rem;
    margin: 0 auto 0.26667rem;
    line-height: 1.33333rem;
    font-size: 0.4rem;
    color: #fff; }
  .lingquan .line {
    position: relative;
    width: 100%;
    height: 1.33333rem;
    margin-bottom: 0.4rem;
    background: #fff;
    border-radius: 0.66667rem; }
    .lingquan .line .icon {
      display: block;
      position: absolute;
      left: 0.93333rem;
      top: 50%;
      width: 0.53333rem;
      height: 0.58667rem;
      background: url("../images/icon-1.png");
      background-size: 100%;
      margin-top: -0.29333rem; }
    .lingquan .line .icon.ys {
      background: url("../images/icon-2.png");
      background-size: 100%; }
    .lingquan .line .icon.code {
      background: url("../images/code.png");
      background-size: 100%; }
    .lingquan .line input {
      width: 100%;
      height: 100%;
      border: none;
      background: #ececec;
      padding-left: 1.73333rem;
      font-size: 0.34667rem;
      border-radius: 0.26667rem; }
    .lingquan .line .yzm {
      display: block;
      position: absolute;
      right: -2.8rem;
      top: 0;
      color: #fb4445;
      cursor: pointer;
      text-align: left;
      width: 2.66667rem; }
      .lingquan .line .yzm span {
        float: left; }
      .lingquan .line .yzm input {
        color: #686868;
        padding: 0;
        float: left;
        line-height: 1.33333rem;
        border-radius: 0; }
      .lingquan .line .yzm #yzm_img {
        vertical-align: middle;
        margin: 0.13333rem 0;
        padding: 0; }
  .lingquan .line.line2 {
    width: 66%; }
  .lingquan .btn {
    position: relative;
    width: 8.58667rem;
    background: #ffe32a;
    margin: 0 auto;
    color: #000;
    font-size: 0.45333rem;
    line-height: 1.06667rem;
    border-radius: 0.26667rem; }

.Dialog-bg {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog {
  box-shadow: 0 0 0 #999;
  font-size: 0.18667rem;
  width: 8.53333rem;
  height: 5.33333rem;
  margin-top: -2.66667rem;
  margin-left: -4.26667rem;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 0.26667rem;
  background: #fff; }
  .Dialog p {
    font-size: 0.53333rem;
    line-height: 0.66667rem;
    text-align: center;
    margin: 1.33333rem auto 1.06667rem;
    color: #770000; }
  .Dialog .closeX {
    position: absolute;
    top: 0.26667rem;
    right: 0.26667rem;
    width: 0.38667rem;
    height: 0.38667rem;
    background: url("../images/close.png");
    background-size: 100%; }
  .Dialog .gobtn {
    width: 3.69333rem;
    line-height: 0.93333rem;
    font-size: 0.45333rem;
    text-align: center;
    margin: 0 auto;
    background: #ffe32a;
    color: #000;
    border-radius: 0.26667rem; }
