@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{  background:url("../images/meet-bg.jpg") repeat;
  div{position:absolute;}
  img{width:100%;}

  .sec{position: relative; }
  .step{position: relative;
    .sec-banner{
      height: px2rem(766); background:url("../images/meet-banner.jpg") no-repeat; z-index: 1; overflow: hidden; background-size: 100%;

      .word{ width: 100%; top:px2rem(620); text-align: center; line-height: px2rem(30);
        p{color: #fff;}
        .p1{color: #000;}
      }
    }
    .sec-main{height: px2rem(800);}
  }

  .step1{display: none;}


}





@media screen and (max-width: 320px) {
  .sel-li{ top: px2rem(-10) !important; }
  i{top:px2rem(3) !important; }
}
