@function px2rem($n) {
  @return ($n * 10 / 990) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{  background:url("../images/bg.jpg") repeat;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }
  .sec-top{
    height: px2rem(1050); background:url("../images/m-bg.jpg") repeat; z-index: 1; overflow: hidden;
    .m-c1{width:px2rem(542); top:px2rem(-250); left:px2rem(0);}
    .m-c2{width:px2rem(252); top:px2rem(180); left:px2rem(0);}
    .m-c3{width:px2rem(473); top:px2rem(-400); right:px2rem(0);}
    .m-c4{width:px2rem(990); top:px2rem(550); left:px2rem(0);}
    .m-text{width:px2rem(990); top:px2rem(50); left:px2rem(0);}

  }



}





@media screen and (max-width: 320px) {
  .sel-li{ top: px2rem(-10) !important; }
  i{top:px2rem(3) !important; }
}
