#evt_content {
  background: url("../images/meet-bg.jpg") repeat; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .step {
    position: relative; }
    #evt_content .step .sec-banner {
      height: 10.21333rem;
      background: url("../images/meet-banner.jpg") no-repeat;
      z-index: 1;
      overflow: hidden;
      background-size: 100%; }
      #evt_content .step .sec-banner .word {
        width: 100%;
        top: 8.26667rem;
        text-align: center;
        line-height: 0.4rem; }
        #evt_content .step .sec-banner .word p {
          color: #fff; }
        #evt_content .step .sec-banner .word .p1 {
          color: #000; }
    #evt_content .step .sec-main {
      height: 10.66667rem; }
  #evt_content .step1 {
    display: none; }

@media screen and (max-width: 320px) {
  .sel-li {
    top: -0.13333rem !important; }
  i {
    top: 0.04rem !important; } }
