@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}


#evt_content{ background: #fff;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }
  .sec-banner{  width:px2rem(750); height: px2rem(700); background: url("../images/banner.png"); background-size: 100%;  }

  .sec-1{
   margin-top: px2rem(10);
    .banner-line{ position: absolute; top:px2rem(0); left:px2rem(0); width: 100%; height:px2rem(133); background: url("../images/line.png"); background-size: 100%; margin-top: px2rem(-70); }
    .dis-1{width:px2rem(233); top:px2rem(-250); left: auto; right:px2rem(0);}
    .row{ position: relative; height: px2rem(316);
      .r-left{float: left;}
      .r-right{float: right;}
      .row-pic{ width: px2rem(375); position: relative;
        img{width: 100%;}
      }
      .row-word{ width: px2rem(373);  height: 100%; position: relative;
        .row-word-title{ margin-left: px2rem(30); margin-top: px2rem(30); line-height:px2rem(44);
          p.p1{font-size:px2rem(18); color: #000;}
          p.p2{font-size:px2rem(14); color: #000;
            span{ font-size: px2rem(24);}
          }
        }
        .row-word-bottom{ position: absolute; line-height:px2rem(30); bottom:px2rem(10); left:px2rem(30); width: px2rem(300); color: #a3a3a3; font-size: px2rem(18); }
      }
    }
    .row-1 .row-word-title{width: px2rem(120);}
    .row-2 .row-word-title{width: px2rem(109);}
    .row-3 .row-word-title{width: px2rem(168);}
    .row-4 .row-word-title{width: px2rem(111);}
    .row-5 .row-word-title{width: px2rem(106); }
    .row-6 .row-word-title{width: px2rem(105);}


  }

  .sec-2{
    height: px2rem(1862);

    .lihe-1{width:px2rem(570); top:px2rem(120); left:50%; margin-left: px2rem(-285);}
    .lihe-2{width:px2rem(460); top:px2rem(1060); left:50%; margin-left: px2rem(-230);}

    .yueyuan{top: px2rem(525); width: px2rem(750); text-align: center;
      .center{ position: relative; width:px2rem(570); text-align: center; margin: 0 auto;
        img{width: px2rem(419);}
        p{ margin: px2rem(20) auto; line-height: px2rem(35); font-size:px2rem(22); color: #000;}
      }



    }
    .yuan-2{top: px2rem(1402);}


    .w-title{ padding-top: px2rem(20); text-align: center;  line-height:px2rem(50); vertical-align: initial;
      i{ position: absolute; bottom:px2rem(5); left: 0; font-size: px2rem(20); font-style: normal;color: #bd9960;}
      strong{ position: relative; font-size: px2rem(60); color: #bd9960; font-weight: normal; padding-left: px2rem(20);vertical-align: initial;}
    }
    .go-btn{ position: relative; width:px2rem(315);height:px2rem(80); background:#414650; margin: px2rem(50) auto; text-align: center; border-radius: px2rem(20);
      span{ display: block; color: #fff; font-size: px2rem(30); line-height: px2rem(80);}
    }



  }




  .sec-footer{background:#2e3037; position: relative; padding-bottom: px2rem(20);
    .txt{ position: relative; width:px2rem(660); padding-top: px2rem(80); padding-bottom: px2rem(50); margin: 0 auto;  color: #bebec0;
      h2{font-size: px2rem(30); font-weight: normal; color: #a19682; margin-top: px2rem(20); }
      p{ font-size: px2rem(22); padding-left: px2rem(20); line-height:px2rem(35);  text-indent: px2rem(-20); color: #bebec0;
        margin:px2rem(20) auto 0;}
      p.p1{margin:px2rem(0) auto 0;}
    }


  }

}