.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

#evt_content {
  background: #fff; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-banner {
    width: 10rem;
    height: 9.33333rem;
    background: url("../images/banner.png");
    background-size: 100%; }
  #evt_content .sec-1 {
    margin-top: 0.13333rem; }
    #evt_content .sec-1 .banner-line {
      position: absolute;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 1.77333rem;
      background: url("../images/line.png");
      background-size: 100%;
      margin-top: -0.93333rem; }
    #evt_content .sec-1 .dis-1 {
      width: 3.10667rem;
      top: -3.33333rem;
      left: auto;
      right: 0rem; }
    #evt_content .sec-1 .row {
      position: relative;
      height: 4.21333rem; }
      #evt_content .sec-1 .row .r-left {
        float: left; }
      #evt_content .sec-1 .row .r-right {
        float: right; }
      #evt_content .sec-1 .row .row-pic {
        width: 5rem;
        position: relative; }
        #evt_content .sec-1 .row .row-pic img {
          width: 100%; }
      #evt_content .sec-1 .row .row-word {
        width: 4.97333rem;
        height: 100%;
        position: relative; }
        #evt_content .sec-1 .row .row-word .row-word-title {
          margin-left: 0.4rem;
          margin-top: 0.4rem;
          line-height: 0.58667rem; }
          #evt_content .sec-1 .row .row-word .row-word-title p.p1 {
            font-size: 0.24rem;
            color: #000; }
          #evt_content .sec-1 .row .row-word .row-word-title p.p2 {
            font-size: 0.18667rem;
            color: #000; }
            #evt_content .sec-1 .row .row-word .row-word-title p.p2 span {
              font-size: 0.32rem; }
        #evt_content .sec-1 .row .row-word .row-word-bottom {
          position: absolute;
          line-height: 0.4rem;
          bottom: 0.13333rem;
          left: 0.4rem;
          width: 4rem;
          color: #a3a3a3;
          font-size: 0.24rem; }
    #evt_content .sec-1 .row-1 .row-word-title {
      width: 1.6rem; }
    #evt_content .sec-1 .row-2 .row-word-title {
      width: 1.45333rem; }
    #evt_content .sec-1 .row-3 .row-word-title {
      width: 2.24rem; }
    #evt_content .sec-1 .row-4 .row-word-title {
      width: 1.48rem; }
    #evt_content .sec-1 .row-5 .row-word-title {
      width: 1.41333rem; }
    #evt_content .sec-1 .row-6 .row-word-title {
      width: 1.4rem; }
  #evt_content .sec-2 {
    height: 24.82667rem; }
    #evt_content .sec-2 .lihe-1 {
      width: 7.6rem;
      top: 1.6rem;
      left: 50%;
      margin-left: -3.8rem; }
    #evt_content .sec-2 .lihe-2 {
      width: 6.13333rem;
      top: 14.13333rem;
      left: 50%;
      margin-left: -3.06667rem; }
    #evt_content .sec-2 .yueyuan {
      top: 7rem;
      width: 10rem;
      text-align: center; }
      #evt_content .sec-2 .yueyuan .center {
        position: relative;
        width: 7.6rem;
        text-align: center;
        margin: 0 auto; }
        #evt_content .sec-2 .yueyuan .center img {
          width: 5.58667rem; }
        #evt_content .sec-2 .yueyuan .center p {
          margin: 0.26667rem auto;
          line-height: 0.46667rem;
          font-size: 0.29333rem;
          color: #000; }
    #evt_content .sec-2 .yuan-2 {
      top: 18.69333rem; }
    #evt_content .sec-2 .w-title {
      padding-top: 0.26667rem;
      text-align: center;
      line-height: 0.66667rem;
      vertical-align: initial; }
      #evt_content .sec-2 .w-title i {
        position: absolute;
        bottom: 0.06667rem;
        left: 0;
        font-size: 0.26667rem;
        font-style: normal;
        color: #bd9960; }
      #evt_content .sec-2 .w-title strong {
        position: relative;
        font-size: 0.8rem;
        color: #bd9960;
        font-weight: normal;
        padding-left: 0.26667rem;
        vertical-align: initial; }
    #evt_content .sec-2 .go-btn {
      position: relative;
      width: 4.2rem;
      height: 1.06667rem;
      background: #414650;
      margin: 0.66667rem auto;
      text-align: center;
      border-radius: 0.26667rem; }
      #evt_content .sec-2 .go-btn span {
        display: block;
        color: #fff;
        font-size: 0.4rem;
        line-height: 1.06667rem; }
  #evt_content .sec-footer {
    background: #2e3037;
    position: relative;
    padding-bottom: 0.26667rem; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 8.8rem;
      padding-top: 1.06667rem;
      padding-bottom: 0.66667rem;
      margin: 0 auto;
      color: #bebec0; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.4rem;
        font-weight: normal;
        color: #a19682;
        margin-top: 0.26667rem; }
      #evt_content .sec-footer .txt p {
        font-size: 0.29333rem;
        padding-left: 0.26667rem;
        line-height: 0.46667rem;
        text-indent: -0.26667rem;
        color: #bebec0;
        margin: 0.26667rem auto 0; }
      #evt_content .sec-footer .txt p.p1 {
        margin: 0rem auto 0; }
