.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

#evt_content {
  background: #fff; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-banner {
    height: 13.90667rem;
    background: #1e2024; }
    #evt_content .sec-banner .box-bg {
      width: 10rem;
      top: 0rem;
      left: 0rem; }
    #evt_content .sec-banner .banner-title {
      width: 3.04rem;
      top: 2.17333rem;
      left: 6.24rem; }
    #evt_content .sec-banner .banner-moon {
      width: 3.97333rem;
      top: 8.53333rem;
      left: 50%;
      margin-left: -1.98667rem; }
    #evt_content .sec-banner .banner-box {
      width: 7.96rem;
      top: 1.28rem;
      left: 0rem; }
    #evt_content .sec-banner .banner-815 {
      width: 1.52rem;
      top: 0.33333rem;
      left: 0.53333rem; }
    #evt_content .sec-banner .banner-s1 {
      width: 5.02667rem;
      top: -0.93333rem;
      left: -0.66667rem; }
    #evt_content .sec-banner .banner-c-2 {
      width: 5.08rem;
      top: 0rem;
      left: 2.45333rem; }
    #evt_content .sec-banner .banner-c-3 {
      width: 3.46667rem;
      top: 0rem;
      left: auto;
      right: 0rem; }
    #evt_content .sec-banner .banner-c-5 {
      width: 3.25333rem;
      top: 5.84rem;
      left: auto;
      right: 0rem; }
    #evt_content .sec-banner .word {
      width: 8.53333rem;
      color: #bcbcbd;
      line-height: 0.33333rem;
      font-size: 0.24rem;
      left: 50%;
      margin-left: -4.26667rem;
      text-align: center; }
    #evt_content .sec-banner .word-1 {
      top: 9.97333rem; }
    #evt_content .sec-banner .word-2 {
      top: 11.54667rem;
      line-height: 0.24rem;
      font-size: 0.16rem;
      color: #797a7c; }
  #evt_content .sec-1 {
    height: 23.45333rem;
    margin-top: 1.06667rem; }
    #evt_content .sec-1 .banner-line {
      position: absolute;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 1.77333rem;
      background: url("../images/line.png");
      margin-top: -2rem; }
    #evt_content .sec-1 .dis-1 {
      width: 3.10667rem;
      top: -3.33333rem;
      left: auto;
      right: 0rem; }
    #evt_content .sec-1 .row {
      position: relative;
      height: 5.44rem; }
      #evt_content .sec-1 .row .r-left {
        float: left; }
      #evt_content .sec-1 .row .r-right {
        float: right; }
      #evt_content .sec-1 .row .row-pic {
        width: 5rem;
        position: relative; }
      #evt_content .sec-1 .row .row-word {
        width: 5rem;
        height: 100%;
        position: relative; }
        #evt_content .sec-1 .row .row-word .row-word-title {
          margin-left: 0.4rem;
          margin-top: 0.4rem;
          line-height: 0.58667rem; }
          #evt_content .sec-1 .row .row-word .row-word-title img {
            width: 2.46667rem; }
          #evt_content .sec-1 .row .row-word .row-word-title p.p1 {
            font-size: 0.24rem;
            color: #000; }
          #evt_content .sec-1 .row .row-word .row-word-title p.p2 {
            font-size: 0.18667rem;
            color: #000; }
            #evt_content .sec-1 .row .row-word .row-word-title p.p2 span {
              font-size: 0.32rem; }
        #evt_content .sec-1 .row .row-word .row-word-bottom {
          position: absolute;
          line-height: 0.4rem;
          bottom: 0.4rem;
          left: 0.4rem;
          width: 4rem;
          color: #a3a3a3;
          font-size: 0.24rem; }
  #evt_content .sec-2 {
    height: 13.56rem; }
    #evt_content .sec-2 .box {
      width: 9.6rem;
      top: 0rem;
      left: 0rem; }
    #evt_content .sec-2 .yueyuan {
      top: 6.90667rem;
      width: 10rem;
      text-align: center; }
      #evt_content .sec-2 .yueyuan .center {
        position: relative;
        width: 6.66667rem;
        text-align: center;
        margin: 0 auto; }
        #evt_content .sec-2 .yueyuan .center img {
          width: 3.81333rem; }
        #evt_content .sec-2 .yueyuan .center p {
          margin: 0.26667rem auto;
          line-height: 0.46667rem;
          font-size: 0.29333rem;
          color: #000; }
    #evt_content .sec-2 .w-title {
      padding-top: 0.26667rem;
      text-align: center;
      line-height: 0.66667rem;
      vertical-align: initial; }
      #evt_content .sec-2 .w-title i {
        position: absolute;
        bottom: 0.06667rem;
        left: 0;
        font-size: 0.26667rem;
        font-style: normal;
        color: #a19682; }
      #evt_content .sec-2 .w-title strong {
        position: relative;
        font-size: 0.8rem;
        color: #a19682;
        font-weight: normal;
        padding-left: 0.26667rem;
        vertical-align: initial; }
    #evt_content .sec-2 .go-btn {
      position: relative;
      width: 4.2rem;
      height: 1.06667rem;
      background: #414650;
      margin: 0.26667rem auto;
      text-align: center;
      border-radius: 0.53333rem; }
      #evt_content .sec-2 .go-btn span {
        display: block;
        color: #fff;
        font-size: 0.4rem;
        line-height: 1.06667rem; }
  #evt_content .sec-footer {
    background: #2e3037;
    position: relative;
    padding-bottom: 0.26667rem; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 8.8rem;
      padding-top: 1.06667rem;
      padding-bottom: 0.66667rem;
      margin: 0 auto;
      color: #bebec0; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.4rem;
        font-weight: normal;
        color: #a19682;
        margin-top: 0.26667rem; }
      #evt_content .sec-footer .txt p {
        font-size: 0.29333rem;
        padding-left: 0.26667rem;
        line-height: 0.46667rem;
        text-indent: -0.26667rem;
        color: #bebec0;
        margin: 0.26667rem auto 0; }
      #evt_content .sec-footer .txt p.p1 {
        margin: 0rem auto 0; }
