@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}
#evt_content *{ vertical-align: baseline!important;}  /*价格符号不对齐*/
#evt_content{  background:#040000;
  img{width:100%;}
  .sec{position: relative; }

  .sec-top{
    height: px2rem(766); background:url("../images/banner.png") repeat; background-size: 100%; z-index: 1; overflow: hidden;
    .banner-t{position: absolute; width:px2rem(750); top:px2rem(60); left:px2rem(12); z-index: 2; }
    .nangua{position: absolute; width:px2rem(500); top:px2rem(200); left:px2rem(120); z-index: 1; }
    .zhizhu{position: absolute; width:px2rem(91); top:0; right:px2rem(50); z-index: 1; }
  }



  .hy-title{ width: px2rem(750); margin:0 auto; padding-top: px2rem(30); }

  .sec-1{ width: px2rem(724); margin: 0 auto;
    img{vertical-align: middle !important;}

    .price{position: relative; bottom: 0; width:px2rem(724); height:px2rem(185); background: url("../images/price-bar.png"); z-index: 100; overflow: hidden;
      .t{margin-left:px2rem(30); margin-top: px2rem(20); width: px2rem(421);}
      .buy{position: absolute; width:px2rem(180); top:px2rem(30); right:px2rem(30);
        p{font-size:px2rem(18); color: #000;
          span{font-size:px2rem(30);}
          s{ color: #000; display: block;}
        }
        .go-btn{ width:px2rem(170); margin-top:px2rem(10); background: #ffc799; color: #000; border-radius:px2rem(48); cursor: pointer; line-height:px2rem(48); font-size:px2rem(16); letter-spacing:px2rem(3); text-align: center;}
        .go-btn.on{ background: #fff;}
      }
    }

  }

  .sec-xs{
    .price{position: absolute; width: px2rem(660); height:px2rem(120); bottom: px2rem(30); left:px2rem(40); background: none;
      .t{margin-left:0; margin-top:0; width: px2rem(649);}
      .buy{right: 0; top:px2rem(18);}

    }
  }

  .prolist{position: relative; width: px2rem(724); margin:0 auto; padding-bottom: px2rem(30); background: url("../images/s-bg.png"); background-size: 100%;
    .item{width:px2rem(469); cursor: pointer;
      img{width:100%;}
      .buy{position: absolute; bottom:px2rem(50); left:px2rem(32);
        p{font-size:px2rem(40); color: #231403; line-height:px2rem(30); margin-bottom: px2rem(20);
          i{font-size:px2rem(22);font-style: normal;}
          s{font-size:px2rem(25); margin-left:px2rem(10);}
        }
        ul{ margin: 0;
          li{ width:px2rem(380); margin: 0 px2rem(10); line-height:px2rem(50); border: #231403 1px dashed; border-radius: px2rem(46); float: left; text-align: center; color: #231403; font-size:px2rem(22); cursor: pointer; }
          li.on{border: #fff 1px dashed;}
        }
      }

    }

  }




  .sec-footer{background:url("../images/foot-bg.png") top no-repeat; background-size:100%; position: relative; padding-bottom: px2rem(50); z-index:1;
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(345); margin: 0 auto;  color: #fff;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(22); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35); margin:px2rem(5) 0;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }


  /*价格计算【通用】*/
  .price{ position: absolute;  width: px2rem(400); text-align: left; z-index: 2;

    .title{position: relative; width: px2rem(316); margin:px2rem(10) 0;}
    h2{font-size:  px2rem(20); font-weight: normal; line-height: px2rem(50); color: #9e1316;
      i{font-size:  px2rem(20); line-height: px2rem(30); font-style: normal;vertical-align:middle; }
      span{font-size: px2rem(40); }
    }
    s{ font-size:  px2rem(20); color: #c7818b; font-weight: normal; margin-left: px2rem(10);
      span{font-size: px2rem(20); }
    }

    .huangou{position: relative; width:px2rem(400); font-size:px2rem(22); color: #9b4245; margin:0 auto px2rem(10) 0; text-align: left; padding-left: px2rem(35);
      .icnone{position: absolute; left: 0; top:50%; width:px2rem(30); height:px2rem(30); margin-top: px2rem(-15); z-index: 1; }
      .icon{position: absolute; left: 0; top:50%; width:px2rem(30); height:px2rem(30); margin-top: px2rem(-15);z-index: 2; }
      .icon.on{}
    }


    ul.buy_btn_box { width: px2rem(170); overflow: hidden; margin:0 px2rem(10) 0 0; float: left;   }
    ul.buy_btn_box li span { display: block; background: #db8f93 none repeat scroll 0 0;  color: #fff; cursor: pointer; line-height: px2rem(42); padding-top: px2rem(2); font-size: px2rem(22); text-align: center; border-radius: px2rem(27.5); width: px2rem(170); }
  }

}






/*蛋糕选择弹窗*/

.Dialogbg-Select{ background-color: #000; height: 100%; left: 0; opacity: 0.85; position: fixed; top: 0; width: 100%; z-index: 200; display: none;
}



.Dialog-Select{ background: #fff none repeat scroll 0 0; box-shadow: 0 0 0 #999; font-size:px2rem(14); width:px2rem(600); height: auto; margin-top: px2rem(-320); margin-left: px2rem(-300); left: 50%; padding: 0; position: fixed; top: 50%; z-index: 99999; display: none; border-radius:px2rem(10);
}
.s-closes{position: absolute; top: px2rem(10) !important; right: px2rem(-38) !important; width: px2rem(27) !important; height:px2rem(27) !important; background: url("../images/close.png"); background-size: 100%;}

.Select{ position: relative; color: #000; height: 100%; text-align: left;
  .s-title{ height:px2rem(103); background: #f2f2f2; position: relative; border-top-left-radius:px2rem(10);  border-top-right-radius:px2rem(10);
    h2{ font-size: px2rem(28); line-height: px2rem(30); padding-left: px2rem(40); padding-top: px2rem(30); }
    b{font-size: px2rem(14); color: #9a9a9a; font-weight: normal; padding-left: px2rem(40);}
  }
  .s-bangshu{ padding-top: px2rem(20);
    ul{ margin-left: px2rem(40);
      li{ float: left; width:px2rem(90); height: px2rem(90); background: #f2f2f2; border-radius: 50%; text-align: center; color: #4a4a4a; margin-right:px2rem(50); font-size: px2rem(23); line-height: px2rem(20);  display: flex; align-items: center; justify-content: space-around; flex-direction: column;
        i{ font-size: px2rem(16); line-height: px2rem(20); font-style: normal;}
      }
      li.on{ background: #ffc559; color: #000;}
    }
  }
  .d-tips{padding:px2rem(20) px2rem(40); color: #4c4c4c; font-size:px2rem(18);}
  .s-num{ height: px2rem(100);padding-left:px2rem(40);border-top: #ededed 1px solid;
    b{display: inline-block; width:px2rem(200); margin:px2rem(20) 0; line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    .nums {  display: inline-block; margin:px2rem(20) px2rem(40) px2rem(20) px2rem(20);  float: right;  height:px2rem(56);  position: relative;  width:px2rem(200);  }
    .nums a {  display: block;   width:px2rem(56); height:px2rem(56);  position: absolute;  top:px2rem(2);  }
    .nums .minus {  background: url("../images/btn-1.png") no-repeat; background-size: 100%;  left: 0;  }
    .nums .plus {  background: url("../images/btn-2.png") no-repeat; background-size: 100%;  right: 0;  }
    .nums input {  background:none;  border: none;  color: #626262;  display: block;  font-size:px2rem(30);  height:px2rem(56);  left:px2rem(60);  line-height:px2rem(56);  padding: 0;  position: absolute;  text-align: center;  top: 0;  width:px2rem(80);  }
  }
  .s-prices{font-size: px2rem(22); padding: px2rem(30) px2rem(40);border-top: #ededed 1px solid;  color: #4a4a4a;
    b{display: inline-block; width:px2rem(200); margin:0; line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    p{display:block; line-height: px2rem(56); text-align: right;}
    i{font-style: normal;}
    span{ font-size: px2rem(45);}
  }
  s{color: #7e7e7e;}
  .btns{ width: 100%; position: relative; bottom:px2rem(0); display: flex; height: px2rem(100); line-height: px2rem(100); flex-direction: row;  text-align: center; font-size: px2rem(30); color: #000; padding: 0;
    div{ flex: 1; cursor: pointer;}
    .go-car{background: #ffc559; border-bottom-left-radius:px2rem(10); border-bottom-right-radius:px2rem(10);  float: left;}
    .go-buy{background:#ffc559; border-bottom-left-radius:px2rem(10); border-bottom-right-radius:px2rem(10); }
    .go-buy.single{border-bottom-left-radius:px2rem(20); background: #ffe32a; color: #c43818;}
  }

}


.swiper-container {
  position: relative !important;
  width: px2rem(469);
  margin-left: auto;
  margin-right: auto;  overflow: hidden;
}
.swiper-slide {
  text-align: center; background: none !important;
  width:100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{width: 100%;}
.swiper-pagination{width: 100%; position: absolute !important; bottom:px2rem(10) !important; }
.swiper-pagination-bullet{margin:0 px2rem(5) !important; background: #fff !important; opacity: 1 !important;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background: #626262 !important;}
.swiper-button-prev{left: px2rem(30); margin-top:px2rem(-50); width: px2rem(67); height: px2rem(59); background: url("../images/prev1.png"); background-size: 100%;}
.swiper-button-next{right: px2rem(30); margin-top:px2rem(-50);  width: px2rem(67); height: px2rem(59); background: url("../images/next1.png"); background-size: 100%;}

.zhizhu{ animation:zhizhu 5s infinite alternate ease-out;}
@keyframes zhizhu{
  0%{top:-20%; opacity: 1;}
  100%{top:0; opacity: 1;}
}
