@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem;
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{  background:url("../images/bg.jpg") repeat;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }
  .sec-top{
    height: px2rem(961); background:url("../images/top-bg.png") repeat; background-size: 100%; z-index: 1; overflow: hidden;
    .title{width:px2rem(684); top:px2rem(10); left:px2rem(23);}
    .cake{width:px2rem(672); top:px2rem(240); right:0;}
  }


  .sec-main{
    .quan{position: relative; width: px2rem(594); margin:px2rem(40) auto; cursor: pointer;
      .quan-1{width: px2rem(594); position:relative; margin-bottom: px2rem(30);}
      .quan-2{width: px2rem(594); position:relative;  }
      .word{ position: absolute; top: px2rem(10); right: px2rem(60); width: px2rem(158); height: px2rem(158); background: url("../images/w-1.png") no-repeat; background-size: 100%; }

      .word.sced{ background: url("../images/w-2.png") no-repeat; background-size: 100%;  }

    }


    .row{position: relative;}
    .row1{height: px2rem(583);
      .cake{width:px2rem(462); top:px2rem(80); left:px2rem(0); z-index: 1;}
      .price{top: px2rem(140); left:px2rem(430);

      }
    }


  }


  /*价格*/
  .price{ position: absolute;  width: px2rem(320); text-align: left; z-index: 2;
    .title{position: relative; width: px2rem(265); margin:px2rem(30) 0;}
    h2{font-size:  px2rem(30); font-weight: normal; line-height: px2rem(50);color: #fdd372;
      i{font-size:  px2rem(20); font-style: normal;vertical-align: top; }
      span{font-size: px2rem(47);  }
    }
    s{font-size:  px2rem(26); color: #888888; font-weight: normal; line-height:  px2rem(30); }


    ul.buy_btn_box {  overflow: hidden; margin-top:  px2rem(30);  }
    ul.buy_btn_box li {  float: left; margin-right:  px2rem(10);  }
    ul.buy_btn_box li:last-child{margin-right: 0; }
    ul.buy_btn_box li:last-child  span{background: #ffc529;}
    ul.buy_btn_box li span { display: block; background: #887967;  color: #fff; cursor: pointer; height:  px2rem(60); line-height:  px2rem(60); font-size:  px2rem(24); width: px2rem(150); text-align: center; border-radius: px2rem(10); }
  }







  .sec-footer{background:#fff; background-size: 100%; position: relative; padding-bottom: px2rem(20);

    .txt{ position: relative; width:px2rem(600); padding-top: px2rem(70); margin: 0 auto;  color: #8a796d;
      h2{font-size: px2rem(30); font-weight: normal; }
      p{ font-size: px2rem(23); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35);
        margin:px2rem(5) 0;}
    }


  }

}




.pro-num{position:absolute; width:px2rem(300); height: px2rem(40); left:50%;  top:0; font-size:0; margin-left:px2rem(-150);
  a{ position: absolute; width:px2rem(50); height:px2rem(50); display:block; top:px2rem(4);}
  .minus{background:url(../images/minus.png);background-size: 100%; left:0;}
  .plus{background:url(../images/plus.png);background-size: 100%; right:0;}
  input{border:none; display:block; font-size: px2rem(20); background:url(../images/input.png); background-size: 100%; width:px2rem(185); height:px2rem(50); line-height:px2rem(39); position:absolute;
    top:px2rem(5); left:px2rem(55); text-align:center; color:#626262;  padding:0;}
}
.buybtn{position:absolute; bottom:px2rem(26); left:50%; margin-left:px2rem(-150);  width:px2rem(300); height: px2rem(48);  background: url("../images/btnbg.png"); background-size: 100%; text-align: center; text-decoration: none;
  span{color: #fff; line-height: px2rem(48); font-size: px2rem(24); }

}



.des{ position: absolute; width: px2rem(300); bottom:px2rem(20); left: 50%; margin-left: px2rem(-150);
  p{font-size: px2rem(24); color: #000; font-weight:bolder;}
  .cl{position: relative; margin: px2rem(10) auto; padding-left:px2rem(18); line-height: px2rem(50);color:#b08d67;
    i{font-style: normal; position: absolute; top: px2rem(-4); left: 0; font-size: px2rem(16); }
    span{ font-size: px2rem(30); }
  }

  .gobtn{width:px2rem(284); height:px2rem(48); text-align: center; line-height:px2rem(48);  background:url("../images/btnbg.png") center no-repeat; background-size: 100%; border-radius: 5px; margin-top: px2rem(20);
    span{font-size:px2rem(20); color: #fff;}
  }
  .js_bshu{position: absolute; right: 0; top: 0; display: block; width: px2rem(100); height:px2rem(39); z-index: 2; font-size:px2rem(16) !important; line-height: px2rem(39);  cursor: pointer; text-indent: px2rem(10);  background: url("../images/sele-li.png") left no-repeat; background-size: 100%;
    b{font-style: normal;line-height: px2rem(39);}
  }
}



.Dialogbg-Select{
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200; display: none;
}



.Dialog-Select{
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size:px2rem(14);
  width:px2rem(600);
  height:px2rem(660);
  margin-top: px2rem(-330);
  margin-left: px2rem(-300);
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999; display: none; border-radius:px2rem(20);
}

.Select{ position: relative; color: #000; height: 100%;
  .s-title{ height:px2rem(103); background: #f2f2f2; position: relative; border-top-left-radius:px2rem(20);  border-top-right-radius:px2rem(20);
    h2{ font-size: px2rem(28); line-height: px2rem(50); padding-left: px2rem(25); padding-top: px2rem(10); }
    b{font-size: px2rem(14); color: #9a9a9a; font-weight: normal; padding-left: px2rem(20);}
  }
  .s-bangshu{ padding-top: px2rem(60);  padding-bottom:px2rem(60); border-bottom: #ededed 1px solid;
    ul{ margin-left: px2rem(40);
      li{ float: left; width:px2rem(90); height: px2rem(90); background: #f2f2f2; border-radius: 50%; text-align: center; line-height: px2rem(90); font-size: px2rem(23); color: #000; margin-right:px2rem(50); font-weight: bold; }
      li.on{ background: #887967; color: #fff; }
    }
  }
  .s-num{ height: px2rem(140);
    b{display: inline-block; width:px2rem(200); margin:px2rem(40) px2rem(20); line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    .nums {  display: inline-block; margin:px2rem(40) px2rem(20);  float: right;  height:px2rem(56);  position: relative;  width:px2rem(200);  }
    .nums a {  display: block;   width:px2rem(56); height:px2rem(56);  position: absolute;  top:px2rem(2);  }
    .nums .minus {  background: rgba(0, 0, 0, 0) url("../images/btn-1.png") no-repeat; background-size: 100%;  left: 0;  }
    .nums .plus {  background: rgba(0, 0, 0, 0) url("../images/btn-2.png") no-repeat; background-size: 100%;  right: 0;  }
    .nums input {  background:none;  border: none;  color: #626262;  display: block;  font-size:px2rem(30);  height:px2rem(56);  left:px2rem(60);  line-height:px2rem(56);  padding: 0;  position: absolute;  text-align: center;  top: 0;  width:px2rem(80);  }
  }
  .s-prices{font-size: px2rem(22); padding-left: px2rem(20);
    span{ font-size: px2rem(45);}
  }
  .btns{ width: 100%; position: absolute; bottom:px2rem(0); display: flex; height: px2rem(100); line-height: px2rem(100); flex-direction: row;  text-align: center; font-size: px2rem(30); color: #fff;
    div{ flex: 1; cursor: pointer; width: 50%;}
    .go-car{background: #887967; border-bottom-left-radius:px2rem(20); float: left; }
    .go-buy{background: #ffc529; border-bottom-right-radius:px2rem(20); float: left;}
  }

}


@media screen and (max-width: 320px) {
  .sel-li{ top: px2rem(-10) !important; }
  i{top:px2rem(3) !important; }
}
