@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

@font-face {
  font-family: 'gothambold';
  src: url('../fonts/Gotham-Bold.woff') format('woff'),
  url('../fonts/Gotham-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#evt_content{  background:#ffffff;
  img{width:100%;}

  .sec-banner{position: relative; width: px2rem(750);  height: px2rem(1194);  background:url("../images/bg.jpg") no-repeat; background-size: 100%; z-index: 5;
    div{position:absolute;}
    .baner-cake{ width: px2rem(308); top:0; right:0; }
    .baner-ren{ width: px2rem(569); bottom: 0; left:0; }
    .baner-title{ width: px2rem(458); top: px2rem(177); left: px2rem(64); }
    .baner-box{ width: px2rem(507); top: px2rem(409); left: px2rem(186); }

  }
  .t-time{width: px2rem(373); }
  .sec-1{  position: relative; width: px2rem(650);  margin: 0 auto; padding-top: px2rem(50);
    .time{ position: relative; width: px2rem(400); margin: px2rem(20) 0 px2rem(50) px2rem(20); height: px2rem(80);  font-size: px2rem(50); color: #e60000;
      .time-start{position: absolute; top: 0; left: 0; width: px2rem(150); font-family: 'gothambold';}
      .time-end{position: absolute; top: 0; left:px2rem(350);  width: px2rem(150); font-family: 'gothambold';}
      .time-zhi{position: absolute; top:px2rem(8); left:px2rem(280);  width: px2rem(50); height: px2rem(30);
        img{display: block;}
      }
      span{color: #edb3d2; font-family: 'gothambold';}
      i{color: #9fa0a0; font-style: normal;}
    }
    .libox{width: px2rem(464); margin: px2rem(60) auto 0;}
    .cake{width: px2rem(650); position: relative;margin: px2rem(50) auto 0;
      .swiper-cake{ position: relative; width: px2rem(650);
        .cakeImg{width:px2rem(400); height: px2rem(400);}
        .title{width: 100%; margin-bottom:px2rem(30); font-size: px2rem(32); color: #fe0000;}
        .price{text-align: center;
          i{display: inline-block; width:px2rem(45); height:px2rem(45); vertical-align: middle;border: #9fa0a0 1px solid; font-style: normal; cursor: pointer;  }
          .num-minus{background: url("../images/btn-minus.png") center no-repeat; background-size: 100%;}
          .num-add{background: url("../images/btn-add.png") center no-repeat; background-size: 100%;}
          em{display: inline-block; width:px2rem(213); height:px2rem(45); border: #9fa0a0 1px solid; line-height:px2rem(45); font-style: normal; vertical-align: middle; font-size:px2rem(30);}
          .btns{ background: #fe0000; width: px2rem(213); height:px2rem(45); margin:px2rem(30) auto; color: #fff;
            span{ display: block; font-size:px2rem(24);} line-height:px2rem(45);
            a{color: #fff;}
          }
        }
      }

    }

    .huodong{}
    .act{height:px2rem(450); position:relative; padding-top:px2rem(100); cursor: pointer;
      .act_text{width:px2rem(321); margin:0 auto; font-size: px2rem(32); color: #4b87b2; text-align: center;}
      .act_sheng{width:px2rem(65); position:absolute; top:px2rem(300); left:px2rem(70);}
      .act_ge{width:px2rem(32); position:absolute; top:px2rem(300); left:px2rem(620); }
      .plate{position:absolute; width:px2rem(290); top:px2rem(180); left:px2rem(190);
        span{position:absolute; display:block; font-family: 'gothambold'; color:#e60000; font-size:px2rem(110);
          width:px2rem(100); height:px2rem(100);  top:px2rem(105); left:px2rem(100); text-align:center;}

        .word{width:px2rem(100); position:absolute;  top:px2rem(100); left:px2rem(100); }
      }
      .plate1{ left:px2rem(30);}
      .plate3{ left:px2rem(350);}
      .plate4{ left:px2rem(120);}
      .plate5{ left:px2rem(280);}

      .act_sheng.sheng{left:px2rem(100);}
      .act_ge.ge{left:px2rem(530);}

      .act_sheng.sheng1{left:px2rem(0);}
      .act_ge.ge1{left:px2rem(600);}
    }

    .act_end{
      .act_text{
        span{  font-size: px2rem(38); line-height: px2rem(50); vertical-align:unset; color: #e60000; }
      }

      .plate{
        span{ font-size: px2rem(80); top:px2rem(95); font-family: 'gothambold';}
      }
    }
    .act_next{
      text-align:center; height: auto; padding:px2rem(80) 0;
      h2{font-size:px2rem(33); color: #e60000;}
      p{font-size:px2rem(20); line-height: px2rem(80); font-weight: bold;

      }

    }

  }
  .sec-2{  position: relative; width: px2rem(650); margin: 0 auto; padding-bottom: px2rem(50); padding-top: px2rem(30);

    .txt{padding: px2rem(50) 0; color: #000;
      p{font-size: px2rem(24); margin-bottom: px2rem(10); line-height: px2rem(50); text-indent: px2rem(-30); padding-left: px2rem(24);}
    }
    .pink{color: #ca6ca3;}
    .red{color: #fe0000;}
  }



}

.swiper-container {
  position: relative !important;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;

}

.arrow-left,.arrow-right{width:px2rem(60); height:px2rem(60);  z-index: 100;}
.arrow-left {
  background: url(../images/prev.png) no-repeat; background-size: 80%;
  position: absolute;
  left:px2rem(20);
  top: 35%;
  margin-top:px2rem(-15);

}
.arrow-right {
  background: url(../images/next.png) no-repeat; background-size: 80%;
  position: absolute;
  right:px2rem(20);
  top: 35%;
  margin-top:px2rem(-15);

}