#evt_container{background:url(../images/bg.jpg);
  img{width:100%;}
  .top_icon{position:absolute; width:24.9%; top:405px; left:50%; margin:0 0 0 -28.5%;}
  .top_btn{position:absolute; width:10%; top:517px;  line-height: 40px;
    background:#b50e0d;  left:50%; font-weight: bold;  font-family:'mfshangya'; margin:0 0 0 -22.4%; font-size: 24px;
    color:#fff; text-align: center; border-radius: 5px; }
  .top_quality{width:167px; margin:-83px auto 0 auto;}
  .act{height:625px; margin:55px 0 0 0; position:relative;
    .act_text{width:429px; margin:0 auto;}
    .act_sheng{width:79px; position:absolute; top:307px; left:50%; margin-left:-428px;}
    .act_ge{width:40px; position:absolute; top:307px; left:50%; margin-left:340px;}
    .plate{width:521px; top:64px; left:50%;margin-left:-270px; position:absolute;
      span{position:absolute; display:block;  color:#24907f; font-size:222px; top:145px; left:196px; width:150px; height:250px; line-height:250px; text-align:center; text-shadow: 2px 2px 2px #000;}
      .word{width:166px; position:absolute; top:186px; left:186px;}
    }
    .plate1{margin-left:-544px;}
    .plate3{margin-left:5px;}

    .plate4{margin-left:-420px;}
    .plate5{margin-left:-120px;}

  }
  .act_next{text-align:center; color:#b50e0d;height: 295px;
    h2{margin:0 0 68px 0; font-size:60px;}
    p{font-size:36px;}
  }
  .slider{width:1200px; position:relative; margin:0 auto;
    .prev,.next{width:79px; top:148px; position:absolute;}
    .prev{left:0;}
    .next{right:0;}
  }
  .slideOuter{width:1028px; height:344px; border-bottom:2px solid #959595; overflow:hidden; margin:0 auto;
    ul{width:1650px;}
    li{width:242px; margin:0 20px 18px 0; color:#242424; font-size:12px; float:left;
      .fl{float:left;}
      .fr{float:right;}
      .p1{margin:26px 0 3px 0;}
      .p2{
        .fr{color:#a40000;
          span{font-size:19px;}
        }
        .fl{padding-top:5px;}
      }
      .buybtn{width:100%; height:30px; display:block; border-radius:2px; margin:16px 0 0 0; background:#319c8b; color:#ffffff; text-align:center; line-height:30px; font-size:16px; position:static;}
    }
  }
  .tower1{width:533px; left:50%; margin-left:427px; top:732px; position:absolute;}
  .tower2{width:444px; left:50%; margin-left:-960px; bottom:0; position:absolute;}
  .text1893{width:422px; margin:26px auto 0 auto;}
  .rules{width:960px; font-size:18px; color:#2b2b2b; line-height:28px; margin:122px auto 152px auto;
    h2{font-size:18px; font-weight:normal;text-indent: -28px;}
    p{text-indent: -28px;}
  }
}