@charset "UTF-8";
#evt_content {
  background: #fff; }
  #evt_content img {
    width: 100%; }
  #evt_content .section-top {
    position: relative;
    height: 5.22667rem;
    background: url("../images/banner.png") no-repeat;
    background-size: 100%;
    z-index: 2; }
  #evt_content .s-title {
    width: 4.73333rem;
    margin: 0.53333rem auto; }
  #evt_content .section-1 {
    position: relative;
    text-align: center; }
    #evt_content .section-1 .wx-code {
      width: 2.05333rem;
      margin: 0.53333rem auto; }
    #evt_content .section-1 .wx-gz {
      width: 9.33333rem;
      margin: 0 auto; }
      #evt_content .section-1 .wx-gz p {
        font-size: 0.32rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.50667rem;
        margin: 0.13333rem 0;
        text-align: justify;
        text-justify: inter-word; }
        #evt_content .section-1 .wx-gz p img {
          width: 0.93333rem;
          vertical-align: middle;
          margin: 0 0.13333rem; }
        #evt_content .section-1 .wx-gz p span {
          display: inline-block;
          padding-left: 1.73333rem;
          text-indent: -1.73333rem; }
    #evt_content .section-1 .weixin {
      display: inline-block;
      margin-top: 0.53333rem; }
      #evt_content .section-1 .weixin .wxhao {
        float: left;
        width: 4.73333rem;
        height: 0.85333rem;
        font-size: 0.32rem;
        background: url("../images/input-bg.png") no-repeat;
        background-size: 100%;
        border: none;
        padding: 0 0.26667rem; }
      #evt_content .section-1 .weixin .submit {
        float: left;
        margin-left: 0.26667rem;
        width: 2.56rem;
        height: 0.85333rem;
        background: url("../images/submit-btn.png");
        background-size: 100%;
        border: none; }
  #evt_content .section-2 {
    position: relative;
    text-align: center; }
    #evt_content .section-2 .wx-code {
      width: 2.05333rem;
      margin: 0.53333rem auto; }
    #evt_content .section-2 .lipin {
      width: 10rem; }
    #evt_content .section-2 .about {
      width: 10rem; }
  #evt_content .section-3 {
    position: relative;
    text-align: center; }
    #evt_content .section-3 .row {
      position: relative;
      height: 6.66667rem; }
    #evt_content .section-3 .row1 {
      height: 5.33333rem; }
      #evt_content .section-3 .row1 .across {
        position: absolute;
        width: 0.98667rem;
        top: 4.93333rem;
        left: 4rem;
        z-index: 1; }
      #evt_content .section-3 .row1 .cake {
        position: absolute;
        width: 5.06667rem;
        top: 0.66667rem;
        right: -0.13333rem;
        left: auto;
        z-index: 1; }
      #evt_content .section-3 .row1 .price {
        top: 1.33333rem;
        left: 0.26667rem;
        z-index: 2; }
      #evt_content .section-3 .row1 .disc {
        left: 0; }
      #evt_content .section-3 .row1 .price {
        position: absolute; }
        #evt_content .section-3 .row1 .price ul.price_p li {
          background: #fff !important; }
        #evt_content .section-3 .row1 .price h2 span {
          color: #8f4531; }
        #evt_content .section-3 .row1 .price ul.price_p li.cur {
          background: #dd8e79 !important; }
        #evt_content .section-3 .row1 .price ul.buy_btn_box li span {
          background: url("../images/car-btn-1.png") center no-repeat;
          background-size: 100%; }
        #evt_content .section-3 .row1 .price ul.buy_btn_box li span.buy-btn {
          background: url("../images/buy-btn-1.png") center no-repeat;
          background-size: 100%; }
    #evt_content .section-3 .row2 .across {
      position: absolute;
      width: 0.98667rem;
      top: 4.8rem;
      left: 3.73333rem;
      z-index: 1; }
    #evt_content .section-3 .row2 .cake {
      position: absolute;
      width: 5.06667rem;
      top: 0.66667rem;
      left: -0.13333rem;
      z-index: 1; }
    #evt_content .section-3 .row2 .price {
      position: absolute;
      top: 1.46667rem;
      left: auto;
      right: 0.13333rem; }
    #evt_content .section-3 .row2 .disc {
      left: 0.26667rem; }
    #evt_content .section-3 .row2 .price h2 span {
      color: #3d679b; }
    #evt_content .section-3 .row2 .price ul.price_p li {
      background: #fff !important; }
    #evt_content .section-3 .row2 .price ul.price_p li.cur {
      background: #95b7df !important; }
    #evt_content .section-3 .row2 .price ul.buy_btn_box li span {
      background: url("../images/car-btn.png") center no-repeat;
      background-size: 100%; }
    #evt_content .section-3 .row2 .price ul.buy_btn_box li span.buy-btn {
      background: url("../images/buy-btn.png") center no-repeat;
      background-size: 100%; }
  #evt_content .section-main {
    position: relative;
    padding-bottom: 0.66667rem; }
    #evt_content .section-main .slider {
      width: 8.88rem;
      position: relative;
      margin: 0 auto; }
      #evt_content .section-main .slider .prev, #evt_content .section-main .slider .next {
        width: 0.53333rem;
        position: absolute;
        top: 30%; }
      #evt_content .section-main .slider .prev {
        left: 0; }
      #evt_content .section-main .slider .next {
        right: 0; }
    #evt_content .section-main .cart {
      position: absolute;
      width: 0.50667rem;
      right: 0.26667rem;
      top: 0.06667rem; }
    #evt_content .section-main .slideOuter {
      width: 6.13333rem;
      height: 10.26667rem;
      overflow: hidden;
      margin: 0 auto;
      padding-top: 0.26667rem; }
      #evt_content .section-main .slideOuter ul {
        width: 37.33333rem;
        padding: 0; }
      #evt_content .section-main .slideOuter li {
        width: 6.13333rem;
        margin: 0 0.06667rem;
        color: #242424;
        font-size: 0.26667rem;
        float: left;
        list-style: none;
        text-align: center; }
        #evt_content .section-main .slideOuter li .fl {
          float: left;
          color: #677b95; }
        #evt_content .section-main .slideOuter li .fl.ftitle {
          width: 2.66667rem;
          height: 0.8rem;
          overflow: hidden;
          align-items: center;
          color: #677b95;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: left;
          justify-content: left;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center; }
        #evt_content .section-main .slideOuter li .fr {
          float: right; }
        #evt_content .section-main .slideOuter li .p1 {
          margin: 0.13333rem 0 0;
          width: 98%;
          position: relative;
          text-align: left; }
        #evt_content .section-main .slideOuter li .p2 {
          padding-top: 0.01333rem;
          width: 98%;
          margin: 0;
          text-align: left; }
          #evt_content .section-main .slideOuter li .p2 .fr {
            color: #e80b18; }
            #evt_content .section-main .slideOuter li .p2 .fr span {
              font-size: 0.44rem; }
          #evt_content .section-main .slideOuter li .p2 .fl {
            padding-top: 0.02667rem; }
        #evt_content .section-main .slideOuter li .buybtn {
          width: 2.30667rem;
          height: 0.73333rem;
          display: inline-block;
          text-decoration: none;
          background: url("../images/buy-btn.png") center no-repeat;
          background-size: 100%;
          color: #ffffff;
          margin: 0.06667rem auto;
          position: relative; }
      #evt_content .section-main .slideOuter .pro-num {
        position: relative;
        float: right;
        width: 2.4rem;
        height: 0.53333rem;
        margin-top: 0.13333rem;
        display: inline-block; }
        #evt_content .section-main .slideOuter .pro-num a {
          position: absolute;
          width: 0.53333rem;
          height: 0.53333rem;
          display: block; }
        #evt_content .section-main .slideOuter .pro-num .minus {
          display: inline-block;
          background: url(../images/btn-1.png);
          left: 0;
          background-size: 100%; }
        #evt_content .section-main .slideOuter .pro-num .plus {
          display: inline-block;
          background: url(../images/btn-2.png);
          right: 0;
          background-size: 100%; }
        #evt_content .section-main .slideOuter .pro-num .bang {
          border: #f0f0f0 1px solid;
          display: inline-block;
          width: 1.33333rem;
          height: 0.53333rem;
          position: absolute;
          top: 0;
          left: 0.53333rem;
          text-align: center;
          color: #000;
          line-height: 0.53333rem;
          font-size: 0.24rem;
          padding: 0; }
        #evt_content .section-main .slideOuter .pro-num .price {
          display: none; }
      #evt_content .section-main .slideOuter .pro-num-num {
        position: relative;
        float: right;
        width: 3.06667rem;
        height: 0.53333rem;
        margin-top: 0.13333rem;
        display: inline-block; }
        #evt_content .section-main .slideOuter .pro-num-num a {
          position: absolute;
          width: 0.53333rem;
          height: 0.53333rem;
          display: block; }
        #evt_content .section-main .slideOuter .pro-num-num .jian {
          display: inline-block;
          background: url(../images/btn-1.png);
          left: 0.8rem;
          background-size: 100%; }
        #evt_content .section-main .slideOuter .pro-num-num .add {
          display: inline-block;
          background: url(../images/btn-2.png);
          right: 0;
          background-size: 100%; }
        #evt_content .section-main .slideOuter .pro-num-num span {
          border: #f0f0f0 1px solid;
          display: inline-block;
          width: 1.06667rem;
          height: 0.53333rem;
          line-height: 0.53333rem;
          position: absolute;
          top: 0;
          left: 1.37333rem;
          text-align: center;
          font-size: 0.29333rem;
          padding: 0;
          color: #000; }
  #evt_content .section-footer {
    position: relative;
    background: #ffece5;
    margin-top: 0.66667rem; }
    #evt_content .section-footer .rules {
      padding: 1.33333rem 0.53333rem 1.06667rem;
      color: #000;
      line-height: 0.53333rem; }
      #evt_content .section-footer .rules h2 {
        font-weight: normal;
        font-size: 0.48rem;
        line-height: 0.8rem;
        color: #000; }
      #evt_content .section-footer .rules p {
        font-size: 0.32rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.50667rem;
        margin: 0.13333rem 0;
        text-align: justify;
        text-justify: inter-word; }
        #evt_content .section-footer .rules p img {
          width: 0.93333rem;
          vertical-align: middle;
          margin: 0 0.13333rem; }
        #evt_content .section-footer .rules p span {
          display: inline-block;
          padding-left: 1.73333rem;
          text-indent: -1.73333rem; }

/*价格计算【通用】*/
.price {
  position: absolute;
  width: 4.66667rem;
  text-align: left;
  z-index: 2; }
  .price .title {
    position: relative;
    width: 4.50667rem;
    margin: 0.13333rem auto; }
  .price h2 {
    font-size: 0.4rem;
    font-weight: normal;
    line-height: 0.66667rem;
    color: #000; }
    .price h2 i {
      font-size: 0.26667rem;
      line-height: 0.4rem;
      font-style: normal;
      vertical-align: middle; }
    .price h2 span {
      font-size: 0.62667rem; }
  .price s {
    font-size: 0.26667rem;
    color: #c7818b;
    font-weight: normal; }
    .price s span {
      font-size: 0.26667rem; }
  .price ul.price_p {
    margin: 0.13333rem 0 0.26667rem;
    color: #000;
    width: 3.73333rem; }
  .price ul.price_p.short1 {
    color: #000;
    width: 0.86667rem; }
  .price ul.price_p.short2 {
    color: #000;
    width: 1.73333rem; }
  .price ul.price_p.short3 {
    color: #000;
    width: 2.73333rem; }
  .price ul.price_p.short4 {
    color: #000;
    width: 3.73333rem; }
  .price ul.price_p.minshort {
    margin: 0.13333rem auto;
    color: #000;
    width: 1.73333rem; }
  .price ul.price_p li {
    cursor: pointer;
    float: left;
    width: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background: #fff;
    margin-right: 0.13333rem;
    color: #000;
    font-size: 0.32rem;
    border: #000 0.01333rem solid; }
    .price ul.price_p li span {
      display: block; }
  .price ul.price_p .samllFont {
    font-size: 0.25333rem; }
  .price ul.price_p li:last-child {
    margin-right: 0; }
  .price ul.price_p .bd {
    width: 1.6rem !important;
    margin-left: 2rem !important; }
  .price ul.price_p li.cur {
    color: #000 !important; }
  .price .huangou {
    position: relative;
    width: 100%;
    font-size: 0.29333rem;
    color: #9b4245;
    margin: 0 auto 0.26667rem;
    text-align: center; }
  .price .price_num {
    margin: 0 auto;
    width: 2.22667rem;
    position: relative; }
  .price .price_num dl {
    float: left;
    padding-left: 0.06667rem; }
  .price .price_num dl dd {
    cursor: pointer;
    float: left;
    height: 0.6rem;
    width: 0.6rem; }
  .price .price_num dl dt {
    float: left;
    height: 0.66667rem;
    width: 0.66667rem;
    margin: 0 0.13333rem; }
  .price .price_num dl dt span {
    display: block;
    font-size: 0.4rem;
    background: transparent none repeat scroll 0 0;
    border: none;
    color: #ea3554;
    height: 100%;
    line-height: 0.66667rem;
    text-align: center;
    width: 100%; }
  .price ul.buy_btn_box {
    width: 2.26667rem;
    overflow: hidden;
    margin: 0.13333rem auto; }
  .price ul.buy_btn_box.twoBtn {
    width: 4.66667rem; }
  .price ul.buy_btn_box li {
    float: left;
    margin-right: 0.13333rem; }
  .price ul.buy_btn_box li:last-child {
    margin-right: 0; }
  .price ul.buy_btn_box li span {
    display: block;
    cursor: pointer;
    height: 0.73333rem;
    font-size: 0.29333rem;
    text-align: center;
    width: 2.2rem; }

/*浮动*/
.floater {
  position: fixed;
  width: 1.93333rem;
  height: 1.93333rem;
  bottom: 0.26667rem;
  right: 0.13333rem;
  z-index: 11;
  cursor: pointer;
  display: none; }
  .floater img {
    width: 100%; }
  .floater .tips {
    position: absolute;
    width: 0.66667rem;
    height: 0.66667rem;
    right: -0.06667rem;
    top: -0.06667rem;
    border-radius: 50%;
    background: url("../images/tips.png") center no-repeat;
    background-size: 100%;
    text-align: center;
    z-index: 12; }
    .floater .tips span {
      display: block;
      font-size: 0.26667rem;
      color: #fff;
      line-height: 0.66667rem; }
