#evt_content > div {
  position: relative; }

#evt_content img {
  width: 100%; }

#evt_content .a {
  width: 2.89333rem;
  top: 0.13333rem;
  left: 0.13333rem; }

#evt_content .b {
  width: 11.10667rem;
  top: 2.66667rem;
  left: 0; }

#evt_content .secitem {
  position: absolute; }

#evt_content .sec-1 {
  height: 14.52rem; }
  #evt_content .sec-1 .floader {
    position: absolute;
    width: 2.10667rem;
    top: 1.25333rem;
    left: 0.29333rem; }
  #evt_content .sec-1 .cloud-1 {
    width: 1.36rem;
    left: 1.88rem;
    top: 0.74667rem; }
  #evt_content .sec-1 .cloud-2 {
    width: 2.57333rem;
    left: 6.98667rem;
    top: 3.01333rem; }
  #evt_content .sec-1 .s-title {
    width: 5.90667rem;
    left: 2.2rem;
    top: 0.89333rem; }
  #evt_content .sec-1 .mountain {
    width: 8.74667rem;
    left: 0.8rem;
    top: 3.57333rem; }
  #evt_content .sec-1 .cake {
    width: 9.37333rem;
    left: 0.06667rem;
    top: 7.56rem; }
  #evt_content .sec-1 .tips {
    width: 4.73333rem;
    left: 2.69333rem;
    top: 12.44rem; }
  #evt_content .sec-1 .across {
    width: 0.29333rem;
    left: 4.88rem;
    top: 14.16rem; }

#evt_content .sec-2 {
  height: 24.94667rem;
  z-index: 3; }
  #evt_content .sec-2 .line {
    width: 3.01333rem;
    left: 3.16rem;
    top: 4.54667rem; }
  #evt_content .sec-2 .cake-1 {
    width: 5.68rem;
    left: 4.29333rem;
    top: 1.10667rem; }
  #evt_content .sec-2 .cake-w-1 {
    width: 6.52rem;
    left: 1.36rem;
    top: 0.24rem; }
  #evt_content .sec-2 .cake-2 {
    width: 4.73333rem;
    left: 0rem;
    top: 7.32rem; }
  #evt_content .sec-2 .cake-w-2 {
    width: 4.52rem;
    left: 5.05333rem;
    top: 7.77333rem; }
  #evt_content .sec-2 .cake-3 {
    width: 5.98667rem;
    left: 4rem;
    top: 17.88rem; }
  #evt_content .sec-2 .cake-w-3 {
    width: 6.42667rem;
    left: 1.36rem;
    top: 15.50667rem; }

#evt_content .sec-3 {
  height: 11.21333rem;
  z-index: 1; }
  #evt_content .sec-3 .bdf {
    width: 7.70667rem;
    left: 1.06667rem;
    top: -2.49333rem; }
  #evt_content .sec-3 .guizebg {
    width: 10rem;
    top: 4.89333rem;
    left: 0rem; }
