#evt_content {
  background: url("../images/bg.jpg") repeat; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    height: 10.64rem;
    z-index: 6; }
    #evt_content .sec-top .title {
      width: 10rem;
      top: -0.26667rem;
      left: 0; }
  #evt_content .sec-1 {
    height: 10.66667rem;
    z-index: 5; }
    #evt_content .sec-1 .carows {
      position: absolute;
      width: 7.38667rem;
      top: -3.73333rem;
      left: 0.30667rem; }
    #evt_content .sec-1 .price {
      position: absolute;
      width: 5.69333rem;
      top: 2.66667rem;
      left: 0.30667rem;
      z-index: 1; }
      #evt_content .sec-1 .price .go-btn {
        padding: 0.53333rem 0 0 1.06667rem; }
        #evt_content .sec-1 .price .go-btn span {
          padding: 0.10667rem 0.53333rem;
          line-height: 0.66667rem;
          color: #fff;
          background: #cf6e54;
          border-radius: 0.06667rem;
          font-size: 0.4rem;
          margin-right: 0.13333rem; }
    #evt_content .sec-1 .select {
      position: absolute;
      top: 3.8rem;
      left: 5.53333rem;
      z-index: 2; }
      #evt_content .sec-1 .select ul li {
        width: 0.8rem;
        height: 0.8rem;
        background: url("../images/gou-1.png") center no-repeat;
        background-size: 70%;
        margin-bottom: 0.13333rem; }
      #evt_content .sec-1 .select ul li.on {
        background: url("../images/gou-2.png") center no-repeat;
        background-size: 70%; }
    #evt_content .sec-1 .cake {
      position: absolute;
      width: 6.09333rem;
      top: 2.8rem;
      right: -0.53333rem; }
  #evt_content .sec-2 {
    height: 11.98667rem;
    z-index: 1; }
    #evt_content .sec-2 .line {
      position: absolute;
      width: 10rem;
      top: -2.86667rem;
      left: 0;
      z-index: 2; }
    #evt_content .sec-2 .price {
      position: absolute;
      width: 2.98667rem;
      top: 2.26667rem;
      left: 6.49333rem;
      z-index: 2; }
    #evt_content .sec-2 .cake {
      position: absolute;
      width: 7.34667rem;
      top: 0.53333rem;
      left: 0.53333rem;
      z-index: 2; }
    #evt_content .sec-2 .shuangxiong {
      position: absolute;
      width: 10rem;
      bottom: -0.06667rem;
      left: 0;
      z-index: 1; }
  #evt_content .sec-footer {
    background: #dccaad;
    background-size: 100%;
    position: relative;
    padding-bottom: 0.26667rem;
    z-index: 2; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.06667rem;
      padding: 0.93333rem 0 0.66667rem;
      margin: 0 auto;
      color: #625033; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.4rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.30667rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }

@media screen and (max-width: 320px) {
  .sel-li {
    top: -0.13333rem !important; }
  i {
    top: 0.04rem !important; } }
