@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}
*{ vertical-align: baseline !important;}  /*价格符号不对齐*/
#evt_content{
  img{width:100%; display: block;}
  .sec{position: relative; }
  .sec-top{height: px2rem(1004); background:url("../images/banner-t.png") repeat; background-size: 100%; z-index: 2;
  
  }

  .hy-title{ width: px2rem(750); margin:0 auto; padding: px2rem(50) 0; }

  .sec-cake{ position: relative; z-index: 1; padding:0 0 px2rem(30); background: url("../images/banner-bg.png") bottom no-repeat; background-size: 100%;
    
  }


  .sec-footer{background: url("../images/foot-bg.jpg"); background-size: 10%; position: relative; padding-bottom: px2rem(50); z-index:1;
    .f-txt{ position: relative; width:px2rem(700); padding-top: px2rem(80); margin: 0 auto; color:#69413c;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(22); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35); margin:px2rem(5) 0;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }
}


