@charset "UTF-8";
#evt_content {
  background: url("../images/bg.jpg") repeat;
  /*价格计算【通用】*/ }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    height: 8.09333rem;
    background: url("../images/banner-wap.jpg") repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
    #evt_content .sec-top .banner-t {
      width: 10rem;
      top: 2.66667rem;
      left: 0; }
  #evt_content .sec-0 {
    padding: 0.66667rem 0; }
    #evt_content .sec-0 div {
      position: relative; }
    #evt_content .sec-0 .hongbao {
      width: 10rem;
      margin: 0.4rem auto 0; }
      #evt_content .sec-0 .hongbao .hb {
        position: absolute;
        width: 1.46667rem;
        line-height: 0.53333rem;
        text-align: center;
        color: #fff;
        bottom: 0;
        font-size: 0.29333rem; }
      #evt_content .sec-0 .hongbao .hb1 {
        left: 0.97333rem; }
      #evt_content .sec-0 .hongbao .hb2 {
        left: 4.02667rem; }
      #evt_content .sec-0 .hongbao .hb3 {
        left: 7.36rem; }
      #evt_content .sec-0 .hongbao .hb.on {
        color: #a19d9d; }
  #evt_content .hy-title {
    position: relative;
    width: 8.70667rem;
    margin: 0.4rem auto; }
  #evt_content .sec-main {
    padding: 0.26667rem 0 0.13333rem; }
    #evt_content .sec-main .row {
      position: relative;
      height: 7.2rem; }
    #evt_content .sec-main .row1 .cake {
      width: 6.66667rem;
      top: 0.66667rem;
      left: 0;
      z-index: 1; }
    #evt_content .sec-main .row1 .price {
      top: 0.66667rem;
      left: auto;
      right: 0.13333rem; }
    #evt_content .sec-main .row1 .disc {
      left: 0.26667rem; }
    #evt_content .sec-main .row1 .price ul.price_p li {
      background: #a8bed7 !important; }
    #evt_content .sec-main .row1 .price h2, #evt_content .sec-main .row1 .price h2 span, #evt_content .sec-main .row1 .price s, #evt_content .sec-main .row1 .price .price_num dl dt span, #evt_content .sec-main .row1 .price .huangou {
      color: #4d7099; }
    #evt_content .sec-main .row1 .price ul.price_p li.cur, #evt_content .sec-main .row1 .price .buy_btn_box span {
      background: #4d7099 !important; }
    #evt_content .sec-main .row1 .price input:disabled, #evt_content .sec-main .row1 .price input[disabled] {
      color: #4d7099;
      -webkit-text-fill-color: #4d7099;
      -webkit-opacity: 1;
      opacity: 1; }
    #evt_content .sec-main .row1 .price_num dl dd.reduce {
      background: url("../images/reduce-1.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row1 .price_num dl dd.add {
      background: url("../images/add-1.png") center no-repeat scroll;
      background-size: 90%; }
    #evt_content .sec-main .row1 .icon, #evt_content .sec-main .row1 .icnone {
      background: url("../images/icon-1.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row1 .icon.on {
      background: url("../images/icon-1-h.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row2 .cake {
      width: 7.33333rem;
      top: 0.66667rem;
      right: -0.66667rem;
      z-index: 1; }
    #evt_content .sec-main .row2 .price {
      top: 0.66667rem;
      left: 0.13333rem;
      z-index: 2; }
    #evt_content .sec-main .row2 .disc {
      left: 0; }
    #evt_content .sec-main .row2 .price ul.price_p li {
      background: #f5dc77 !important; }
    #evt_content .sec-main .row2 .price h2, #evt_content .sec-main .row2 .price h2 span, #evt_content .sec-main .row2 .price s, #evt_content .sec-main .row2 .price .price_num dl dt span, #evt_content .sec-main .row2 .price .huangou {
      color: #d1a724; }
    #evt_content .sec-main .row2 .price ul.price_p li.cur, #evt_content .sec-main .row2 .price .buy_btn_box span {
      background: #eccc4d !important; }
    #evt_content .sec-main .row2 .price input:disabled, #evt_content .sec-main .row2 .price input[disabled] {
      color: #d1a724;
      -webkit-text-fill-color: #d1a724;
      -webkit-opacity: 1;
      opacity: 1; }
    #evt_content .sec-main .row2 .price_num dl dd.reduce {
      background: url("../images/reduce-2.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row2 .price_num dl dd.add {
      background: url("../images/add-2.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row2 .icon, #evt_content .sec-main .row2 .icnone {
      background: url("../images/icon-2.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row2 .icon.on {
      background: url("../images/icon-2-h.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row3 .cake {
      width: 6.66667rem;
      top: 1.33333rem;
      left: -0.66667rem;
      z-index: 1; }
    #evt_content .sec-main .row3 .price {
      top: 0.66667rem;
      left: auto;
      right: 0.13333rem; }
    #evt_content .sec-main .row3 .disc {
      left: 0.26667rem; }
    #evt_content .sec-main .row3 .price ul.price_p li {
      background: #be4f51 !important; }
    #evt_content .sec-main .row3 .price h2, #evt_content .sec-main .row3 .price h2 span, #evt_content .sec-main .row3 .price s, #evt_content .sec-main .row3 .price .price_num dl dt span, #evt_content .sec-main .row3 .price .huangou {
      color: #9c0003; }
    #evt_content .sec-main .row3 .price ul.price_p li.cur {
      background: #9c0003 !important; }
    #evt_content .sec-main .row3 .price .buy_btn_box span {
      background: #be4f51 !important; }
    #evt_content .sec-main .row3 .price input:disabled, #evt_content .sec-main .row3 .price input[disabled] {
      color: #9c0003;
      -webkit-text-fill-color: #9c0003;
      -webkit-opacity: 1;
      opacity: 1; }
    #evt_content .sec-main .row3 .price_num dl dd.reduce {
      background: url("../images/reduce-3.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row3 .price_num dl dd.add {
      background: url("../images/add-3.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row3 .icon, #evt_content .sec-main .row3 .icnone {
      background: url("../images/icon-3.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row3 .icon.on {
      background: url("../images/icon-3-h.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row4 .cake {
      width: 6.66667rem;
      top: 1.33333rem;
      right: -0.4rem;
      z-index: 1; }
    #evt_content .sec-main .row4 .price {
      top: 0.66667rem;
      left: 0.13333rem;
      z-index: 2; }
    #evt_content .sec-main .row4 .disc {
      left: 0; }
    #evt_content .sec-main .row4 .price ul.price_p li {
      background: #f4d9a5 !important; }
    #evt_content .sec-main .row4 .price h2, #evt_content .sec-main .row4 .price h2 span, #evt_content .sec-main .row4 .price s, #evt_content .sec-main .row4 .price .price_num dl dt span, #evt_content .sec-main .row4 .price .huangou {
      color: #ba8420; }
    #evt_content .sec-main .row4 .price ul.price_p li.cur, #evt_content .sec-main .row4 .price .buy_btn_box span {
      background: #ba8420 !important; }
    #evt_content .sec-main .row4 .price input:disabled, #evt_content .sec-main .row4 .price input[disabled] {
      color: #ba8420;
      -webkit-text-fill-color: #ba8420;
      -webkit-opacity: 1;
      opacity: 1; }
    #evt_content .sec-main .row4 .price_num dl dd.reduce {
      background: url("../images/reduce-6.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row4 .price_num dl dd.add {
      background: url("../images/add-6.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row4 .icon, #evt_content .sec-main .row4 .icnone {
      background: url("../images/icon-6.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row4 .icon.on {
      background: url("../images/icon-6-h.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row5 .cake {
      width: 6.66667rem;
      top: 1.33333rem;
      left: -0.66667rem;
      z-index: 1; }
    #evt_content .sec-main .row5 .price {
      top: 0.66667rem;
      left: auto;
      right: 0.13333rem; }
    #evt_content .sec-main .row5 .disc {
      left: 0.26667rem; }
    #evt_content .sec-main .row5 .price ul.price_p li {
      background: #f5dc77 !important; }
    #evt_content .sec-main .row5 .price h2, #evt_content .sec-main .row5 .price h2 span, #evt_content .sec-main .row5 .price s, #evt_content .sec-main .row5 .price .price_num dl dt span, #evt_content .sec-main .row5 .price .huangou {
      color: #d1a724; }
    #evt_content .sec-main .row5 .price ul.price_p li.cur, #evt_content .sec-main .row5 .price .buy_btn_box span {
      background: #eccc4d !important; }
    #evt_content .sec-main .row5 .price input:disabled, #evt_content .sec-main .row5 .price input[disabled] {
      color: #d1a724;
      -webkit-text-fill-color: #d1a724;
      -webkit-opacity: 1;
      opacity: 1; }
    #evt_content .sec-main .row5 .price_num dl dd.reduce {
      background: url("../images/reduce-2.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row5 .price_num dl dd.add {
      background: url("../images/add-2.png") center no-repeat;
      background-size: 90%; }
    #evt_content .sec-main .row5 .icon, #evt_content .sec-main .row5 .icnone {
      background: url("../images/icon-2.png") center no-repeat !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row5 .icon.on {
      background: url("../images/icon-2-h.png") center no-repeat !important;
      background-size: 100% !important; }
  #evt_content .sec-zp {
    position: relative;
    z-index: 2; }
    #evt_content .sec-zp div {
      position: relative; }
    #evt_content .sec-zp .more {
      width: 2.34667rem;
      margin: 0.4rem auto 1.06667rem;
      z-index: 1;
      background: #edcd3f;
      border-radius: 0.4rem;
      text-align: center; }
      #evt_content .sec-zp .more span {
        display: block;
        color: #fff;
        font-size: 0.32rem;
        line-height: 0.66667rem; }
  #evt_content .sec-footer {
    background: url("../images/foot-bg.jpg") repeat;
    background-size: 12%;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 0.66667rem;
      margin: 0 auto;
      color: #5b5b5b; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.29333rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          padding-left: 0.13333rem;
          text-indent: -0.13333rem; }
  #evt_content .price {
    position: absolute;
    width: 4.66667rem;
    text-align: center;
    z-index: 2; }
    #evt_content .price .icons {
      width: 0.66667rem;
      position: absolute;
      left: 0.4rem;
      top: -0.17333rem; }
    #evt_content .price .title {
      position: relative;
      width: 4.50667rem;
      margin: 0.13333rem auto; }
    #evt_content .price h2 {
      font-size: 0.4rem;
      font-weight: normal;
      line-height: 0.66667rem;
      color: #9e1316; }
      #evt_content .price h2 i {
        font-size: 0.26667rem;
        line-height: 0.4rem;
        font-style: normal;
        vertical-align: middle; }
      #evt_content .price h2 span {
        font-size: 0.62667rem; }
    #evt_content .price s {
      font-size: 0.26667rem;
      color: #c7818b;
      font-weight: normal; }
      #evt_content .price s span {
        font-size: 0.26667rem; }
    #evt_content .price ul.price_p {
      margin: 0.13333rem auto 0.26667rem;
      color: #000;
      width: 3.73333rem; }
    #evt_content .price ul.price_p.short1 {
      color: #000;
      width: 0.86667rem; }
    #evt_content .price ul.price_p.short2 {
      color: #000;
      width: 1.73333rem; }
    #evt_content .price ul.price_p.short3 {
      color: #000;
      width: 2.73333rem; }
    #evt_content .price ul.price_p.short4 {
      color: #000;
      width: 3.73333rem; }
    #evt_content .price ul.price_p.minshort {
      margin: 0.13333rem auto;
      color: #000;
      width: 1.73333rem; }
    #evt_content .price ul.price_p li {
      cursor: pointer;
      float: left;
      width: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      background: #febdbb;
      margin-right: 0.13333rem;
      border-radius: 50%;
      color: #fff;
      font-size: 0.32rem; }
      #evt_content .price ul.price_p li span {
        display: block; }
    #evt_content .price ul.price_p .samllFont {
      font-size: 0.25333rem; }
    #evt_content .price ul.price_p li:last-child {
      margin-right: 0; }
    #evt_content .price ul.price_p .bd {
      width: 1.6rem !important;
      margin-left: 2rem !important; }
    #evt_content .price ul.price_p li.cur {
      background: #e29792 !important;
      color: #fff !important; }
    #evt_content .price .huangou {
      position: relative;
      width: 100%;
      font-size: 0.29333rem;
      color: #9b4245;
      margin: 0 auto 0.26667rem;
      text-align: center; }
    #evt_content .price .price_num {
      margin: 0 auto;
      width: 2.22667rem;
      position: relative;
      display: none; }
    #evt_content .price .price_num dl {
      float: left;
      padding-left: 0.06667rem; }
    #evt_content .price .price_num dl dd {
      cursor: pointer;
      float: left;
      height: 0.6rem;
      width: 0.6rem; }
    #evt_content .price .price_num dl dt {
      float: left;
      height: 0.66667rem;
      width: 0.66667rem;
      margin: 0 0.13333rem; }
    #evt_content .price .price_num dl dt span {
      display: block;
      font-size: 0.4rem;
      background: transparent none repeat scroll 0 0;
      border: none;
      color: #ea3554;
      height: 100%;
      line-height: 0.66667rem;
      text-align: center;
      width: 100%; }
    #evt_content .price ul.buy_btn_box {
      width: 2.26667rem;
      overflow: hidden;
      margin: 0.13333rem auto; }
    #evt_content .price ul.buy_btn_box.twoBtn {
      width: 4.66667rem; }
    #evt_content .price ul.buy_btn_box li {
      float: left;
      margin-right: 0.13333rem; }
    #evt_content .price ul.buy_btn_box li:last-child {
      margin-right: 0; }
    #evt_content .price ul.buy_btn_box li span {
      display: block;
      background: #db8f93 none repeat scroll 0 0;
      color: #fff;
      cursor: pointer;
      line-height: 0.6rem;
      font-size: 0.29333rem;
      text-align: center;
      border-radius: 0.36667rem;
      width: 2.26667rem; }

/*浮动*/
.floater {
  position: fixed;
  width: 1.93333rem;
  height: 1.93333rem;
  bottom: 0.26667rem;
  right: 0.13333rem;
  z-index: 11;
  cursor: pointer;
  display: none; }
  .floater img {
    width: 100%; }
  .floater .tips {
    position: absolute;
    width: 0.66667rem;
    height: 0.66667rem;
    right: -0.06667rem;
    top: -0.06667rem;
    border-radius: 50%;
    background: url("../images/tips.png") center no-repeat;
    background-size: 100%;
    text-align: center;
    z-index: 12; }
    .floater .tips span {
      display: block;
      font-size: 0.26667rem;
      color: #fff;
      line-height: 0.66667rem; }

/*蛋糕选择弹窗*/
.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-Select {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 0.18667rem;
  width: 8rem;
  height: auto;
  margin-top: -4.26667rem;
  margin-left: -4rem;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 0.13333rem; }

.s-closes {
  position: absolute;
  top: 0.13333rem !important;
  right: -0.50667rem !important;
  width: 0.36rem !important;
  height: 0.36rem !important;
  background: url("../images/close.png");
  background-size: 100%; }

.Select {
  position: relative;
  color: #000;
  height: 100%; }
  .Select .s-title {
    height: 1.37333rem;
    background: #f2f2f2;
    position: relative;
    border-top-left-radius: 0.13333rem;
    border-top-right-radius: 0.13333rem; }
    .Select .s-title h2 {
      font-size: 0.37333rem;
      line-height: 0.4rem;
      padding-left: 0.53333rem;
      padding-top: 0.4rem; }
    .Select .s-title b {
      font-size: 0.18667rem;
      color: #9a9a9a;
      font-weight: normal;
      padding-left: 0.53333rem; }
  .Select .s-bangshu {
    padding-top: 0.26667rem;
    padding-bottom: 0.26667rem; }
    .Select .s-bangshu ul {
      margin-left: 0.53333rem; }
      .Select .s-bangshu ul li {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        background: #f2f2f2;
        border-radius: 50%;
        text-align: center;
        line-height: 1.2rem;
        font-size: 0.30667rem;
        color: #4a4a4a;
        margin-right: 0.66667rem;
        font-weight: bold; }
      .Select .s-bangshu ul li.on {
        background: #ab927d;
        color: #fff; }
  .Select .d-tips {
    padding: 0.26667rem 0.53333rem;
    color: #4c4c4c;
    font-size: 0.24rem; }
  .Select .s-num {
    height: 1.33333rem;
    padding-left: 0.53333rem;
    border-top: #ededed 1px solid; }
    .Select .s-num b {
      display: inline-block;
      width: 2.66667rem;
      margin: 0.26667rem 0;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-num .num-box {
      display: inline-block;
      margin: 0.26667rem 0.53333rem 0.26667rem 0.26667rem;
      float: right;
      height: 0.74667rem;
      position: relative;
      width: 2.66667rem; }
    .Select .s-num .num-box a {
      display: block;
      width: 0.74667rem;
      height: 0.74667rem;
      position: absolute;
      top: 0.02667rem; }
    .Select .s-num .num-box .minus {
      background: url("../images/minus.png") no-repeat;
      background-size: 100%;
      left: 0; }
    .Select .s-num .num-box .plus {
      background: url("../images/plus.png") no-repeat;
      background-size: 100%;
      right: 0; }
    .Select .s-num .num-box span {
      display: block;
      color: #626262;
      display: block;
      font-size: 0.4rem;
      height: 0.74667rem;
      left: 0.8rem;
      line-height: 0.74667rem;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.06667rem; }
  .Select .s-prices {
    font-size: 0.29333rem;
    padding: 0.4rem 0.53333rem;
    border-top: #ededed 1px solid;
    color: #4a4a4a; }
    .Select .s-prices b {
      display: inline-block;
      width: 2.66667rem;
      margin: 0;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-prices p {
      display: block;
      line-height: 0.74667rem;
      text-align: right; }
    .Select .s-prices i {
      font-style: normal; }
    .Select .s-prices span {
      font-size: 0.6rem; }
  .Select s {
    color: #7e7e7e; }
  .Select .btns {
    width: 100%;
    position: relative;
    bottom: 0rem;
    display: flex;
    height: 1.33333rem;
    line-height: 1.33333rem;
    flex-direction: row;
    text-align: center;
    font-size: 0.4rem;
    color: #fff; }
    .Select .btns div {
      flex: 1;
      cursor: pointer;
      width: 50%; }
    .Select .btns .go-car {
      background: #f7e244;
      border-bottom-left-radius: 0.13333rem;
      float: left;
      color: #4a4a4a; }
    .Select .btns .go-buy {
      background: #ab927d;
      border-bottom-right-radius: 0.13333rem;
      float: left;
      color: #fff; }
    .Select .btns .go-buy.single {
      border-bottom-left-radius: 0.26667rem;
      background: #ffe32a;
      color: #000; }
