@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

#userBox{ position: relative; width: px2rem(93); height:px2rem(74);
    line-height:px2rem(12); margin-top: px2rem(-80);
  .icon-car{ position: relative; width:px2rem(93); height: px2rem(74); background: url("../images/icon-car.png") center no-repeat; background-size: 100%;
    .s-amount{ position: absolute;display: block; right: px2rem(5); top: px2rem(5); width: px2rem(30);  height:px2rem(30); border-radius: 50%; font-size: px2rem(16); line-height: px2rem(30); text-align: center; background: #8a1c2b; color: #fff; }
  }

}
#evt_content{ background: #fff;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }
  .sec-banner{
    height: px2rem(1193); background: #860102 url("../images/bg.png") no-repeat; background-size: 100%;
    .b-title{width:px2rem(259); top:px2rem(40); left:px2rem(385);}
  }

  .sec-1{ height: px2rem(800); background: #fff9ed url("../images/bg-1.png") center no-repeat; background-size: 100%; padding-top:px2rem(110);
    div{ position: relative;}
    .mianyou{ margin:0 auto; width: px2rem(680); height: px2rem(650);
      .you{width: px2rem(566); height: px2rem(149); margin:0 auto; }
      .baoyouli{ padding-top: px2rem(70);
          dt{width:px2rem(666); margin:0 auto px2rem(10);}
          .content{ padding-left: px2rem(8); }
          dd{width: px2rem(159); float: left; margin-right: px2rem(8); cursor: pointer;}
          dd:last-child{margin-right: 0;}
        }
    }
  }

  .ad{position: relative; width: px2rem(750);}
  .sec-2{padding: px2rem(20) 0 px2rem(30); background: #fff9ed url("../images/bg-2.png") center no-repeat; background-size: 100%;
    div{position: relative;}
    .products{
      ul{margin-left:px2rem(15); padding: 0;
        li{ color: #000;  float: left;  font-size:px2rem(15);  margin: 0 px2rem(10) px2rem(18) 0; width: px2rem(354);
          .pro-liimg{position: relative; overflow: hidden;
            .liImg{width: px2rem(360); height:px2rem(341); z-index: 1;}
            .cart-icon{position: absolute; right:px2rem(14); bottom:px2rem(14); width:px2rem(100); height:px2rem(100); background: url("../images/car-icon.png") bottom right no-repeat; background-size: 100%;  cursor: pointer; z-index: 5;}
          }
          .fl {float: left;  text-align: left; font-size: px2rem(18); }
          .fr { float: right;  text-align: left;  }
          .p2,.p3 { margin:0 0 px2rem(15); padding: 0; }
          .p2{height:px2rem(30);}
          .p2 .line{ position: absolute; bottom: 0; left:px2rem(10); color:#dedede; }
          .p1{ padding: px2rem(15) 0 px2rem(5); line-height:px2rem(25);}
          .fr.he{ width: px2rem(50) !important;}
          .p1 .fr {position: relative; height:px2rem(25); line-height:px2rem(25); display: block; font-size: px2rem(18); font-weight: bold; text-indent:px2rem(18);
            .js_bshu{display: block; width:px2rem(77); height:px2rem(25); z-index: 2;}
            .js_bshu.on{ background: #d2d2d2;}
            .dot{position: absolute; display: block; width: px2rem(15); height: px2rem(10); top:px2rem(7); left:px2rem(60); z-index: 0; background: url("../images/dot.png") no-repeat; background-size: 100%;
            }
            ul.js_select{  position: absolute;  width:px2rem(77);  top:px2rem(25);  left: 50%;  text-align: left;  margin-left: px2rem(-38);  font-size:px2rem(18);  background: #eaeaea;  z-index: 10; display: none;
              li{  height:px2rem(30);  width:px2rem(77); text-indent:px2rem(18);  line-height:px2rem(30);  cursor: pointer;  color: #757575;  margin: 0; font-size:px2rem(16);  background: #eaeaea;  }
              strong{  font-size:px2rem(14);  }
              li.on{  color: #000;  }
            }
          }
          .p2 .fl { color: #b1b1b1; font-size: px2rem(18); }
          .p3 .fl { line-height:px2rem(30); font-size:px2rem(27);}
          .p3 .fl b{font-size:px2rem(14); font-weight: normal; vertical-align:sub;}
          .p3 .fl span{font-size:px2rem(34) !important;  vertical-align:sub;}
        }

        .postid{display: none;}
        .selects-l{position: absolute; top: px2rem(-20); right: 0; width: px2rem(100); height: px2rem(60); background:url("../images/dot.png") right no-repeat; background-size: 20%; border: none; color:#000; text-indent: px2rem(10); font-size: px2rem(20); font-weight: bold; }


      }
    }

  }

  .btns{position: relative; float: right; width:px2rem(130); height:px2rem(40); background:#ffcd20;  text-align: center; border-radius:px2rem(20); cursor: pointer;
    span{ display: block; color: #000; font-size:px2rem(22); line-height:px2rem(40);}
  }

  .more{position: relative; width:px2rem(750); height:px2rem(120); background:#e9e2d5;  text-align: center; cursor: pointer;
    span{ display: block; color: #000; font-weight: bold; font-size:px2rem(22); line-height:px2rem(120);}
  }

  .sec-footer{background:#a5002f; position: relative;
    .txt{ position: relative; width:px2rem(660); padding-top: px2rem(50); padding-bottom: px2rem(50); margin: 0 auto;  color: #fff;
      h2{font-size: px2rem(30); font-weight: normal; margin-top: px2rem(20); }
      p{ font-size: px2rem(22); padding-left: px2rem(20); line-height:px2rem(35);  text-indent: px2rem(-20);
        margin:px2rem(10) auto 0;}
      p.p1{margin:px2rem(0) auto 0;}
    }


  }

}

/*彈窗*/
.Dialogbg-quan{
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200; display: none;
}



.Dialog-quan{
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size:px2rem(14);
  width:px2rem(550);
  height:px2rem(350);
  margin-top: px2rem(-300);
  margin-left: px2rem(-275);
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999; display: none; border-radius:px2rem(10);
}


.q-closes{ width:px2rem(100); height:px2rem(100); position: absolute; bottom:px2rem(-120); left:50%; margin-left: px2rem(-50); cursor: pointer; z-index: 10; background: url("../images/close.png") center no-repeat; background-size: 60%; }

.quan{
  .txt{ width:px2rem(500); height: 100%; margin:px2rem(50) auto px2rem(40); color: #000;}
  h2{ font-size:px2rem(50); line-height:px2rem(80); text-align: center; }
  h3{ font-size:px2rem(24); margin-bottom: px2rem(40); line-height:px2rem(40); text-align: center; }
  h4{ font-size:px2rem(50); padding-top: px2rem(30); line-height:px2rem(80); text-align: center; }
  p{ font-size:px2rem(22); line-height: 1.5;  margin-top: px2rem(10);  margin-bottom: px2rem(10); text-align: center;  color: #666666; }
}



.Dialogbg-Select{
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200; display: none;
}



.Dialog-Select{
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size:px2rem(14);
  width:px2rem(600);
  height:px2rem(660);
  margin-top: px2rem(-330);
  margin-left: px2rem(-300);
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999; display: none; border-radius:px2rem(20);
}

.Select{ position: relative; color: #000; height: 100%;
   .s-title{ height:px2rem(103); background: #f2f2f2; position: relative; border-top-left-radius:px2rem(20);  border-top-right-radius:px2rem(20);
     h2{ font-size: px2rem(28); line-height: px2rem(50); padding-left: px2rem(25); padding-top: px2rem(10); }
     b{font-size: px2rem(14); color: #9a9a9a; font-weight: normal; padding-left: px2rem(20);}
   }
   .s-bangshu{ padding-top: px2rem(60);  padding-bottom:px2rem(60); border-bottom: #ededed 1px solid;
     ul{ margin-left: px2rem(40);
       li{ float: left; width:px2rem(90); height: px2rem(90); background: #f2f2f2; border-radius: 50%; text-align: center; line-height: px2rem(90); font-size: px2rem(23); color: #000; margin-right:px2rem(50); font-weight: bold; }
       li.on{ background: #a5002f; color: #fff; }
     }
   }
  .s-num{ height: px2rem(140);
    b{display: inline-block; width:px2rem(200); margin:px2rem(40) px2rem(20); line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    .nums {  display: inline-block; margin:px2rem(40) px2rem(20);  float: right;  height:px2rem(56);  position: relative;  width:px2rem(200);  }
    .nums a {  display: block;   width:px2rem(56); height:px2rem(56);  position: absolute;  top:px2rem(2);  }
    .nums .minus {  background: rgba(0, 0, 0, 0) url("../images/btn-1.png") no-repeat; background-size: 100%;  left: 0;  }
    .nums .plus {  background: rgba(0, 0, 0, 0) url("../images/btn-2.png") no-repeat; background-size: 100%;  right: 0;  }
    .nums input {  background:none;  border: none;  color: #626262;  display: block;  font-size:px2rem(30);  height:px2rem(56);  left:px2rem(60);  line-height:px2rem(56);  padding: 0;  position: absolute;  text-align: center;  top: 0;  width:px2rem(80);  }
  }
  .s-prices{font-size: px2rem(22); padding-left: px2rem(20);
    span{ font-size: px2rem(45);}
  }
  .btns{ width: 100%; position: absolute; bottom:px2rem(0); display: flex; height: px2rem(100); line-height: px2rem(100); flex-direction: row;  text-align: center; font-size: px2rem(30); color: #fff;
    div{ flex: 1; cursor: pointer; width: 50%;}
    .go-car{background: #b39774; border-bottom-left-radius:px2rem(20); float: left; }
    .go-buy{background: #a5002f; border-bottom-right-radius:px2rem(20); float: left;}
  }

}

@media screen and (max-width:330px){
  .baoyouli {
    .content {
      padding-left: px2rem(15) !important;
    }
  }
}
