@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}
*{ vertical-align: baseline !important;}  /*价格符号不对齐*/
#evt_content{ background:url("../images/bg.jpg") repeat;
  img{width:100%;}
  .sec{position: relative; }

  .sec-top{height: px2rem(781); background:url("../images/banner-wap.jpg") repeat; background-size: 100%; z-index: 1; overflow: hidden;
  }



  .hy-title{ width: px2rem(750); margin:px2rem(50) auto px2rem(50); }

  .sec-quan{ position: relative; z-index: 2;
    .cake{ position: relative; width:px2rem(750); margin: 0 auto;
      ul{
        .star{position: absolute; bottom:px2rem(30); right:px2rem(20); width:px2rem(85); height:px2rem(84); background: url("../images/star.png"); background-size: 100%; z-index: 3;}
        li.flip{float: left;position:relative; width:px2rem(360); height:px2rem(347); transition:0.6s; perspective:1000;transform-style:preserve-3d; cursor: pointer; margin: 0 px2rem(7) px2rem(14);
          .front,.back{position:absolute; top: 0; left: 0; backface-visibility:hidden; cursor: pointer; width:px2rem(360);}
          .front{z-index:1; transition:0.6s;}
          .back{z-index:2; transform:rotateY(-180deg); -webkit-transform:rotateY(-180deg); }
          .back.hide{display: none;}
        }
        .flip.hover{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);
          .front{z-index:1;}
          .back{z-index:2 !important;}
        }
      }
      .tips{position: absolute; width:px2rem(750); top:0; left:0; text-align: center; z-index: 5;
        .card{position:relative; width:px2rem(530); height:px2rem(367); margin:px2rem(150) auto;
          .closex{ width:px2rem(50); height:px2rem(50); position: absolute; top:px2rem(30); right:px2rem(30); cursor: pointer; z-index: 8; background: url("../images/close2.png") no-repeat; background-size: 100%;}
        }
      }
    }
    .content{position:relative; width:px2rem(750); margin:px2rem(20) auto 0;
      .t{margin-left:px2rem(30); width: px2rem(279);}
      .buy{position: absolute; width:px2rem(340); top:px2rem(5); right:px2rem(30); text-align: right;
        p{font-size:px2rem(20); color: #602d17;
          span{font-size:px2rem(40);}
          s{margin-left:px2rem(10);}
        }
        .go-btn{ width:px2rem(150); margin:px2rem(10) 0 0 auto; background: #83481b; color: #fff; border-radius:px2rem(40); cursor: pointer; line-height:px2rem(40); font-size:px2rem(16); letter-spacing:px2rem(3); text-align: center;}
      }
    }

  }

  .sec-main{ padding:0 0 px2rem(20);
    .pro-num{ position: relative; float: left; width: px2rem(210); height: px2rem(45); display: inline-block; border: #a70000 1px solid; border-radius: px2rem(45);
      a{ position: absolute; top:0; width:px2rem(40); height:px2rem(40); display:block;}
      .minus{display:inline-block;background:url(../images/in-a-1.png) center no-repeat; left:0; background-size: 100%;}
      .plus{display:inline-block;background:url(../images/in-a-2.png) center no-repeat; right:0; background-size: 100%;}
      .bang{ display:inline-block; width:px2rem(130); line-height:px2rem(45); position:absolute; top:0; left:px2rem(40); text-align:center; color:#a70000; background: none; font-size:px2rem(20); padding:0;}
    }

    .row{ position: relative;
      .cake{position: absolute;}
      .price{position: absolute;}
    }
    .row1{height: px2rem(300);
      .cake{width:px2rem(320); top:px2rem(20); left:px2rem(-10); z-index: 1;}
      .price{top:px2rem(40); left: auto; right:px2rem(20);}

      .price{
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #83481b;}
        .buy_btn_box span{background: #83481b !important;}
        .pro-num{border: #83481b 1px solid !important;
          span{ color: #83481b !important;}
        }
      }

    }
    .row2{height: px2rem(400);
      .cake{ width:px2rem(380); top:0; right:px2rem(-5); z-index: 1;}
      .price{ top: px2rem(50); left:px2rem(20); z-index: 2; }

      .price{
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #a70001;}
        .buy_btn_box span{background: #c65459 !important;}
        .minus{background: url("../images/in-b-1.png"); background-size: 100%;}
        .plus{background: url("../images/in-b-2.png"); background-size: 100%;}
        .pro-num{border: #a70001 1px solid !important;
          span{ color: #a70001 !important;}
        }
      }
    }

    .row3{height: px2rem(400);
      .cake{width:px2rem(330); top:px2rem(-20); left:px2rem(-10); z-index: 1;}
      .price{top:px2rem(80); left: auto; right:px2rem(20);}

      .price{
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #4e7197;}
        .buy_btn_box span{background: #4e7197 !important;}
        .minus{background: url("../images/in-c-1.png"); background-size: 100%;}
        .plus{background: url("../images/in-c-2.png"); background-size: 100%;}
        .pro-num{border: #4e7197 1px solid !important;
          span{ color: #4e7197 !important;}
        }
      }

    }


    .more{width:px2rem(200);position: relative; margin:px2rem(40) auto; background: #cd686d; border-radius:px2rem(50); text-align: center;
      span{ display: block; color: #fff; font-size:px2rem(22); line-height:px2rem(50);}
    }
  }

  .sec-footer{background:#f9e6e1; background-size: 12%; position: relative; padding-bottom: px2rem(50); z-index:1;
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(50); margin: 0 auto;  color: #70676a;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(22); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35); margin:px2rem(5) 0;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }


  /*价格计算【通用】*/
  .price{ position: absolute;  width: px2rem(400); text-align: left; z-index: 2;

    .title{position: relative; width: px2rem(316); margin:px2rem(10) 0;}
    h2{font-size:  px2rem(20); font-weight: normal; line-height: px2rem(50); color: #9e1316;
      i{font-size:  px2rem(20); line-height: px2rem(30); font-style: normal;vertical-align:middle; }
      span{font-size: px2rem(40); }
    }
    s{ font-size:  px2rem(20); color: #c7818b; font-weight: normal; margin-left: px2rem(10);
      span{font-size: px2rem(20); }
    }

    .huangou{position: relative; width:px2rem(400); font-size:px2rem(22); color: #9b4245; margin:0 auto px2rem(10) 0; text-align: left; padding-left: px2rem(35);
      .icnone{position: absolute; left: 0; top:50%; width:px2rem(30); height:px2rem(30); margin-top: px2rem(-15); z-index: 1; }
      .icon{position: absolute; left: 0; top:50%; width:px2rem(30); height:px2rem(30); margin-top: px2rem(-15);z-index: 2; }
      .icon.on{}
    }


    ul.buy_btn_box { width: px2rem(170); overflow: hidden; margin:0 px2rem(10) 0 0; float: left;   }
    ul.buy_btn_box li span { display: block; background: #db8f93 none repeat scroll 0 0;  color: #fff; cursor: pointer; line-height: px2rem(42); padding-top: px2rem(2); font-size: px2rem(22); text-align: center; border-radius: px2rem(27.5); width: px2rem(170); }
  }

}



/*浮动*/
.floater{  position: fixed; width: px2rem(145); height: px2rem(145); bottom: px2rem(20); right: px2rem(10);  z-index: 11; cursor: pointer; display: none;
  img{ width: 100%;}
  .tips{ position: absolute; width: px2rem(50); height: px2rem(50); right:px2rem(-5); top:px2rem(-5); border-radius: 50%; background:url("../images/tips.png") center no-repeat; background-size: 100%; text-align: center; z-index: 12;
    span{display: block; font-size:px2rem(20); color: #fff; line-height:px2rem(50);}
  }
}



/*彈窗*/
.Dialogbg-quan{  background-color: #000;  height: 100%;  left: 0;  opacity: 0.7;  position: fixed;  top: 0;  width: 100%; z-index: 200; display: none;-moz-opacity:.7;filter:alpha(opacity=70); }

.Dialog-quan{  box-shadow: 0 0 0 #999;  font-size:px2rem(14);  width:px2rem(600); height:auto !important; padding:px2rem(1); top: 50%; left: 50%;  margin:px2rem(-300) auto 0 px2rem(-300) !important;  position: fixed; z-index: 99999; display: none;
  .closes{ width:px2rem(50); height:px2rem(50); position: absolute; top:px2rem(30); right:px2rem(40); cursor: pointer; z-index: 8; background: url("../images/close2.png") no-repeat; background-size: 100%;}
  .quan{position: relative; padding:0; border-radius:px2rem(10); overflow: hidden;
    img{margin: 0 auto; width: 100%;}
    .txt{ width:px2rem(400); position: absolute; text-align: center; top:px2rem(150); left: 50%; margin-left:px2rem(-200); letter-spacing: px2rem(3); vertical-align: baseline !important;
      h2{font-size:px2rem(24); color: #83481b; line-height:px2rem(50);}
      span{ vertical-align: baseline !important; }
      p{font-size:px2rem(16); color: #83481b; vertical-align: baseline !important;}
    }
    .go-use{display: block; position: absolute; bottom:px2rem(120); left: 50%; margin-left:px2rem(-100); width:px2rem(200); line-height:px2rem(43); cursor: pointer; border: #602d17 1px solid; color: #602d17; border-radius:px2rem(43); text-align: center; font-size:px2rem(22);
    }
  }
  .quan-2{
    .go-use{bottom: px2rem(100);}
  }
}


.swiper-container {
  position: relative !important;
  width: px2rem(525);
  margin-left: auto;
  margin-right: auto;  overflow: hidden;
}
.swiper-slide { background: #fff; box-shadow: 0 0 px2rem(20) #e9ecea;
  text-align: center;
  width:105%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{width: 100%;}
.swiper-pagination{width: 100%; position: absolute !important; bottom:px2rem(10) !important; }
.swiper-pagination-bullet{margin:0 px2rem(5) !important; background: #fff !important; opacity: 1 !important;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background: #626262 !important;}
.swiper-button-prev{left: px2rem(30); margin-top:px2rem(-150); width: px2rem(39); height: px2rem(71); background: url("../images/prev.png"); background-size: 100%;}
.swiper-button-next{right: px2rem(30); margin-top:px2rem(-150);  width: px2rem(39); height: px2rem(71); background: url("../images/next.png"); background-size: 100%;}
