@charset "UTF-8";
* {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  width: 10rem;
  background: url("../images/bg.png");
  background-size: 16%;
  /*价格计算【通用】*/ }
  #evt_content img {
    width: 100%;
    display: block; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    width: 10rem;
    height: 11.82667rem;
    background: url("../images/banner-wap.png") repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
  #evt_content .hy-title {
    width: 10rem;
    margin: 1.02667rem auto 1.02667rem; }
  #evt_content .sec-calendar {
    margin-top: -1.73333rem;
    z-index: 2; }
    #evt_content .sec-calendar .calendar {
      width: 10rem;
      margin: 0 auto; }
  #evt_content .sec-cake {
    position: relative;
    z-index: 2; }
    #evt_content .sec-cake .cake {
      position: relative;
      width: 10rem;
      margin: 0 auto; }
    #evt_content .sec-cake .price {
      position: absolute;
      bottom: 0.4rem;
      left: 0.66667rem;
      line-height: 0.26667rem !important; }
      #evt_content .sec-cake .price h2 {
        color: #a0714a; }
      #evt_content .sec-cake .price s {
        color: #a0714a;
        margin-left: 0 !important; }
    #evt_content .sec-cake .buy-btn {
      position: absolute;
      width: 2.45333rem;
      bottom: 0.8rem;
      left: 6.66667rem;
      background: #a0714a;
      color: #fff;
      line-height: 0.66667rem;
      border-radius: 0.66667rem;
      text-align: center;
      z-index: 2; }
  #evt_content .sec-main {
    width: 10rem;
    padding: 1px 0 0.26667rem; }
    #evt_content .sec-main .dis {
      position: absolute;
      width: 0.69333rem;
      left: 0;
      top: 1.33333rem; }
    #evt_content .sec-main .pro-num {
      position: relative;
      float: left;
      width: 2.66667rem;
      height: 0.6rem;
      display: inline-block;
      border: #5b9589 1px solid;
      border-radius: 0.6rem; }
      #evt_content .sec-main .pro-num a {
        position: absolute;
        top: -0.26667rem;
        width: 1.06667rem;
        height: 1.06667rem;
        display: block;
        z-index: 2; }
      #evt_content .sec-main .pro-num .minus {
        display: inline-block;
        background: url(../images/in-a-1.png) center no-repeat;
        left: -0.26667rem;
        background-size: 50%; }
      #evt_content .sec-main .pro-num .plus {
        display: inline-block;
        background: url(../images/in-a-2.png) center no-repeat;
        right: -0.26667rem;
        background-size: 50%; }
      #evt_content .sec-main .pro-num .bang {
        display: inline-block;
        width: 1.73333rem;
        line-height: 0.6rem;
        position: absolute;
        top: 0;
        left: 0.46667rem;
        text-align: center;
        color: #5b9589;
        background: none;
        font-size: 0.26667rem;
        padding: 0;
        z-index: 1; }
    #evt_content .sec-main .row {
      position: relative; }
      #evt_content .sec-main .row .cake {
        position: absolute; }
      #evt_content .sec-main .row .price {
        position: absolute; }
    #evt_content .sec-main .row1 {
      height: 5.6rem; }
      #evt_content .sec-main .row1 .cake {
        width: 4rem;
        top: 0;
        left: 0.26667rem;
        z-index: 1; }
      #evt_content .sec-main .row1 .price {
        top: 0.66667rem;
        left: auto;
        right: 0; }
    #evt_content .sec-main .row2 {
      height: 5.6rem; }
      #evt_content .sec-main .row2 .cake {
        width: 4rem;
        top: 0;
        right: 0.26667rem;
        z-index: 1; }
      #evt_content .sec-main .row2 .price {
        top: 0.66667rem;
        left: 0.4rem;
        z-index: 2; }
    #evt_content .sec-main .row3 {
      height: 5.6rem; }
      #evt_content .sec-main .row3 .cake {
        width: 4rem;
        top: 0;
        left: 0.26667rem;
        z-index: 1; }
      #evt_content .sec-main .row3 .price {
        top: 0.66667rem;
        left: auto;
        right: 0; }
    #evt_content .sec-main .code {
      width: 10rem;
      padding: 0.66667rem 0; }
    #evt_content .sec-main .more {
      width: 2.66667rem;
      position: relative;
      margin: 0.53333rem auto;
      background: #cd686d;
      border-radius: 0.66667rem;
      text-align: center; }
      #evt_content .sec-main .more span {
        display: block;
        color: #fff;
        font-size: 0.29333rem;
        line-height: 0.66667rem; }
  #evt_content .sec-footer {
    background: url("../images/foot-bg.png") repeat;
    background-size: 10%;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 1.06667rem;
      margin: 0 auto;
      color: #4c380d; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.29333rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          text-indent: 1.06667rem; }
  #evt_content .price {
    position: absolute;
    width: 5.33333rem;
    text-align: left;
    z-index: 2; }
    #evt_content .price .title {
      position: relative;
      width: 4.70667rem;
      margin: 0.13333rem 0 0.66667rem 0; }
    #evt_content .price h2 {
      font-size: 0.26667rem;
      font-weight: normal;
      line-height: 0.66667rem;
      color: #5b9589; }
      #evt_content .price h2 i {
        font-size: 0.26667rem;
        line-height: 0.4rem;
        font-style: normal;
        vertical-align: middle; }
      #evt_content .price h2 span {
        font-size: 0.45333rem; }
      #evt_content .price h2 em {
        font-style: normal; }
    #evt_content .price s {
      font-size: 0.26667rem;
      color: #000;
      font-weight: normal;
      margin-left: 0.13333rem; }
      #evt_content .price s span {
        font-size: 0.26667rem; }
      #evt_content .price s b {
        font-weight: normal; }
    #evt_content .price ul.buy_btn_box {
      width: 2rem;
      overflow: hidden;
      margin: 0 0.26667rem 0 0;
      float: left; }
    #evt_content .price ul.buy_btn_box li span {
      display: block;
      background: #5b9589 none repeat scroll 0 0;
      color: #fff;
      cursor: pointer;
      line-height: 0.56rem;
      padding-top: 0.02667rem;
      font-size: 0.29333rem;
      text-align: center;
      border-radius: 0.36667rem;
      width: 2rem; }
