<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&#x534A;&#x719F;&#x829D;&#x58EB;</title>

    <!-- build:css styles/index.css -->
    <link rel="stylesheet" href="../commoncss/wap-normalize.css">
    <link rel="stylesheet" href="styles/index.css">
    <!-- endbuild-->
</head>
<body>

<div id="evt_container">
    <div id="iscroll">
        <div class="wrap">
            <header>
                <a href="http://m.mcake.com/wap" class="icon-back"></a>
                <div class="title">
                    <span>圣诞节</span><br><span>Christmas</span>
                </div>
                <a href="http://m.mcake.com/wap" class="icon-home"></a>
            </header>
            <div id="evt_loading" style="display:none;">0%</div>
            <div id="evt_content" style="display:none;">
                <div class="a"><img src="http://edm.mcake.com/weifengwang/common/no.jpg" alt="" src-fix="a_jpg"></div>
                <div class="b"><img src="http://edm.mcake.com/weifengwang/common/no.jpg" alt="" src-fix="b_png"></div>
            </div>


        </div>
    </div>
</div>
<script type="text/javascript" src="http://www.mcake.com/framework/jquery/jquery.min.js?v=1405950469"></script>
<script src="http://edm.mcake.com/weifengwang/common/flexible.js"></script>
<!-- build:js scripts/index.js -->
<script src="../commonjs/pubsub.js"></script>
<script src="../commonjs/loader.js"></script>
<script src="scripts/resdata.js"></script>
<script src="scripts/index.js"></script>
<!-- endbuild -->
</body>
</html>