@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}
*{ vertical-align: baseline !important;}  /*价格符号不对齐*/
#evt_content{
  img{width:100%; display: block;}
  .sec{position: relative; }

  .sec-top{height: px2rem(934); background:url("../images/banner-wap.jpg") repeat; background-size: 100%; z-index: 1; overflow: hidden;
  }



  .hy-title{ width: px2rem(750); margin:px2rem(50) auto px2rem(50); }

  .sec-cake{ position: relative; z-index: 2;
    .cake{ position: relative; width:px2rem(750); margin: 0 auto;}
    .price{position: absolute;top: px2rem(365); left: px2rem(100);
      h2{ color: #fff; }
      s{ color: #fff; }
    }
    .buy-btn{position: absolute; width: px2rem(184); height: px2rem(50); top: px2rem(420); left: px2rem(100); background: url("../images/buy-btn.png"); background-size: 100%; z-index: 2;}

  }

  .sec-main{ padding:1px 0 px2rem(20); background: url("../images/sec-2.jpg"); background-size: 10%;
    .pro-num{ position: relative; float: left; width: px2rem(200); height: px2rem(45); display: inline-block; border: #f4f6d2 1px solid; border-radius: px2rem(45);
      a{ position: absolute; top:0; width:px2rem(40); height:px2rem(40); display:block;}
      .minus{display:inline-block;background:url(../images/in-a-1.png) center no-repeat; left:0; background-size: 100%;}
      .plus{display:inline-block;background:url(../images/in-a-2.png) center no-repeat; right:0; background-size: 100%;}
      .bang{ display:inline-block; width:px2rem(130); line-height:px2rem(45); position:absolute; top:0; left:px2rem(35); text-align:center; color:#f4f6d2; background: none; font-size:px2rem(20); padding:0;}
    }

    .row{ position: relative;
      .cake{position: absolute;}
      .price{position: absolute;}
    }
    .row1{height: px2rem(400);
      .cake{width:px2rem(280); top:0; left:px2rem(30); z-index: 1;}
      .price{top:px2rem(30); left: auto; right:0;}


    }
    .row2{height: px2rem(400);
      .cake{ width:px2rem(280); top:0; right:px2rem(30); z-index: 1;}
      .price{ top: px2rem(30); left:px2rem(20); z-index: 2; }
    }

    .row3{height: px2rem(400);
      .cake{width:px2rem(280); top:0; left:px2rem(30); z-index: 1;}
      .price{top:px2rem(30); left: auto; right:0;}

    }

    .code{width: px2rem(750); padding: px2rem(50) 0;}
    .more{width:px2rem(200);position: relative; margin:px2rem(40) auto; background: #cd686d; border-radius:px2rem(50); text-align: center;
      span{ display: block; color: #fff; font-size:px2rem(22); line-height:px2rem(50);}
    }
  }

  .sec-footer{background: url("../images/foot-bg.jpg"); background-size: 10%; position: relative; padding-bottom: px2rem(50); z-index:1;
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(80); margin: 0 auto;  color: #fff;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(22); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35); margin:px2rem(5) 0;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }


  /*价格计算【通用】*/
  .price{ position: absolute;  width: px2rem(400); text-align: left; z-index: 2;

    .title{position: relative; width: px2rem(328); margin:px2rem(10) 0 px2rem(50) 0;}
    h2{font-size:  px2rem(20); font-weight: normal; line-height: px2rem(50); color: #f4f6d2;
      i{font-size:  px2rem(20); line-height: px2rem(30); font-style: normal;vertical-align:middle; }
      span{font-size: px2rem(34); }
      em{font-style:normal;}
    }
    s{ font-size:  px2rem(20); color: #f4f6d2; font-weight: normal; margin-left: px2rem(10);
      span{font-size: px2rem(20); }
      b{font-weight:normal;}
    }

    ul.buy_btn_box { width: px2rem(150); overflow: hidden; margin:0 px2rem(10) 0 0; float: left;   }
    ul.buy_btn_box li span { display: block; background: #f4f6d2 none repeat scroll 0 0;  color: #302f50; cursor: pointer; line-height: px2rem(42); padding-top: px2rem(2); font-size: px2rem(22); text-align: center; border-radius: px2rem(27.5); width: px2rem(150); }
  }

}




