.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/*html,body,#evt_container{height: 100%;}*/
#iscroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: #f0f0f0; }

input:disabled {
  color: #000;
  opacity: 0.5; }

#evt_content {
  background: #f0f0f0; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-2 {
    width: 10rem;
    background: #770000 url("../images/bg.jpg") top no-repeat;
    background-size: 100%;
    padding-top: 0.01333rem;
    padding-bottom: 0.4rem; }
    #evt_content .sec-2 .lingquan {
      position: relative;
      margin: 11.6rem auto 0;
      width: 9.32rem;
      text-align: center;
      background: #fff;
      padding: 0.13333rem 0.4rem;
      border-radius: 0.26667rem; }
      #evt_content .sec-2 .lingquan .tip {
        width: 6.02667rem;
        margin: 0 auto 0.26667rem;
        line-height: 1.33333rem;
        font-size: 0.4rem;
        color: #fff; }
      #evt_content .sec-2 .lingquan .line {
        position: relative;
        width: 100%;
        height: 1.33333rem;
        margin-bottom: 0.4rem;
        background: #fff;
        border-radius: 0.66667rem; }
        #evt_content .sec-2 .lingquan .line .icon {
          display: block;
          position: absolute;
          left: 0.93333rem;
          top: 50%;
          width: 0.53333rem;
          height: 0.58667rem;
          background: url("../images/icon-1.png");
          background-size: 100%;
          margin-top: -0.29333rem; }
        #evt_content .sec-2 .lingquan .line .icon.ys {
          background: url("../images/icon-2.png");
          background-size: 100%; }
        #evt_content .sec-2 .lingquan .line .icon.code {
          background: url("../images/code.png");
          background-size: 100%; }
        #evt_content .sec-2 .lingquan .line input {
          width: 100%;
          height: 100%;
          border: none;
          background: #ececec;
          padding-left: 1.73333rem;
          font-size: 0.34667rem;
          border-radius: 0.66667rem; }
        #evt_content .sec-2 .lingquan .line .yzm {
          display: block;
          position: absolute;
          right: -2.8rem;
          top: 0;
          color: #fb4445;
          cursor: pointer;
          text-align: left;
          width: 2.66667rem; }
          #evt_content .sec-2 .lingquan .line .yzm span {
            float: left; }
          #evt_content .sec-2 .lingquan .line .yzm input {
            color: #686868;
            padding: 0;
            float: left;
            line-height: 1.33333rem;
            border-radius: 0; }
          #evt_content .sec-2 .lingquan .line .yzm #yzm_img {
            vertical-align: middle;
            margin: 0.13333rem 0;
            padding: 0; }
      #evt_content .sec-2 .lingquan .line.line2 {
        width: 66%; }
      #evt_content .sec-2 .lingquan .btn {
        position: relative;
        width: 8.58667rem;
        margin: 0 auto;
        color: #fff;
        font-size: 0.45333rem;
        line-height: 1.06667rem; }

.sec-bottom {
  text-align: center;
  width: 100%;
  padding: 0.53333rem 0;
  color: #fff;
  background: #770000; }
  .sec-bottom .logos {
    width: 2.88rem;
    margin: 0.13333rem auto; }
  .sec-bottom .txt {
    text-align: left;
    width: 9.6rem;
    margin: 0 auto;
    background: #880a08;
    padding: 0.26667rem 0.26667rem; }
    .sec-bottom .txt h2 {
      font-size: 0.4rem;
      color: #f7e4c4; }
    .sec-bottom .txt p {
      font-size: 0.34667rem;
      line-height: 0.53333rem; }

.Dialog-bg {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog {
  box-shadow: 0 0 0 #999;
  font-size: 0.18667rem;
  width: 8.53333rem;
  height: 5.33333rem;
  margin-top: -2.66667rem;
  margin-left: -4.26667rem;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 0.26667rem;
  background: #fff; }
  .Dialog p {
    font-size: 0.53333rem;
    line-height: 0.66667rem;
    text-align: center;
    margin: 1.33333rem auto 1.06667rem;
    color: #770000; }
  .Dialog .closeX {
    position: absolute;
    top: 0.26667rem;
    right: 0.26667rem;
    width: 0.38667rem;
    height: 0.38667rem;
    background: url("../images/close.png");
    background-size: 100%; }
  .Dialog .gobtn {
    width: 3.69333rem;
    height: 0.93333rem;
    margin: 0 auto;
    background: url("../images/btn.png");
    background-size: 100%; }
