@charset "UTF-8";
#evt_content img {
  width: 100%; }

#evt_content .a {
  width: 2.89333rem;
  top: 0.13333rem;
  left: 0.13333rem; }

#evt_content .b {
  width: 11.10667rem;
  top: 2.66667rem;
  left: 0; }

#evt_content .section-top {
  position: relative;
  height: 15.29333rem;
  background: #fdf6f6;
  z-index: 2; }
  #evt_content .section-top > div {
    position: absolute; }
  #evt_content .section-top .b-title {
    width: 10rem;
    top: 1.06667rem;
    left: 0; }
  #evt_content .section-top .cake {
    width: 10rem;
    top: 5.86667rem;
    left: 0; }
  #evt_content .section-top .txt {
    position: absolute;
    top: 4.13333rem;
    left: 2.66667rem;
    width: 6.24rem;
    height: 2.18667rem;
    background: url("../images/txt-bg.png");
    background-size: 100%;
    color: #fff;
    font-size: 0.32rem; }
    #evt_content .section-top .txt p.p1 {
      padding-left: 0.4rem;
      line-height: 0.93333rem;
      margin-top: 0.08rem; }
    #evt_content .section-top .txt p.p2 {
      padding-left: 0.8rem;
      line-height: 1.2rem; }

#evt_content .section-main {
  position: relative;
  background: #fdf6f6;
  z-index: 0; }
  #evt_content .section-main .fen {
    width: 4.66667rem;
    height: 1.08rem;
    background: url("../images/fen.png");
    background-size: 100%;
    margin: 0 auto; }
  #evt_content .section-main .slider {
    width: 8.88rem;
    position: relative;
    margin: 0 auto;
    border-bottom: 2px solid #959595; }
    #evt_content .section-main .slider .prev, #evt_content .section-main .slider .next {
      width: 1.2rem;
      top: 4.66667rem;
      position: absolute; }
    #evt_content .section-main .slider .prev {
      left: 0; }
    #evt_content .section-main .slider .next {
      right: 0; }
  #evt_content .section-main .slideOuter {
    width: 6rem;
    height: 9.6rem;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 0.66667rem; }
    #evt_content .section-main .slideOuter ul {
      width: 37.33333rem;
      padding: 0; }
    #evt_content .section-main .slideOuter li {
      width: 6.13333rem;
      margin: 0 0.06667rem 0 0;
      color: #242424;
      font-size: 0.26667rem;
      float: left;
      list-style: none; }
      #evt_content .section-main .slideOuter li .fl {
        float: left; }
      #evt_content .section-main .slideOuter li .fl.ftitle {
        width: 2.66667rem;
        height: 0.8rem;
        overflow: hidden;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: left;
        justify-content: left;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center; }
      #evt_content .section-main .slideOuter li .fr {
        float: right; }
      #evt_content .section-main .slideOuter li .p1 {
        margin: 0.13333rem 0 0;
        width: 98%; }
      #evt_content .section-main .slideOuter li .p2 {
        padding-top: 0.01333rem;
        width: 98%;
        margin: 0;
        display: none; }
        #evt_content .section-main .slideOuter li .p2 .fr {
          color: #a40000; }
          #evt_content .section-main .slideOuter li .p2 .fr span {
            font-size: 0.29333rem; }
        #evt_content .section-main .slideOuter li .p2 .fl {
          padding-top: 0.02667rem; }
      #evt_content .section-main .slideOuter li .buybtn {
        width: 48%;
        height: 0.72rem;
        display: inline-block;
        border-radius: 0.02667rem;
        float: left;
        text-decoration: none;
        margin: 0.06667rem 0 0 0;
        background: #cc0033;
        color: #ffffff;
        text-align: center;
        line-height: 0.72rem;
        font-size: 0.34667rem;
        position: static; }
      #evt_content .section-main .slideOuter li .buybtn.go-buy {
        float: right; }
    #evt_content .section-main .slideOuter .pro-num {
      position: relative;
      float: right;
      width: 3.06667rem;
      height: 0.53333rem;
      margin-top: 0.13333rem;
      display: inline-block; }
      #evt_content .section-main .slideOuter .pro-num a {
        position: absolute;
        width: 0.53333rem;
        height: 0.53333rem;
        display: block; }
      #evt_content .section-main .slideOuter .pro-num .minus {
        display: inline-block;
        background: url(../images/btn-1.png);
        left: 0;
        background-size: 100%; }
      #evt_content .section-main .slideOuter .pro-num .plus {
        display: inline-block;
        background: url(../images/btn-2.png);
        right: 0;
        background-size: 100%; }
      #evt_content .section-main .slideOuter .pro-num input {
        border: none;
        display: inline-block;
        background: url(../images/input.png);
        background-size: 100%;
        width: 2rem;
        height: 0.53333rem;
        position: absolute;
        top: 0;
        left: 0.53333rem;
        text-align: center;
        color: #626262;
        font-size: 0.24rem;
        padding: 0; }
  #evt_content .section-main .slideOuter.slideOuter2 li .buybtn {
    width: 100%; }
  #evt_content .section-main .text1893 {
    width: 2.32rem;
    margin: 0.26667rem auto 0; }
  #evt_content .section-main .rules {
    padding: 0.66667rem 0.8rem 1.06667rem;
    color: #2b2b2b;
    line-height: 0.53333rem; }
    #evt_content .section-main .rules h2 {
      font-weight: normal;
      font-size: 0.48rem;
      line-height: 0.8rem; }
    #evt_content .section-main .rules p {
      font-size: 0.34667rem;
      padding-left: 0.46667rem;
      line-height: 0.6rem;
      text-indent: -0.46667rem;
      margin: 0.13333rem 0; }

.sec-huodong {
  position: relative;
  z-index: 5;
  padding-top: 0.66667rem;
  padding-bottom: 4.66667rem; }
  .sec-huodong .center {
    text-align: center; }
  .sec-huodong h2 {
    color: #82614c;
    font-size: 0.53333rem;
    text-align: center; }
  .sec-huodong p {
    font-size: 0.42667rem;
    line-height: 0.66667rem;
    padding-left: 0.4rem;
    text-indent: -0.4rem; }
  .sec-huodong span {
    color: #ed7920; }
  .sec-huodong .hd-time {
    width: 9.06667rem;
    color: #000;
    margin: 0 auto; }
  .sec-huodong .hd-guize {
    width: 9.06667rem;
    color: #000;
    margin: 0.4rem auto 0; }
    .sec-huodong .hd-guize p {
      margin: 0.26667rem 0; }

.sec-footer {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-bottom: 0.66667rem;
  margin-top: -4rem; }
  .sec-footer .step {
    width: 9.97333rem;
    margin: 0 auto; }
  .sec-footer .code {
    width: 5.22667rem;
    margin: 0.66667rem auto 0; }
  .sec-footer .code1 {
    margin-top: 0.26667rem; }
  .sec-footer .text {
    width: 5.22667rem;
    margin: 0.26667rem auto;
    text-align: center; }
    .sec-footer .text h2 {
      color: #82614c;
      font-size: 0.61333rem;
      margin-bottom: 0.13333rem; }
    .sec-footer .text p {
      font-size: 0.30667rem;
      margin-top: 0.13333rem; }
    .sec-footer .text p.cs {
      margin: 0;
      font-weight: bold; }

/*浮动*/
.floater {
  position: fixed;
  width: 1.93333rem;
  height: 1.93333rem;
  bottom: 0.26667rem;
  right: 0.13333rem;
  z-index: 11;
  cursor: pointer;
  display: none; }
  .floater img {
    width: 100%; }
  .floater .tips {
    position: absolute;
    width: 0.66667rem;
    height: 0.66667rem;
    right: -0.06667rem;
    top: -0.06667rem;
    border-radius: 50%;
    background: url("../images/tips.png") center no-repeat;
    background-size: 100%;
    text-align: center;
    z-index: 12; }
    .floater .tips span {
      display: block;
      font-size: 0.26667rem;
      color: #fff;
      line-height: 0.66667rem; }
