@charset "UTF-8";
#evt_content {
  background: #fff3df; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    height: 4.65333rem;
    background: url("../images/banner-wap.jpg") repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
  #evt_content .sec-1 {
    padding: 0.66667rem 0 0.93333rem;
    background: #f8e4e4;
    background-size: 100%; }
    #evt_content .sec-1 div {
      position: relative; }
    #evt_content .sec-1 .s-sction-1 {
      width: 10rem;
      margin: 0 auto; }
  #evt_content .sec-2 {
    height: 8.89333rem;
    background: url("../images/s-sction-2-bg.jpg");
    background-size: 100%; }
    #evt_content .sec-2 .s-sction-2 {
      width: 10rem;
      top: -0.66667rem; }
    #evt_content .sec-2 .buy-btn {
      width: 2.17333rem;
      top: 5.4rem;
      left: 1.6rem; }
    #evt_content .sec-2 .cake-link {
      width: 5.33333rem;
      height: 4.66667rem;
      top: 2rem;
      right: 0; }
  #evt_content .sec-3 {
    padding: 0.66667rem 0 0.53333rem;
    background: #f8e4e4;
    background-size: 100%; }
    #evt_content .sec-3 div {
      position: relative; }
    #evt_content .sec-3 .section-3-title {
      width: 6.86667rem;
      margin: 0 auto; }
    #evt_content .sec-3 .video {
      width: 9.02667rem;
      margin: 0 auto; }
    #evt_content .sec-3 video {
      width: 100%; }
    #evt_content .sec-3 p {
      color: #700001;
      font-size: 0.24rem;
      text-align: center;
      line-height: 0.4rem; }
  #evt_content .sec-4 {
    padding: 0.66667rem 0 0.53333rem;
    background: url("../images/s-sction-2-bg.jpg");
    background-size: 100%;
    z-index: 2; }
    #evt_content .sec-4 div {
      position: relative; }
    #evt_content .sec-4 .s-sction-4 {
      width: 10rem;
      margin: 0 auto;
      z-index: 2; }
    #evt_content .sec-4 .recording {
      position: absolute;
      bottom: 0.66667rem;
      left: 0.77333rem;
      width: 1.33333rem;
      height: 0.38667rem;
      background: url("../images/recording.png");
      background-size: 100%;
      z-index: 5; }
      #evt_content .sec-4 .recording .rec-1 {
        position: absolute;
        top: 0.09333rem;
        left: 0.13333rem;
        width: 0.28rem;
        height: 0.21333rem;
        background: url("../images/record-icon.png");
        background-size: 100%; }
      #evt_content .sec-4 .recording .rec-2 {
        position: absolute;
        top: 0.09333rem;
        left: 0.13333rem;
        width: 0.28rem;
        height: 0.21333rem;
        display: none;
        background: url("../images/record-icon.gif");
        background-size: 100%; }
      #evt_content .sec-4 .recording .recording-hd {
        position: absolute;
        right: -0.13333rem; }
        #evt_content .sec-4 .recording .recording-hd em {
          position: absolute;
          display: block;
          width: 0.13333rem;
          height: 0.13333rem;
          background: #e60012;
          border-radius: 100%;
          top: 0.10667rem;
          -webkit-animation: fadeToggle 2s infinite ease-in-out;
          animation: fadeToggle 2s infinite ease-in-out; }
        #evt_content .sec-4 .recording .recording-hd b {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0;
          line-height: 0.44rem;
          color: #000; }
    #evt_content .sec-4 .piaodai {
      position: absolute;
      bottom: -1.01333rem;
      left: 0;
      width: 1.56rem;
      z-index: 1; }
  #evt_content .sec-5 {
    padding: 0.66667rem 0 1.33333rem;
    background: #f9e3e4;
    background-size: 100%;
    z-index: 1; }
    #evt_content .sec-5 div {
      position: relative; }
    #evt_content .sec-5 .s-sction-5 {
      width: 10rem;
      margin: 0 auto; }
  #evt_content .hy-title {
    position: relative;
    width: 10rem;
    margin: 0.4rem auto; }
  #evt_content .sec-footer {
    background: #5e0700;
    background-size: 12%;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .more-bg {
      width: 10rem;
      top: -1.33333rem; }
      #evt_content .sec-footer .more-bg .more {
        width: 2.25333rem;
        top: 2rem;
        left: 3.73333rem; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 2.4rem;
      margin: 0 auto;
      color: #fff;
      text-align: left; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.30667rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0;
        text-align: left; }
        #evt_content .sec-footer .txt p span {
          display: block;
          padding-left: 0.13333rem;
          text-indent: -0.13333rem; }

/*录音闪烁*/
@-webkit-keyframes fadeToggle {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeToggle {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
