@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{  background:#fff3df;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }

  .sec-top{
    height: px2rem(349); background:url("../images/banner-wap.jpg") repeat; background-size: 100%; z-index: 1; overflow: hidden;}

  .sec-1{ padding: px2rem(50) 0 px2rem(70); background:#f8e4e4; background-size: 100%;
    div{position:relative;}
    .s-sction-1{width:px2rem(750); margin:0 auto;}
  }
  .sec-2{ height: px2rem(667); background:url("../images/s-sction-2-bg.jpg"); background-size: 100%;
    .s-sction-2{width:px2rem(750); top:px2rem(-50);}
    .buy-btn{ width:px2rem(163); top: px2rem(405); left: px2rem(120);}
    .cake-link{ width:px2rem(400); height: px2rem(350); top: px2rem(150); right:0; }
  }
  .sec-3{ padding: px2rem(50) 0 px2rem(40); background:#f8e4e4; background-size: 100%;
    div{position:relative;}
    .section-3-title{width:px2rem(515); margin:0 auto;}
    .video{width:px2rem(677); margin:0 auto;}
    video{width: 100%;}
    p{color: #700001; font-size: px2rem(18); text-align: center; line-height: px2rem(30);}
  }

  .sec-4{ padding: px2rem(50) 0 px2rem(40); background:url("../images/s-sction-2-bg.jpg"); background-size: 100%; z-index: 2;
    div{position:relative;}
    .s-sction-4{width:px2rem(750); margin:0 auto; z-index: 2;}
    .recording{position: absolute; bottom: px2rem(50); left: px2rem(58); width: px2rem(100); height: px2rem(29); background: url("../images/recording.png"); background-size: 100%;  z-index: 5;
      .rec-1{position: absolute; top:px2rem(7); left:px2rem(10); width: px2rem(21); height: px2rem(16); background: url("../images/record-icon.png"); background-size: 100%;}
      .rec-2{position: absolute; top:px2rem(7); left:px2rem(10); width: px2rem(21); height: px2rem(16); display: none; background: url("../images/record-icon.gif"); background-size: 100%;}
      .recording-hd{position: absolute; right: px2rem(-10);
        em{ position: absolute; display: block; width:px2rem(10); height:px2rem(10); background: #e60012; border-radius: 100%; top:px2rem(8); -webkit-animation:fadeToggle 2s infinite ease-in-out; animation:fadeToggle 2s infinite ease-in-out; }
        b{ display: block; width: 100%; height: 100%; margin: 0; line-height:px2rem(33); color: #000; }
      }
    }
    .piaodai{position: absolute; bottom: px2rem(-76); left:0; width:px2rem(117);z-index: 1;}
  }
  .sec-5{ padding: px2rem(50) 0 px2rem(100); background:#f9e3e4; background-size: 100%; z-index: 1;
    div{position:relative;}
    .s-sction-5{width:px2rem(750); margin:0 auto;}
  }
  .hy-title{position: relative; width: px2rem(750); margin:px2rem(30) auto; }

  .sec-footer{background:#5e0700; background-size: 12%; position: relative; padding-bottom: px2rem(50); z-index:1;
    .more-bg{width:px2rem(750); top: px2rem(-100);
      .more{width: px2rem(169); top: px2rem(150); left: px2rem(280);}
    }
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(180); margin: 0 auto;  color: #fff; text-align: left;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(23); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35);
        margin:px2rem(5) 0;text-align: left;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }





}

/*录音闪烁*/
@-webkit-keyframes fadeToggle{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes fadeToggle{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity:0;}
}

/*公告无缝滚动*/
.moveBox{position: relative; width:100%; margin: 0 auto px2rem(50); overflow: hidden; white-space:nowrap; }
.move{position: absolute; width:px2rem(1700); top: 0; left:100%; white-space:nowrap; animation:moveAni 15s infinite linear normal; }
.item{float: left; width:px2rem(800); font-size: px2rem(20);}
@keyframes moveAni{
  0%{left:0;}
  100%{left: px2rem(-800); } /*left移动的长度和item的宽度一致*/
}