@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem;
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{  background:#fef8fa;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; color: #000;}
  .sec-top{ height: px2rem(1041); background:url("../images/banner.jpg") repeat; background-size: 100%; z-index: 1; overflow: hidden; }
  .rose{position:absolute !important; width: px2rem(461); height: px2rem(434); background: url("../images/rose.png") no-repeat; background-size: 100%;}
  .rose-1{ right:px2rem(-200); top:px2rem(-200);}
  .rose-2{left:px2rem(-200); top:px2rem(795);}
  .rose-3{right:px2rem(-250); top:px2rem(622);}
  .rose-4{left:px2rem(-250); top:px2rem(1800);}

  .rose-5{right:px2rem(-250); top:px2rem(1596);}
  .rose-6{left:px2rem(-250); top:px2rem(2698);}

  .rose-7{right:px2rem(-250); top:px2rem(-150);}
  .rose-8{left:px2rem(-250); top:auto; bottom: px2rem(-200);}


  .sec-1{
    div{position:relative;}
    .title,.cake{margin: 0 auto;}
    .title{margin-top: px2rem(46);}
    .swiper1{ height:px2rem(543);}
    .word{ margin-top:px2rem(100); text-align: center;
      h2{font-size:px2rem(50); line-height:px2rem(80);  font-weight: normal; }
      p{font-size:px2rem(24); line-height:px2rem(30);}
    }
    .row-cake{position: relative; width: px2rem(705); margin:px2rem(77) auto 0;}
    .swiper1{position: relative; }
    .swiper-button{position: absolute; width: px2rem(44); height: px2rem(44); top: 50%; z-index: 10; margin-top: px2rem(-22);}
    .swiper-button-prev1{ background: url("../images/sw1-prev.png") no-repeat; background-size: 100%; left: px2rem(20);}
    .swiper-button-next1{ background: url("../images/sw1-next.png") no-repeat; background-size: 100%; right: px2rem(20);}
  }

  .sec-2{ position: relative;
    div{position:relative;}
    .cake-slides{width: px2rem(705); margin:px2rem(77) auto px2rem(140);}
    .bar{position: absolute;  bottom: px2rem(-184); width:px2rem(750); height:px2rem(295);background: url("../images/bar.png") center no-repeat; background-size: 100%; z-index: 2;}
    .swiper-button{position: absolute; width: px2rem(60); height: px2rem(60); top: 50%; z-index: 10; margin-top: px2rem(-60);}
    .swiper-button-prev2{ background: url("../images/sw2-prev.png") no-repeat; background-size: 100%; left: px2rem(80);}
    .swiper-button-next2{ background: url("../images/sw2-next.png") no-repeat; background-size: 100%; right: px2rem(80);}
  }


  .sec-3{ position: relative;
    div{position:relative;}
    .title,.cake{margin: 0 auto;}
    .word{ margin-top:px2rem(60); text-align: center;
      icon{margin: 0 auto;}
      h2{font-size: px2rem(50); line-height:px2rem(80);  font-weight: normal; }
      h3{font-size: px2rem(40); line-height: px2rem(80); font-weight: normal;}
      h4{font-size: px2rem(40); line-height: px2rem(80); font-weight: normal;}
      p{font-size: px2rem(22); line-height: px2rem(34);}
      span{font-size: px2rem(24);line-height:px2rem(40);}
    }
    .ad{width: px2rem(705); margin:px2rem(77) auto 0;}
    .tips{width: px2rem(597); margin:px2rem(10) auto 0;}
    .ewm{width: px2rem(416); margin:px2rem(20) auto 0;}
    .cake{width: px2rem(705); margin:px2rem(70) auto 0;}
    .w-icon{width: px2rem(38); margin: 0 auto;}
  }




  .sec-footer{ background-size: 100%; position: relative; padding-bottom: px2rem(20);
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(70); margin: 0 auto;  color: #000;
      h2{font-size: px2rem(30); font-weight: normal; }
      p{ font-size: px2rem(22); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35);
        margin:px2rem(5) 0;}
    }
  }

}



/*价格*/
.price{ position: relative;  width:px2rem(230); text-align: center; margin:px2rem(60) auto;
  .icon-xs{width:px2rem(183); margin:0 auto px2rem(20) auto;}
  h2{font-size:px2rem(20); font-weight: normal; line-height:px2rem(50); color: #f57994;
    i{font-size:px2rem(22); font-style: normal;vertical-align: baseline; }
    span{font-size:px2rem(40); color: #f57994; }
  }
  s{font-size:px2rem(24); color: #888888; font-weight: normal; line-height:px2rem(30); text-decoration: sh;}

  .price_num{width:px2rem(200); margin:px2rem(20) auto px2rem(30);}
  .price_num dl {  float: left;  }
  .price_num dl dd {  background: #fff url("../images/in-l.png") center no-repeat; background-size: 100%;  cursor: pointer;  float: left;  height: px2rem(50);  width: px2rem(50); }
  .price_num dl dd.nopoint {  background: #fff url("../images/in-r.png") center no-repeat; background-size: 100%; }
  .price_num dl dd.on {  background: #fff url("../images/in-l-h.png") center no-repeat; background-size: 100%; }
  .price_num dl dd.nopoint.on {  background: #fff url("../images/in-r-h.png") center no-repeat; background-size: 100%; }

  .price_num dl dt {  float: left;  height:px2rem(50); margin: 0 px2rem(5);  }
  .price_num dl dt span { display: block; background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  border: medium none;  color: #000;  height:px2rem(50); text-align: center;  width:px2rem(80); font-size:px2rem(28); line-height:px2rem(50); font-weight: bold; }

  ul.buy_btn_box {  overflow: hidden; width:px2rem(200); margin:px2rem(10) auto; }
  ul.buy_btn_box li {margin-right:px2rem(5); }
  ul.buy_btn_box li span { display: block; width:px2rem(200); background:none;  border:#c9c9c9 1px solid; color: #000; cursor: pointer;line-height:px2rem(60); font-size:px2rem(26);  text-align: center;  border-radius:px2rem(10);  }

}



.swiper-container {
  position: relative !important;
  width: 100%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  background: #fff;
  height:100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


@media screen and (max-width: 320px) {

}
