@charset "UTF-8";
body, ul, li, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

#evt_loading {
  position: relative;
  height: 600px; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

#evt_spin {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei",Tahoma,Arial; }

.evt-container {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  background: #fdfdf6; }

body {
  overflow-x: hidden;
  background: #fdfdf6; }

.evt-content {
  position: relative;
  width: 1000px;
  margin: 0 auto; }

.main {
  height: 670px; }
  .main .content {
    position: relative;
    width: 1000px;
    margin: 0 auto; }
  .main .title {
    width: 439px;
    position: absolute;
    top: 38px;
    left: 500px; }
  .main .cake {
    width: 500px;
    position: absolute;
    top: 66px;
    left: 0px; }

.evt-content {
  border-top: 1px solid #fdf6f6;
  zoom: 1;
  /*轮播*/ }
  .evt-content img {
    width: 100%; }
  .evt-content .fen {
    position: absolute;
    width: 399px;
    top: 10px;
    left: 297px; }
  .evt-content .fen2 {
    position: absolute;
    width: 399px;
    top: 610px;
    left: 297px; }
  .evt-content .slideContain {
    position: absolute;
    width: 100%;
    height: 365px;
    left: 0;
    top: 140px; }
    .evt-content .slideContain a {
      display: block;
      position: absolute; }
  .evt-content .slideContent {
    position: absolute;
    width: 839px;
    height: 100%;
    left: 50%;
    top: 0;
    margin-left: -418px; }
  .evt-content .slideItem {
    width: 328px;
    height: 365px;
    position: absolute; }
    .evt-content .slideItem .product {
      position: absolute;
      top: 3%;
      left: 4.5%;
      width: 91%; }
    .evt-content .slideItem span {
      display: block;
      position: absolute;
      left: 0;
      color: #626262;
      text-align: center;
      width: 100%; }
  .evt-content .slidePrev, .evt-content .slideNext {
    width: 63px;
    height: 45px;
    top: 50%;
    margin-top: -22px; }
  .evt-content .slidePrev {
    background: url(../images/prev.png);
    left: 0; }
  .evt-content .slideNext {
    background: url(../images/next.png);
    right: 0; }
  .evt-content .pro-num {
    position: absolute;
    width: 180px;
    left: 50%;
    top: 520px;
    font-size: 0;
    margin-left: -90px; }
    .evt-content .pro-num a {
      position: absolute;
      width: 31px;
      height: 32px;
      display: block;
      top: 4px; }
    .evt-content .pro-num .minus {
      background: url(../images/minus.png);
      left: 0; }
    .evt-content .pro-num .plus {
      background: url(../images/plus.png);
      right: 0; }
    .evt-content .pro-num input {
      border: none;
      display: block;
      font-size: 16px;
      background: url(../images/input.png);
      width: 110px;
      height: 36px;
      line-height: 36px;
      position: absolute;
      top: 0;
      left: 35px;
      text-align: center;
      color: #626262;
      padding: 0; }
  .evt-content .buybtn {
    position: absolute;
    width: 155px;
    height: 27px;
    background: url(../images/buybtn.png);
    top: 578px;
    left: 50%;
    margin-left: -77px; }
  .evt-content .words {
    width: 100%;
    margin-top: 759px; }
    .evt-content .words h2 {
      font-size: 25px;
      color: #baa07f;
      font-family: "Microsoft YaHei",Tahoma,Arial;
      text-align: center;
      margin: 50px 0 19px 0; }
    .evt-content .words p {
      color: #000000;
      font-size: 20px;
      line-height: 28px;
      width: 850px;
      margin: 20px 0 20px 93px;
      text-indent: -18px; }
    .evt-content .words .orange {
      color: #ed6d00;
      text-decoration: none; }
    .evt-content .words .p2 {
      width: 785px;
      text-indent: 0;
      margin: 0 auto; }
    .evt-content .words a:hover {
      text-decoration: underline; }
  .evt-content .steps {
    width: 670px;
    margin: 0px auto 0 auto;
    padding-top: 53px; }
    .evt-content .steps .step1 {
      float: left;
      width: 308px; }
    .evt-content .steps .step2 {
      float: right;
      width: 308px; }

.qr-content {
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #ffffff; }
  .qr-content .code {
    width: 644px;
    margin: 40px auto 0 auto; }
    .qr-content .code .img1 {
      float: left; }
    .qr-content .code .img2 {
      float: right; }
  .qr-content .text {
    width: 644px;
    margin: 20px auto 0 auto;
    padding-bottom: 20px; }
    .qr-content .text > div {
      width: 295px; }
    .qr-content .text .textl {
      float: left; }
    .qr-content .text .textr {
      float: right; }
    .qr-content .text p {
      text-align: center;
      color: #82624d;
      font-size: 30px;
      margin: 30px 0 0 0; }
    .qr-content .text .p2 {
      color: #000000;
      font-size: 15px;
      margin: 10px 0 0 0; }
