#evt_content {
  height: 84rem; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .a {
    width: 2.89333rem;
    top: 0.13333rem;
    left: 0.13333rem; }
  #evt_content .b {
    width: 11.10667rem;
    top: 2.66667rem;
    left: 0; }
