@charset "utf-8";*{margin:0;padding:0;font-family:'Microsoft YaHei','微软雅黑','黑体',SimHei;-webkit-text-size-adjust:100%}
body{font-size:14px;-webkit-text-size-adjust:none;color:#767676;background:#f2f6f7;min-width:320px}
table{width:100%}
table{border-spacing:0;border-collapse:collapse}
td,th{word-wrap:break-word}
li,ul{list-style:none}
a{outline:0;text-decoration:none;color:#767676;-webkit-tap-highlight-color:rgba(200,200,200,.5);cursor:pointer}
a:hover{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(200,200,200,0)}
img{border:0 none;vertical-align:middle}
acticle,footer,header,nav,section{display:block}
header{background-color:#fff;text-align:center;height:60px;position:relative}
section{min-width:320px;max-width:360px;margin:0 auto}
input{color:#767676}
input[type=button],input[type=submit],input[type=reset]{-webkit-appearance:none;cursor:pointer}
.clear{padding:0;margin:0;clear:both}
.logo{width:120px;background:url(/wap/theme/xth1/images/comm/logo.png) no-repeat 0 0;height:27px;display:inline-block;margin:15px 5px 0 18px;-webkit-background-size:120px 27px;background-size:120px 27px;float:left}
.city{float:left;position:relative;z-index:1;width:55px;-webkit-box-shadow:1px 0 0 #fff inset;box-shadow:1px 0 0 #fff inset;overflow:hidden;margin-top:20px;font-size:14px;color:#767676}
header .city:after{content:'';position:absolute;top:50%;right:3px;width:5px;height:5px;margin-top:-4px;border:2px #767676 solid;border-top:none;border-right:none;-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
header select{position:relative;z-index:5;-webkit-appearance:none;width:100px;line-height:18px;font-size:.92857em;color:#767676;border:none;background-color:transparent;outline:0}
header a.icon{background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;position:absolute;width:40px;top:8px;height:40px;display:inline-block}
header a.icon.back{left:5px;background-position:-80px 0}
header a.icon.home{right:5px;background-position:-120px 0}
header a.icon.Submit{right:5px;background-position:100px 100px;line-height:40px;font-size:16px;color:#7b9196}
header .title{padding-top:10px;font-size:18px;line-height:20px}
header .title span{font-size:14px}
#userBox{height:40px;margin:10px 5px 0 0;display:-webkit-box;display:-ms-flexbox;display:box;box-orient:horizontal;float:right}
#userBox a{width:40px;height:40px;display:block;float:left;position:relative;margin-left:5px}
#userBox a:before{content:'';position:absolute;top:0;left:0;width:40px;height:40px;background-image:url(/wap/theme/xth1/images/comm/icon.png);background-size:320px;background-repeat:no-repeat}
#userBox a:nth-child(2):before{background-position:-40px 0}
#userBox a:nth-child(2) span{background:#8a1c2b;width:12px;height:12px;display:block;z-index:1;color:#FFF;position:absolute;top:6px;right:2px;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;font-size:8px}
.menu{height:70px;background:#f2f6f7}
.menu li{width:25%;float:left;FONT:14px/16px "";text-align:center;color:#999;padding:18px 0 18px 0;position:relative}
.menu li p{height:32px;display:block}
.menu li p span{FONT:10px/11px ""}
.menu li:hover{background:#e3ecee;border-bottom:2px #7b9196 solid}
.menu li.cur{background:#e3ecee;border-bottom:2px #7b9196 solid}
.menu li a{color:#999;display:block}
.menu li:nth-child(4) a p{position:relative}
.menu li:nth-child(4) a p:before{content:'';position:absolute;width:30px;height:8px;top:0;left:0;background-image:url(/wap/theme/xth1/images/comm/icon.png);background-size:320px;background-repeat:no-repeat;background-position:-6px -54px;left:50%;margin-left:-15px;margin-top:-4px;top:50%}
.Review_nav{text-align:right;margin:10px 30px 0 0}
.Review_nav ul{float:right}
.Review_nav ul li{padding:0;display:block;float:left;width:20px;text-align:center;height:20px;line-height:20px;position:relative;overflow:hidden;color:#767676}
.Review_nav ul li.page_nav_left a{background:url(/shop/theme/xth1/images/comm/icon.png);display:block;background-position:-302px -61px;height:20px}
.Review_nav ul li.page_nav_right a{background:url(/shop/theme/xth1/images/comm/icon.png);display:block;background-position:-328px -61px;height:20px}
.addWrap{max-width:720px;background:#fff;margin:auto;position:relative}
.addWrap .swipe{overflow:hidden;position:relative}
.addWrap .swipe-wrap{overflow:hidden;position:relative}
.addWrap .swipe-wrap>div{float:left;width:100%;position:relative}
.swipe-wrap div a,.swipe-wrap div img{outline:0}
#position{padding:0;text-align:center;position:absolute;bottom:20px;left:50%;margin-left:-30px}
#position li{width:10px;height:10px;margin:0 3px;display:inline-block;background-color:#bfa88a}
#position li.cur{background-color:#8a1c2b}
.prolist{overflow:hidden;background:#fff}
.prolist .pro_title{height:28px;border-bottom:1px #80ADB6 solid;background:#F2F6F7}
.prolist .pro_title span{padding:5px 0 0 10px;display:inline-block;font-size:14px;color:#7f8e93}
.prolist .pro_title span small{font-size:11px}
.prolist ul{margin:10px;overflow:hidden}
.prolist ul li{margin-bottom:1px;float:left;width:33.3%}
.prolist ul li div{margin:5px;position:relative}
.prolist ul li div a.to_buy{position:absolute;bottom:0;overflow:hidden;height:20px;display:block;padding:5px 0;color:#FFF;text-align:center;width:100%;background:rgba(0,0,0,.7)}
.prolist ul li div a.to_buy:before{content:'立即订购';position:absolute;line-height:20px;top:5px;left:0;display:block;text-indent:-10px;width:100%}
.prolist ul li div a.to_buy select{position:absolute;z-index:5;-webkit-appearance:none;width:100px;font-size:.92857em;color:#767676;border:none;color:#fff;background-color:transparent;outline:0;padding-top:30px;left:0;top:0}
.prolist ul li div a.to_buy:after{content:'';position:absolute;top:50%;right:10px;width:5px;height:5px;margin-top:-4px;border:2px #fff solid;border-top:none;border-right:none;-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
.prolist ul li div a.to_buy select option{background:#000}
.prolist ul li p{padding:5px 0;text-align:center;font-size:12px;color:#747474;line-height:16px;height: 40px;}
.prolist ul li p b{font-size:9px;overflow:hidden;height:12px;display:inline-block}
.login_box{padding:10px 10px 0 10px}
.login_box div{margin-bottom:5px;position:relative;overflow:hidden}
.login_box div.code,.login_box div.password,.login_box div.password_2,.login_box div.user{background:#e2e2e2;padding:0 20px 0 50px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.login_box div label{position:absolute;line-height:45px;color:#c4c4c4}
.login_box div:before{content:'';position:absolute;width:40px;height:40px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:40px 40px;top:2px;left:5px}
.login_box div.user:before{background-position:0 -68px}
.login_box div.password:before{background-position:-40px -68px}
.login_box div.code{padding:0 20px}
.login_box div input[type=submit],.login_box div input[type=button]{background:#b0916a;color:#fff;margin-top:10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:12px}
.login_box div input[type=submit]:hover,.login_box div input[type=button]:hover{background:#a0835f}
.input_style{width:100%;height:45px;font-size:16px;border:none;background:0 0;outline:0}
.login_box p,.login_box p a{color:#b0916a}
.login_box p a{margin-left:5px}
.login_box p.err{padding:0 0 15px 50px}
.login_box p.code{padding-bottom:10px;line-height:40px}
.login_box div.Short{width:55%;float:left;background:#e2e2e2;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.login_box div.Short span{padding:0 20px;position:relative;display:inline-block}
.login_box div .send{float:left;width:45%}
.login_box div .send a{margin-left:5px;background:#7b9196;display:block;text-align:center;height:45px;line-height:45px;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.login_box p.Remind{padding:0 0 10px 20px}
.login_box div.password_2 span{position:absolute;right:15px;top:0;line-height:45px;color:#b0916a}
.login_box div.password_2{padding:0 50px 0 50px}
.login_box div.password_2:before{background-position:-80px -68px}
.Agreement div.cur{background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-288px 0}
.Agreement div{width:30px;height:30px;float:left;margin:2px 0 0 20px}
.Agreement{padding:5px 0}
.Agreement span{width:18px;height:18px;background:#fff;position:absolute;z-index:-1;display:inline-block;margin:10px 0 0 3px}
.Agreement p{display:block;float:left;padding-top:10px;color:#c4c4c4}
.Agreement input{display:none}
.list_menu{height:70px;background:#f2f6f7;border-bottom:1px #7b9196 solid}
.list_menu li{width:33.3%;float:left;FONT:14px/16px "";text-align:center;color:#999;position:relative}
.list_menu li p{padding:19px 0;height:32px;display:block;cursor:pointer}
.list_menu li p.top{margin-top:8px}
.list_menu li p span{font-size:10px}
.list_menu ul.mlist,.menu ul.mlist{display:none}
.list_menu ul.mlist,.menu ul.mlist{width:100%;position:absolute;z-index:100;top:68px;left:0;overflow:hidden;border-bottom:1px #7b9196 solid;background:#f2f6f7}
.list_menu ul.mlist li,.menu ul.mlist li{line-height:35px;height:35px;width:100%;padding:0;border:none}
.list_menu ul.mlist li a,.menu ul.mlist li a{display:block;border-top:1px #7b9196 solid;border-left:1px #7b9196 solid;border-right:1px #7b9196 solid}
.prolist_2 ul{margin:10px;overflow:hidden}
.prolist_2 ul li{margin-bottom:1px;float:left;width:50%}
.prolist_2 ul li a{margin:5px;display:block}
.prolist_2 ul li p{padding:5px 0;text-align:center;font-size:12px;color:#747474;line-height:16px}
.prolist_2 ul li p b{font-size:9px;overflow:hidden;height:12px;display:inline-block}
.Slide{padding:10px 0;cursor:pointer}
.Slide p{font-size:9px;margin:auto;width:140px;display:block;position:relative;padding:0 0 0 40px}
.Slide p:before{content:'';background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-252px 0;position:absolute;top:3px;left:0;width:32px;height:32px;display:block}
.Slide p span{font-size:18px}
.pro_list{overflow:hidden;padding:15px 5px;border-bottom:1px #7b9196 solid;position:relative}
.pro_list a.del{position:absolute;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-215px 0;width:32px;height:32px;display:block;right:20px;top:15px}
.pro_img{width:35%;float:left}
.pro_right{width:65%;float:left}
.pro_right>div{padding-left:10px}
.pro_right>div span{color:#ad8e68}
.pro_right div p.pro_name{padding-bottom:5px}
.pro_list p.Remind{padding:10px 0 0 0;font-size:10px;display:block;float:left;width:100%}
.amount{overflow:hidden;margin-top:6px;display:inline-block}
.amount font{display:block;float:left;margin-right:10px}
.cake_num{overflow:hidden;display:inline-block}
.cake_num font{display:block;float:left;margin-right:10px}
.cake_num dl{margin:auto;float:left}
.cake_num dl dd{float:left;width:36px;height:20px;text-align:center;line-height:20px;background:#fff;cursor:pointer;position:relative;padding:2px}
.cake_num dl dd:before{content:'';background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;position:absolute}
.cake_num dl dd.p_left:before{background-position:-55px -56px;width:9px;height:1px;top:50%;margin-top:-.5px;left:50%;margin-left:-4.5px}
.cake_num dl dd.p_left:hover,.cake_num dl dd.p_right:hover{border:2px #ad8e68 solid;padding:0}
.cake_num dl dd.p_right:before{background-position:-67px -52px;width:8px;height:8px;top:50%;left:50%;margin-top:-4px;margin-left:-4px}
.cake_num dl dd:hover{color:#b0916a}
.cake_num dl dt{float:left;width:30px;height:23px}
.cake_num dl dt input{width:30px;height:16px;background:0 0;color:#ad8e68;margin-top:2px;border:none;text-align:center}
.Choice_num{width:70px;float:left;position:relative;height:25px;background:#e2e2e2;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;overflow:hidden;z-index:1}
.Choice_num:after{content:'';position:absolute;top:50%;right:8px;width:5px;height:5px;margin-top:-5px;border:2px #767676 solid;border-top:none;border-right:none;-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg);z-index:-1}
.Choice_num select{position:absolute;z-index:5;-webkit-appearance:none;height:100%;font-size:.92857em;color:#767676;border:none;width:90px;background-color:transparent;outline:0;top:0;left:0;z-index:0;padding-left:6px}
.Choice_num.no select{color:#CCC}
.Choice_num.no:after{border-color:#CCC}
.surprised{padding:15px 0;border-bottom:1px #7b9196 solid}
.surprised p{padding:0 20px}
.m_fixed{position:fixed;bottom:0;width:100%;padding:8px 0;background:rgba(255,255,255,.95);z-index:100}
.m_fixed div{width:50%;float:left}
.m_fixed div.left P{float:right;padding-right:5px}
.m_fixed div.left P font,.m_fixed div.left P span{color:#a5002f}
.m_fixed div.left P font{font-size:12px}
.m_fixed div.left P span{font-size:16px}
.m_fixed div.right input{background:#b0916a;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;height:45px;font-size:14px;width:145px;margin-left:5px}
.mb60{margin-bottom:60px}
ul#all_Size{padding:2px 1px;overflow:hidden}
ul#all_Size li{float:left;width:20%;text-align:center}
ul#all_Size li p{background:#e3ecee;margin:1px;height:42px;line-height:42px;overflow:hidden;cursor:pointer}
ul#all_Size li p.cur{padding:0;position:relative}
ul#all_Size li p.cur:before{content:'';position:absolute;width:31px;height:30px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-288px 0;left:50%;margin-left:-15px;bottom:4px}
div.pro_info{position:relative}
div.pro_info .Share{position:absolute;bottom:10px;right:10px}
div.pro_info .Share a{width:35px;margin-left:10px;float:left;height:35px;display:block;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px}
div.pro_info .Share a.buy{background-position:-239px -188px}
div.pro_info .Share a.fx{background-position:-274px -188px}
div.pro_info p{padding:25px}
div.pro_info p span{color:#b0916a;font-size:18px}
div.pro_info p span font{font-size:12px}
.buy_btn input{background:#b0916a;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:14px}
.buy_btn input:hover{background:#a0835f}
.buy_btn{padding:0 6px 6px 6px}
.data_list{overflow:hidden;font-size:12px}
.data_list .pro_title{height:28px;border-bottom:1px #80ADB6 solid;background:#F2F6F7}
.data_list .pro_title span{padding:5px 0 0 10px;display:inline-block;font-size:14px;color:#7f8e93}
.data_list .pro_title span small{font-size:11px}
.data_list ul.cake_data{margin:10px 10px 0 10px;overflow:hidden}
.data_list ul.cake_data li{margin-bottom:7px;float:left}
.data_list ul.cake_data li img{float:left}
.data_list ul.cake_data li span{float:left;padding:0 15px 0 2px;line-height:15px}
ul.cake_info{margin:0 10px 10px 10px;overflow:hidden}
ul.cake_info li{overflow:hidden;width:100%;margin:0}
ul.cake_info li span{padding-right:10px;float:left;line-height:24px}
ul.cake_info li samp{padding-left:20px;color:#b0916b;float:left;line-height:24px}
ul.cake_info li ul.Sweetness{float:left;margin:6px 0 0 20px}
ul.cake_info li ul.Sweetness li{float:left;width:10px;height:10px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-170px -48px}
ul.Comment_list{overflow:hidden}
ul.Comment_list li{padding:8px 10px;overflow:hidden}
ul.Comment_list li+li{border-top:1px #d9e8ec solid}
ul.Comment_list li p{float:left;line-height:26px}
ul.Comment_list li span{float:right;line-height:13px;color:#7b9196;text-align:right;padding-left:20px}
ul.Comment_list li span small{font-size:9px;color:#b7b7b7}
.page_nav{background:#d9e8ec;position:relative;overflow:hidden;height:40px}
.page_nav .left,.page_nav .right{width:30px;height:40px;position:absolute;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px}
.page_nav .left a,.page_nav .right a{display:block;height:40px}
.page_nav .left{top:0;left:0;background-position:-190px -34px}
.page_nav .right{top:0;right:0;background-position:-220px -34px}
.page_nav ul{margin:auto;overflow:hidden;width:120px}
.page_nav ul li{float:left;width:30px;height:40px;line-height:40px}
.page_nav ul li a{display:block;text-align:center;font-size:16px}
.pro_list a.editor{position:absolute;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-137px -79px;width:23px;height:23px;display:block;right:20px;top:15px;z-index:100}
.pro_list a.Recovery{position:absolute;height:23px;display:block;right:20px;top:15px;z-index:100;font-size:12px}
p.m_10{margin:0 20px}
.pro_box span.icon{padding:0 0 10px 20px;position:relative;display:block}
.pro_box span.icon.Bonus_icon,.pro_box span.icon.Cash_c_icon,.pro_box span.icon.Coupons_icon,.pro_box span.icon.Invoice_icon,.pro_box span.icon.Remarks_icon,.pro_box span.icon.Tableware_icon,.pro_box span.icon.pay_icon{padding:0 0 0 20px;display:inline-block;width:70px}
.pro_box span.icon:before{content:'';position:absolute;width:18px;height:18px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;left:0;top:0}
.pro_box span.icon.add_icon:before{background-position:0 -114px}
.pro_box span.icon.time_icon:before{background-position:-18px -114px}
.pro_box span.icon.Smart_icon:before{background-position:-36px -114px}
.pro_box span.icon.Cash_c_icon:before{background-position:-36px -114px}
.pro_box span.icon.Coupons_icon:before{background-position:-72px -114px}
.pro_box span.icon.Bonus_icon:before{background-position:-90px -114px}
.pro_box span.icon.Integral_icon:before{background-position:-108px -114px}
.pro_box span.icon.Invoice_icon:before{background-position:-126px -114px}
.pro_box span.icon.Tableware_icon:before{background-position:-144px -114px}
.pro_box span.icon.Remarks_icon:before{background-position:-162px -114px}
.pro_box span.icon.pay_icon:before{background-position:-180px -114px}
.time-txt{background:#e2e2e2;text-indent:20px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-align:left}
.time_input_box{position:relative;display:block}
.time_input_box:before{content:'';background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-176px -84px;position:absolute;width:14px;height:14px;right:15px;top:15px;z-index:0}
.Smart-txt{background:#e2e2e2;width:68%;padding:0 10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-align:left}
.Integral-txt{background:#e2e2e2;width:60px;padding:0 10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-align:left}
.pro_s_img{width:22%;min-width:68px;float:left}
.pro_s_right{width:75%;min-width:205px;float:right}
.pro_s_right .right_box{position:relative}
.pro_s_right .right_box label{position:absolute;left:10px;line-height:45px;font-size:12px;color:#c4c4c4}
.pro_bs{width:100%;position:relative;float:left;padding-left:5px}
.pro_bs label{position:absolute;left:155px;line-height:45px;font-size:12px;color:#c4c4c4}
ul.Smart_list li{margin-bottom:10px}
.pay_list p{display:inline-block;padding-left:15px;color:#b29674;font-size:13px}
.pay_list a{display:block}
.pay_list{position:relative}
.pay_list:before{content:'';background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-200px -114px;position:absolute;width:18px;height:18px;right:0;z-index:-1}
.Integral_box{font-size:12px;padding-left:20px}
.Integral_box p{padding-bottom:5px}
.Integral_box span{padding-right:5px}
.Integral_box samp{color:#c4c4c4}
.Integral_box input{margin-right:5px}
.pro_right div.pro_name{padding-bottom:5px;position:relative}
.pro_right div.pro_name .Choice_num{position:absolute;right:0;top:0}
.amount span{float:right;height:25px;line-height:25px}
.pro_border{border-bottom:1px #e2e2e2 solid;padding-bottom:10px;margin-bottom:10px}
.pro_list p.Remind.topno{padding:0}
.pro_list p.Remind.activity{text-align:right;padding-top:20px}
.page_add_list{overflow:hidden;margin:5px 0;padding:15px 15px;background:#FFF;border-bottom:none;font-size:12px}
.Choice_add{overflow:hidden}
.Choice_add div.cur:before{content:'';background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-288px 0;position:absolute;width:31px;height:31px;right:10px;z-index:1}
.Choice_add div{width:30px;height:30px;float:left;margin:2px 0 2px 20px}
.Choice_add{padding:0;position:relative}
.Choice_add span{width:18px;height:18px;background:#e2e2e2;position:absolute;z-index:0;display:inline-block;margin:6px 0 0 3px}
.add_btn{padding:0}
.add_btn input{font-size:16px}
ul.f_data_list{margin:10px}
ul.f_data_list li{padding:0 10px 0 50px;background:#e2e2e2;position:relative;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-bottom:10px;overflow:hidden}
ul.f_data_list li label{position:absolute;line-height:45px;color:#c4c4c4}
ul.f_data_list li:before{content:'';background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;position:absolute;width:40px;height:40px;left:8px;top:2px;background-position:100px 100px}
ul.f_data_list li.user:before{background-position:0 -68px}
ul.f_data_list li.Address:before{background-position:-120px -138px}
ul.f_data_list li.phone:before{background-position:-160px -138px}
ul.f_data_list li.tel:before{background-position:-200px -138px}
ul.f_data_list li.Area:before{background-position:-80px -138px}
ul.f_data_list input{width:100%}
.Pull_down{height:45px}
.Pull_down:after{content:'';position:absolute;top:50%;right:18px;width:19px;height:9px;margin-top:-5px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-207px -88px;z-index:0}
.Pull_down select{position:absolute;z-index:5;-webkit-appearance:none;height:45px;padding:13px 0;font-size:.92857em;color:#767676;border:none;width:320px;background-color:transparent;outline:0;top:0;left:50px;z-index:1}
ul.f_data_list li.into_two{padding:0;background:0 0;position:relative}
ul.f_data_list li.into_two p{padding-left:50px;color:#b0916a;font-size:10px}
ul.f_data_list li .left{width:48%;float:left;background:#e2e2e2;position:relative;overflow:hidden}
ul.f_data_list li .left:before,ul.f_data_list li .right:before{content:'';background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:0 -138px;position:absolute;width:40px;height:40px;left:8px;top:2px}
ul.f_data_list li .right:before{background-position:-40px -138px}
ul.f_data_list li .left select,ul.f_data_list li .right select{width:100%}
ul.f_data_list li .right{width:48%;float:right;background:#e2e2e2;position:relative;overflow:hidden}
.Set_default{overflow:hidden}
.Set_default .Agreement{overflow:hidden;width:100px;float:right;margin-bottom:20px}
.Set_default .Agreement div{margin:0}
.Set_default .Agreement span{background:#e2e2e2}
.coupon_box div input[type=button]{background:#b0916a;color:#fff;margin-top:10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:12px}
.coupon_box div input[type=button]:hover{background:#a0835f}
.coupon_box p{padding:35px 0 20px 0;text-align:center}
.coupon_box p span{color:#b0916a}
.Tableware p{margin-top:20px;padding:0 10px;line-height:30px;border-bottom:1px #ccc solid}
.Tableware div samp{color:#b0916a}
.Tableware div{padding:0 10px;line-height:35px}
td.Price{font-size:30px;font-weight:700;text-align:right;color:#7b9196}
td.Price samp{font-size:12px}
.Coupun_txt{position:relative;background:#e2e2e2;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:0;margin:5px;border:none;padding:0 10px}
.Coupun_txt label{position:absolute;line-height:45px;color:#c4c4c4}
.mb5{margin:5px}
.coupun_err{padding:0 10px;color:#ad8e68}
.Coupun_textarea{padding:10px;margin-top:15px;background:#e2e2e2;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.Coupun_textarea textarea{height:150px;line-height:20px}
.time_txt_box{margin-top:15px}
.time_txt_box input[type=text]{text-align:center}
ul.f_data_list li .w115{width:115px;float:left;background:#e2e2e2;position:relative;overflow:hidden;margin-bottom:10px}
ul.f_data_list li .w115 .Pull_down select{text-indent:10px;left:0;width:140px}
span.left_txt{float:left;line-height:45px;padding-right:10px;display:block;width:65px;height:45px}
.right_txt{background:#e2e2e2;display:block;float:left;width:71%;padding:0 10px}
.pay_l{background:0 0;border-bottom:1px #7b9196 solid;padding:5px 15px}
.pay_l samp{font-size:9px}
.pay_l .Choice_add div{margin:2px 0 2px 0}
.pay_ico_list{margin:30px;overflow:hidden}
.pay_ico_list li{float:left;width: 135px;background-color: white;margin: 5px;text-align: center;}
.pay_ico_list li a{margin:5px;display:block;margin: 1px;border: 2px #ffffff solid;}
.pay_ico_list li a.cur{margin:1px;border:2px #A5002F solid;}
.pay_ico_list li img{width:110px;height:30px;}
.Total div,ul.pay_count li div{width:50%;float:left;text-align:right;line-height:24px}
.Total div+div,ul.pay_count li div+div{text-align:left}
.Total div span,ul.pay_count li div span{padding-right:5px}
.Total{overflow:hidden;padding:10px 0}
.Total samp{color:#a5002f;font-size:18px}
.Error{margin:10px;text-align:center;padding-top:75px;position:relative}
.Error:before{content:'';position:absolute;width:47px;height:39px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-263px -44px;top:25px;left:50%;margin-left:-23px}
.Error.overstep{text-align:left;width:255px;font-size:12px;margin:auto}
.Pay_off:before{background-position:-265px -100px}
.m10{margin:10px}
p.default{font-size:9px;display:block}
.pro_list a.add_del{position:absolute;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-232px -113px;width:22px;height:22px;display:block;right:0;bottom:0;z-index:100}
ul.news_list{overflow:hidden;min-height:260px}
ul.news_list li{padding:8px 10px 8px 30px;overflow:hidden;cursor:pointer;position:relative}
ul.news_list li.noread:before{content:'';position:absolute;width:9px;height:9px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-240px -89px;top:50%;margin-top:-5px;left:10px}
ul.news_list li+li{border-top:1px #d9e8ec solid}
ul.news_list li.read{background:#e2e2e2;border:none}
ul.news_list li p{line-height:26px;color:#767676}
ul.news_list li span{float:right;line-height:13px;text-align:right;color:#c4c4c4;padding-left:20px}
ul.news_list li samp{color:#000;font-weight:700}
ul.news_list li:hover span{color:#7b9196}
ul.news_list li.read:before{background-position:100px 100px}
ul.news_list li.read:hover span{color:#c4c4c4}
.new_box{width:80%;padding:10px;background:#fff}
p.new_time{text-align:center;color:#7b9196;padding:10px 0 5px 0}
.new_box.right{float:right}
.new_box textarea{width:100%;border:none;height:50px}
.coupon_box.right_btn div input{width:45%;float:right;height:45px}
.coupon_box.right_btn{padding-bottom:30px;float:left;width:100%}
.gold{color:#ad8e68}
.view{float:right}
.pay_box{padding:30px 0;overflow:hidden}
.pay_box input{width:45%;float:left;height:45px}
.pay_box p{text-align:left;padding:0;padding-left:20px}
.pay_box div{padding-left:20px}
.bottom{border-bottom:1px #7b9196 solid}
.close_order{float:right}
.pro_list a.search{position:absolute;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-280px -150px;width:22px;height:22px;display:block;right:20px;top:15px}
.page_add_list.bottom_01{border-bottom:1px #e3ecee solid}
.m0{margin-bottom:0}
.m0_top{margin-top:0}
ul.p_s_list{overflow:hidden}
ul.p_s_list li{width:33.3%;float:left;position:relative;margin-bottom:10px}
ul.p_s_list li img{width:65%}
ul.p_s_list li span{position:absolute;bottom:0;padding-left:5px;color:#7b9196;font-size:24px}
ul.p_s_list li span samll{font-size:18px}
.amount_pay{padding:20px 0 10px 0;position:relative}
.amount_pay span{font-size:18px}
.amount_pay div.btn_box{position:absolute;width:45%;right:0;top:10px}
.amount_pay div.btn_box input{background:#b0916a;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.amount_pay div.btn_box input:hover{background:#a0835f;color:#fff}
.blue{color:#7b9196}
.lucency{opacity:.5}
.zfbox{padding:10px 0}
.zfbox input{width:45%;background:#b0916a;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.zfbox a.close_order{margin:10px 40px 0 0}
.pro_box.order_view p small{font-size:12px}
.pro_box.order_view p{line-height:26px}
p.other{display:block}
.list_pro+.list_pro{padding:10px 0;margin-bottom:10px;border-top:1px #CCC solid}
.pro_box.cutlery span+span{margin-left:5px}
.pro_box.cutlery span.gold{padding-left:20px}
p.statistics{text-align:right;color:#ad8e68}
.area,.right_area{margin-left:10px;background:#e2e2e2;padding:5px;height:100%;position:relative}
.area{margin:0}
.area:before,.right_area:before{content:'';position:absolute;width:25px;height:25px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-245px -150px;top:0;right:0}
.area textarea,.right_area textarea{width:100%;min-height:75px;border:none;background:0 0}
.left_10{margin-left:10px}
.pj_tag{padding-top:2px}
.pj_tag span{padding:5px 10px;margin:4px 4px 0 0;background:#e3ecee;color:#7b9196;cursor:pointer;display:block;float:left}
.pj_tag span.cur{background:#7b9196;color:#fff}
.Adultes_t{padding-bottom:10px}
.Adultes_p_list{margin:10px 5px;overflow:hidden}
.Adultes_p_list li{width:33.3%;float:left;margin-bottom:7px}
.Adultes_p_list li p{width:93%;margin:auto;display:block;position:relative}
.Adultes_p_list li a.del{position:absolute;bottom:0;width:22px;height:22px;display:block;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-232px -113px;right:0}
.add_img{display:block;min-height:108px;position:relative;background:#e2e2e2}
.add_img:before{content:'';position:absolute;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:0 -180px;left:50%;margin-left:-26px;top:50%;margin-top:-26px;width:52px;height:52px}
.pro_box span.icon.Anniversaire_icon,.pro_box span.icon.dj_icon,.pro_box span.icon.jf_icon,.pro_box span.icon.list_icon{padding:0 0 0 20px;display:inline-block;width:70px}
.pro_box span.icon.Anniversaire_icon:before{background-position:-60px -189px}
.pro_box span.icon.list_icon:before{background-position:-78px -189px}
.pro_box span.icon.jf_icon:before{background-position:-108px -114px}
.pro_box span.icon.dj_icon:before{background-position:-96px -189px}
.bg_blue{background:#e3ecee}
.user_title{border-bottom:1px #7b9196 solid}
.user_title p{text-align:center}
.Activities_list{overflow:hidden;line-height:0;margin:auto}
.Activities_list li{width:50%;float:left}
.Activities_list li img{width:100%}
.Activities_list li div{border:2px #fff solid;margin:2px;position:relative}
.Activities_list li{float:left;padding:0;line-height:0;cursor:pointer}
.Activities_list li p{position:absolute;background:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";width:100%;height:100%;bottom:0}
.Activities_list li.current:hover div{border:2px #a5002f solid}
.Activities_list li.current p{height:50px}
.Activities_list li p span{position:absolute;left:0;height:40px;top:50%;margin-top:-20px;width:100%;display:block;text-align:center;line-height:20px;color:#fff;font-size:13px}
.login_box p.q_Remind{padding:0 0 0 50px;color:#c4c4c4;font-size:12px}
.q_login_btn{text-align:center}
.q_login_btn input{width:49%}
.pay_no_list p{position:absolute;background:#7b9196;right:10px;top:-8px;padding:9px 30px;color:#fff;font-size:13px}
.pay_no_list a{display:block}
.pay_no_list{position:relative}
a.red{color:#8a1c2b}
div.Edition_nav.on_user div a{margin:0 0 15px 0;padding:0 10px;height:20px;line-height:20px;display:block}
div.Edition_nav.on_user{height:auto}
div.Edition_nav.on_user div:nth-child(2) a{text-align:left;float:left;border:none}
footer{background:#f2f6f7}
div.Edition_nav{overflow:hidden;height:50px;position:relative}
p.link_top{position:absolute;right:10px;top:10px;width:27px;height:45px;font-size:9px}
p.link_top a{position:relative;padding-top:27px;top:-5px;display:block;font-size:9px;text-align:center}
p.link_top a:before{content:'';position:absolute;width:27px;height:27px;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-size:320px;background-position:-160px -5px;top:0;left:0}
p.Feedback{position:absolute;left:10px;top:5px;line-height:13px;background:#d9e8ec;padding:5px;width:27px;font-size:9px}
p.Feedback a{display:block;font-size:9px;text-align:center}
div.Edition_nav div,footer ul.Activities_list li{width:50%;float:left;overflow:hidden}
div.Edition_nav div a{margin:15px 0;padding:0 10px;height:20px;line-height:20px;display:block}
div.Edition_nav div:nth-child(1) a{text-align:right;float:right}
div.Edition_nav div:nth-child(2) a{text-align:left;float:left;border-left:2px #7b9196 solid}
footer ul.Activities_list{max-width:360px;min-width:320px;overflow:hidden;margin:auto;padding:5px 0 0 0}
footer ul.Activities_list a{margin:2px;padding-bottom:3px;border-bottom:2px #d9e8ec solid;display:block}
/*footer ul.Activities_list li:nth-child(1) a{margin-left:5px}
footer ul.Activities_list li:nth-child(2) a{margin-right:5px}*/
footer ul.Activities_list a:hover{border-bottom:2px #7b9196 solid}
footer ul.m_nav{border-top:1px #7b9196 solid;border-bottom:1px #7b9196 solid;overflow:hidden}
footer ul.m_nav li{width:33.3%;float:left;text-align:center;height:26px;line-height:24px;font-size:14px}
footer ul.m_nav li a{height:24px;display:block}
footer ul.m_nav li:hover a{border-bottom:2px #7b9196 solid;background:#d9e8ec}
footer .footcopy{text-align:center;padding:10px 0}
.tc-con{padding:0;background:#f2f6f7;margin:0 auto;position:absolute;z-index:99999;font-size:14px;left:50%;top:50%;margin-top:0;position:fixed!important;position:absolute}
.tc-con-1{margin:25px 10px 0 10px}
.tc-cover{width:100%;height:100%;position:absolute;z-index:200;top:0;left:0;opacity:.3;-moz-opacity:.3;filter:alpha(opacity=30);background-color:#000}
.close{display:block;text-align:center;z-index:10000;padding:10px 0;font-size:14px;border-bottom:1px #AE926B solid;margin:10px}
.close_2{width:30px;height:30px;display:block;position:absolute;top:0;right:0;background:url(/wap/theme/xth1/images/comm/close.png) center center;padding:0;border:none;margin:0;text-indent:-9999px;z-index:10000}
.buy_box{width:260px;height:190px;margin:10px}
.buy_box .left,.buy_box .right{width:50%;float:left;height:120px}
.buy_box .left ul,.buy_box .right ul{width:100%}
.buy_box .left ul li,.buy_box .right ul li{text-align:center}
.buy_btn_box{margin-top:20px;text-align:center}
.buy_btn_box input{border:none;width:45%;margin:5px;background:#b0916a;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:14px}
.buy_btn_box input:hover{background:#a0835f}
.pay_box{width:260px;height:80px;margin:10px;padding:0 0 30px 0;text-align:center}
.pay_box div{padding:0;color:#ad8e68}
.Feedback_box{width:320px;height:300px}
.Feedback_box ul{overflow:hidden;margin:10px 0 0 10px}
.Feedback_box ul li{float:left}
.Feedback_box ul li p{padding:8px 15px;cursor:pointer;position:relative}
.Feedback_box ul li p:after{content:'';position:absolute;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;background-position:-135px -195px;width:8px;height:8px;left:0;top:15px}
.Feedback_box ul li.cur p:before{content:'';position:absolute;background:url(/wap/theme/xth1/images/comm/icon.png) no-repeat;left:50%;margin-left:-15px;width:31px;height:30px;background-size:320px;background-position:-288px 0}
.t_area{padding:10px}
.t_area textarea{width:100%;height:60px;background:#d9e8ec;border:none}
.Feedback_box .buy_btn_box{margin:0}
.f_txt{padding:0 10px}
.f_txt{font-size:12px}
.Feedback_box ul li p{font-size:12px;color:#b0916a;line-height:18px}
.Feedback_box ul li p:after{background:0 0}
.Feedback_box ul li.cur p:before{top:0}
.Feedback_box{height:auto;padding-bottom:20px}
.Feedback_box .buy_btn_box input{height:35px;height:35px}
.Feedback_box textarea{font-size:12px;padding:5px}
.car_Empty{display:block;margin:30px auto 100px auto;padding-top:55px;width:300px;line-height:24px;font-size:12px;text-align:center;position:relative}
.car_Empty:before{content:'';position:absolute;background:url(/wap/theme/xth1/images/comm/car_un.png) no-repeat;left:50%;top:0;margin-left:-25px;width:50px;height:40px;background-size:50px}
.car_Empty span{font-size:16px}
a.blue_link:active,a.blue_link:link,a.blue_link:visited{color:#7b9196;text-decoration:underline}
a.blue_link:hover{color:#8B7860}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.428571429;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.btn:focus,.btn:hover{color:#333;text-decoration:none}
button,html input[type=button],input[type=submit],input[type=reset]{cursor:pointer;-webkit-appearance:button}
.btn-default{color:#333;background-color:#fff;border-color:#ccc}
.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover,.open .dropdown-toggle.btn-default{color:#333;background-color:#ebebeb;border-color:#adadad}
.btn-primary{color:#fff;background-color:#B0916A;border-color:#B0916A}
.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#B0916A;border-color:#B0916A}
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}
.form-control{width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555;vertical-align:middle;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
ul.news_list li a{display:block;overflow:hidden;float:left;width:250px}
ul.news_list li del{text-decoration:none;margin:10px 5px;float:left;display:block;width:60px;height:40px;line-height:40px;background:#7b9196;color:#fff;text-align:center;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px}
.to_buy_0525{position:absolute;bottom:0;overflow:hidden;height:90%;display:block;padding:5px 0;color:#FFF;text-align:center;width:100%;background:rgba(0,0,0,.7)}
.to_buy_0525 img{width:30%;padding-top:28%}
.list li{position:relative}
.list .l_1_0525{width:100%;display:block}
.list .l_2_0525{width:95%;display:block;text-align:center;background:rgba(0,0,0,.7);position:absolute;top:2%;overflow:hidden;height:76%}
.list .l_2_0525 img{width:30%;padding-top:28%}
.m_fixed div.buybox input.disable{background:#c4c4c4}
pro_info .cake_num dl dd.nopoint:before{background-position:0 -285px;width:25px;height:25px;top:0;left:0;margin:0}
.slider-focus{position:relative;max-width:640px;overflow:hidden;margin:0 auto}
.slider-focus .hd{position:absolute;width:100%;height:28px;left:0;bottom:2%;z-index:1;line-height:28px;text-align:center}
.slider-focus .hd li{display:inline-block;vertical-align:middle;width:10px;height:10px;margin:0 3px;font-size:0;line-height:0;text-indent:-9999em;cursor:pointer;background:#bfa88a}
.slider-focus .hd li.on{background:#8a1c2b}
.slider-focus .bd{position:relative;z-index:0}
.slider-focus .bd li{position:relative;text-align:center}
.slider-focus .bd li img{vertical-align:top;width:100%}
.slider-focus .bd li a{-webkit-tap-highlight-color:transparent}
.slider-focus .bd li .tit{display:block;width:100%;position:absolute;bottom:0;text-indent:10px;height:28px;line-height:28px;color:#fff;text-align:left}
