@charset "UTF-8";
#evt_content {
  background: #fffcfc; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-banner {
    height: 5.89333rem;
    background: url("../images/banner-wap.png") repeat;
    background-size: 100%;
    overflow: hidden; }
  #evt_content .sec-0 {
    height: 7.18667rem;
    margin-top: 0.66667rem;
    background: url("../images/word-1_02.png") repeat;
    background-size: 100%; }
  #evt_content .hy-title {
    position: relative;
    width: 4.92rem;
    margin: 0.4rem auto; }
  #evt_content .sec-1 {
    position: relative;
    width: 9.65333rem;
    background: #ffedef;
    margin: 0 auto;
    border-radius: 0.13333rem;
    overflow: hidden;
    height: 5rem; }
    #evt_content .sec-1 div {
      position: relative; }
    #evt_content .sec-1 .mother-cake {
      position: relative;
      width: 4.90667rem;
      height: 5rem;
      float: left;
      overflow: hidden;
      z-index: 1; }
    #evt_content .sec-1 .mother-price {
      z-index: 2;
      position: relative;
      float: left;
      height: 100%;
      padding: 0.8rem 0 0.26667rem 0.26667rem;
      background: #ffedef;
      margin-left: -0.13333rem; }
      #evt_content .sec-1 .mother-price .price {
        width: 4.05333rem; }
      #evt_content .sec-1 .mother-price .gou {
        position: absolute;
        top: 1.92rem;
        left: 2.53333rem;
        width: 0.33333rem;
        height: 0.33333rem;
        background: url("../images/gou.png") center no-repeat;
        background-size: 90%;
        vertical-align: middle;
        margin-left: 0.13333rem; }
      #evt_content .sec-1 .mother-price .gou.on {
        background: url("../images/gou-on.png") center no-repeat;
        background-size: 90%; }
    #evt_content .sec-1 .buy-btn {
      overflow: hidden;
      margin-top: 0.26667rem; }
      #evt_content .sec-1 .buy-btn span {
        float: left;
        width: 1.93333rem;
        display: block;
        background: #f7e4e5;
        margin-right: 0.26667rem;
        color: #505050;
        font-size: 0.26667rem;
        line-height: 0.46667rem;
        text-align: center;
        cursor: pointer; }
    #evt_content .sec-1 .peisong {
      margin: 0.26667rem 0 0 0;
      font-size: 0.21333rem;
      line-height: 0.26667rem;
      color: #b39999; }
  #evt_content .sec-2 {
    position: relative;
    background: #fef5f6;
    margin-top: 0.66667rem;
    padding: 0.13333rem 0 0.4rem 0; }
    #evt_content .sec-2 .xs-zuhe {
      width: 9.65333rem;
      margin: 0 auto; }
    #evt_content .sec-2 .zh-price {
      position: relative;
      text-align: center;
      margin-top: 0.66667rem;
      z-index: 2; }
      #evt_content .sec-2 .zh-price .price {
        width: 3.88rem;
        margin: 0 auto; }
      #evt_content .sec-2 .zh-price .zsong {
        margin: 0.13333rem 0;
        font-size: 0.18667rem;
        line-height: 0.26667rem;
        color: #ac5c4a; }
      #evt_content .sec-2 .zh-price .buy-btns {
        overflow: hidden;
        margin: 0.2rem auto; }
        #evt_content .sec-2 .zh-price .buy-btns span {
          width: 1.93333rem;
          display: inline-block;
          background: #fff;
          margin-right: 0.26667rem;
          color: #505050;
          font-size: 0.24rem;
          line-height: 0.46667rem;
          text-align: center;
          cursor: pointer; }
    #evt_content .sec-2 .dis-1 {
      position: absolute;
      width: 3.77333rem;
      bottom: 0;
      left: 0;
      z-index: 1; }
    #evt_content .sec-2 .dis-2 {
      position: absolute;
      width: 1.50667rem;
      bottom: 0;
      right: 0;
      z-index: 1; }
  #evt_content .sec-zp {
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0.66667rem 0 0.66667rem 0; }
    #evt_content .sec-zp div {
      position: relative; }
    #evt_content .sec-zp .dis-3 {
      position: absolute;
      width: 4.46667rem;
      bottom: -0.53333rem;
      left: 0; }
    #evt_content .sec-zp .liwu {
      width: 10rem;
      margin: 0 auto;
      z-index: 1; }
    #evt_content .sec-zp .weixin {
      width: 4.58667rem;
      margin: 0 auto;
      z-index: 1; }
  #evt_content .sec-footer {
    background: #fef5f6;
    background-size: 12%;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 0.66667rem;
      margin: 0 auto;
      color: #000;
      text-align: left; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.28rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0;
        text-align: left; }
        #evt_content .sec-footer .txt p span {
          display: block;
          padding-left: 0.13333rem;
          text-indent: -0.13333rem; }

.swiper-container {
  position: relative !important;
  width: 4.90667rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.swiper-slide {
  text-align: center;
  background: #b7d8dd;
  width: 4.90667rem;
  height: 5rem;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-pagination {
  width: 100%;
  position: absolute !important;
  bottom: 0.13333rem !important; }

.swiper-pagination-bullet {
  margin: 0 0.06667rem !important;
  background: #fff !important;
  opacity: 1 !important; }

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #626262 !important; }

/*浮动*/
.floater {
  position: fixed;
  width: 1.93333rem;
  height: 1.93333rem;
  bottom: 0.26667rem;
  right: 0.13333rem;
  z-index: 11;
  cursor: pointer;
  display: none; }
  .floater img {
    width: 100%; }
  .floater .tips {
    position: absolute;
    width: 0.66667rem;
    height: 0.66667rem;
    right: -0.06667rem;
    top: -0.06667rem;
    border-radius: 50%;
    background: url("../images/tips.png") center no-repeat;
    background-size: 100%;
    text-align: center;
    z-index: 12; }
    .floater .tips span {
      display: block;
      font-size: 0.26667rem;
      color: #fff;
      line-height: 0.66667rem; }
