@charset "UTF-8";
* {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  width: 10rem; }
  #evt_content img {
    width: 100%;
    display: block; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    width: 10rem;
    height: 18.18667rem;
    background: url("../images/banner.png") no-repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
  #evt_content .hy-title {
    width: 10rem;
    margin: 0.8rem auto 0.53333rem; }
  #evt_content .buy_btns, #evt_content .buy_btn {
    width: 1.93333rem;
    height: 0.46667rem;
    background: url("../images/buy-btn.png");
    background-size: 100%; }
  #evt_content .buy_btns {
    position: absolute;
    bottom: 2.26667rem;
    left: 6.2rem; }
  #evt_content .buy_btn {
    position: relative;
    margin: 0.4rem auto 0.66667rem; }
  #evt_content .sec-1 {
    width: 10rem;
    height: 12.76rem;
    padding: 0;
    background: url("../images/sec-1.jpg") no-repeat;
    background-size: 100%;
    overflow: hidden;
    z-index: 1; }
    #evt_content .sec-1 .message {
      height: 6rem;
      margin: 0 auto;
      text-align: center; }
      #evt_content .sec-1 .message .message-content {
        position: relative;
        height: 3.46667rem; }
      #evt_content .sec-1 .message .messageInput {
        width: 8.50667rem;
        height: 1.02667rem;
        margin: 0 auto;
        background: url("../images/message-bg.png");
        background-size: 100%;
        line-height: 1.02667rem;
        text-align: center;
        font-size: 0.37333rem;
        color: #e6b7af;
        border: none; }
      #evt_content .sec-1 .message .messageInput::-webkit-input-placeholder {
        color: #e6b7af; }
      #evt_content .sec-1 .message .message-btn {
        margin: 0.4rem auto;
        width: 1.93333rem;
        cursor: pointer; }
  #evt_content .sec-2 {
    width: 10rem;
    height: 22.38667rem;
    padding: 0;
    background: url("../images/sec-2.jpg") no-repeat;
    background-size: 100%;
    overflow: hidden; }
    #evt_content .sec-2 .group {
      width: 7.10667rem;
      margin: 0 auto; }
      #evt_content .sec-2 .group:first-child {
        margin-top: 0.93333rem; }
  #evt_content .sec-3 {
    width: 10rem;
    height: 20.17333rem;
    padding: 0;
    background: url("../images/sec-3.jpg") no-repeat;
    background-size: 100%;
    overflow: hidden; }
    #evt_content .sec-3 .cake {
      position: relative; }
      #evt_content .sec-3 .cake:first-child {
        margin-top: 0.93333rem; }
      #evt_content .sec-3 .cake:first-child .buy_btns {
        bottom: 1.33333rem;
        left: 0.53333rem; }
      #evt_content .sec-3 .cake:nth-of-type(2) .buy_btns {
        margin-top: 1.33333rem;
        bottom: 1.6rem;
        left: 4.93333rem; }
      #evt_content .sec-3 .cake:nth-of-type(3) .buy_btns {
        margin-top: 1.33333rem;
        bottom: 0.8rem;
        left: 0.46667rem; }
  #evt_content .sec-4 {
    width: 10rem;
    height: 8.61333rem;
    padding: 0;
    background: url("../images/sec-4.jpg") no-repeat;
    background-size: 100%;
    overflow: hidden; }
    #evt_content .sec-4 .zp {
      margin-top: 1.73333rem; }
  #evt_content .sec-footer {
    position: relative;
    padding-bottom: 0.4rem;
    z-index: 1;
    background: #ffe4dd; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 0.4rem;
      margin: 0 auto;
      color: #70716f; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.29333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.28rem;
        padding-left: 0.46667rem;
        line-height: 0.50667rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          text-indent: 1.06667rem; }

/*彈窗*/
.Dialogbg-quan {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-quan {
  position: fixed;
  width: 8.49333rem;
  height: 6.25333rem;
  background-size: 100%;
  top: 50%;
  left: 50%;
  z-index: 99999;
  margin: -3.12667rem 0 0 -4.24667rem;
  display: none; }
  .Dialog-quan img {
    width: 100%; }
  .Dialog-quan .closes {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: -0.53333rem;
    right: 0;
    cursor: pointer;
    z-index: 8;
    background: url("../images/close.png") no-repeat;
    background-size: 100%; }
  .Dialog-quan .quan {
    position: relative;
    display: none;
    text-align: center;
    width: 8.49333rem;
    height: 6.25333rem; }
    .Dialog-quan .quan .go-use {
      display: block;
      position: absolute;
      bottom: 0.66667rem;
      left: 50%;
      width: 1.93333rem;
      height: 0.46667rem;
      margin-left: -0.96667rem;
      cursor: pointer;
      background: url("../images/buy-btn2.png");
      background-size: 100%; }
  .Dialog-quan .quan-1 {
    background: url("../images/card-1.png");
    background-size: 100%; }
  .Dialog-quan .quan-2 {
    background: url("../images/card-2.png");
    background-size: 100%; }
  .Dialog-quan .quan-3 {
    background: url("../images/card-3.png");
    background-size: 100%; }

/*弹幕*/
.barrage.barrage1 {
  bottom: 1.2rem;
  right: -2.66667rem; }

.barrage {
  position: absolute;
  bottom: 0.93333rem;
  right: -8rem;
  display: inline-block;
  width: 8rem;
  z-index: 99999; }

.barrage_box {
  background-color: #fff;
  padding-right: 0.10667rem;
  height: 0.66667rem;
  display: inline-block;
  border-radius: 0.33333rem;
  transition: all .3s;
  box-shadow: #f3d7d7 1px 5px 5px; }

.barrage_box .portrait {
  display: inline-block;
  margin-top: 4px;
  margin-left: 0.05333rem;
  width: 0.42667rem;
  height: 0.42667rem;
  border-radius: 50%;
  overflow: hidden; }

.barrage_box .portrait img {
  width: 100%;
  height: 100%; }

.barrage_box div.p a {
  margin-right: 0.02667rem;
  font-size: 0.34667rem;
  color: #d39389;
  line-height: 0.66667rem;
  margin-left: 0.24rem; }

.barrage_box div.p a:hover {
  text-decoration: none; }

.barrage_box .close {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  width: 0.33333rem;
  height: 0.33333rem;
  margin-left: 0.26667rem;
  border-radius: 50%; }

.barrage_box:hover .close {
  visibility: visible;
  opacity: 1; }

.barrage_box .close a {
  display: block; }

.barrage_box .close .icon-close {
  font-size: 0.18667rem;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-top: 0.06667rem; }

.barrage .z {
  float: left !important; }

.barrage a {
  text-decoration: none; }
