@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{
  background: url(../images/bg.jpg) repeat;
  div.secItem{position:absolute;}
  img{width:100%;}
  .a{width:px2rem(217); top:px2rem(10); left:px2rem(10);}
  .b{width:px2rem(833); top:px2rem(200); left:0;}




}

.con_main{
  >div{
    position: relative;width:px2rem(750);
  }
  .sec1{
    height:px2rem(470);
   .q1{width:px2rem(579); left:px2rem(83); top:0;}
   .q2{
     top:px2rem(335); left: px2rem(335);
     canvas {
       width:px2rem(130);
       height: px2rem(99);
     }
   }
  }
  .sec2{
    height: px2rem(1248);
    .gezi{left:px2rem(208); top:px2rem(52);
      canvas {
        width:px2rem(213);
        height: px2rem(222);
      }
    }

    .q1{width:px2rem(369); top:px2rem(0); left:px2rem(82);}
    .q2{width:px2rem(232); top:px2rem(40); left: px2rem(438);}
    .q3{width:px2rem(508); top:px2rem(538); left: px2rem(35);}
    .q4{width:px2rem(119); top:px2rem(750); left: px2rem(554);}
    .q5{width:px2rem(181); top:px2rem(915); left: 0;}
    .word{width:px2rem(412); top:px2rem(888); left: px2rem(274);}
    .btn-1{width:px2rem(196); top:px2rem(1146); left: px2rem(495);}
    .reel{width:px2rem(256); top:px2rem(364); left: px2rem(452);
      .reel-1{ position: relative; width: px2rem(256); height:px2rem(53);
        background: url("../images/reel-1.png") no-repeat; background-size: 100%;
        -webkit-transition: height 0.2s; transition: height 0.2s;
      }
      .reel-1.on{ height: px2rem(302); }
      .reel-2{ position: relative; width: px2rem(256);height:px2rem(53); margin-top: px2rem(-10);
        background: url("../images/reel-2.png") no-repeat; background-size: cover;
      }
      .arrow{ position: relative; width:px2rem(256); text-align: center;
        canvas {
          width:px2rem(36);
          height: px2rem(57);
        }
      }

    }
  }
  .sec3{
    height: px2rem(2571);
    .fly{ top:px2rem(37); left:px2rem(191);
      canvas {
        width:px2rem(243);
        height: px2rem(210);
      }
    }
    .girl{ top:px2rem(153); left:px2rem(474);
      canvas {
        width:px2rem(184);
        height: px2rem(171);
      }
    }
    .dog{ top:px2rem(980); left:px2rem(320);
      canvas {
        width:px2rem(227);
        height: px2rem(350);
      }
    }
    .q1{width:px2rem(536); top:px2rem(314); left:px2rem(33); }
    .q2{width:px2rem(374); top:px2rem(742); left: px2rem(355);}
    .q3{width:px2rem(368); top:px2rem(920); left: px2rem(62);}
    .q4{width:px2rem(334); top:px2rem(1097); left: px2rem(410);}
    .q5{width:px2rem(48); top:px2rem(2339); left: px2rem(174); }
    .pan{width:px2rem(376); top:px2rem(1209); left: px2rem(70);}
    .word{width:px2rem(505); top:px2rem(1671); left: px2rem(62);}
    .btn-2{width:px2rem(240); top:px2rem(976); left: px2rem(494);}
    .btn-3{width:px2rem(196); top:px2rem(1798); left: px2rem(224);}
    .box{width:px2rem(565); top:px2rem(1920); left: px2rem(186); z-index: 2;}
    .bottom{width:px2rem(486); top:px2rem(2398); left: px2rem(132); z-index: 1; border: none;}
  }
}

