@charset "UTF-8";
html, body {
  height: 100%; }

#evt_content {
  max-width: 10rem;
  margin: 0 auto;
  background: #fae6df; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-banner {
    z-index: 1; }
  #evt_content .btns {
    float: right;
    width: 2rem;
    margin: 0 auto;
    background: #eb444c;
    text-align: center;
    cursor: pointer;
    border-radius: 0.58667rem;
    z-index: 2; }
    #evt_content .btns span {
      display: block;
      color: #fff;
      font-size: 0.26667rem;
      line-height: 0.58667rem; }
  #evt_content .s-title {
    width: 10rem;
    margin: 0 auto 0.93333rem; }
  #evt_content .sec-1 {
    background: #fae6df;
    padding: 0.01333rem 0 0.93333rem; }
    #evt_content .sec-1 .Notstarted {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }
      #evt_content .sec-1 .Notstarted p {
        position: absolute;
        top: 3.86667rem;
        left: 50%;
        width: 5.33333rem;
        margin-left: -2.66667rem;
        text-align: center;
        color: #fff;
        font-size: 0.64rem;
        line-height: 1.2rem;
        letter-spacing: 0.13333rem;
        z-index: 2; }
      #evt_content .sec-1 .Notstarted .Notstarted-box {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.54;
        z-index: 1; }
    #evt_content .sec-1 ul {
      width: 9.93333rem;
      margin: 0 auto;
      padding-left: -0.06667rem; }
      #evt_content .sec-1 ul li {
        float: left;
        width: 4.76rem;
        margin-left: 0.13333rem; }
        #evt_content .sec-1 ul li .price {
          padding: 0.4rem 0; }
          #evt_content .sec-1 ul li .price .buy {
            width: 2.73333rem;
            padding: 0.26667rem 0;
            margin: 0 auto; }
          #evt_content .sec-1 ul li .price .cart {
            width: 0.58667rem;
            float: left; }
    #evt_content .sec-1 .zeng {
      width: 10rem;
      margin-top: 0.26667rem; }
  #evt_content .sec-footer {
    background: url("../images/foot_bg.png") repeat-y;
    background-size: 100%;
    position: relative;
    padding: 0.8rem 0;
    z-index: 1;
    text-align: left;
    color: #632300; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.06667rem;
      margin: 0 auto;
      text-align: left; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.36rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.36rem;
        padding-left: 0.46667rem;
        line-height: 0.66667rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0;
        text-align: left !important; }
        #evt_content .sec-footer .txt p span {
          display: block;
          padding-left: 0.4rem;
          text-indent: 0; }

/*蛋糕选择弹窗*/
.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

/*蛋糕选择弹窗*/
.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-Select {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 0.18667rem;
  width: 8rem;
  height: auto;
  margin-top: -4.26667rem;
  margin-left: -4rem;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 0.13333rem; }

.s-closes {
  position: absolute;
  top: 0.13333rem !important;
  right: -0.50667rem !important;
  width: 0.36rem !important;
  height: 0.36rem !important;
  background: url("../images/close.png");
  background-size: 100%; }

.Select {
  position: relative;
  color: #000;
  height: 100%;
  text-align: left;
  border-radius: 0.13333rem;
  overflow: hidden; }
  .Select .s-title {
    height: 1.37333rem;
    background: #f2f2f2;
    position: relative; }
    .Select .s-title h2 {
      font-size: 0.37333rem;
      line-height: 0.4rem;
      padding-left: 0.53333rem;
      padding-top: 0.4rem; }
    .Select .s-title b {
      font-size: 0.18667rem;
      color: #9a9a9a;
      font-weight: normal;
      padding-left: 0.53333rem; }
  .Select .s-bangshu {
    padding-top: 0.26667rem; }
    .Select .s-bangshu ul {
      margin-left: 0.53333rem; }
      .Select .s-bangshu ul li {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        background: #f2f2f2;
        border-radius: 50%;
        text-align: center;
        color: #4a4a4a;
        margin-right: 0.66667rem;
        font-size: 0.30667rem;
        line-height: 0.26667rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column; }
        .Select .s-bangshu ul li i {
          font-size: 0.21333rem;
          line-height: 0.26667rem;
          font-style: normal; }
      .Select .s-bangshu ul li.on {
        background: #eb444c;
        color: #fff; }
  .Select .d-tips {
    padding: 0.26667rem 0.53333rem;
    color: #4c4c4c;
    font-size: 0.24rem; }
  .Select .s-num {
    height: 1.33333rem;
    padding-left: 0.53333rem;
    border-top: #ededed 1px solid; }
    .Select .s-num b {
      display: inline-block;
      width: 2.66667rem;
      margin: 0.26667rem 0;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-num .nums {
      display: inline-block;
      margin: 0.26667rem 0.53333rem 0.26667rem 0.26667rem;
      float: right;
      height: 0.74667rem;
      position: relative;
      width: 2.66667rem; }
    .Select .s-num .nums a {
      display: block;
      width: 0.74667rem;
      height: 0.74667rem;
      position: absolute;
      top: 0.02667rem; }
    .Select .s-num .nums .minus {
      background: url("../images/btn-1.png") no-repeat;
      background-size: 100%;
      left: 0; }
    .Select .s-num .nums .plus {
      background: url("../images/btn-2.png") no-repeat;
      background-size: 100%;
      right: 0; }
    .Select .s-num .nums input {
      background: none;
      border: none;
      color: #626262;
      display: block;
      font-size: 0.4rem;
      height: 0.74667rem;
      left: 0.8rem;
      line-height: 0.74667rem;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.06667rem; }
  .Select .s-prices {
    font-size: 0.29333rem;
    padding: 0.4rem 0.53333rem;
    border-top: #ededed 1px solid;
    color: #4a4a4a; }
    .Select .s-prices b {
      display: inline-block;
      width: 2.66667rem;
      margin: 0;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-prices p {
      display: block;
      line-height: 0.74667rem;
      text-align: right; }
    .Select .s-prices i {
      font-style: normal; }
    .Select .s-prices span {
      font-size: 0.6rem; }
  .Select s {
    color: #7e7e7e; }
  .Select .btns {
    width: 100%;
    position: relative;
    bottom: 0rem;
    display: flex;
    height: 1.33333rem;
    line-height: 1.33333rem;
    flex-direction: row;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
    padding: 0; }
    .Select .btns div {
      flex: 1;
      cursor: pointer; }
    .Select .btns .go-buy {
      background: #eb444c; }
    .Select .btns .go-car {
      background: #eb444c;
      float: left; }
    .Select .btns .go-buy.single {
      background: #ffe32a;
      color: #c43818; }
