html,body{margin:0; padding:0;}
.clearfix { *zoom:1;}
.clearfix:after{
    content: "";     /*内容为“.”就是一个英文的句号而已。也可以不写。*/
    display: block;   /*加入的这个元素转换为块级元素。*/
    clear: both;     /*清除左右两边浮动。*/
    visibility: hidden;      /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
    line-height: 0;    /*行高为0；*/
    height: 0;     /*高度为0；*/
    font-size:0;    /*字体大小为0；*/
}
#evt_container{position:relative;}
#evt_container *{  box-sizing: border-box;  background-repeat: no-repeat;  vertical-align: middle;  -webkit-tap-highlight-color: rgba(0,0,0,0);  tap-highlight-color: rgba(0,0,0,0);  -webkit-appearance: none;  -moz-appearance: none;  appearance: none;  -webkit-focus-ring-color: rgba(0,0,0,0);  focus-ring-color: rgba(0,0,0,0);  resize: none;  outline: 0;}
#evt_container *:before, #evt_container *:after { box-sizing: border-box;}
#evt_container a:focus {outline: thin dotted;}
#evt_container a:active, #evt_container a:hover {outline: 0;}
#evt_loading{text-align:center; margin-top:50%; position:static; color:#000000;}
#evt_container{width:10rem; overflow:hidden; margin:0 auto;}
#evt_container .wrap{width:10rem; position:relative;}