@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

#userBox {
  position: relative;
  width: 1.24rem;
  height: 0.98667rem;
  line-height: 0.16rem;
  margin-top: -1.06667rem; }
  #userBox .icon-car {
    position: relative;
    width: 1.24rem;
    height: 0.98667rem;
    background: url("../images/icon-car.png") center no-repeat;
    background-size: 100%; }
    #userBox .icon-car .s-amount {
      position: absolute;
      display: block;
      right: 0.06667rem;
      top: 0.06667rem;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      font-size: 0.21333rem;
      line-height: 0.4rem;
      text-align: center;
      background: #8a1c2b;
      color: #fff; }

#evt_content {
  background: #fff; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-banner {
    height: 15.90667rem;
    background: #860102 url("../images/bg.png") no-repeat;
    background-size: 100%; }
    #evt_content .sec-banner .b-title {
      width: 3.45333rem;
      top: 0.53333rem;
      left: 5.13333rem; }
  #evt_content .sec-1 {
    height: 10.66667rem;
    background: #fff9ed url("../images/bg-1.png") center no-repeat;
    background-size: 100%;
    padding-top: 1.46667rem; }
    #evt_content .sec-1 div {
      position: relative; }
    #evt_content .sec-1 .mianyou {
      margin: 0 auto;
      width: 9.06667rem;
      height: 8.66667rem; }
      #evt_content .sec-1 .mianyou .you {
        width: 7.54667rem;
        height: 1.98667rem;
        margin: 0 auto; }
      #evt_content .sec-1 .mianyou .baoyouli {
        padding-top: 0.93333rem; }
        #evt_content .sec-1 .mianyou .baoyouli dt {
          width: 8.88rem;
          margin: 0 auto 0.13333rem; }
        #evt_content .sec-1 .mianyou .baoyouli .content {
          padding-left: 0.10667rem; }
        #evt_content .sec-1 .mianyou .baoyouli dd {
          width: 2.12rem;
          float: left;
          margin-right: 0.10667rem;
          cursor: pointer; }
        #evt_content .sec-1 .mianyou .baoyouli dd:last-child {
          margin-right: 0; }
  #evt_content .ad {
    position: relative;
    width: 10rem; }
  #evt_content .sec-2 {
    padding: 0.26667rem 0 0.4rem;
    background: #fff9ed url("../images/bg-2.png") center no-repeat;
    background-size: 100%; }
    #evt_content .sec-2 div {
      position: relative; }
    #evt_content .sec-2 .products ul {
      margin-left: 0.2rem;
      padding: 0; }
      #evt_content .sec-2 .products ul li {
        color: #000;
        float: left;
        font-size: 0.2rem;
        margin: 0 0.13333rem 0.24rem 0;
        width: 4.72rem; }
        #evt_content .sec-2 .products ul li .pro-liimg {
          position: relative;
          overflow: hidden; }
          #evt_content .sec-2 .products ul li .pro-liimg .liImg {
            width: 4.8rem;
            height: 4.54667rem;
            z-index: 1; }
          #evt_content .sec-2 .products ul li .pro-liimg .cart-icon {
            position: absolute;
            right: 0.18667rem;
            bottom: 0.18667rem;
            width: 1.33333rem;
            height: 1.33333rem;
            background: url("../images/car-icon.png") bottom right no-repeat;
            background-size: 100%;
            cursor: pointer;
            z-index: 5; }
        #evt_content .sec-2 .products ul li .fl {
          float: left;
          text-align: left;
          font-size: 0.24rem; }
        #evt_content .sec-2 .products ul li .fr {
          float: right;
          text-align: left; }
        #evt_content .sec-2 .products ul li .p2, #evt_content .sec-2 .products ul li .p3 {
          margin: 0 0 0.2rem;
          padding: 0; }
        #evt_content .sec-2 .products ul li .p2 {
          height: 0.4rem; }
        #evt_content .sec-2 .products ul li .p2 .line {
          position: absolute;
          bottom: 0;
          left: 0.13333rem;
          color: #dedede; }
        #evt_content .sec-2 .products ul li .p1 {
          padding: 0.2rem 0 0.06667rem;
          line-height: 0.33333rem; }
        #evt_content .sec-2 .products ul li .fr.he {
          width: 0.66667rem !important; }
        #evt_content .sec-2 .products ul li .p1 .fr {
          position: relative;
          height: 0.33333rem;
          line-height: 0.33333rem;
          display: block;
          font-size: 0.24rem;
          font-weight: bold;
          text-indent: 0.24rem; }
          #evt_content .sec-2 .products ul li .p1 .fr .js_bshu {
            display: block;
            width: 1.02667rem;
            height: 0.33333rem;
            z-index: 2; }
          #evt_content .sec-2 .products ul li .p1 .fr .js_bshu.on {
            background: #d2d2d2; }
          #evt_content .sec-2 .products ul li .p1 .fr .dot {
            position: absolute;
            display: block;
            width: 0.2rem;
            height: 0.13333rem;
            top: 0.09333rem;
            left: 0.8rem;
            z-index: 0;
            background: url("../images/dot.png") no-repeat;
            background-size: 100%; }
          #evt_content .sec-2 .products ul li .p1 .fr ul.js_select {
            position: absolute;
            width: 1.02667rem;
            top: 0.33333rem;
            left: 50%;
            text-align: left;
            margin-left: -0.50667rem;
            font-size: 0.24rem;
            background: #eaeaea;
            z-index: 10;
            display: none; }
            #evt_content .sec-2 .products ul li .p1 .fr ul.js_select li {
              height: 0.4rem;
              width: 1.02667rem;
              text-indent: 0.24rem;
              line-height: 0.4rem;
              cursor: pointer;
              color: #757575;
              margin: 0;
              font-size: 0.21333rem;
              background: #eaeaea; }
            #evt_content .sec-2 .products ul li .p1 .fr ul.js_select strong {
              font-size: 0.18667rem; }
            #evt_content .sec-2 .products ul li .p1 .fr ul.js_select li.on {
              color: #000; }
        #evt_content .sec-2 .products ul li .p2 .fl {
          color: #b1b1b1;
          font-size: 0.24rem; }
        #evt_content .sec-2 .products ul li .p3 .fl {
          line-height: 0.4rem;
          font-size: 0.36rem; }
        #evt_content .sec-2 .products ul li .p3 .fl b {
          font-size: 0.18667rem;
          font-weight: normal;
          vertical-align: sub; }
        #evt_content .sec-2 .products ul li .p3 .fl span {
          font-size: 0.45333rem !important;
          vertical-align: sub; }
      #evt_content .sec-2 .products ul .postid {
        display: none; }
      #evt_content .sec-2 .products ul .selects-l {
        position: absolute;
        top: -0.26667rem;
        right: 0;
        width: 1.33333rem;
        height: 0.8rem;
        background: url("../images/dot.png") right no-repeat;
        background-size: 20%;
        border: none;
        color: #000;
        text-indent: 0.13333rem;
        font-size: 0.26667rem;
        font-weight: bold; }
  #evt_content .btns {
    position: relative;
    float: right;
    width: 1.73333rem;
    height: 0.53333rem;
    background: #ffcd20;
    text-align: center;
    border-radius: 0.26667rem;
    cursor: pointer; }
    #evt_content .btns span {
      display: block;
      color: #000;
      font-size: 0.29333rem;
      line-height: 0.53333rem; }
  #evt_content .more {
    position: relative;
    width: 10rem;
    height: 1.6rem;
    background: #e9e2d5;
    text-align: center;
    cursor: pointer; }
    #evt_content .more span {
      display: block;
      color: #000;
      font-weight: bold;
      font-size: 0.29333rem;
      line-height: 1.6rem; }
  #evt_content .sec-footer {
    background: #a5002f;
    position: relative; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 8.8rem;
      padding-top: 0.66667rem;
      padding-bottom: 0.66667rem;
      margin: 0 auto;
      color: #fff; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.4rem;
        font-weight: normal;
        margin-top: 0.26667rem; }
      #evt_content .sec-footer .txt p {
        font-size: 0.29333rem;
        padding-left: 0.26667rem;
        line-height: 0.46667rem;
        text-indent: -0.26667rem;
        margin: 0.13333rem auto 0; }
      #evt_content .sec-footer .txt p.p1 {
        margin: 0rem auto 0; }

/*彈窗*/
.Dialogbg-quan {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-quan {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 0.18667rem;
  width: 7.33333rem;
  height: 4.66667rem;
  margin-top: -4rem;
  margin-left: -3.66667rem;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 0.13333rem; }

.q-closes {
  width: 1.33333rem;
  height: 1.33333rem;
  position: absolute;
  bottom: -1.6rem;
  left: 50%;
  margin-left: -0.66667rem;
  cursor: pointer;
  z-index: 10;
  background: url("../images/close.png") center no-repeat;
  background-size: 60%; }

.quan .txt {
  width: 6.66667rem;
  height: 100%;
  margin: 0.66667rem auto 0.53333rem;
  color: #000; }

.quan h2 {
  font-size: 0.66667rem;
  line-height: 1.06667rem;
  text-align: center; }

.quan h3 {
  font-size: 0.32rem;
  margin-bottom: 0.53333rem;
  line-height: 0.53333rem;
  text-align: center; }

.quan h4 {
  font-size: 0.66667rem;
  padding-top: 0.4rem;
  line-height: 1.06667rem;
  text-align: center; }

.quan p {
  font-size: 0.29333rem;
  line-height: 1.5;
  margin-top: 0.13333rem;
  margin-bottom: 0.13333rem;
  text-align: center;
  color: #666666; }

.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-Select {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 0.18667rem;
  width: 8rem;
  height: 8.8rem;
  margin-top: -4.4rem;
  margin-left: -4rem;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 0.26667rem; }

.Select {
  position: relative;
  color: #000;
  height: 100%; }
  .Select .s-title {
    height: 1.37333rem;
    background: #f2f2f2;
    position: relative;
    border-top-left-radius: 0.26667rem;
    border-top-right-radius: 0.26667rem; }
    .Select .s-title h2 {
      font-size: 0.37333rem;
      line-height: 0.66667rem;
      padding-left: 0.33333rem;
      padding-top: 0.13333rem; }
    .Select .s-title b {
      font-size: 0.18667rem;
      color: #9a9a9a;
      font-weight: normal;
      padding-left: 0.26667rem; }
  .Select .s-bangshu {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: #ededed 1px solid; }
    .Select .s-bangshu ul {
      margin-left: 0.53333rem; }
      .Select .s-bangshu ul li {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        background: #f2f2f2;
        border-radius: 50%;
        text-align: center;
        line-height: 1.2rem;
        font-size: 0.30667rem;
        color: #000;
        margin-right: 0.66667rem;
        font-weight: bold; }
      .Select .s-bangshu ul li.on {
        background: #a5002f;
        color: #fff; }
  .Select .s-num {
    height: 1.86667rem; }
    .Select .s-num b {
      display: inline-block;
      width: 2.66667rem;
      margin: 0.53333rem 0.26667rem;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-num .nums {
      display: inline-block;
      margin: 0.53333rem 0.26667rem;
      float: right;
      height: 0.74667rem;
      position: relative;
      width: 2.66667rem; }
    .Select .s-num .nums a {
      display: block;
      width: 0.74667rem;
      height: 0.74667rem;
      position: absolute;
      top: 0.02667rem; }
    .Select .s-num .nums .minus {
      background: transparent url("../images/btn-1.png") no-repeat;
      background-size: 100%;
      left: 0; }
    .Select .s-num .nums .plus {
      background: transparent url("../images/btn-2.png") no-repeat;
      background-size: 100%;
      right: 0; }
    .Select .s-num .nums input {
      background: none;
      border: none;
      color: #626262;
      display: block;
      font-size: 0.4rem;
      height: 0.74667rem;
      left: 0.8rem;
      line-height: 0.74667rem;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.06667rem; }
  .Select .s-prices {
    font-size: 0.29333rem;
    padding-left: 0.26667rem; }
    .Select .s-prices span {
      font-size: 0.6rem; }
  .Select .btns {
    width: 100%;
    position: absolute;
    bottom: 0rem;
    display: flex;
    height: 1.33333rem;
    line-height: 1.33333rem;
    flex-direction: row;
    text-align: center;
    font-size: 0.4rem;
    color: #fff; }
    .Select .btns div {
      flex: 1;
      cursor: pointer;
      width: 50%; }
    .Select .btns .go-car {
      background: #b39774;
      border-bottom-left-radius: 0.26667rem;
      float: left; }
    .Select .btns .go-buy {
      background: #a5002f;
      border-bottom-right-radius: 0.26667rem;
      float: left; }

@media screen and (max-width: 330px) {
  .baoyouli .content {
    padding-left: 0.2rem !important; } }
