@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

#evt_content {
  background: #050f1d;
  height: 17.33333rem;
  /* 找月亮*/ }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: absolute;
    z-index: 1; }
  #evt_content .content {
    position: relative;
    width: 100%;
    height: 100%; }
    #evt_content .content div {
      position: absolute; }
  #evt_content .sec-s0 {
    width: 10rem;
    height: 100%;
    z-index: 10;
    background: #000; }
    #evt_content .sec-s0 .content {
      position: relative;
      width: 100%;
      height: 100%; }
      #evt_content .sec-s0 .content .s0-bg {
        background: url("../images/s0-bg.jpg") no-repeat;
        width: 100%;
        height: 100%;
        background-size: 100%;
        top: 0;
        left: 0; }
      #evt_content .sec-s0 .content .s0-moon {
        width: 9.6rem;
        left: 50%;
        margin-left: -4.8rem;
        top: 0; }
      #evt_content .sec-s0 .content .s0-title {
        width: 6.44rem;
        left: 50%;
        top: 8rem;
        margin-left: -3.22rem; }
    #evt_content .sec-s0 .s0-words {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; }
      #evt_content .sec-s0 .s0-words .s0-bg-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000; }
      #evt_content .sec-s0 .s0-words .word {
        position: absolute;
        width: 4.6rem;
        left: 50%;
        top: 50%;
        margin-left: -2.3rem;
        margin-top: -3.33333rem; }
  #evt_content .sec-s1 {
    width: 10rem;
    height: 100%;
    background: url("../images/s1-bg.jpg") no-repeat;
    background-size: 100%;
    z-index: 8; }
    #evt_content .sec-s1 .content {
      position: relative;
      width: 100%;
      height: 100%; }
      #evt_content .sec-s1 .content .s1-deng {
        position: absolute; }
      #evt_content .sec-s1 .content .s1-deng-1 {
        width: 1.96rem;
        height: 1.82667rem;
        top: 0rem;
        left: 0rem;
        background: url("../images/s1-deng-1.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-s1 .content .s1-deng-2, #evt_content .sec-s1 .content .s1-deng-6, #evt_content .sec-s1 .content .s1-deng-7, #evt_content .sec-s1 .content .s1-deng-8 {
        width: 1.24rem;
        height: 1.52rem;
        top: 1.46667rem;
        left: 4.21333rem;
        background: url("../images/s1-deng-2.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-s1 .content .s1-deng-3, #evt_content .sec-s1 .content .s1-deng-5 {
        width: 0.78667rem;
        height: 0.94667rem;
        top: 0.70667rem;
        left: 8.62667rem;
        background: url("../images/s1-deng-3.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-s1 .content .s1-deng-4 {
        width: 2.14667rem;
        height: 2.62667rem;
        top: 3.05333rem;
        left: 6.96rem;
        background: url("../images/s1-deng-4.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-s1 .content .s1-deng-5 {
        top: 3.88rem;
        left: 0.77333rem; }
      #evt_content .sec-s1 .content .s1-deng-6 {
        width: 1.33333rem;
        height: 1.6rem;
        top: 5.93333rem;
        left: 2.50667rem; }
      #evt_content .sec-s1 .content .s1-deng-7 {
        top: 8.16rem;
        left: -0.13333rem;
        opacity: 0.6; }
      #evt_content .sec-s1 .content .s1-deng-8 {
        top: 8.78667rem;
        left: 6.50667rem; }
      #evt_content .sec-s1 .content .s1-jing {
        width: 3.02667rem;
        top: 6.66667rem;
        left: 2.56rem; }
      #evt_content .sec-s1 .content .s1-tips {
        position: fixed;
        width: 5.68rem;
        bottom: 2.66667rem;
        left: 50%;
        margin-left: -2.84rem; }
      #evt_content .sec-s1 .content .s1-across {
        position: fixed;
        width: 2.02667rem;
        bottom: 0.66667rem;
        left: 50%;
        margin-left: -1.01333rem; }
    #evt_content .sec-s1 .result-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.8;
      display: none; }
    #evt_content .sec-s1 .result {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; }
      #evt_content .sec-s1 .result .center {
        width: 7.29333rem;
        height: 100%;
        margin: 0 auto;
        text-align: center; }
      #evt_content .sec-s1 .result .s1-result-m {
        width: 6.82667rem;
        margin: 0.66667rem auto 0; }
      #evt_content .sec-s1 .result .s1-result-w {
        width: 7.29333rem;
        margin: -0.66667rem auto 0; }
      #evt_content .sec-s1 .result .s1-result-btn {
        width: 4.44rem;
        margin: 0.66667rem auto; }
    #evt_content .sec-s1 .lingjiang .s1-jiang {
      position: absolute;
      width: 6.76rem;
      height: 7.76rem;
      top: 50%;
      left: 50%;
      margin-left: -3.38rem;
      margin-top: -5.33333rem;
      background: url("../images/s1-jiang.png");
      background-size: 100%; }
    #evt_content .sec-s1 .lingjiang .jing-center {
      position: relative;
      width: 100%;
      height: 100%; }
    #evt_content .sec-s1 .lingjiang .text {
      position: absolute;
      width: 6.66667rem;
      height: 2rem;
      top: 3.46667rem;
      left: 50%;
      margin-left: -3.33333rem;
      text-align: center;
      font-size: 0.4rem; }
      #evt_content .sec-s1 .lingjiang .text span {
        font-size: 1.33333rem;
        font-weight: bold;
        vertical-align: sub; }
    #evt_content .sec-s1 .lingjiang .btn-ky {
      position: absolute;
      width: 2.42667rem;
      bottom: -0.66667rem;
      left: 0.66667rem; }
    #evt_content .sec-s1 .lingjiang .btn-sc {
      position: absolute;
      width: 2.41333rem;
      bottom: -0.66667rem;
      right: 0.66667rem; }
    #evt_content .sec-s1 .lingjiang .close {
      position: absolute;
      width: 1.33333rem;
      height: 1.33333rem;
      top: -0.4rem;
      right: 0.26667rem; }
  #evt_content .sec-s2 {
    width: 10rem;
    height: 100%;
    background: url("../images/s2-bg.jpg") no-repeat;
    background-size: 100%;
    z-index: 8; }
    #evt_content .sec-s2 .s2-moon {
      width: 4.76rem;
      top: 0.68rem;
      left: 1.56rem; }
    #evt_content .sec-s2 .s2-shou {
      width: 1.34667rem;
      top: 9.57333rem;
      left: 1.97333rem; }
    #evt_content .sec-s2 .s2-word {
      width: 5.73333rem;
      top: 12.8rem;
      left: 50%;
      margin-left: -2.86667rem; }
    #evt_content .sec-s2 .result-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.8;
      display: none; }
    #evt_content .sec-s2 .result {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; }
      #evt_content .sec-s2 .result .center {
        width: 7.29333rem;
        height: 100%;
        margin: 0 auto;
        text-align: center; }
      #evt_content .sec-s2 .result .s2-result-w {
        width: 5.41333rem;
        margin: 4rem auto 0; }
      #evt_content .sec-s2 .result .s2-result-btn {
        width: 4.81333rem;
        margin: 0.66667rem auto 0; }
  #evt_content .sec-s3 {
    width: 10rem;
    height: 100%;
    background: url("../images/s3-bg.jpg") no-repeat;
    background-size: 100%;
    z-index: 8; }
    #evt_content .sec-s3 .s3-moon {
      width: 7.84rem;
      top: -0.26667rem;
      left: 0.92rem;
      z-index: 4; }
    #evt_content .sec-s3 .s3-shou {
      width: 1.34667rem;
      top: 5.33333rem;
      left: 6.70667rem;
      z-index: 3; }
    #evt_content .sec-s3 .s3-moonbing {
      width: 5.34667rem;
      top: 10rem;
      left: 50%;
      margin-left: -2.67333rem; }
    #evt_content .sec-s3 .s3-quan {
      width: 6.01333rem;
      top: 8.66667rem;
      left: 50%;
      margin-left: -3.00667rem; }
    #evt_content .sec-s3 .s3-wen {
      width: 3.17333rem;
      top: 12rem;
      left: 50%;
      margin-left: -1.58667rem; }
    #evt_content .sec-s3 .box {
      width: 8.8rem;
      height: 8.8rem;
      top: 7.73333rem;
      left: 50%;
      margin-left: -4.4rem;
      z-index: 3; }
  #evt_content .sec-s4 {
    width: 10rem;
    height: 100%;
    z-index: 100; }
    #evt_content .sec-s4 .share-1 {
      width: 10rem;
      height: 100%; }
    #evt_content .sec-s4 .share-2 {
      width: 10rem;
      height: 100%; }

.a-piaofu {
  -webkit-animation: piaofu 3s ease-in infinite;
  animation: piaofu 3s ease-in infinite; }

.b-piaofu {
  -webkit-animation: piaofu 2.8s ease-in infinite;
  animation: piaofu 2.8s ease-in infinite; }

.fdjing {
  -webkit-animation: jing 5s linear infinite;
  animation: jing 5s linear infinite; }

.across {
  -webkit-animation: across 2s ease-in-out infinite normal;
  animation: across 2s ease-in-out infinite normal; }

.slip {
  -webkit-animation: slip 5s linear infinite;
  animation: slip 5s linear infinite; }

.fadeToggle {
  -webkit-animation: fadeToggle 4s linear infinite;
  animation: fadeToggle 4s linear infinite; }

@-webkit-keyframes piaofu {
  0%, 100% {
    -webkit-transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-10%); } }

@keyframes piaofu {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10%); } }

@-webkit-keyframes jing {
  0%, 100% {
    -webkit-transform: translate(-10%, 50%); }
  50% {
    -webkit-transform: translate(50%, -20%); } }

@keyframes jing {
  0%, 100% {
    transform: translate(-10%, 50%); }
  50% {
    transform: translate(50%, -20%); } }

@-webkit-keyframes across {
  0% {
    -webkit-transform: translateY(0); }
  100% {
    -webkit-transform: translateY(20%); } }

@keyframes across {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(20%); } }

@-webkit-keyframes slip {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translate(50%, 150%); }
  100% {
    -webkit-transform: translate(-50%, 300%); } }

@keyframes slip {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translate(50%, 150%); }
  100% {
    transform: translate(-50%, 300%); } }

@-webkit-keyframes fadeToggle {
  0%, 100% {
    opacity: 0; }
  70% {
    opacity: 1; } }

@keyframes fadeToggle {
  0%, 100% {
    opacity: 0; }
  70% {
    opacity: 1; } }
