@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{height:px2rem(6300);
  div{position:absolute;}
  img{width:100%;}
  .a{width:px2rem(217); top:px2rem(10); left:px2rem(10);}
  .b{width:px2rem(833); top:px2rem(200); left:0;}
}