@charset "UTF-8";
#evt_content {
  background: url("../images/bg.jpg") repeat;
  /*价格计算【通用】*/ }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    height: 9.22667rem;
    background: url("../images/banner-wap.jpg") repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
    #evt_content .sec-top .banner-1 {
      width: 5.09333rem;
      top: 0;
      left: 0; }
    #evt_content .sec-top .banner-2 {
      width: 2.84rem;
      top: 0;
      right: 0; }
    #evt_content .sec-top .banner-3 {
      width: 4.48rem;
      bottom: 0;
      left: 0; }
    #evt_content .sec-top .banner-4 {
      width: 4.21333rem;
      bottom: 0;
      right: 0; }
    #evt_content .sec-top .banner-t {
      width: 6.26667rem;
      top: 2.4rem;
      left: 50%;
      margin-left: -3.13333rem; }
  #evt_content .sec-0 {
    padding: 0.66667rem 0; }
    #evt_content .sec-0 div {
      position: relative; }
    #evt_content .sec-0 .quanyi {
      width: 10rem;
      margin: 0.4rem auto 0; }
    #evt_content .sec-0 .hongbao {
      width: 10rem;
      margin: 1.33333rem auto 0; }
      #evt_content .sec-0 .hongbao .hb {
        position: absolute;
        width: 1.46667rem;
        height: 0.48rem;
        line-height: 0.48rem;
        text-align: center;
        color: #fff;
        bottom: 0.04rem;
        font-size: 0.29333rem; }
      #evt_content .sec-0 .hongbao .hb1 {
        left: 0.97333rem; }
      #evt_content .sec-0 .hongbao .hb2 {
        left: 4.29333rem; }
      #evt_content .sec-0 .hongbao .hb3 {
        left: 7.62667rem; }
      #evt_content .sec-0 .hongbao .hb.on {
        color: #a19d9d; }
  #evt_content .sec-zp {
    position: relative;
    z-index: 2;
    padding: 0.66667rem 0 0 0; }
    #evt_content .sec-zp div {
      position: relative; }
    #evt_content .sec-zp .zp {
      width: 9.17333rem;
      margin: 0.4rem auto;
      z-index: 1; }
    #evt_content .sec-zp .zp-txt {
      width: 9.17333rem;
      margin: -0.13333rem auto 1.06667rem;
      text-align: center;
      font-size: 0.24rem;
      z-index: 1;
      color: #5d5d5d; }
  #evt_content .hy-title {
    position: relative;
    width: 9.17333rem;
    margin: 0.4rem auto; }
  #evt_content .sec-main {
    padding: 0.66667rem 0; }
    #evt_content .sec-main .row {
      position: relative;
      height: 7.73333rem; }
    #evt_content .sec-main .row1 .cake {
      width: 8rem;
      top: 1.33333rem;
      right: 0;
      z-index: 1; }
    #evt_content .sec-main .row1 .price {
      top: 0.66667rem;
      left: 0.13333rem;
      z-index: 2; }
    #evt_content .sec-main .row1 .disc {
      left: 0; }
    #evt_content .sec-main .row1 .price ul.price_p li {
      background: #49c8e9 !important; }
    #evt_content .sec-main .row1 .price h2, #evt_content .sec-main .row1 .price s, #evt_content .sec-main .row1 .price .price_num dl dt span, #evt_content .sec-main .row1 .price .huangou {
      color: #00acce !important; }
    #evt_content .sec-main .row1 .price ul.price_p li.cur, #evt_content .sec-main .row1 .price ul.buy_btn_box li span {
      background: #27c1e7 !important; }
    #evt_content .sec-main .row1 .price_num dl dd.reduce {
      background: url("../images/reduce-1.png") no-repeat;
      background-size: 99%; }
    #evt_content .sec-main .row1 .price_num dl dd.add {
      background: url("../images/add-1.png") no-repeat scroll;
      background-size: 99%; }
    #evt_content .sec-main .row1 .icon {
      background: url("../images/icon-1.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row1 .icon.on {
      background: url("../images/icon-1-h.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row2 .cake {
      width: 7.73333rem;
      top: 0;
      left: 0;
      z-index: 1; }
    #evt_content .sec-main .row2 .price {
      top: 0.66667rem;
      left: 5.06667rem; }
    #evt_content .sec-main .row2 .disc {
      left: 0.26667rem; }
    #evt_content .sec-main .row2 .price ul.price_p li {
      background: #e2a3a4 !important; }
    #evt_content .sec-main .row2 .price h2, #evt_content .sec-main .row2 .price s, #evt_content .sec-main .row2 .price .price_num dl dt span, #evt_content .sec-main .row2 .price .huangou {
      color: #9f0801 !important; }
    #evt_content .sec-main .row2 .price ul.price_p li.cur, #evt_content .sec-main .row2 .price ul.buy_btn_box li span {
      background: #e09091 !important; }
    #evt_content .sec-main .row2 .price_num dl dd.reduce {
      background: url("../images/reduce-2.png") no-repeat;
      background-size: 99%; }
    #evt_content .sec-main .row2 .price_num dl dd.add {
      background: url("../images/add-2.png") no-repeat scroll;
      background-size: 99%; }
    #evt_content .sec-main .row2 .icon {
      background: url("../images/icon-2.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row2 .icon.on {
      background: url("../images/icon-2-h.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row3 .cake {
      width: 8rem;
      top: 0;
      right: 0;
      z-index: 1; }
    #evt_content .sec-main .row3 .price {
      top: 0.66667rem;
      left: 0.13333rem;
      z-index: 2; }
    #evt_content .sec-main .row3 .disc {
      left: 0; }
    #evt_content .sec-main .row3 .price ul.price_p li {
      background: #edd25f !important; }
    #evt_content .sec-main .row3 .price h2, #evt_content .sec-main .row3 .price s, #evt_content .sec-main .row3 .price .price_num dl dt span, #evt_content .sec-main .row3 .price .huangou {
      color: #d2a800 !important; }
    #evt_content .sec-main .row3 .price ul.price_p li.cur, #evt_content .sec-main .row3 .price ul.buy_btn_box li span {
      background: #edcc3f !important; }
    #evt_content .sec-main .row3 .price_num dl dd.reduce {
      background: url("../images/reduce-3.png") no-repeat;
      background-size: 99%; }
    #evt_content .sec-main .row3 .price_num dl dd.add {
      background: url("../images/add-3.png") no-repeat scroll;
      background-size: 99%; }
    #evt_content .sec-main .row3 .icon {
      background: url("../images/icon-3.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row3 .icon.on {
      background: url("../images/icon-3-h.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row4 .cake {
      width: 7.46667rem;
      top: 0;
      left: 0;
      z-index: 1; }
    #evt_content .sec-main .row4 .price {
      top: 0.66667rem;
      left: 5.06667rem; }
    #evt_content .sec-main .row4 .disc {
      left: 0.26667rem; }
    #evt_content .sec-main .row4 .price ul.price_p li {
      background: #e4a57c !important; }
    #evt_content .sec-main .row4 .price h2, #evt_content .sec-main .row4 .price s, #evt_content .sec-main .row4 .price .price_num dl dt span, #evt_content .sec-main .row4 .price .huangou {
      color: #8d3600 !important; }
    #evt_content .sec-main .row4 .price ul.price_p li.cur, #evt_content .sec-main .row4 .price ul.buy_btn_box li span {
      background: #c37544 !important; }
    #evt_content .sec-main .row4 .price_num dl dd.reduce {
      background: url("../images/reduce-4.png") no-repeat;
      background-size: 99%; }
    #evt_content .sec-main .row4 .price_num dl dd.add {
      background: url("../images/add-4.png") no-repeat scroll;
      background-size: 99%; }
    #evt_content .sec-main .row4 .icon {
      background: url("../images/icon-4.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row4 .icon.on {
      background: url("../images/icon-4-h.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row5 .cake {
      width: 7.46667rem;
      top: 0;
      right: 0;
      z-index: 1; }
    #evt_content .sec-main .row5 .price {
      top: 0.66667rem;
      left: 0.13333rem;
      z-index: 2; }
    #evt_content .sec-main .row5 .disc {
      left: 0; }
    #evt_content .sec-main .row5 .price ul.price_p li {
      background: #ffbdbc !important; }
    #evt_content .sec-main .row5 .price h2, #evt_content .sec-main .row5 .price s, #evt_content .sec-main .row5 .price .price_num dl dt span, #evt_content .sec-main .row5 .price .huangou {
      color: #9c0900 !important; }
    #evt_content .sec-main .row5 .price ul.price_p li.cur, #evt_content .sec-main .row5 .price ul.buy_btn_box li span {
      background: #e0959a !important; }
    #evt_content .sec-main .row5 .price_num dl dd.reduce {
      background: url("../images/reduce-5.png") no-repeat;
      background-size: 99%; }
    #evt_content .sec-main .row5 .price_num dl dd.add {
      background: url("../images/add-5.png") no-repeat scroll;
      background-size: 99%; }
    #evt_content .sec-main .row5 .icon {
      background: url("../images/icon-5.png") !important;
      background-size: 100% !important; }
    #evt_content .sec-main .row5 .icon.on {
      background: url("../images/icon-5-h.png") !important;
      background-size: 100% !important; }
  #evt_content .sec-footer {
    background: #fbe8d6;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 1.33333rem;
      margin: 0 auto;
      color: #3c2306; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.29333rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
  #evt_content .price {
    position: absolute;
    width: 4.66667rem;
    text-align: center;
    z-index: 2; }
    #evt_content .price .icons {
      width: 0.66667rem;
      position: absolute;
      left: 0.4rem;
      top: -0.17333rem; }
    #evt_content .price .title {
      position: relative;
      width: 4.50667rem;
      margin: 0.13333rem auto; }
    #evt_content .price h2 {
      font-size: 0.4rem;
      font-weight: normal;
      line-height: 0.66667rem;
      color: #9e1316; }
      #evt_content .price h2 i {
        font-size: 0.26667rem;
        line-height: 0.4rem;
        font-style: normal;
        vertical-align: middle; }
      #evt_content .price h2 span {
        font-size: 0.62667rem; }
    #evt_content .price s {
      font-size: 0.26667rem;
      color: #c7818b;
      font-weight: normal; }
    #evt_content .price ul.price_p {
      margin: 0.13333rem auto;
      color: #000;
      width: 3.73333rem; }
    #evt_content .price ul.price_p.short1 {
      color: #000;
      width: 0.86667rem; }
    #evt_content .price ul.price_p.short2 {
      color: #000;
      width: 1.73333rem; }
    #evt_content .price ul.price_p.short3 {
      color: #000;
      width: 2.73333rem; }
    #evt_content .price ul.price_p.short4 {
      color: #000;
      width: 3.73333rem; }
    #evt_content .price .bslang {
      font-size: 0.26667rem; }
    #evt_content .price ul.price_p.minshort {
      margin: 0.13333rem auto;
      color: #000;
      width: 1.73333rem; }
    #evt_content .price ul.price_p li {
      cursor: pointer;
      float: left;
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      width: 0.8rem;
      background: #febdbb;
      margin-right: 0.13333rem;
      border-radius: 50%;
      color: #fff;
      font-size: 0.32rem; }
    #evt_content .price ul.price_p .samllFont {
      font-size: 0.25333rem; }
    #evt_content .price ul.price_p li:last-child {
      margin-right: 0; }
    #evt_content .price ul.price_p .bd {
      width: 1.6rem !important;
      margin-left: 2rem !important; }
    #evt_content .price ul.price_p li.cur {
      background: #e29792 !important;
      color: #fff !important; }
    #evt_content .price .huangou {
      position: relative;
      width: 4rem;
      font-size: 0.29333rem;
      color: #9b4245;
      margin: 0 auto 0.13333rem;
      text-align: left;
      padding-left: 0.46667rem; }
      #evt_content .price .huangou .icnone {
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.4rem;
        height: 0.4rem;
        margin-top: -0.2rem;
        z-index: 1; }
      #evt_content .price .huangou .icon {
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.4rem;
        height: 0.4rem;
        margin-top: -0.2rem;
        z-index: 2; }
    #evt_content .price .price_num {
      margin: 0 auto;
      width: 2.53333rem;
      position: relative; }
    #evt_content .price .price_num dl {
      float: left;
      padding-left: 0.06667rem; }
    #evt_content .price .price_num dl dd {
      cursor: pointer;
      float: left;
      height: 0.6rem;
      width: 0.6rem; }
    #evt_content .price .price_num dl dt {
      float: left;
      height: 0.66667rem;
      width: 0.66667rem;
      margin: 0 0.13333rem; }
    #evt_content .price .price_num dl dt span {
      display: block;
      font-size: 0.4rem;
      background: transparent none repeat scroll 0 0;
      border: none;
      color: #ea3554;
      height: 100%;
      line-height: 0.66667rem;
      text-align: center;
      width: 100%; }
    #evt_content .price ul.buy_btn_box {
      width: 2.26667rem;
      overflow: hidden;
      margin: 0.13333rem auto; }
    #evt_content .price ul.buy_btn_box.twoBtn {
      width: 4.66667rem; }
    #evt_content .price ul.buy_btn_box li {
      float: left;
      margin-right: 0.13333rem; }
    #evt_content .price ul.buy_btn_box li:last-child {
      margin-right: 0; }
    #evt_content .price ul.buy_btn_box li span {
      display: block;
      background: #db8f93 none repeat scroll 0 0;
      color: #fff;
      cursor: pointer;
      line-height: 0.6rem;
      font-size: 0.29333rem;
      text-align: center;
      border-radius: 0.36667rem;
      width: 2.26667rem; }

/*浮动*/
.floater {
  position: fixed;
  width: 1.93333rem;
  height: 1.93333rem;
  bottom: 0.26667rem;
  right: 0.13333rem;
  z-index: 11;
  cursor: pointer;
  display: none; }
  .floater img {
    width: 100%; }
  .floater .tips {
    position: absolute;
    width: 0.66667rem;
    height: 0.66667rem;
    right: -0.06667rem;
    top: -0.06667rem;
    border-radius: 50%;
    background: url("../images/tips.png") center no-repeat;
    background-size: 100%;
    text-align: center;
    z-index: 12; }
    .floater .tips span {
      display: block;
      font-size: 0.26667rem;
      color: #fff;
      line-height: 0.66667rem; }
