@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{  background:#fff; padding-bottom:1px;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }

  .sec-top{
    height: px2rem(1068); background:url("../images/banner.jpg") repeat; background-size: 100%; z-index: 1; overflow: hidden;
  }
  .title{position: relative; width: px2rem(710); margin: px2rem(60) auto 0;}
  .title.t3{margin-top: px2rem(10); }
  .sec-1 {
    div {
      position: relative;
    }
    .card{ position: relative; width:px2rem(710); margin:px2rem(60) auto;
      .cardList{z-index: 3;
        li{width: px2rem(710); text-align: center; cursor: pointer;
          .duihuan-btn{width:px2rem(314); height:px2rem(74); margin:px2rem(60) auto; background: url("../images/dui-btn.png") no-repeat; background-size: 100%; cursor: pointer; }
          .duihuan-btn.on{background: url("../images/dui-btn-on.png") no-repeat; background-size: 100%;  }
        }
      }
    }
  }

  .sec-cakes{ margin-top: px2rem(60); padding-bottom: px2rem(60);
    div{position:relative;}
    .moon{
       ul{ margin-left:px2rem(10);
         li{position:relative; float: left;  width: px2rem(350); margin-left: px2rem(10); margin-right: 0; margin-bottom: px2rem(20);
           .m-title{ position: absolute; top:px2rem(20); left:px2rem(30); font-size:px2rem(24); text-align: left; color: #000;}
           .m-car{ position: absolute; top:px2rem(20); right:px2rem(20); font-size:px2rem(20); text-align: left; color: #000; width:px2rem(42); height:px2rem(42); background: url("../images/car.png") no-repeat; background-size: 100%; cursor: pointer;}
           .m-btn{ position: absolute; bottom:px2rem(20); left:px2rem(30); font-size:px2rem(22); text-align: center; width:px2rem(180); line-height:px2rem(50); color: #fff; background: #3ac8e0; border-radius:px2rem(50); cursor: pointer; }
           .m-btn.on{background: #1a8c9f;}
           .m-price{ position: absolute; bottom:px2rem(80); left:px2rem(30); font-size:px2rem(20); text-align: left; color: #000;
             span{font-size:px2rem(30);}
           }
         }
       }
    }

  }

  .sec-3{width: px2rem(710); height: px2rem(1012); background: url("../images/guize-1.png") no-repeat; background-size: 100%; margin:px2rem(50) auto;

  }
  .card-guize{position: relative;width: px2rem(710); height: px2rem(1574); background: url("../images/lipin-card.png") no-repeat; background-size: 100%;  }
  .gztxt{position: absolute; top: px2rem(400); left: px2rem(50);
    ul{
      li{ background: url("../images/dot.png") left px2rem(12) no-repeat; background-size: 1.5%; padding-left: px2rem(20); line-height: px2rem(30); color: #000;font-size: px2rem(20);}
      li.noBg{background: none;}
    }
  }
  .gztxt-2{top: px2rem(660); left: px2rem(230);}
  .gztxt-3,.gztxt-4{
    ul{
      li{ background: url("../images/dot.png") left px2rem(12) no-repeat; background-size: 1%; font-size: px2rem(22);}
    }
  }
  .gztxt-3{ width: px2rem(610); top: px2rem(330); left: px2rem(60);}
  .gztxt-4{ width: px2rem(610); top: px2rem(960); left: px2rem(60);}

  .sec-5{ margin-bottom: px2rem(30);
    .guize-more{position: relative; width:px2rem(265); margin:px2rem(30) auto;}
    .card-content{ width: px2rem(710); margin: 0 auto; position: relative; border: #cecccc 1px dashed;}


  }



  .sec-footer{background:#f8f4d9; position: relative; padding-bottom: px2rem(50); z-index:1;
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(100); margin: 0 auto;  color: #5d5d5d;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(23); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35);
        margin:px2rem(5) 0;}
    }
  }

}




.swiper-container {
  position: relative !important;
  width: 100%;
  height:px2rem(790);
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  background: #b7d8dd;
  height:px2rem(790);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination{width: 100%; position: absolute !important; bottom:px2rem(40) !important; }
.swiper-pagination-bullet{margin:0 px2rem(5) !important; background: #fff !important; opacity: 1 !important;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background: #74c6ce !important;}




/*蛋糕选择弹窗*/

.Dialogbg-Select{ background-color: #000; height: 100%; left: 0; opacity: 0.85; position: fixed; top: 0; width: 100%; z-index: 200; display: none;
}



.Dialog-Select{ background: #fff none repeat scroll 0 0; box-shadow: 0 0 0 #999; font-size:px2rem(14); width:px2rem(600); height:px2rem(640); margin-top: px2rem(-320); margin-left: px2rem(-300); left: 50%; padding: 0; position: fixed; top: 50%; z-index: 99999; display: none; border-radius:px2rem(10);
}
.s-closes{position: absolute; top: px2rem(10) !important; right: px2rem(-38) !important; width: px2rem(27) !important; height:px2rem(27) !important; background: url("../images/close.png"); background-size: 100%;}

.Select{ position: relative; color: #000; height: 100%;
  .s-title{ height:px2rem(103); background: #f2f2f2; position: relative; border-top-left-radius:px2rem(10);  border-top-right-radius:px2rem(10);
    h2{ font-size: px2rem(28); line-height: px2rem(30); padding-left: px2rem(40); padding-top: px2rem(30); }
    b{font-size: px2rem(14); color: #9a9a9a; font-weight: normal; padding-left: px2rem(40);}
  }
  .s-bangshu{ padding-top: px2rem(20);
    ul{ margin-left: px2rem(40);
      li{ float: left; width:px2rem(90); height: px2rem(90); background: #f2f2f2; border-radius: 50%; text-align: center; line-height: px2rem(90); font-size: px2rem(23); color: #4a4a4a; margin-right:px2rem(50); font-weight: bold; }
      li.on{ background: #3ac8e0; color: #fff; }
    }
  }
  .d-tips{padding:px2rem(20) px2rem(40); color: #4c4c4c; font-size:px2rem(18);}
  .s-num{ height: px2rem(100);padding-left:px2rem(40);border-top: #ededed 1px solid; border-bottom: #ededed 1px solid;
    b{display: inline-block; width:px2rem(200); margin:px2rem(20) 0; line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    .nums {  display: inline-block; margin:px2rem(20) px2rem(40) px2rem(20) px2rem(20);  float: right;  height:px2rem(56);  position: relative;  width:px2rem(200);  }
    .nums a {  display: block;   width:px2rem(56); height:px2rem(56);  position: absolute;  top:px2rem(2);  }
    .nums .minus {  background: url("../images/btn-1.png") no-repeat; background-size: 100%;  left: 0;  }
    .nums .plus {  background: url("../images/btn-2.png") no-repeat; background-size: 100%;  right: 0;  }
    .nums input {  background:none;  border: none;  color: #626262;  display: block;  font-size:px2rem(30);  height:px2rem(56);  left:px2rem(60);  line-height:px2rem(56);  padding: 0;  position: absolute;  text-align: center;  top: 0;  width:px2rem(80);  }
  }
  .s-prices{font-size: px2rem(22); padding: px2rem(40); color: #4a4a4a; margin-top: px2rem(30);
    b{display: inline-block; width:px2rem(200); margin:0; line-height: px2rem(56); float: left; font-size:px2rem(30); color: #737373; font-weight: normal;}
    p{display:block; line-height: px2rem(56); text-align: right;}
    i{font-style: normal;}
    span{ font-size: px2rem(45);}
  }
  s{color: #7e7e7e;}
  .btns{ width: 100%; position: absolute; bottom:px2rem(0); display: flex; height: px2rem(100); line-height: px2rem(100); flex-direction: row;  text-align: center; font-size: px2rem(30); color: #fff;
    div{ flex: 1; cursor: pointer; width: 50%;}
    .go-car{background:#f7e244; border-bottom-left-radius:px2rem(10); border-bottom-right-radius:px2rem(10); float: left; color: #4a4a4a; }
    .go-buy{background:#3ac8e0; border-bottom-right-radius:px2rem(10); border-bottom-left-radius:px2rem(10); float: left; color: #fff;}
    .go-buy.single{border-bottom-left-radius:px2rem(20); background: #ffe32a; color: #000;}
  }

}



@media screen and (max-width: 320px) {

}
