@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

<<<<<<< HEAD
@mixin font-dpr($font-size){
=======
@mixin font-dpr($font-size) {
>>>>>>> c1968ce4116819a09b05eaa02268519ebafc1600
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

<<<<<<< HEAD
#evt_content{
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }
  .sec-top{
    height: px2rem(1113); background: url("../images/bg.png?122233"); background-size: 100%; z-index: 1;
    .ds-1{width:px2rem(247); top:px2rem(0); left:px2rem(0);}
    .ds-2{width:px2rem(74); top:px2rem(397); left:px2rem(40);}
    .ds-3{width:px2rem(95); top:px2rem(603); left:auto; right: 0;}
    .ds-4{width:px2rem(188); bottom:px2rem(132); left:auto; right: px2rem(0);}
    .ds-5{width:px2rem(181); bottom:px2rem(40); left:auto; right: px2rem(0);}
    .cake-1{width:px2rem(457); top:px2rem(0); left:auto;
      right:px2rem(0);}
    .yh{width:px2rem(302); top:px2rem(112); left:px2rem(40);}
    .b-title{width:px2rem(476); top:px2rem(446); left:px2rem(40);}

  }

  .go-btn{ top:px2rem(715); left:px2rem(420);
    a{ display: block;  text-decoration: none;}
    span{background:url("../images/btn-bg.png?23233") no-repeat; background-size: 100%; border-radius: px2rem(50);
      color: #fff;
      font-size:px2rem(27);
      letter-spacing: 3px;
      padding: px2rem(13) px2rem(40);}
  }

  .sec-main{
    height: px2rem(1100);background:url("../images/bg.jpg?3534545") repeat;
    .cake-2{width:px2rem(470); top:px2rem(72); left:px2rem(17);}
    .logos{width:px2rem(153); top:px2rem(96); left:px2rem(514);}
    .lv{width:px2rem(416); top:px2rem(375); left:px2rem(323);}
    .select{ top:px2rem(590); left:px2rem(355); width: px2rem(380);  padding:0;
      .radio {opacity:0; display:none; height:0; }
      label.label {background:url(../images/kugou.ico) left no-repeat; background-size: 8%; height:px2rem(30); padding-left:px2rem(50); margin: px2rem(20) auto;font-size: px2rem(5); display: block;
      img{width: 90%; margin-top: px2rem(5);}
      }
      input[type='radio'].radio:checked + .label{background:url(../images/qqplayer.ico) no-repeat; background-size: 8%; margin: px2rem(20) auto;}

    }

  }

  .sec-footer{background:#f1f3b1; position: relative; padding-bottom: px2rem(20);
    .wdc{ position: absolute; width:px2rem(750); z-index: 10; top: px2rem(-240);}
    .sb{ position: absolute; width:px2rem(750);z-index: 10; top: px2rem(-50);}
    .txt{ position: relative; width:px2rem(630); padding-top: px2rem(50); padding-bottom: px2rem(50); margin: 0 auto;  color: #595a42;
      h2{font-size: px2rem(24); font-weight: normal; }
      p{ font-size: px2rem(23); padding-left: px2rem(35); line-height:px2rem(30);  text-indent: px2rem(-35);
        margin:px2rem(5) 0;}
    }


  }

=======
#evt_content {
  div {
    position: absolute;
  }
  img {
    width: 100%;
  }
}

.evt-banner {
  position: relative !important;
  height: px2rem(1075);
  overflow: hidden;
  background: #d9bfa6 url(../images/banner-bg.jpg) repeat !important;

  .nut-bg {
    width: px2rem(636);
    top: px2rem(440);
    left: px2rem(52);
  }

  .cake {
    width: px2rem(445);
    top: px2rem(30);
    right: 0;
  }

  .cake-tips {
    width: px2rem(306);
    left: px2rem(38);
    top: px2rem(63)
  }

  .banner-text {
    width: px2rem(524);
    left: px2rem(24);
    top: px2rem(406);
  }

  .cake-sm {
    width: px2rem(188);
    top: px2rem(750);
    right: 0;
  }

  .cake-spoon {
    width: px2rem(181);
    top: px2rem(940);
    right: 0;
  }
}

.evt-main{
  position: relative !important;
  height: px2rem(978);
  background: #fff url(../images/main-bg.jpg) repeat !important;

  .counter-down{
    right: px2rem(16);
    top: px2rem(20);
    width: px2rem(351);
    height: px2rem(62);
    background: url(../images/counter-bg.png) no-repeat;
    background-size: 100% auto;
  }

  .main-logo{
    width: px2rem(147);
    right: px2rem(100);
    top: px2rem(160);
  }

  .main-cake{
    width: px2rem(449);
    left: px2rem(56);
    top: px2rem(123);
  }

  .main-text{
    width: px2rem(371);
    right: px2rem(22);
    top: px2rem(510);
  }

  .main-action{
    left: 0;
    bottom: 0;

    .checkbox{
      display: block;
      width: px2rem(26);
      height: px2rem(23);
      background: url(../images/checkbox.png) no-repeat;
      background-size: px2rem(26) auto;
      background-position: 0 100%;
      margin-top: px2rem(5);

      &.checked{
        background-position: 0 0;
      }
    }
  }

  .buy-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: px2rem(140);
    height: px2rem(45);
    line-height: 100;
    overflow: hidden;
  }

  .counter-flips{
    left: px2rem(164);
    top: px2rem(19);
    font-size: 0;

    .flip{
      margin-right: px2rem(4);
      vertical-align: top !important;
      > span {
        display: inline-block;
        width: px2rem(25);
        height: px2rem(34);
        vertical-align: top !important;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);

        > img{
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .footer-action{
    width: px2rem(525);
    left: 50%;
    top: px2rem(832);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .deco1{
    top: px2rem(40);
    left: 0;
    width: px2rem(97);
  }

  .deco2{
    top: px2rem(654);
    left: 0;
    width: px2rem(128);
  }

  .deco3{
    top: px2rem(345);
    right: 0;
    width: px2rem(113);
  }

  .deco4{
    top: px2rem(772);
    right: 0;
    width: px2rem(113);
  }
}

.evt-footer{
  position: relative !important;
  background-color: #dec7b0;
  padding-top: px2rem(100);
  padding-bottom: px2rem(100);

  .evt-footer-bd {
    position: relative !important;
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    color: #734924;

    h2{
      font-size: 16px;
      margin: 0 0 8px;
    }

    p{
      margin: 0;
      padding-left: 1.5em;
      text-indent: -1.5em;
      line-height: 1.75;
      font-size: 14px;
    }
  }
>>>>>>> c1968ce4116819a09b05eaa02268519ebafc1600
}