@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}
*{ vertical-align: baseline !important;}  /*价格符号不对齐*/
#evt_content{width: px2rem(750);
  img{width:100%; display: block;}
  .sec{position: relative; }

  .sec-top{ width: px2rem(750); height: px2rem(888); background:url("../images/banner.png") no-repeat; background-size: 100%; z-index: 1; overflow: hidden;
  }


  .hy-title{ width: px2rem(750); margin:px2rem(80) auto px2rem(80); }


  .sec-cake{ position: relative; margin-top: px2rem(-2); z-index: 1; background:url("../images/sec-bg1.png") no-repeat; background-size: 100%;
    .cake{ width:px2rem(700);  margin: 0 auto; z-index: 1; overflow: hidden; }
    .star{ position: absolute; width: px2rem(92); top: px2rem(90); right: px2rem(30); z-index: 10; }
    .content{ width:px2rem(700);  margin: 0 auto;}
    .price{width: px2rem(750); margin:0 auto; }
    .cake-title{ width: px2rem(345); float: left; margin:0;}
    .price{ position: relative; float: right; width: px2rem(280); text-align: center;
      .icon_50{ top: px2rem(-5); left: px2rem(-80);}
      h2{color: #393c3f;}
      s{display: block; color: #393c3f;}
      ul.buy_btn_box{ clear: both; float: none; margin: px2rem(10) auto; width: px2rem(183);}
      ul.buy_btn_box li span{display: block; width: px2rem(183); background:url("../images/go-buy.png") no-repeat; background-size: 100%; height: px2rem(67); }
    }
  }

  .icon{position: absolute; width:px2rem(89); height:px2rem(70); top:px2rem(-10); left: px2rem(205); }
  .icon_20{background: url("../images/icon_20.png") no-repeat; background-size: 100%;}
  .icon_40{background: url("../images/icon_40.png") no-repeat; background-size: 100%;}
  .icon_60{background: url("../images/icon_60.png") no-repeat; background-size: 100%;}
  .icon_50{background: url("../images/icon_50.png") no-repeat; background-size: 100%;}

  .jf{position: absolute; width:px2rem(92); height:px2rem(25); left:px2rem(130); top:px2rem(10); }
  .jf_20{background: url("../images/jf-200.png") no-repeat; background-size: 100%;}
  .jf_40{background: url("../images/jf-400.png") no-repeat; background-size: 100%;}
  .jf_60{background: url("../images/jf-600.png") no-repeat; background-size: 100%;}
  .jf_80{background: url("../images/jf-800.png") no-repeat; background-size: 100%;}


  .sec-main{ width: px2rem(750); padding:0; background:url("../images/sec-bg2.png") no-repeat; background-size: 100%; overflow: hidden;
    .pro-num{ position: relative; float: left; width: px2rem(188); height: px2rem(62); display: inline-block;background: url("../images/bs-bg.png") no-repeat; background-size: 100%;
      a{ position: absolute; top:px2rem(-15); width:px2rem(80); height:px2rem(80); display:block; z-index: 2;}
      .minus{display:inline-block;background:url(../images/in-a-1.png) center no-repeat; left:px2rem(-15); background-size: 50%;}
      .plus{display:inline-block;background:url(../images/in-a-2.png) center no-repeat; right:px2rem(-10); background-size: 50%;}
      .bang{ display:inline-block; width:px2rem(130); line-height:px2rem(53); position:absolute; top:0; left:px2rem(25); text-align:center; color:#fff; background: none; font-size:px2rem(18); padding:0; z-index: 1;}
    }

    .row{ position: relative;
      .cake{position: absolute;}
      .price{position: absolute;}
    }
    .row1{height: px2rem(500);
      .icon{left: px2rem(250);   }
      .jf{left:px2rem(70);}
      .cake{width:px2rem(385); top:0; left:0; z-index: 1;}
      .price{top:px2rem(140); left: auto; right:px2rem(-50);}
    }
    .row2{height: px2rem(550);
      .cake{ width:px2rem(400); top:0; right:0; z-index: 1;}
      .price{ top: px2rem(150); left:px2rem(30); z-index: 2;}
    }

    .row3{height: px2rem(450);
      .cake{width:px2rem(403); top:0; left:0; z-index: 1;}
      .price{top:px2rem(100); left: auto; right:px2rem(-30);}
    }

    .row4{height: px2rem(500);
      .cake{ width:px2rem(388); top:0; right:0; z-index: 1;}
      .price{ top: px2rem(120); left:px2rem(30); z-index: 2;}
    }

  }

  .sec-footer{ position: relative; padding-bottom: px2rem(50); z-index:1; background: url("../images/foot-bg.png") repeat; background-size: 100%;
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(40); margin: 0 auto;  color: #393c3f;
      h2{font-size: px2rem(22); font-weight: normal; }
      p{ font-size: px2rem(21); padding-left: px2rem(35); line-height:px2rem(35);  text-indent: px2rem(-35); margin:px2rem(5) 0;
        span{display: block; text-indent: px2rem(80);}
      }
    }
  }


  /*价格计算【通用】*/
  .price{ position: absolute;  width: px2rem(400); text-align: left; z-index: 2;

    .title{position: relative; width: px2rem(200); margin:px2rem(10) 0 px2rem(80) 0;}
    h2{position: relative; font-size:  px2rem(20); font-weight: normal; line-height: px2rem(80); color:#393c3f;
      i{font-size:  px2rem(20); line-height: px2rem(30); font-style: normal;vertical-align:middle; }
      span{font-size: px2rem(34); }
      em{font-style:normal;}
    }
    s{ font-size:  px2rem(20); color:#393c3f; font-weight: normal; margin-left: px2rem(10);
      span{font-size: px2rem(20); }
      b{font-weight:normal;}
    }

    ul.buy_btn_box { width: px2rem(169); overflow: hidden; margin:0; float: left;   }
    ul.buy_btn_box li span {display: block; width: px2rem(169); background:url("../images/go-buy1.png") no-repeat; background-size: 100%; height: px2rem(62); }
  }

}

