@charset "UTF-8";
#evt_content * {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  background: url("../images/bg.jpg") repeat;
  /*价格计算【通用】*/ }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    height: 10.62667rem;
    background: url("../images/banner-wap.jpg") repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
    #evt_content .sec-top .banner-t {
      position: absolute;
      width: 10rem;
      top: 3.22667rem;
      left: 0; }
  #evt_content .sec-0 {
    padding-top: 0.93333rem;
    z-index: 2; }
    #evt_content .sec-0 .quan {
      width: 10rem;
      margin: 0 auto; }
      #evt_content .sec-0 .quan .quan {
        position: absolute;
        width: 1.46667rem;
        line-height: 0.50667rem;
        text-align: center;
        color: #fff;
        bottom: 0.12rem;
        font-size: 0.29333rem; }
      #evt_content .sec-0 .quan .quan1 {
        left: 1.08rem; }
      #evt_content .sec-0 .quan .quan2 {
        left: 4.26667rem; }
      #evt_content .sec-0 .quan .quan3 {
        left: 7.49333rem; }
      #evt_content .sec-0 .quan .quan.on {
        color: #cbc9c4; }
  #evt_content .hy-title {
    width: 9.46667rem;
    margin: 1.33333rem auto 0.13333rem; }
  #evt_content .sec-main {
    padding: 0 0 0.26667rem; }
    #evt_content .sec-main .pro-num {
      position: relative;
      float: left;
      width: 2.8rem;
      height: 0.6rem;
      display: inline-block;
      border: #a70000 1px solid;
      border-radius: 0.6rem; }
      #evt_content .sec-main .pro-num a {
        position: absolute;
        top: 0;
        width: 0.53333rem;
        height: 0.53333rem;
        display: block; }
      #evt_content .sec-main .pro-num .minus {
        display: inline-block;
        background: url(../images/in-a-1.png) center no-repeat;
        left: 0;
        background-size: 100%; }
      #evt_content .sec-main .pro-num .plus {
        display: inline-block;
        background: url(../images/in-a-2.png) center no-repeat;
        right: 0;
        background-size: 100%; }
      #evt_content .sec-main .pro-num .bang {
        display: inline-block;
        width: 1.73333rem;
        line-height: 0.6rem;
        position: absolute;
        top: 0;
        left: 0.53333rem;
        text-align: center;
        color: #a70000;
        background: none;
        font-size: 0.26667rem;
        padding: 0; }
    #evt_content .sec-main .row {
      position: relative; }
      #evt_content .sec-main .row .cake {
        position: absolute; }
      #evt_content .sec-main .row .price {
        position: absolute; }
    #evt_content .sec-main .row1 {
      height: 6.66667rem; }
      #evt_content .sec-main .row1 .cake {
        width: 5.06667rem;
        top: 0.26667rem;
        right: -0.66667rem;
        z-index: 1; }
      #evt_content .sec-main .row1 .price {
        top: 1.2rem;
        left: 0.26667rem;
        z-index: 2; }
      #evt_content .sec-main .row1 .price h2, #evt_content .sec-main .row1 .price h2 span, #evt_content .sec-main .row1 .price s, #evt_content .sec-main .row1 .price .price_num dl dt span, #evt_content .sec-main .row1 .price .huangou {
        color: #c73f5e; }
      #evt_content .sec-main .row1 .price .buy_btn_box span {
        background: #da778c !important; }
      #evt_content .sec-main .row1 .price .icnone, #evt_content .sec-main .row1 .price .icon {
        background: url("../images/icon-1.png") center no-repeat !important;
        background-size: 100% !important; }
      #evt_content .sec-main .row1 .price .icon.on {
        background: url("../images/icon-1-h.png") center no-repeat !important;
        background-size: 100% !important; }
    #evt_content .sec-main .row2 {
      height: 5.33333rem; }
      #evt_content .sec-main .row2 .cake {
        width: 5.06667rem;
        top: -1.06667rem;
        left: -0.66667rem;
        z-index: 1; }
      #evt_content .sec-main .row2 .price {
        top: 0;
        left: auto;
        right: 0.26667rem; }
      #evt_content .sec-main .row2 .price h2, #evt_content .sec-main .row2 .price h2 span, #evt_content .sec-main .row2 .price s, #evt_content .sec-main .row2 .price .price_num dl dt span, #evt_content .sec-main .row2 .price .huangou {
        color: #b95556; }
      #evt_content .sec-main .row2 .price .buy_btn_box span {
        background: #e09091 !important; }
      #evt_content .sec-main .row2 .price .icnone, #evt_content .sec-main .row2 .price .icon {
        background: url("../images/icon-2.png") center no-repeat !important;
        background-size: 100% !important; }
      #evt_content .sec-main .row2 .price .icon.on {
        background: url("../images/icon-2-h.png") center no-repeat !important;
        background-size: 100% !important; }
    #evt_content .sec-main .row3 {
      height: 6rem; }
      #evt_content .sec-main .row3 .cake {
        width: 5.06667rem;
        top: -0.13333rem;
        right: -0.2rem;
        z-index: 1; }
      #evt_content .sec-main .row3 .price {
        top: 0.26667rem;
        left: 0.26667rem;
        z-index: 2; }
      #evt_content .sec-main .row3 .price h2, #evt_content .sec-main .row3 .price h2 span, #evt_content .sec-main .row3 .price s, #evt_content .sec-main .row3 .price .price_num dl dt span, #evt_content .sec-main .row3 .price .huangou {
        color: #a70001; }
      #evt_content .sec-main .row3 .price .buy_btn_box span {
        background: #c65459 !important; }
      #evt_content .sec-main .row3 .price .icnone, #evt_content .sec-main .row3 .price .icon {
        background: url("../images/icon-3.png") center no-repeat !important;
        background-size: 100% !important; }
      #evt_content .sec-main .row3 .price .icon.on {
        background: url("../images/icon-3-h.png") center no-repeat !important;
        background-size: 100% !important; }
    #evt_content .sec-main .row4 {
      height: 4.66667rem; }
      #evt_content .sec-main .row4 .cake {
        width: 5.06667rem;
        top: -0.13333rem;
        left: -0.66667rem;
        z-index: 1; }
      #evt_content .sec-main .row4 .price {
        top: 0;
        left: auto;
        right: 0.26667rem; }
      #evt_content .sec-main .row4 .price h2, #evt_content .sec-main .row4 .price h2 span, #evt_content .sec-main .row4 .price s, #evt_content .sec-main .row4 .price .price_num dl dt span, #evt_content .sec-main .row4 .price .huangou {
        color: #a70000; }
      #evt_content .sec-main .row4 .price .buy_btn_box span {
        background: #bb3b38 !important; }
      #evt_content .sec-main .row4 .price .icnone, #evt_content .sec-main .row4 .price .icon {
        background: url("../images/icon-4.png") center no-repeat !important;
        background-size: 100% !important; }
      #evt_content .sec-main .row4 .price .icon.on {
        background: url("../images/icon-4-h.png") center no-repeat !important;
        background-size: 100% !important; }
    #evt_content .sec-main .more {
      width: 2.66667rem;
      position: relative;
      margin: 0.53333rem auto;
      background: #cd686d;
      border-radius: 0.66667rem;
      text-align: center; }
      #evt_content .sec-main .more span {
        display: block;
        color: #fff;
        font-size: 0.29333rem;
        line-height: 0.66667rem; }
  #evt_content .sec-footer {
    background: #f9e6e1;
    background-size: 12%;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 0.66667rem;
      margin: 0 auto;
      color: #000; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.29333rem;
        padding-left: 0.46667rem;
        line-height: 0.53333rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          padding-left: 0.13333rem;
          text-indent: -0.13333rem; }
  #evt_content .price {
    position: absolute;
    width: 5.33333rem;
    text-align: left;
    z-index: 2; }
    #evt_content .price .title {
      position: relative;
      width: 5.06667rem;
      margin: 0.13333rem 0; }
    #evt_content .price h2 {
      font-size: 0.26667rem;
      font-weight: normal;
      line-height: 0.66667rem;
      color: #9e1316; }
      #evt_content .price h2 i {
        font-size: 0.26667rem;
        line-height: 0.4rem;
        font-style: normal;
        vertical-align: middle; }
      #evt_content .price h2 span {
        font-size: 0.53333rem; }
    #evt_content .price s {
      font-size: 0.26667rem;
      color: #c7818b;
      font-weight: normal;
      margin-left: 0.13333rem; }
      #evt_content .price s span {
        font-size: 0.26667rem; }
    #evt_content .price .huangou {
      position: relative;
      width: 5.33333rem;
      font-size: 0.29333rem;
      color: #9b4245;
      margin: 0 auto 0.13333rem 0;
      text-align: left;
      padding-left: 0.46667rem; }
      #evt_content .price .huangou .icnone {
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.4rem;
        height: 0.4rem;
        margin-top: -0.2rem;
        z-index: 1; }
      #evt_content .price .huangou .icon {
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.4rem;
        height: 0.4rem;
        margin-top: -0.2rem;
        z-index: 2; }
    #evt_content .price ul.buy_btn_box {
      width: 2.26667rem;
      overflow: hidden;
      margin: 0 0.13333rem 0 0;
      float: left; }
    #evt_content .price ul.buy_btn_box li span {
      display: block;
      background: #db8f93 none repeat scroll 0 0;
      color: #fff;
      cursor: pointer;
      line-height: 0.56rem;
      padding-top: 0.02667rem;
      font-size: 0.29333rem;
      text-align: center;
      border-radius: 0.36667rem;
      width: 2.26667rem; }

/*浮动*/
.floater {
  position: fixed;
  width: 1.93333rem;
  height: 1.93333rem;
  bottom: 0.26667rem;
  right: 0.13333rem;
  z-index: 11;
  cursor: pointer;
  display: none; }
  .floater img {
    width: 100%; }
  .floater .tips {
    position: absolute;
    width: 0.66667rem;
    height: 0.66667rem;
    right: -0.06667rem;
    top: -0.06667rem;
    border-radius: 50%;
    background: url("../images/tips.png") center no-repeat;
    background-size: 100%;
    text-align: center;
    z-index: 12; }
    .floater .tips span {
      display: block;
      font-size: 0.26667rem;
      color: #fff;
      line-height: 0.66667rem; }
