h2, h3, h4, b, i, strong, samp {
  font-weight: normal;
  font-style: normal; }

i {
  font-size: 0.24rem; }

li {
  display: block; }

.not-startbg {
  position: absolute !important;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  display: none; }

.not-start {
  position: absolute !important;
  top: 50%;
  left: 50%;
  margin: -2.15333rem 0 0 -3.30667rem;
  z-index: 10;
  width: 6.61333rem;
  height: 4.30667rem;
  background: url("../images/tips-tc.png") no-repeat;
  background-size: 100%;
  display: none; }
  .not-start .txt {
    position: absolute;
    width: 100%;
    padding: 1.06667rem 0;
    text-align: center;
    color: #fff; }
    .not-start .txt h2 {
      font-size: 0.45333rem;
      line-height: 1.06667rem; }
    .not-start .txt p {
      font-size: 0.24rem; }

.guize-btn {
  position: absolute !important;
  right: 0;
  bottom: 0.33333rem;
  width: 1.6rem;
  line-height: 0.48rem;
  background: #ffffff;
  border-radius: 0.48rem;
  font-size: 0.24rem;
  text-align: center;
  color: #323232;
  cursor: pointer;
  border: #bfbfbf 0.01333rem solid; }
  .guize-btn .txtHtml, .guize-btn .txt {
    display: none; }

.buy-btns {
  position: absolute;
  z-index: 2; }
  .buy-btns .buy-btn {
    float: left;
    font-size: 0.26667rem;
    text-align: center;
    width: 2rem;
    line-height: 0.58667rem;
    color: #000;
    background: #ffc559;
    border-radius: 0.58667rem;
    cursor: pointer;
    margin: 0 0.06667rem; }
  .buy-btns .buy-btn.on {
    background: #b9b8b7;
    color: #fff; }

body {
  background: #ffffff; }

#evt_content {
  background: #ffffff;
  padding-bottom: 0.01333rem; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .hdtitle {
    position: relative !important;
    width: 10rem;
    margin: 1.06667rem auto 1.6rem; }
  #evt_content .sec-top {
    height: 13.81333rem;
    background: url("../images/banner.png") repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
  #evt_content .hdtitle {
    margin: 0.66667rem auto !important; }
  #evt_content .sec-main {
    position: relative;
    width: 10rem;
    margin: 0 auto;
    background: #fff; }
    #evt_content .sec-main .tab-bar {
      position: relative;
      width: 10rem;
      height: 1.33333rem;
      margin: 0 auto;
      z-index: 2; }
      #evt_content .sec-main .tab-bar span {
        display: block;
        width: 3.33333rem;
        float: left;
        height: 1.33333rem;
        cursor: pointer; }
      #evt_content .sec-main .tab-bar span:nth-of-type(1) {
        background: url("../images/tab-bar-1.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-main .tab-bar span:nth-of-type(2) {
        background: url("../images/tab-bar-2.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-main .tab-bar span:nth-of-type(3) {
        background: url("../images/tab-bar-3.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-main .tab-bar span:nth-of-type(1).cur {
        background: url("../images/tab-bar-1-h.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-main .tab-bar span:nth-of-type(2).cur {
        background: url("../images/tab-bar-2-h.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-main .tab-bar span:nth-of-type(3).cur {
        background: url("../images/tab-bar-3-h.png") no-repeat;
        background-size: 100%; }
    #evt_content .sec-main .tab-box {
      width: 10rem;
      margin: 0 auto; }
      #evt_content .sec-main .tab-box .part {
        display: none;
        text-align: center; }
      #evt_content .sec-main .tab-box .wx-code {
        width: 10rem;
        margin: 50px auto 0; }
    #evt_content .sec-main .sub-bar .sec-title {
      position: relative;
      padding: 0.53333rem 0 0.4rem;
      text-align: center;
      z-index: 1;
      display: none; }
      #evt_content .sec-main .sub-bar .sec-title ul {
        margin: 0 auto; }
        #evt_content .sec-main .sub-bar .sec-title ul li {
          width: 2.13333rem;
          margin: 0 0.13333rem;
          display: inline-block;
          cursor: pointer; }
    #evt_content .sec-main .sub-bar .sec-title:nth-of-type(3) ul li {
      margin: 0 0.4rem; }
    #evt_content .sec-main .manzeng, #evt_content .sec-main .mcard {
      width: 10rem;
      margin: 0 auto; }
    #evt_content .sec-main .quan {
      position: relative;
      width: 10rem;
      margin: 0 auto; }
      #evt_content .sec-main .quan .buy {
        position: absolute;
        width: 1.58667rem;
        top: 3.33333rem;
        left: 4rem; }
    #evt_content .sec-main .shengbang {
      position: relative;
      background: #fff9e1;
      width: 10rem;
      overflow: hidden; }
      #evt_content .sec-main .shengbang .star {
        position: absolute;
        width: 1.34667rem;
        height: 7.64rem;
        z-index: 1; }
      #evt_content .sec-main .shengbang .star-1 {
        top: 1.33333rem;
        left: 0;
        background: url("../images/star-1.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-main .shengbang .star-2 {
        top: 5.06667rem;
        right: 0;
        background: url("../images/star-2.png") no-repeat;
        background-size: 100%; }
      #evt_content .sec-main .shengbang .item {
        position: relative;
        height: 5.56rem;
        text-align: center; }
      #evt_content .sec-main .shengbang .cake {
        position: absolute;
        width: 6.02667rem;
        top: 1.33333rem;
        left: 0.26667rem;
        z-index: 2; }
      #evt_content .sec-main .shengbang .price {
        position: absolute;
        width: 4rem;
        top: 2.66667rem;
        left: 5.73333rem;
        z-index: 3; }
        #evt_content .sec-main .shengbang .price .title {
          position: relative;
          width: 3.10667rem; }
        #evt_content .sec-main .shengbang .price .s-price {
          position: relative;
          width: 4rem;
          margin: 0.26667rem auto 0; }
      #evt_content .sec-main .shengbang .item-2 .cake {
        top: 1.06667rem;
        left: auto;
        right: 0;
        z-index: 1; }
      #evt_content .sec-main .shengbang .item-2 .price {
        top: 1.73333rem;
        left: 1.33333rem; }
      #evt_content .sec-main .shengbang .item-3 {
        height: 4.53333rem; }
        #evt_content .sec-main .shengbang .item-3 .cake {
          width: 5.73333rem;
          top: -1.06667rem;
          left: 0;
          z-index: 1; }
        #evt_content .sec-main .shengbang .item-3 .price {
          top: 0.8rem;
          left: 5.73333rem; }
    #evt_content .sec-main .go-btn {
      position: relative;
      width: 2.01333rem;
      padding: 0.33333rem 0 0; }
      #evt_content .sec-main .go-btn span {
        display: block;
        width: 2.01333rem;
        margin: 0 auto;
        height: 0.58667rem;
        background: url("../images/btn-gobuy.png") center no-repeat;
        background-size: 100%; }
  #evt_content .sec-cakes {
    margin-top: 0.8rem; }
    #evt_content .sec-cakes div {
      position: relative; }
    #evt_content .sec-cakes .prolist ul {
      margin: 0; }
    #evt_content .sec-cakes .cake-wrap ul {
      margin-left: 0; }
      #evt_content .sec-cakes .cake-wrap ul li {
        position: relative;
        float: left;
        width: 4.8rem;
        margin-left: 0.13333rem;
        margin-right: 0;
        margin-bottom: 0.13333rem;
        background: #fff7e8; }
        #evt_content .sec-cakes .cake-wrap ul li .m-title {
          position: absolute;
          top: 0.13333rem;
          left: 0.26667rem;
          font-size: 0.26667rem;
          text-align: left;
          color: #000; }
        #evt_content .sec-cakes .cake-wrap ul li .m-subtitle {
          position: absolute;
          top: 0.53333rem;
          left: 0.26667rem;
          font-size: 0.24rem;
          text-align: left;
          color: #8a8a8a; }
        #evt_content .sec-cakes .cake-wrap ul li .m-car {
          position: absolute;
          bottom: 0.2rem;
          right: 0.26667rem;
          font-size: 0.26667rem;
          text-align: left;
          color: #000;
          width: 0.56rem;
          height: 0.56rem;
          background: url("../images/car.png") no-repeat;
          background-size: 100%;
          cursor: pointer; }
        #evt_content .sec-cakes .cake-wrap ul li .m-btn {
          position: absolute;
          bottom: 0.2rem;
          right: 0.26667rem;
          font-size: 0.26667rem;
          text-align: center;
          width: 1.6rem;
          line-height: 0.53333rem;
          color: #000;
          background: #ffe328;
          border-radius: 0.53333rem;
          cursor: pointer; }
        #evt_content .sec-cakes .cake-wrap ul li .m-btn.on {
          background: #ffe328; }
        #evt_content .sec-cakes .cake-wrap ul li .m-price {
          position: absolute;
          bottom: 0.26667rem;
          left: 0.26667rem;
          font-size: 0.24rem;
          text-align: left;
          color: #000; }
        #evt_content .sec-cakes .cake-wrap ul li .m-old-price {
          position: absolute;
          bottom: 0.26667rem;
          left: 2.06667rem;
          font-size: 0.24rem;
          text-align: left;
          color: #888888; }
        #evt_content .sec-cakes .cake-wrap ul li .m-last {
          position: absolute;
          top: 0.26667rem;
          right: 0.26667rem;
          line-height: 0.26667rem;
          font-size: 0.18667rem;
          text-align: left;
          color: #fff;
          background: #ff2437;
          border-radius: 0.26667rem;
          padding: 0.02667rem 0.13333rem; }
  #evt_content .zuhe {
    position: relative;
    margin-top: 7px; }
    #evt_content .zuhe .buy-btns {
      top: 3.06667rem;
      right: 0.13333rem; }
  #evt_content .mcake {
    position: relative;
    margin-top: 7px; }
    #evt_content .mcake .buy-btns {
      top: 4rem;
      right: 1.2rem; }
  #evt_content .mcake-2 {
    margin-top: 0.26667rem; }
  #evt_content .shengbang-quan {
    position: relative; }
    #evt_content .shengbang-quan .icon {
      position: absolute;
      right: 2.66667rem;
      top: 3.46667rem;
      width: 1.10667rem;
      height: 1.09333rem;
      background: url("../images/icon-50.png") no-repeat;
      background-size: 100%; }
    #evt_content .shengbang-quan .icon.icon-100 {
      background: url("../images/icon-100.png") no-repeat;
      background-size: 100%; }
    #evt_content .shengbang-quan .btn-gobuy {
      width: 2.26667rem;
      position: absolute;
      left: 50%;
      top: 6.93333rem;
      margin-left: -1.13333rem;
      cursor: pointer; }
    #evt_content .shengbang-quan .progress-wrap {
      position: absolute;
      top: 0.66667rem;
      left: 50%;
      width: 8.88rem;
      margin-left: -4.44rem; }
      #evt_content .shengbang-quan .progress-wrap .shengbang-txt {
        width: 8.88rem;
        margin: 0.10667rem auto;
        color: #0db8ca; }
        #evt_content .shengbang-quan .progress-wrap .shengbang-txt span {
          float: left;
          display: block;
          width: 2.26667rem;
          text-align: left;
          padding-left: 0.06667rem;
          font-size: 0.24rem; }
        #evt_content .shengbang-quan .progress-wrap .shengbang-txt span:nth-of-type(1) {
          width: 1.86667rem;
          padding-left: 0.06667rem; }
      #evt_content .shengbang-quan .progress-wrap .progress {
        position: relative;
        background: #fea44e;
        border-radius: 0.26667rem;
        height: 0.26667rem; }
        #evt_content .shengbang-quan .progress-wrap .progress span {
          position: relative;
          background: #59e9f1;
          float: left;
          height: 0.26667rem;
          line-height: 0.26667rem;
          text-align: right;
          border-radius: 0.26667rem; }
        #evt_content .shengbang-quan .progress-wrap .progress i {
          position: absolute;
          top: -0.02667rem;
          display: block;
          width: 0.33333rem;
          height: 0.33333rem;
          background: url("../images/point.png") no-repeat;
          background-size: 100%;
          margin-left: -0.29333rem; }
  #evt_content .sec-topbang div {
    position: relative; }
  #evt_content .sec-topbang .xiaofei {
    width: 10rem;
    margin: 0 auto;
    background: #daf8fa; }
    #evt_content .sec-topbang .xiaofei .win-prize {
      position: relative;
      width: 10rem;
      margin: 0 auto;
      overflow: hidden; }
    #evt_content .sec-topbang .xiaofei .swiper-slide1 {
      background: #daf8fa url("../images/zp-1.png") right no-repeat;
      background-size: 50%; }
    #evt_content .sec-topbang .xiaofei .swiper-slide2 {
      background: #daf8fa url("../images/zp-2.png") right no-repeat;
      background-size: 50%; }
    #evt_content .sec-topbang .xiaofei .swiper-slide3 {
      background: #daf8fa url("../images/zp-3.png") right no-repeat;
      background-size: 50%; }
    #evt_content .sec-topbang .xiaofei .swiper-slide4 {
      background: #daf8fa url("../images/zp-4.png") right no-repeat;
      background-size: 50%; }
    #evt_content .sec-topbang .xiaofei .swiper-slide5 {
      background: #daf8fa url("../images/zp-5.png") right no-repeat;
      background-size: 50%; }
    #evt_content .sec-topbang .xiaofei .prize-nub {
      position: absolute;
      width: 4.93333rem;
      z-index: 10;
      top: 0.46667rem;
      left: 0.13333rem; }
      #evt_content .sec-topbang .xiaofei .prize-nub ul li {
        width: 4.93333rem;
        padding: 0.13333rem 0 0.13333rem 0.13333rem;
        border-bottom: #d5d5d5 0.01333rem solid;
        text-align: left;
        cursor: pointer; }
        #evt_content .sec-topbang .xiaofei .prize-nub ul li b {
          width: 1.86667rem;
          display: block; }
        #evt_content .sec-topbang .xiaofei .prize-nub ul li p {
          display: block;
          font-size: 0.24rem;
          color: #8d8d8d;
          line-height: 0.32rem; }
          #evt_content .sec-topbang .xiaofei .prize-nub ul li p b {
            color: #ff424f;
            display: block;
            line-height: 0.4rem; }
          #evt_content .sec-topbang .xiaofei .prize-nub ul li p span {
            display: block; }
      #evt_content .sec-topbang .xiaofei .prize-nub ul li.bd {
        border-right: #d5d5d5 0.01333rem solid; }
      #evt_content .sec-topbang .xiaofei .prize-nub ul li.on p {
        color: #000; }
        #evt_content .sec-topbang .xiaofei .prize-nub ul li.on p b {
          color: #ff424f; }
      #evt_content .sec-topbang .xiaofei .prize-nub ul li.bdnone {
        border-bottom: none; }
    #evt_content .sec-topbang .xiaofei .bangList {
      position: relative;
      width: 10rem;
      margin: 0 auto 0.4rem;
      background: #bfecf1;
      padding-bottom: 0.66667rem;
      padding-top: 0.01333rem; }
      #evt_content .sec-topbang .xiaofei .bangList .title-txt {
        position: relative;
        margin: 0.26667rem 0 0 0.26667rem;
        line-height: 0.66667rem;
        font-size: 0.45333rem;
        text-align: left;
        color: #000; }
      #evt_content .sec-topbang .xiaofei .bangList .bang-list {
        margin: 0 0.13333rem 0; }
        #evt_content .sec-topbang .xiaofei .bangList .bang-list ul li {
          float: left;
          width: 4.53333rem;
          line-height: 0.6rem;
          padding: 0.13333rem 0.13333rem 0.13333rem 0;
          border-bottom: #d6d6d6 0.01333rem solid;
          margin-left: 0.2rem; }
          #evt_content .sec-topbang .xiaofei .bangList .bang-list ul li b {
            display: inline-block;
            color: #000;
            font-size: 0.21333rem;
            float: left;
            margin-right: 0.26667rem; }
          #evt_content .sec-topbang .xiaofei .bangList .bang-list ul li span {
            display: inline-block;
            color: #000;
            font-size: 0.21333rem;
            float: left; }
          #evt_content .sec-topbang .xiaofei .bangList .bang-list ul li span.tel-phone {
            color: #000;
            font-size: 0.26667rem;
            float: left;
            width: 2.4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          #evt_content .sec-topbang .xiaofei .bangList .bang-list ul li span.price {
            float: right; }
      #evt_content .sec-topbang .xiaofei .bangList .mores {
        position: absolute;
        width: 1.06667rem;
        height: 0.53333rem;
        bottom: 0.13333rem;
        left: 50%;
        margin-left: -0.53333rem;
        display: none;
        background: url("../images/more.png") center no-repeat;
        background-size: 53%;
        cursor: pointer; }
      #evt_content .sec-topbang .xiaofei .bangList .mores.on {
        background: url("../images/more-2.png") center no-repeat;
        background-size: 53%; }
  #evt_content .word {
    width: 10rem; }
  #evt_content .sec-footer {
    background: #ffd9ac;
    background-size: 12%;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1; }
    #evt_content .sec-footer .rule {
      position: relative;
      width: 9.33333rem;
      padding-top: 0.66667rem;
      margin: 0 auto;
      color: #7f7f7f; }
      #evt_content .sec-footer .rule h2 {
        font-size: 0.37333rem;
        font-weight: normal; }
      #evt_content .sec-footer .rule p {
        font-size: 0.29333rem;
        line-height: 0.53333rem;
        margin: 0.06667rem 0; }

.swiper-container {
  position: relative !important;
  width: 10rem;
  height: 7.06667rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.swiper-slide {
  text-align: center;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-slide img {
  width: 100%; }

.swiper-pagination {
  width: 100%;
  position: absolute !important;
  bottom: 0.13333rem !important; }

.swiper-pagination-bullet {
  margin: 0 0.06667rem !important;
  background: #fff !important;
  opacity: 1 !important; }

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #626262 !important; }
