@charset "UTF-8";
* {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  width: 10rem;
  background: #ffdbae;
  /*价格计算【通用】*/ }
  #evt_content img {
    width: 100%;
    display: block; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    width: 10rem;
    height: 7.94667rem;
    background: url("../images/banner.png") no-repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
  #evt_content .hy-title {
    width: 10rem;
    margin: 0.53333rem auto 0.8rem; }
  #evt_content .icon {
    position: absolute;
    width: 1.25333rem;
    height: 1.52rem;
    right: 0.2rem;
    top: 0;
    z-index: 2; }
  #evt_content .icon_30 {
    background: url("../images/icon_30.png");
    background-size: 100%; }
  #evt_content .icon_50 {
    background: url("../images/icon_50.png");
    background-size: 100%; }
  #evt_content .more {
    width: 2.12rem;
    margin: 0 auto; }
  #evt_content .sec-1 {
    width: 10rem;
    overflow: hidden; }
    #evt_content .sec-1 .prize {
      margin: 0 auto; }
      #evt_content .sec-1 .prize ul {
        width: 9.45333rem;
        margin: 0 auto;
        background: #ffebd2;
        padding: 0.93333rem 0 0.13333rem;
        border-radius: 0.13333rem; }
        #evt_content .sec-1 .prize ul li {
          position: relative;
          float: left;
          width: 2.4rem;
          height: 4rem;
          background: url("../images/bag.png") center top no-repeat;
          background-size: 100%;
          margin: 0 0.33333rem 0.66667rem; }
          #evt_content .sec-1 .prize ul li .bagTxt {
            position: absolute;
            top: 3.33333rem;
            left: 50%;
            margin-left: -0.33333rem; }
          #evt_content .sec-1 .prize ul li .select {
            position: absolute;
            bottom: 0.06667rem;
            left: 50%;
            margin-left: -0.22667rem;
            width: 0.45333rem;
            height: 0.45333rem;
            background: url("../images/select.png") no-repeat;
            background-size: 100%;
            cursor: pointer; }
            #evt_content .sec-1 .prize ul li .select.on {
              background: url("../images/select-ed.png") no-repeat;
              background-size: 100%; }
          #evt_content .sec-1 .prize ul li:nth-of-type(1) {
            background: url("../images/bag-bg-1.png") center top no-repeat;
            background-size: 100%; }
          #evt_content .sec-1 .prize ul li:nth-of-type(2) {
            background: url("../images/bag-bg-2.png") center top no-repeat;
            background-size: 100%; }
          #evt_content .sec-1 .prize ul li:nth-of-type(3) {
            background: url("../images/bag-bg-3.png") center top no-repeat;
            background-size: 100%; }
          #evt_content .sec-1 .prize ul li:nth-of-type(4) {
            background: url("../images/bag-bg-4.png") center top no-repeat;
            background-size: 100%; }
          #evt_content .sec-1 .prize ul li:nth-of-type(5) {
            background: url("../images/bag-bg-5.png") center top no-repeat;
            background-size: 100%; }
          #evt_content .sec-1 .prize ul li:nth-of-type(6) {
            background: url("../images/bag-bg-6.png") center top no-repeat;
            background-size: 100%; }
    #evt_content .sec-1 .confirm {
      width: 3rem;
      margin: 0.4rem auto 0;
      cursor: pointer; }
    #evt_content .sec-1 .confirm-txt {
      width: 3.77333rem;
      margin: 0.4rem auto; }
  #evt_content .sec-2 {
    width: 10rem;
    padding-bottom: 0.66667rem;
    padding-left: 0.10667rem;
    background: #ffdbae;
    overflow: hidden; }
    #evt_content .sec-2 .row {
      position: relative;
      width: 4.93333rem;
      float: left;
      margin: 0 0 0.4rem 0;
      overflow: hidden; }
  #evt_content .sec-3 {
    width: 10rem;
    overflow: hidden; }
  #evt_content .sec-footer {
    position: relative;
    padding-bottom: 0.93333rem;
    z-index: 1;
    background: #fdd098; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 0.93333rem;
      margin: 0 auto;
      color: #835e2f; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.29333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.28rem;
        padding-left: 0.46667rem;
        line-height: 0.46667rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          text-indent: 1.06667rem; }
  #evt_content .price {
    position: relative;
    width: 4.81333rem;
    text-align: left;
    z-index: 2;
    height: 2.93333rem;
    overflow: hidden; }
    #evt_content .price .title {
      position: relative;
      width: 2.66667rem;
      margin: 0.26667rem auto 0;
      font-size: 0.37333rem;
      text-align: center;
      color: #de4747; }
    #evt_content .price h2 {
      position: relative;
      font-size: 0.26667rem;
      font-weight: normal;
      line-height: 0.8rem;
      color: #de4747;
      text-align: center; }
      #evt_content .price h2 i {
        font-size: 0.26667rem;
        line-height: 0.4rem;
        font-style: normal;
        vertical-align: middle; }
      #evt_content .price h2 span {
        font-size: 0.42667rem;
        color: #de4747; }
      #evt_content .price h2 em {
        font-style: normal; }
    #evt_content .price s {
      font-size: 0.26667rem;
      color: #de4747;
      font-weight: normal;
      margin-left: 0.13333rem; }
      #evt_content .price s span {
        font-size: 0.26667rem; }
      #evt_content .price s b {
        font-weight: normal; }
    #evt_content .price ul.buy_btn_box {
      width: 2.32rem;
      overflow: hidden;
      margin: 0;
      float: left; }
    #evt_content .price ul.buy_btn_box li span {
      display: block;
      width: 2.33333rem;
      height: 0.96rem;
      text-align: center;
      background: url("../images/btn-bg.png") no-repeat;
      background-size: 100%;
      font-size: 0.21333rem;
      line-height: 0.96rem;
      color: #fff; }
    #evt_content .price .buy_btn_box.one {
      width: 4.8rem;
      margin: 0 auto;
      text-align: center; }
      #evt_content .price .buy_btn_box.one li span {
        margin: 0 auto; }
  #evt_content .pro-num {
    position: relative;
    float: right;
    width: 2.33333rem;
    height: 0.96rem;
    display: inline-block;
    background: url("../images/btn-bg.png") no-repeat;
    background-size: 100%; }
    #evt_content .pro-num a {
      position: absolute;
      top: 0;
      width: 0.93333rem;
      height: 0.96rem;
      display: block;
      z-index: 2; }
    #evt_content .pro-num .minus {
      display: inline-block;
      background: url(../images/in-a-1.png) center no-repeat;
      left: -0.13333rem;
      background-size: 20%; }
    #evt_content .pro-num .plus {
      display: inline-block;
      background: url(../images/in-a-2.png) center no-repeat;
      right: -0.13333rem;
      background-size: 20%; }
    #evt_content .pro-num .bang {
      display: inline-block;
      width: 1.8rem;
      line-height: 0.96rem;
      position: absolute;
      top: 0;
      left: 0.33333rem;
      text-align: center;
      color: #fff;
      background: none;
      font-size: 0.24rem;
      padding: 0;
      z-index: 1; }

/*彈窗*/
.Dialogbg-quan {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-quan {
  position: fixed;
  width: 9.73333rem;
  height: 9.37333rem;
  background: url("../images/quan-bg.png");
  background-size: 100%;
  top: 50%;
  left: 50%;
  z-index: 99999;
  margin: -4.68rem 0 0 -4.86667rem;
  display: none; }
  .Dialog-quan img {
    width: 100%; }
  .Dialog-quan .closes {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: -0.53333rem;
    right: 0;
    cursor: pointer;
    z-index: 8;
    background: url("../images/close2.png") no-repeat;
    background-size: 100%; }
  .Dialog-quan .quan {
    position: relative;
    display: none;
    text-align: center;
    width: 9.73333rem;
    height: 9.37333rem; }
    .Dialog-quan .quan .go-use {
      display: block;
      position: absolute;
      bottom: 1.22667rem;
      left: 50%;
      width: 3.97333rem;
      height: 0.96rem;
      margin-left: -1.97333rem;
      cursor: pointer;
      background: #000;
      opacity: 0; }
  .Dialog-quan .quan-1 {
    background: url("../images/quan-1.png");
    background-size: 100%; }
  .Dialog-quan .quan-2 {
    background: url("../images/quan-2.png");
    background-size: 100%; }
  .Dialog-quan .quan-3 {
    background: url("../images/quan-3.png");
    background-size: 100%; }
  .Dialog-quan .quan-4 {
    background: url("../images/quan-4.png");
    background-size: 100%; }
  .Dialog-quan .quan-5 {
    background: url("../images/quan-5.png");
    background-size: 100%; }
  .Dialog-quan .quan-6 {
    background: url("../images/quan-6.png");
    background-size: 100%; }
