@charset "UTF-8";
* {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  width: 10rem;
  background: #ade8ff;
  /*价格计算【通用】*/ }
  #evt_content img {
    width: 100%;
    display: block; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    width: 10rem;
    height: 6.09333rem;
    background: url("../images/banner.png") no-repeat;
    background-size: 100%;
    z-index: 1;
    overflow: hidden; }
  #evt_content .hy-title {
    width: 10rem;
    margin: 0.53333rem auto 0.8rem; }
  #evt_content .icon {
    position: absolute;
    width: 1.37333rem;
    height: 1.37333rem;
    top: 0;
    z-index: 2; }
  #evt_content .icon_15 {
    background: url("../images/icon_15.png");
    background-size: 100%; }
  #evt_content .icon_30 {
    background: url("../images/icon_30.png");
    background-size: 100%; }
  #evt_content .more {
    width: 2.12rem;
    margin: 0 auto; }
  #evt_content .sec-1 {
    width: 10rem;
    height: 15.06667rem;
    overflow: hidden;
    background: url("../images/sec-1.png") no-repeat;
    background-size: 100%; }
    #evt_content .sec-1 .quan-60 {
      width: 8.53333rem;
      margin: 0.26667rem auto 0; }
    #evt_content .sec-1 .snake {
      width: 7.05333rem;
      margin: 1.6rem auto 0.26667rem; }
  #evt_content .buy-btn {
    margin: 0 auto;
    display: block;
    width: 2.76rem;
    background: #f89959;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 0.66667rem;
    font-size: 0.32rem;
    text-align: center;
    border-radius: 0.66667rem; }
  #evt_content .sec-2 {
    width: 10rem;
    height: 31.68rem;
    overflow: hidden;
    background: url("../images/sec-2.png") no-repeat;
    background-size: 100%; }
    #evt_content .sec-2 .hy-title {
      padding-top: 0.8rem; }
    #evt_content .sec-2 .row {
      position: absolute;
      width: 8.94667rem; }
      #evt_content .sec-2 .row .s-cake {
        width: 8.94667rem; }
      #evt_content .sec-2 .row .price {
        margin-top: -0.53333rem; }
      #evt_content .sec-2 .row.row1 {
        left: -0.26667rem;
        top: 2.93333rem; }
      #evt_content .sec-2 .row.row2 {
        right: -0.8rem;
        top: 9.46667rem; }
      #evt_content .sec-2 .row.row3 {
        left: -0.26667rem;
        top: 17.06667rem; }
        #evt_content .sec-2 .row.row3 .icon {
          left: 1.33333rem;
          top: -0.13333rem; }
      #evt_content .sec-2 .row.row4 {
        right: 0rem;
        top: 24rem; }
        #evt_content .sec-2 .row.row4 .icon {
          right: 1.33333rem;
          top: -0.4rem; }
        #evt_content .sec-2 .row.row4 .icon_15 {
          background: url("../images/icon_15_1.png");
          background-size: 100%; }
        #evt_content .sec-2 .row.row4 .icon_30 {
          background: url("../images/icon_30_1.png");
          background-size: 100%; }
  #evt_content .sec-3 {
    width: 10rem;
    height: 14.25333rem;
    overflow: hidden;
    background: url("../images/sec-3.png") no-repeat;
    background-size: 100%; }
    #evt_content .sec-3 .select-li {
      width: 9.86667rem;
      margin: 0 auto; }
      #evt_content .sec-3 .select-li li {
        width: 4.74667rem;
        margin: 0.4rem 0.09333rem;
        float: left;
        text-align: center; }
        #evt_content .sec-3 .select-li li .content {
          width: 4.4rem;
          padding: 0.01333rem 0;
          margin: 0 auto; }
        #evt_content .sec-3 .select-li li .price-select {
          float: right;
          width: 2.66667rem;
          padding: 0.13333rem;
          font-size: 0.26667rem;
          color: #507f80;
          text-align: center; }
          #evt_content .sec-3 .select-li li .price-select b {
            font-size: 0.37333rem;
            color: #fd7723;
            font-weight: normal; }
          #evt_content .sec-3 .select-li li .price-select i {
            font-size: 0.18667rem;
            font-style: normal;
            color: #f1aa77; }
          #evt_content .sec-3 .select-li li .price-select span {
            font-size: 0.61333rem;
            color: #f1aa77; }
        #evt_content .sec-3 .select-li li img {
          margin: 0 auto; }
        #evt_content .sec-3 .select-li li .mun {
          float: right;
          width: 1.73333rem;
          margin: 0.2rem auto 0;
          border: #e99d65 1px solid;
          border-radius: 0.4rem; }
          #evt_content .sec-3 .select-li li .mun dd {
            float: left; }
          #evt_content .sec-3 .select-li li .mun dt {
            float: left;
            width: 0.66667rem;
            text-align: center;
            line-height: 0.53333rem; }
            #evt_content .sec-3 .select-li li .mun dt span {
              display: inline-block;
              color: #507f80;
              font-size: 0.26667rem; }
          #evt_content .sec-3 .select-li li .mun .nopoint {
            width: 0.45333rem;
            height: 0.50667rem;
            background: url("../images/jian.png") center no-repeat;
            background-size: 80%;
            cursor: pointer; }
          #evt_content .sec-3 .select-li li .mun .nopoint.add {
            background: url("../images/jia.png") center no-repeat;
            background-size: 80%; }
        #evt_content .sec-3 .select-li li:last-child {
          margin-left: 2.53333rem; }
          #evt_content .sec-3 .select-li li:last-child .content {
            width: 4.66667rem; }
            #evt_content .sec-3 .select-li li:last-child .content .price-select {
              width: 2.86667rem;
              margin-right: 0.02667rem; }
    #evt_content .sec-3 .go-btn {
      width: 2.77333rem;
      height: 0.68rem;
      background: #e99d65;
      border-radius: 0.68rem;
      cursor: pointer;
      margin: 0 auto;
      text-align: center;
      line-height: 0.68rem;
      color: #fff;
      font-size: 0.32rem; }
  #evt_content .sec-footer {
    position: relative;
    z-index: 1;
    height: 7.10667rem;
    overflow: hidden;
    background: url("../images/sec-4.png") no-repeat;
    background-size: 100%; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.6rem;
      margin: 0.8rem auto 0;
      color: #507f80; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.29333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.21333rem;
        padding-left: 0.46667rem;
        line-height: 0.46667rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          text-indent: 1.06667rem; }
  #evt_content .price {
    position: relative;
    width: 5.73333rem;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    margin: 0 auto; }
    #evt_content .price .title {
      position: relative;
      width: 2.66667rem;
      margin: 0.26667rem auto 0;
      font-size: 0.37333rem;
      text-align: center;
      color: #d25200; }
    #evt_content .price h2 {
      position: relative;
      font-size: 0.26667rem;
      font-weight: normal;
      line-height: 0.8rem;
      color: #507f80;
      text-align: center; }
      #evt_content .price h2 i {
        font-size: 0.26667rem;
        line-height: 0.4rem;
        font-style: normal;
        vertical-align: middle;
        color: #f1ac78; }
      #evt_content .price h2 span {
        font-size: 0.56rem;
        color: #f1ac78; }
      #evt_content .price h2 em {
        font-style: normal; }
    #evt_content .price s {
      font-size: 0.26667rem;
      color: #507f80;
      font-weight: normal;
      margin-left: 0.13333rem; }
      #evt_content .price s span {
        font-size: 0.26667rem; }
      #evt_content .price s b {
        font-weight: normal; }
    #evt_content .price ul.buy_btn_box {
      overflow: hidden;
      margin: 0;
      float: right; }
    #evt_content .price ul.buy_btn_box li span {
      display: block;
      width: 2.77333rem;
      height: 0.68rem;
      text-align: center;
      background: #e99d65;
      background-size: 100%;
      font-size: 0.29333rem;
      line-height: 0.68rem;
      color: #fff;
      border-radius: 0.68rem; }
    #evt_content .price .buy_btn_box.one {
      width: 2.33333rem;
      margin: 0 auto;
      text-align: center;
      float: none; }
      #evt_content .price .buy_btn_box.one li span {
        margin: 0 auto; }
  #evt_content .pro-num {
    position: relative;
    float: left;
    width: 2.77333rem;
    height: 0.68rem;
    display: inline-block;
    border: #e99d65 1px solid;
    border-radius: 0.68rem; }
    #evt_content .pro-num a {
      position: absolute;
      top: 0;
      width: 0.93333rem;
      height: 0.68rem;
      display: block;
      z-index: 2; }
    #evt_content .pro-num .minus {
      display: inline-block;
      background: url(../images/in-a-1.png) center no-repeat;
      left: -0.13333rem;
      background-size: 20%; }
    #evt_content .pro-num .plus {
      display: inline-block;
      background: url(../images/in-a-2.png) center no-repeat;
      right: -0.13333rem;
      background-size: 20%; }
    #evt_content .pro-num .bang {
      display: inline-block;
      width: 1.93333rem;
      line-height: 0.68rem;
      position: absolute;
      top: 0;
      left: 0.42667rem;
      text-align: center;
      color: #507f80;
      background: none;
      font-size: 0.29333rem;
      padding: 0;
      z-index: 1; }
