@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}
#evt_content *{ vertical-align: baseline!important;}  /*价格符号不对齐*/
#evt_content{ background:#630b09; background-size: 100%;
  img{width:100%;}
  .sec{position: relative; }

  .sec-top{ height: px2rem(1199); background:url("../images/banner.png") no-repeat; background-size: 100%; z-index: 1; overflow: hidden; }
   .item{ position: absolute;}
  .sq{position: absolute; width: px2rem(80); height: px2rem(54); background: url("../images/sq.png"); background-size: 100%; bottom:px2rem(-65); right: px2rem(140);}
  .buy_btn{
    span{display: block; padding: 0 px2rem(30); line-height: px2rem(40); font-size: px2rem(18); background: #910e06; color: #fff;}
  }
  .hy-title{ width: px2rem(710); margin:px2rem(50) auto; }
  .sec-1{ height: px2rem(863); background:url("../images/sec-1.png") no-repeat; background-size: 100%; overflow: hidden;
    .title{ width: px2rem(750); margin-top: px2rem(150);}
    .cake{ top: px2rem(310); left:px2rem(30); width: px2rem(348); z-index: 1;}
    .tip{ top: px2rem(180); left:50%; width: px2rem(712); margin-left: px2rem(-356); z-index: 2; display: none;}
    .close{ top: px2rem(190); right:px2rem(30); width: px2rem(20); height: px2rem(30); background: url("../images/close.png") center no-repeat; background-size: 50%;  z-index: 3;}
    .price{ top: px2rem(310); left:px2rem(400); width: px2rem(366);}
    .txt{ bottom: px2rem(120);  width: px2rem(750);}
    .buy_btn{ top: px2rem(595); left:px2rem(405);}
  }
  .sec-2{ height: px2rem(823); background:url("../images/sec-2.png") no-repeat; background-size: 100%; overflow: hidden;
    .title{ width: px2rem(750); margin-top: px2rem(150);}
    .cake{ top: px2rem(340); left:px2rem(380); width: px2rem(348);}
    .price{ top: px2rem(290); left:px2rem(60); width: px2rem(366);}
    .buy_btn{ top: px2rem(620); left:px2rem(65);}
  }
  .sec-3{ height: px2rem(841); background:url("../images/sec-3.png") no-repeat; background-size: 100%; overflow: hidden;
    .title{ width: px2rem(750); margin-top: px2rem(150);}
    .cake{ top: px2rem(330); left:px2rem(30); width: px2rem(348);}
    .price{ top: px2rem(310); left:px2rem(400); width: px2rem(366);}
    .buy_btn{ top: px2rem(615); left:px2rem(405);}
  }
  .sec-4{ height: px2rem(880); background:url("../images/sec-4.png") no-repeat; background-size: 100%; overflow: hidden;
    .title{ width: px2rem(750); margin-top: px2rem(150);}
    .cake{ top: px2rem(370); left:px2rem(400); width: px2rem(348);}
    .price{ top: px2rem(310); left:px2rem(60); width: px2rem(366);}
    .buy_btn{ top: px2rem(645); left:px2rem(65);}
  }
  .sec-5{ height: px2rem(801); background:url("../images/sec-5.png") no-repeat; background-size: 100%; overflow: hidden;
    .card{width: px2rem(750);}
  }
  .sec-footer{background:url("../images/sec-foot.png") no-repeat; background-size: 100%; position: relative; padding-bottom: px2rem(50); z-index:1;
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(50); margin: 0 auto;  color:#fdf4e3;
      h2{font-size: px2rem(24); font-weight: normal; }
      p{ font-size: px2rem(22); padding-left: px2rem(35); line-height:px2rem(35);  text-indent: px2rem(-35); margin:px2rem(5) 0;
        span{display: block; padding-left: px2rem(10); text-indent: px2rem(-10);}
      }
    }
  }


}


.huangou{position: relative;width:100%; font-size:px2rem(22); color: #9b4245; margin:px2rem(10) auto px2rem(20); text-align: left; }
.huangou p{ padding-left: px2rem(45);}
.huangou .icon{position: absolute; top: 50%; margin-top: px2rem(-20); width: px2rem(40); height: px2rem(40); background: url("../images/icon-1.png") center no-repeat; background-size: 60%;}
.huangou .icon.on{ background: url("../images/icon-1-h.png") center no-repeat; background-size: 60%;}


