@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

#evt_content{  background:#fffbe7;
  div{position:absolute;}
  img{width:100%;}
  .sec{position: relative; }

  .sec-0{ padding: px2rem(10) 0;
    div{position:relative;}
    .quanyi{width:px2rem(731); margin:px2rem(50) auto 0;}

    .cake{width:px2rem(598); margin:px2rem(10) auto;}
    .title{width:px2rem(366); margin:px2rem(30) auto px2rem(10);}
    .buy_btn { width:px2rem(300); overflow: hidden; margin:0 auto;}
    .buy_btn li { height:px2rem(40); float: left;}
    .buy_btn li.fr{float: right;}
    .buy_btn li span { display: block; width:px2rem(130); background: #de9092; border:none; color: #fff; cursor: pointer; height:px2rem(40); line-height:px2rem(40); font-size:px2rem(17);  text-align: center;  }
  }

  .sec-top{
    height: px2rem(827); background:url("../images/banner.jpg") repeat; background-size: 100%; z-index: 1; overflow: hidden;
    .m-text{width:px2rem(628); top:px2rem(113); left:px2rem(113);}
  }
  .sec-top.bj{ background:url("../images/bj-banner.jpg") repeat; background-size: 100%;
  }

  .disc{ position: absolute; top:px2rem(-28); left:px2rem(40); width:px2rem(58); height:px2rem(57); background: url("../images/disc-1.png") center no-repeat; background-size: 100%; text-align: center;
    span{display: block; font-size: px2rem(18); margin-top: px2rem(25); color: #6d4f3b;}
  }


  .hy-title{position: relative; width: px2rem(688); margin:px2rem(50) auto; }
  .sec-main{ background:url("../images/main-bg.png") top no-repeat; background-size: 100%; padding-bottom: px2rem(50);
    .row{position: relative;height: px2rem(550);}
    .row1{
      .cake{width:px2rem(437); top:px2rem(0); right:px2rem(-5); z-index: 1;}
      .price{top: px2rem(50); left:px2rem(10);}
      .price{
        .price_num dl dt input,h2,.huangou{color: #eccc4d !important;}
        s{color: #eccc4d;}
        ul.price_p li{background:#eccc4d !important; }
        ul.price_p li.cur,ul.buy_btn_box li span  {background:#eccc4d !important; }

        input:disabled, input[disabled]{
          color: #eccc4d;
          -webkit-text-fill-color:#eccc4d;
          -webkit-opacity:1;
          opacity: 1;
        }
      }
    }

    .row2{
      .cake{width:px2rem(453); top:px2rem(0); left:px2rem(-5); z-index: 1;}
      .price{top: px2rem(50); left:px2rem(430); }
      .disc{ left:px2rem(20); }
      .price{
        .price_num dl dt input,h2,.huangou{color: #ca9776 !important;}
        s{color: #9d6d4e;}
        ul.price_p li{background:#ca9776 !important; }
        ul.price_p li.cur,ul.buy_btn_box li span  {background:#9d6d4e !important; }

        input:disabled, input[disabled]{
          color: #9d6d4e;
          -webkit-text-fill-color:#9d6d4e;
          -webkit-opacity:1;
          opacity: 1;
        }
      }
      .price_num dl dd.reduce{ background:url("../images/reduce-2.png") no-repeat; background-size: 99%;}
      .price_num dl dd.add{  background: url("../images/add-2.png") no-repeat scroll; background-size: 99%; }
      .icon{background: url("../images/icon-2.png") !important; background-size: 100% !important; }
      .icon.on{background: url("../images/icon-2-h.png") !important; background-size: 100% !important;}
    }

    .row3{
      .cake{width:px2rem(406);  top:px2rem(50); right:px2rem(-5); z-index: 1;}
      .price{top: px2rem(50); left:px2rem(10); z-index: 2; }
      .disc{ left:0; }
      .price{
        .price_num dl dt input,h2,.huangou{color: #610f0f !important;}
        s{color: #9b5f5f;}
        ul.price_p li{background:#9b5f5f !important; }
        ul.price_p li.cur,ul.buy_btn_box li span  {background:#610f0f !important; }

        input:disabled, input[disabled]{
          color: #610f0f;
          -webkit-text-fill-color:#610f0f;
          -webkit-opacity:1;
          opacity: 1;
        }
      }
      .price_num dl dd.reduce{ background:url("../images/reduce-3.png") no-repeat; background-size: 99%;}
      .price_num dl dd.add{  background: url("../images/add-3.png") no-repeat scroll; background-size: 99%; }
      .icon{background: url("../images/icon-3.png") !important;  background-size: 100% !important;}
      .icon.on{background: url("../images/icon-3-h.png") !important; background-size: 100% !important;}
    }

    .row4{
      .cake{width:px2rem(425); top:px2rem(0); left:px2rem(-5); z-index: 1;}
      .price{top: px2rem(50); left:px2rem(430); }
      .disc{ left:px2rem(20); }
      .price{
        s{color: #ffbe68;}
        ul.price_p li{background:#ffbe68 !important; }
        .price_num dl dt input,h2,.huangou{color: #ef9f34 !important;}
        ul.price_p li.cur,ul.buy_btn_box li span  {background:#ef9f34 !important; }

        input:disabled, input[disabled]{
          color: #ef9f34;
          -webkit-text-fill-color:#ef9f34;
          -webkit-opacity:1;
          opacity: 1;
        }
      }
      .price_num dl dd.reduce{ background:url("../images/reduce-4.png") no-repeat; background-size: 99%;}
      .price_num dl dd.add{  background: url("../images/add-4.png") no-repeat scroll; background-size: 99%; }
      .icon{background: url("../images/icon-4.png") !important;  background-size: 100% !important;}
      .icon.on{background: url("../images/icon-4-h.png") !important; background-size: 100% !important;}
    }

    .row5{
      .cake{width:px2rem(435); top:px2rem(0); right:px2rem(-5); z-index: 1;}
      .price{top: px2rem(50); left:px2rem(10); z-index: 2; }
      .disc{ left:0; }
      .price{
        s{color: #ffbdbc;}
        ul.price_p li{background:#ffbdbc !important; }
        .price_num dl dt input,h2,.huangou{color: #de9092 !important;}

        ul.price_p li.cur,ul.buy_btn_box li span  {background:#de9092 !important; }

        input:disabled, input[disabled]{
          color: #de9092;
          -webkit-text-fill-color:#de9092;
          -webkit-opacity:1;
          opacity: 1;
        }
      }
      .price_num dl dd.reduce{ background:url("../images/reduce-5.png") no-repeat; background-size: 99%;}
      .price_num dl dd.add{  background: url("../images/add-5.png") no-repeat scroll; background-size: 99%; }
      .icon{background: url("../images/icon-5.png") !important;  background-size: 100% !important;}
      .icon.on{background: url("../images/icon-5-h.png") !important; background-size: 100% !important;}
    }

    .row6{
      .cake{width:px2rem(418); top:px2rem(0); left:px2rem(-5); z-index: 1;}
      .price{top: px2rem(50); left:px2rem(430);}
      .disc{ left:px2rem(-10); }
      .price{
        s{color: #bc7664;}
        ul.price_p li{background:#bc7664 !important; }

        .price_num dl dt input,h2,.huangou{color: #a5513c !important;}
        ul.price_p li.cur,ul.buy_btn_box li span  {background:#a5513c !important; }

        input:disabled, input[disabled]{
          color: #a5513c;
          -webkit-text-fill-color:#a5513c;
          -webkit-opacity:1;
          opacity: 1;
        }
      }
      .price_num dl dd.reduce{ background:url("../images/reduce-6.png") no-repeat; background-size: 99%;}
      .price_num dl dd.add{  background: url("../images/add-6.png") no-repeat scroll; background-size: 99%; }
      .icon{background: url("../images/icon-6.png") !important; background-size: 100% !important; }
      .icon.on{background: url("../images/icon-6-h.png") !important; background-size: 100% !important;}
    }

    .row6.bj{
      .cake{width:px2rem(420); top:px2rem(50); left: auto; right:px2rem(-30); z-index: 1;}
      .price{top: px2rem(50); left:px2rem(20); right: auto; z-index: 2; }
      .disc{ left:px2rem(-10); }
      .price{
        s{color: #bc7664;}
        ul.price_p li{background:#bc7664 !important; }

        .price_num dl dt input,h2,.huangou{color: #a5513c !important;}
        ul.price_p li.cur,ul.buy_btn_box li span  {background:#a5513c !important; }

        input:disabled, input[disabled]{
          color: #a5513c;
          -webkit-text-fill-color:#a5513c;
          -webkit-opacity:1;
          opacity: 1;
        }
      }
      .price_num dl dd.reduce{ background:url("../images/reduce-6.png") no-repeat; background-size: 99%;}
      .price_num dl dd.add{  background: url("../images/add-6.png") no-repeat scroll; background-size: 99%; }
      .icon{background: url("../images/icon-6.png") !important; background-size: 100% !important; }
      .icon.on{background: url("../images/icon-6-h.png") !important; background-size: 100% !important;}
    }
    .zp{position: relative; width:px2rem(688); margin:px2rem(30) auto 0;}
  }


  /*价格*/
  .price{ position: absolute;  width: px2rem(336); text-align: center; z-index: 2;
    .title{position: relative; width: px2rem(336); margin:px2rem(10) auto;}
    h2{font-size:  px2rem(30); font-weight: normal; line-height: px2rem(50); color: #9e1316;
      i{font-size:  px2rem(20); line-height: px2rem(30); font-style: normal;vertical-align:middle; }
      span{font-size: px2rem(47); }
    }
    s{font-size:  px2rem(20); color: #c7818b; font-weight: normal; line-height:  px2rem(20); }

    ul.price_p{margin: px2rem(10) auto px2rem(20); color: #000; width: px2rem(280);}
    ul.price_p.short{margin: px2rem(20) auto; color: #000; width: px2rem(80);}
    ul.price_p.minshort{margin: px2rem(20) auto; color: #000; width: px2rem(130);}
    ul.price_p li { cursor: pointer;  float: left;  height:  px2rem(60);  line-height:  px2rem(60);  text-align: center;  width:px2rem(60); background: #febdbb; margin-right:  px2rem(10); border-radius: 50%; color: #fff; }
    ul.price_p li:last-child{margin-right: 0;}
    ul.price_p  .bd{width:px2rem(120) !important;  margin-left: px2rem(150) !important;}
    ul.price_p li.cur {  background:#e29792 !important; color: #fff !important; }

    .huangou{position: relative;width:px2rem(230); font-size:px2rem(22); color: #9b4245; margin:0 auto px2rem(20); text-align: left; padding-left: px2rem(35);
      .icnone{position: absolute; left: 0; top:50%; width:px2rem(30); height:px2rem(30); margin-top: px2rem(-15); background: url("../images/icon-1.png"); background-size: 100%; z-index: 1; }
      .icon{position: absolute; left: 0; top:50%; width:px2rem(30); height:px2rem(30); margin-top: px2rem(-15); background: url("../images/icon-1.png"); background-size: 100%; z-index: 2; }
      .icon.on{background: url("../images/icon-1-h.png");background-size: 100%;}
    }

    .price_num{margin: 0 auto; width: px2rem(200); position: relative;}
    .price_num dl {  float: left;  padding-left: px2rem(5);}
    .price_num dl dd { cursor: pointer;  float: left;  height:  px2rem(45);  width: px2rem(45);}
    .price_num dl dd.reduce{ background:url("../images/reduce-1.png") no-repeat; background-size: 99%;}
    .price_num dl dd.add{  background: url("../images/add-1.png") no-repeat scroll; background-size: 99%; }


    .price_num dl dt {  float: left;  height:  px2rem(45);  width:  px2rem(70);  margin: 0 px2rem(10);  }
    .price_num dl dt input { font-size: px2rem(30); background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  border: none;  color: #000;  height: 100%; line-height: px2rem(40); text-align: center;  width: 100%; color: #9e1316;  }


    ul.buy_btn_box {  width: px2rem(320); overflow: hidden; margin:  px2rem(20) auto;  }
    ul.buy_btn_box li {  float: left; margin-right:  px2rem(10);  }
    ul.buy_btn_box li:last-child{margin-right: 0;}
    ul.buy_btn_box li span { display: block; background: #db8f93 none repeat scroll 0 0;  color: #fff; cursor: pointer; line-height:  px2rem(40); font-size:  px2rem(22); padding: 0 px2rem(14); text-align: center; border-radius: px2rem(20); }
  }



  .sec-footer{background:#ffe87a; position: relative; padding-bottom: px2rem(20);
    .txt{ position: relative; width:px2rem(700); padding-top: px2rem(70); margin: 0 auto;  color: #252424;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(23); padding-left: px2rem(35); line-height:px2rem(40);  text-indent: px2rem(-35);
        margin:px2rem(5) 0;}
    }
  }

}


.xs_num{float: right; width: px2rem(190); position: relative;}
.xs_num dl {  float: left;  padding-left: px2rem(5);}
.xs_num dl dd {  background: #fff url("../images/in-l.png") no-repeat; background-size: 100%;  cursor: pointer;  float: left;  height:  px2rem(40);  width: px2rem(40);}
.xs_num dl dd.nopoint {  background: #fff url("../images/in-r.png") no-repeat scroll; background-size: 100%; }


.xs_num dl dt {  float: left;  height:  px2rem(40);  width:  px2rem(60);border: #cbcbcb 1px solid;  margin: 0 px2rem(10);  }
.xs_num dl dt span { display: block; font-size: px2rem(26);  color: #ff7701;  height:px2rem(38); line-height: px2rem(38); text-align: center;  width: 100%; }




/*轮播图*/
.section-bottom{ position: relative;  height:100%;

  .slideContain{ position: absolute; width:100%; height:px2rem(430); left:0; top:px2rem(0);
    a{ display: block;  position: absolute;}
  }

  .slideContent{position:absolute;width:px2rem(540); height:100%; left:50%; top:0; margin-left:px2rem(-250);}

  li.slideItem{width:px2rem(360); height:px2rem(420); position:absolute; list-style: none;
    .product{position:absolute; top:3%; left:4.5%; width:91% !important;}
    span{display:block; position:absolute; left:0; bottom:px2rem(20); font-size: px2rem(18); color:#626262; text-align: center; width:100%;}
  }

  .slidePrev,.slideNext{width:px2rem(63); height:px2rem(45); top:50%; margin-top:px2rem(130); z-index: 10;}
  .slidePrev{background:url(../images/prev.png); background-size: 100%; left:px2rem(20);}
  .slideNext{background:url(../images/next.png); background-size: 100%; right:px2rem(20);}

}

.pro-num{position:absolute; width:px2rem(300); height: px2rem(40); left:50%;  top:0; font-size:0; margin-left:px2rem(-150);
  a{ position: absolute; width:px2rem(50); height:px2rem(50); display:block; top:px2rem(4);}
  .minus{background:url(../images/minus.png);background-size: 100%; left:0;}
  .plus{background:url(../images/plus.png);background-size: 100%; right:0;}
  input{border:none; display:block; font-size: px2rem(20); background:url(../images/input.png); background-size: 100%; width:px2rem(185); height:px2rem(50); line-height:px2rem(39); position:absolute;
    top:px2rem(5); left:px2rem(55); text-align:center; color:#626262;  padding:0;}
}
.buybtn{position:absolute; bottom:px2rem(26); left:50%; margin-left:px2rem(-150);  width:px2rem(300); height: px2rem(48);  background: url("../images/btnbg.png"); background-size: 100%; text-align: center; text-decoration: none;
  span{color: #fff; line-height: px2rem(48); font-size: px2rem(24); }

}



.des{ position: absolute; width: px2rem(300); bottom:px2rem(20); left: 50%; margin-left: px2rem(-150);
  p{font-size: px2rem(24); color: #000; font-weight:bolder;}
  .cl{position: relative; margin: px2rem(10) auto; padding-left:px2rem(18); line-height: px2rem(50);color:#b08d67;
    i{font-style: normal; position: absolute; top: px2rem(-4); left: 0; font-size: px2rem(16); }
    span{ font-size: px2rem(30); }
  }

  .gobtn{width:px2rem(284); height:px2rem(48); text-align: center; line-height:px2rem(48);  background:url("../images/btnbg.png") center no-repeat; background-size: 100%; border-radius: 5px; margin-top: px2rem(20);
    span{font-size:px2rem(20); color: #fff;}
  }
  .js_bshu{position: absolute; right: 0; top: 0; display: block; width: px2rem(100); height:px2rem(39); z-index: 2; font-size:px2rem(16) !important; line-height: px2rem(39);  cursor: pointer; text-indent: px2rem(10);  background: url("../images/sele-li.png") left no-repeat; background-size: 100%;
    b{font-style: normal;line-height: px2rem(39);}
  }
}


/*浮动*/
.floater{  position: fixed; width: px2rem(145); height: px2rem(145); bottom: px2rem(20); right: px2rem(10);  z-index: 11; cursor: pointer; display: none;
  img{ width: 100%;}
  .tips{ position: absolute; width: px2rem(50); height: px2rem(50); right:px2rem(-5); top:px2rem(-5); border-radius: 50%; background:url("../images/tips.png") center no-repeat; background-size: 100%; text-align: center; z-index: 12;
    span{display: block; font-size:px2rem(20); color: #fff; line-height:px2rem(50);}
  }
}




@media screen and (max-width: 320px) {
  .sel-li{ top: px2rem(-10) !important; }
  i{top:px2rem(3) !important; }
}
