@charset "UTF-8";
* {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  background: #c1ebff; }
  #evt_content img {
    width: 100%;
    display: block; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    height: 12.14667rem;
    background: url("../images/banner.png") no-repeat;
    background-size: 100%;
    z-index: 2; }
  #evt_content .sec-1 {
    width: 10rem;
    height: 8.12rem;
    background: url("../images/sec-1.png") no-repeat;
    background-size: 100%; }
    #evt_content .sec-1 .ice-txt {
      width: 9.22667rem;
      margin: 0 auto; }
      #evt_content .sec-1 .ice-txt .go-btn {
        position: absolute;
        bottom: 0.53333rem;
        left: 50%;
        width: 2.25333rem;
        margin-left: -1.01333rem;
        background: #008dcc;
        border-radius: 0.66667rem;
        line-height: 0.66667rem;
        text-align: center;
        font-size: 0.26667rem;
        letter-spacing: 0.05333rem;
        color: #fff; }
  #evt_content .hy-title {
    width: 10rem;
    margin: 0.13333rem auto 0.8rem; }
  #evt_content .icon {
    position: absolute;
    width: 1.48rem;
    height: 1.42667rem;
    top: 0;
    z-index: 2; }
  #evt_content .icon_15 {
    background: url("../images/icon_15.png") no-repeat;
    background-size: 100%; }
  #evt_content .icon_30 {
    background: url("../images/icon_30.png") no-repeat;
    background-size: 100%; }
  #evt_content .sec-2 {
    width: 10rem;
    height: 23.76rem;
    background: url("../images/sec-2.png") no-repeat;
    background-size: 100%;
    overflow: hidden; }
    #evt_content .sec-2 .row {
      position: relative; }
      #evt_content .sec-2 .row .cake {
        position: absolute; }
      #evt_content .sec-2 .row .price {
        position: absolute; }
    #evt_content .sec-2 .row1 {
      height: 5.74667rem;
      background: url("../images/shanghai/cake-1.png") no-repeat;
      background-size: 100%; }
      #evt_content .sec-2 .row1 .icon {
        left: 0; }
      #evt_content .sec-2 .row1 .price {
        top: 1.33333rem;
        left: auto;
        right: -0.26667rem; }
    #evt_content .sec-2 .row2 {
      height: 5.13333rem;
      background: url("../images/shanghai/cake-2.png") no-repeat;
      background-size: 100%; }
      #evt_content .sec-2 .row2 .icon {
        left: auto;
        right: 0; }
      #evt_content .sec-2 .row2 .price {
        top: 1.06667rem;
        left: 0.33333rem;
        z-index: 2; }
    #evt_content .sec-2 .row3 {
      height: 5.41333rem;
      background: url("../images/shanghai/cake-3.png") no-repeat;
      background-size: 100%; }
      #evt_content .sec-2 .row3 .icon {
        left: 0; }
      #evt_content .sec-2 .row3 .price {
        top: 1.06667rem;
        left: auto;
        right: -0.26667rem; }
    #evt_content .sec-2 .row4 {
      height: 5.17333rem;
      background: url("../images/shanghai/cake-4.png") no-repeat;
      background-size: 100%; }
      #evt_content .sec-2 .row4 .icon {
        left: auto;
        right: 0; }
      #evt_content .sec-2 .row4 .price {
        top: 0.8rem;
        left: 0.33333rem;
        z-index: 2; }
    #evt_content .sec-2.cake-bj .row1 {
      height: 5.06667rem;
      background: url("../images/beijing/cake-1.png") no-repeat;
      background-size: 100%; }
      #evt_content .sec-2.cake-bj .row1 .icon {
        left: 0; }
      #evt_content .sec-2.cake-bj .row1 .price {
        top: 0.26667rem;
        left: auto;
        right: -0.26667rem; }
    #evt_content .sec-2.cake-bj .row2 {
      height: 5.52rem;
      background: url("../images/beijing/cake-2.png") no-repeat;
      background-size: 100%; }
      #evt_content .sec-2.cake-bj .row2 .icon {
        left: auto;
        right: 0; }
      #evt_content .sec-2.cake-bj .row2 .price {
        top: 1.33333rem;
        left: 0.33333rem;
        z-index: 2; }
    #evt_content .sec-2.cake-bj .row3 {
      height: 5.6rem;
      background: url("../images/beijing/cake-3.png") no-repeat;
      background-size: 100%; }
      #evt_content .sec-2.cake-bj .row3 .icon {
        left: 0; }
      #evt_content .sec-2.cake-bj .row3 .price {
        top: 1.06667rem;
        left: auto;
        right: -0.26667rem; }
    #evt_content .sec-2.cake-bj .row4 {
      height: 5.14667rem;
      background: url("../images/beijing/cake-4.png") no-repeat;
      background-size: 100%; }
      #evt_content .sec-2.cake-bj .row4 .icon {
        left: auto;
        right: 0; }
      #evt_content .sec-2.cake-bj .row4 .price {
        top: 1.2rem;
        left: 0.33333rem;
        z-index: 2; }
  #evt_content .sec-zp {
    width: 10rem;
    height: 14.30667rem;
    background: url("../images/sec-3.png") no-repeat;
    background-size: 100%;
    overflow: hidden; }
    #evt_content .sec-zp .zp {
      width: 10rem;
      padding-top: 2.13333rem; }
  #evt_content .sec-footer {
    height: 9.86667rem;
    background: url("../images/sec-4.png") no-repeat;
    background-size: 100%;
    overflow: hidden; }
    #evt_content .sec-footer .f-txt {
      position: relative;
      width: 9.33333rem;
      padding-top: 2rem;
      margin: 0 auto;
      color: #000; }
      #evt_content .sec-footer .f-txt h2 {
        font-size: 0.29333rem;
        font-weight: normal; }
      #evt_content .sec-footer .f-txt p {
        font-size: 0.29333rem;
        padding-left: 0.46667rem;
        line-height: 0.4rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .f-txt p span {
          display: block;
          padding-left: 0.13333rem;
          text-indent: -0.13333rem; }

/*价格计算【通用】*/
.price {
  position: absolute;
  width: 5.33333rem;
  text-align: left;
  z-index: 2; }
  .price .title {
    position: relative;
    width: 4.44rem;
    margin: 0 0 0.13333rem 0; }
  .price h2 {
    position: relative;
    font-size: 0.26667rem;
    font-weight: normal;
    line-height: 0.53333rem;
    color: #008dcc; }
    .price h2 i {
      font-size: 0.26667rem;
      line-height: 0.4rem;
      font-style: normal;
      vertical-align: middle; }
    .price h2 span {
      font-size: 0.45333rem; }
    .price h2 em {
      font-style: normal; }
  .price s {
    display: block;
    font-size: 0.26667rem;
    color: #a2c5d4;
    font-weight: normal; }
    .price s span {
      font-size: 0.26667rem; }
    .price s b {
      font-weight: normal; }
  .price ul.buy_btn_box {
    width: 2.25333rem;
    overflow: hidden;
    margin: 0.2rem 0;
    float: left; }
  .price ul.buy_btn_box li span {
    display: block;
    width: 2.25333rem;
    background: #008dcc;
    border-radius: 0.66667rem;
    line-height: 0.66667rem;
    text-align: center;
    font-size: 0.26667rem;
    letter-spacing: 0.05333rem;
    color: #fff; }
  .price .pro-num {
    position: relative;
    float: left;
    width: 2.50667rem;
    height: 0.66667rem;
    display: inline-block;
    border: 2px solid #008dcc;
    border-radius: 0.66667rem;
    margin: 0.2rem 0 0 0.06667rem; }
    .price .pro-num a {
      position: absolute;
      top: 50%;
      width: 1.06667rem;
      height: 1.06667rem;
      margin-top: -0.53333rem;
      display: block;
      z-index: 2; }
    .price .pro-num .minus {
      display: inline-block;
      background: url(../images/in-a-1.png) center no-repeat;
      left: -0.2rem;
      background-size: 50%; }
    .price .pro-num .plus {
      display: inline-block;
      background: url(../images/in-a-2.png) center no-repeat;
      right: -0.13333rem;
      background-size: 50%; }
    .price .pro-num .bang {
      display: inline-block;
      width: 1.73333rem;
      line-height: 0.64rem;
      position: absolute;
      top: 0;
      left: 0.33333rem;
      text-align: center;
      color: #008dcc;
      background: none;
      font-size: 0.24rem;
      padding: 0;
      z-index: 1; }
