@function px2rem($n) {
  @return ($n * 10 / 750) * 1rem; //设计稿一般都是750宽
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}
h2,h3,h4,b,i,strong,samp{font-weight: normal;font-style: normal;}
i{font-size:px2rem(18);}
li{display: block;}
.not-startbg{position:absolute !important; z-index: 10; width: 100%; height: 100%;top: 0; left: 0; background: #000; opacity: 0.5; display: none; }
.not-start{position: absolute !important; top: 50%; left: 50%; margin:px2rem(-161.5) 0 0 px2rem(-248); z-index: 10; width: px2rem(496); height:px2rem(323); background: url("../images/tips-tc.png") no-repeat; background-size: 100%; display: none;
  .txt{position: absolute; width: 100%; padding:px2rem(80) 0; text-align: center; color: #fff;
    h2{font-size:px2rem(34); line-height:px2rem(80);}
    p{font-size:px2rem(18);}
  }
}
.guize-btn{position: absolute !important; right: 0; bottom:px2rem(25); width:px2rem(120); line-height:px2rem(36); background: #ffffff; border-radius:px2rem(36); font-size:px2rem(18); text-align: center; color: #323232; cursor: pointer; border: #bfbfbf px2rem(1) solid;
  .txtHtml,.txt{display: none;}
}

.buy-btns{position: absolute; z-index: 2;
  .buy-btn{ float: left; font-size:px2rem(20); text-align: center; width:px2rem(150); line-height:px2rem(44); color: #000; background: #ffc559; border-radius:px2rem(44); cursor: pointer; margin: 0 px2rem(5);}
  .buy-btn.on{background: #b9b8b7; color: #fff;}
}
body{ background:#ffffff;}
#evt_content{  background:#ffffff; padding-bottom:px2rem(1);
  img{width:100%;}
  .sec{position: relative; }

  .hdtitle{position: relative !important; width: px2rem(750); margin: px2rem(80) auto px2rem(120);}

  .sec-top{ height: px2rem(1036); background:url("../images/banner.png") repeat; background-size:100%; z-index: 1; overflow: hidden; }

  .hdtitle{margin: px2rem(50) auto !important;}


  .sec-main{position:relative; width: px2rem(750); margin: 0 auto; background: #fff;
    .tab-bar{position: relative; width:px2rem(750);height: px2rem(100); margin: 0 auto; z-index: 2;
      span{ display: block; width:px2rem(250); float:left; height: px2rem(100); cursor: pointer; }
      span:nth-of-type(1){ background: url("../images/tab-bar-1.png") no-repeat; background-size: 100%;}
      span:nth-of-type(2){ background: url("../images/tab-bar-2.png") no-repeat; background-size: 100%;}
      span:nth-of-type(3){ background: url("../images/tab-bar-3.png") no-repeat; background-size: 100%;}
      span:nth-of-type(1).cur{background: url("../images/tab-bar-1-h.png") no-repeat; background-size: 100%;}
      span:nth-of-type(2).cur{background: url("../images/tab-bar-2-h.png") no-repeat; background-size: 100%;}
      span:nth-of-type(3).cur{background: url("../images/tab-bar-3-h.png") no-repeat; background-size: 100%;}
    }

    .tab-box{ width:px2rem(750); margin: 0 auto;
      .part{display: none; text-align: center;
      }
      .wx-code{width:px2rem(750); margin: 50px auto 0;}
    }
    .sub-bar{
      .sec-title{position: relative; padding:px2rem(40) 0 px2rem(30); text-align: center; z-index: 1; display: none;
        ul{ margin:0 auto;
          li{ width: px2rem(160); margin: 0 px2rem(10);  display: inline-block; cursor: pointer;}
        }
      }
      .sec-title:nth-of-type(3){
        ul{
          li{ margin: 0 px2rem(30);}
        }
      }
    }




    .manzeng,.mcard{width: px2rem(750); margin: 0 auto;}

    .quan{position: relative; width:px2rem(750); margin: 0 auto;
      .buy{ position: absolute; width: px2rem(119); top: px2rem(250); left: px2rem(300);}
    }


    .shengbang{position: relative; background:#fff9e1; width: px2rem(750); overflow: hidden;
      .star{position: absolute; width: px2rem(101); height: px2rem(573); z-index: 1;}
      .star-1{ top: px2rem(100); left: 0; background: url("../images/star-1.png") no-repeat; background-size: 100%;}
      .star-2{ top: px2rem(380); right: 0; background: url("../images/star-2.png") no-repeat; background-size: 100%;}
      .item{position: relative; height:px2rem(417); text-align: center; }
      .cake{position: absolute; width:px2rem(452); top:px2rem(100); left:px2rem(20); z-index: 2;}
      .price{position: absolute; width:px2rem(300); top:px2rem(200); left:px2rem(430);  z-index: 3;
        .title{ position:relative; width: px2rem(233);}
        .s-price{ position:relative; width: px2rem(300); margin: px2rem(20) auto 0; }
      }

      .item-2{
        .cake{ top:px2rem(80); left: auto; right:0; z-index: 1;}
        .price{top:px2rem(130); left:px2rem(100); }
      }
      .item-3{ height:px2rem(340);
        .cake{ width:px2rem(430); top:px2rem(-80); left:0; z-index: 1;}
        .price{top:px2rem(60); left:px2rem(430); }
      }
    }
    .go-btn{position: relative; width: px2rem(151);  padding: px2rem(25) 0 0;
      span{display: block; width: px2rem(151); margin: 0 auto; height: px2rem(44); background: url("../images/btn-gobuy.png") center no-repeat; background-size: 100%; }
    }
  }

  .sec-cakes{ margin-top: px2rem(60);
    div{position:relative;}
    .prolist{
      ul{margin: 0;}
    }
    .cake-wrap{
      ul{ margin-left:0;
        li{position:relative; float: left;  width: px2rem(360); margin-left: px2rem(10); margin-right: 0; margin-bottom: px2rem(10); background: #fff7e8;
          .m-title{ position: absolute; top:px2rem(10); left:px2rem(20); font-size:px2rem(20); text-align: left; color: #000;}
          .m-subtitle{ position: absolute; top:px2rem(40); left:px2rem(20); font-size:px2rem(18); text-align: left;  color: #8a8a8a;}
          .m-car{ position: absolute; bottom:px2rem(15); right:px2rem(20); font-size:px2rem(20); text-align: left; color: #000; width:px2rem(42); height:px2rem(42); background: url("../images/car.png") no-repeat; background-size: 100%; cursor: pointer;}

          .m-btn{ position: absolute; bottom:px2rem(15); right:px2rem(20); font-size:px2rem(20); text-align: center; width:px2rem(120); line-height:px2rem(40); color: #000; background: #ffe328; border-radius:px2rem(40); cursor: pointer; }
          .m-btn.on{background: #ffe328;}

          .m-price{ position: absolute; bottom:px2rem(20); left:px2rem(20); font-size:px2rem(18); text-align: left; color: #000;}
          .m-old-price{ position: absolute; bottom:px2rem(20); left:px2rem(155); font-size:px2rem(18); text-align: left; color: #888888;}

          .m-last{position: absolute; top:px2rem(20); right:px2rem(20); line-height: px2rem(20); font-size:px2rem(14); text-align: left; color: #fff; background: #ff2437; border-radius: px2rem(20); padding: px2rem(2) px2rem(10);}
        }
      }
    }

  }

  .zuhe{position: relative; margin-top: 7px;
    .buy-btns{ top: px2rem(230); right: px2rem(10); }
  }

  .mcake{position: relative; margin-top: 7px;
    .buy-btns{ top: px2rem(300); right: px2rem(90); }
  }
  .mcake-2{margin-top: px2rem(20);}

  .shengbang-quan{position: relative;
    .icon{position: absolute; right:px2rem(200); top:px2rem(260); width:px2rem(83); height:px2rem(82); background: url("../images/icon-50.png") no-repeat; background-size: 100%; }
    .icon.icon-100{background: url("../images/icon-100.png") no-repeat; background-size: 100%; }
    .btn-gobuy{ width:px2rem(170); position: absolute; left:50%; top:px2rem(520); margin-left:px2rem(-85); cursor: pointer;}
    .progress-wrap{position: absolute; top:px2rem(50); left:50%; width:px2rem(666); margin-left:px2rem(-333);
      .shengbang-txt{width:px2rem(666); margin:px2rem(8) auto; color: #0db8ca;
        span{float: left; display: block; width:px2rem(170); text-align: left; padding-left:px2rem(5); font-size: px2rem(18); }
        span:nth-of-type(1){width: px2rem(140); padding-left:px2rem(5);}
      }
      .progress{position: relative; background: #fea44e; border-radius:px2rem(20); height:px2rem(20);
        span{position: relative; background: #59e9f1; float: left; height:px2rem(20); line-height:px2rem(20); text-align: right;  border-radius:px2rem(20);}
        i{position: absolute; top: px2rem(-2); display: block; width:px2rem(25); height:px2rem(25); background: url("../images/point.png") no-repeat; background-size: 100%; margin-left:px2rem(-22); }
      }
    }
  }


  .sec-topbang{
    div {position: relative;}
    .xiaofei{ width:px2rem(750); margin: 0 auto; background: #daf8fa;

      .win-prize{position: relative; width:px2rem(750); margin: 0 auto; overflow: hidden;}
      .swiper-slide1{background:#daf8fa url("../images/zp-1.png") right no-repeat; background-size: 50%;}
      .swiper-slide2{background:#daf8fa url("../images/zp-2.png") right no-repeat; background-size: 50%;}
      .swiper-slide3{background:#daf8fa url("../images/zp-3.png") right no-repeat; background-size: 50%;}
      .swiper-slide4{background:#daf8fa url("../images/zp-4.png") right no-repeat; background-size: 50%;}
      .swiper-slide5{background:#daf8fa url("../images/zp-5.png") right no-repeat; background-size: 50%;}
      .prize-nub{position: absolute; width:px2rem(370); z-index: 10; top:px2rem(35); left:px2rem(10);
        ul{
          li{ width:px2rem(370); padding:px2rem(10) 0 px2rem(10) px2rem(10); border-bottom: #d5d5d5 px2rem(1) solid; text-align: left; cursor: pointer;
            b{width:px2rem(140); display: block;}
            p{display: block; font-size:px2rem(18); color: #8d8d8d; line-height: px2rem(24);
              b{ color: #ff424f; display: block;line-height: px2rem(30);}
              span{ display: block;}
            }
          }
          li.bd{ border-right: #d5d5d5 px2rem(1) solid;}
          li.on{
            p{ color: #000;
              b{ color: #ff424f;}
            }
          }
          li.bdnone{ border-bottom:none;}
        }
      }
      .bangList{position: relative; width:px2rem(750); margin:0 auto px2rem(30); background: #bfecf1; padding-bottom: px2rem(50); padding-top: px2rem(1);
        .title-txt{position: relative; margin:px2rem(20) 0 0 px2rem(20); line-height:px2rem(50); font-size:px2rem(34); text-align: left; color: #000;}

        .bang-list{ margin:0 px2rem(10) 0;
          ul{
            li{float: left; width: px2rem(340); line-height:px2rem(45); padding:px2rem(10) px2rem(10) px2rem(10) 0; border-bottom: #d6d6d6 px2rem(1) solid; margin-left: px2rem(15);
              b{display: inline-block; color: #000; font-size:px2rem(16); float: left; margin-right:px2rem(20);}
              span{display: inline-block; color: #000; font-size:px2rem(16); float: left;}
              span.tel-phone{color: #000; font-size:px2rem(20); float: left; width:px2rem(180); overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
              span.price{float: right;}
            }

          }
        }
       .mores{position: absolute; width: px2rem(80); height: px2rem(40); bottom:px2rem(10); left: 50%; margin-left: px2rem(-40); display: none; background: url("../images/more.png") center no-repeat; background-size: 53%; cursor: pointer;  }
        .mores.on{background: url("../images/more-2.png") center no-repeat; background-size: 53%;}
      }
    }
  }
  .word{width: px2rem(750);}

  .sec-footer{background:#ffd9ac; background-size: 12%; position: relative; padding-bottom: px2rem(50); z-index:1;
    .rule{ position: relative; width:px2rem(700); padding-top: px2rem(50); margin: 0 auto;  color: #7f7f7f;
      h2{font-size: px2rem(28); font-weight: normal; }
      p{ font-size: px2rem(22); line-height:px2rem(40);  margin:px2rem(5) 0;}
    }
  }

}







.swiper-container {
  position: relative !important;
  width:px2rem(750); height: px2rem(530);
  margin-left: auto;
  margin-right: auto;  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  width:100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{width: 100%;}
.swiper-pagination{width: 100%; position: absolute !important; bottom:px2rem(10) !important; }
.swiper-pagination-bullet{margin:0 px2rem(5) !important; background: #fff !important; opacity: 1 !important;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background: #626262 !important;}







