@charset "UTF-8";
* {
  vertical-align: baseline !important; }

/*价格符号不对齐*/
#evt_content {
  width: 10rem;
  background: #ffffe4;
  background-size: 100%; }
  #evt_content img {
    width: 100%;
    display: block; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-top {
    width: 10rem;
    height: 15.90667rem;
    z-index: 1;
    overflow: hidden;
    background: url("../images/banner.png");
    background-size: 100%; }
    #evt_content .sec-top .banner-cake {
      position: absolute;
      bottom: 0.26667rem;
      width: 10rem; }
  #evt_content .sec-1 {
    width: 10rem;
    height: 7.66667rem;
    z-index: 1;
    overflow: hidden;
    background: url("../images/sec-1.png");
    background-size: 100%; }
    #evt_content .sec-1 .banner-zp {
      position: absolute;
      top: 0.26667rem;
      width: 10rem; }
  #evt_content .hy-title {
    width: 6rem;
    margin: 0.66667rem auto 0.8rem; }
  #evt_content .buy-btn1 {
    position: absolute;
    bottom: 1.33333rem;
    left: 50%;
    width: 1.85333rem;
    height: 0.53333rem;
    margin-left: -0.77333rem;
    background: url("../images/buy-btn1.png") no-repeat;
    background-size: 100%;
    cursor: pointer; }
  #evt_content .buy-btn2 {
    position: absolute;
    width: 1.85333rem;
    height: 0.53333rem;
    background: url("../images/buy-btn2.png") no-repeat;
    background-size: 100%;
    cursor: pointer; }
  #evt_content .sec-2 {
    width: 10rem;
    height: 27.48rem;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background: url("../images/sec-2.png") no-repeat;
    background-size: 100%; }
    #evt_content .sec-2 .row {
      position: relative; }
      #evt_content .sec-2 .row .cake {
        width: 10rem; }
    #evt_content .sec-2 .row1 .buy-btn2 {
      top: 3.2rem;
      left: 1.33333rem;
      z-index: 2; }
    #evt_content .sec-2 .row2 .buy-btn2 {
      top: 3.06667rem;
      left: 5.46667rem; }
    #evt_content .sec-2 .row3 .buy-btn2 {
      top: 3.06667rem;
      left: 0.33333rem; }
    #evt_content .sec-2 .row4 .buy-btn2 {
      top: 2.29333rem;
      left: 6.21333rem; }
  #evt_content .sec-footer {
    position: relative;
    padding: 1.33333rem 0;
    z-index: 1;
    background: url("../images/sec-3.png") no-repeat;
    background-size: 100%; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 9.33333rem;
      margin: 0 auto;
      color: #61605f; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.29333rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.28rem;
        padding-left: 0.46667rem;
        line-height: 0.6rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0; }
        #evt_content .sec-footer .txt p span {
          display: block;
          text-indent: 1.06667rem; }

/*蛋糕选择弹窗*/
.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-Select {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 0.18667rem;
  width: 8rem;
  height: auto;
  margin-top: -4.26667rem;
  margin-left: -4rem;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 0.13333rem; }

.s-closes {
  position: absolute;
  top: 0.13333rem !important;
  right: -0.50667rem !important;
  width: 0.36rem !important;
  height: 0.36rem !important;
  background: url("../images/close.png");
  background-size: 100%; }

.Select {
  position: relative;
  color: #000;
  height: 100%;
  text-align: left; }
  .Select .s-title {
    height: 1.37333rem;
    background: #f2f2f2;
    position: relative;
    border-top-left-radius: 0.13333rem;
    border-top-right-radius: 0.13333rem; }
    .Select .s-title h2 {
      font-size: 0.37333rem;
      line-height: 0.4rem;
      padding-left: 0.53333rem;
      padding-top: 0.4rem; }
    .Select .s-title b {
      font-size: 0.18667rem;
      color: #9a9a9a;
      font-weight: normal;
      padding-left: 0.53333rem; }
  .Select .s-bangshu {
    padding-top: 0.26667rem; }
    .Select .s-bangshu ul {
      margin-left: 0.53333rem; }
      .Select .s-bangshu ul li {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        background: #f2f2f2;
        border-radius: 50%;
        text-align: center;
        color: #4a4a4a;
        margin-right: 0.66667rem;
        font-size: 0.30667rem;
        line-height: 0.26667rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column; }
        .Select .s-bangshu ul li i {
          font-size: 0.21333rem;
          line-height: 0.26667rem;
          font-style: normal; }
      .Select .s-bangshu ul li.on {
        background: #ffc559;
        color: #000; }
  .Select .d-tips {
    padding: 0.26667rem 0.53333rem;
    color: #4c4c4c;
    font-size: 0.24rem; }
  .Select .s-num {
    height: 1.33333rem;
    padding-left: 0.53333rem;
    border-top: #ededed 1px solid; }
    .Select .s-num b {
      display: inline-block;
      width: 2.66667rem;
      margin: 0.26667rem 0;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-num .nums {
      display: inline-block;
      margin: 0.26667rem 0.53333rem 0.26667rem 0.26667rem;
      float: right;
      height: 0.74667rem;
      position: relative;
      width: 2.66667rem; }
    .Select .s-num .nums a {
      display: block;
      width: 0.74667rem;
      height: 0.74667rem;
      position: absolute;
      top: 0.02667rem; }
    .Select .s-num .nums .minus {
      background: url("../images/btn-1.png") no-repeat;
      background-size: 100%;
      left: 0; }
    .Select .s-num .nums .plus {
      background: url("../images/btn-2.png") no-repeat;
      background-size: 100%;
      right: 0; }
    .Select .s-num .nums input {
      background: none;
      border: none;
      color: #626262;
      display: block;
      font-size: 0.4rem;
      height: 0.74667rem;
      left: 0.8rem;
      line-height: 0.74667rem;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.06667rem; }
  .Select .s-prices {
    font-size: 0.29333rem;
    padding: 0.4rem 0.53333rem;
    border-top: #ededed 1px solid;
    color: #4a4a4a; }
    .Select .s-prices b {
      display: inline-block;
      width: 2.66667rem;
      margin: 0;
      line-height: 0.74667rem;
      float: left;
      font-size: 0.4rem;
      color: #737373;
      font-weight: normal; }
    .Select .s-prices p {
      display: block;
      line-height: 0.74667rem;
      text-align: right; }
    .Select .s-prices i {
      font-style: normal; }
    .Select .s-prices span {
      font-size: 0.6rem; }
  .Select s {
    color: #7e7e7e; }
  .Select .btns {
    width: 100%;
    position: relative;
    bottom: 0rem;
    display: flex;
    height: 1.33333rem;
    line-height: 1.33333rem;
    flex-direction: row;
    text-align: center;
    font-size: 0.4rem;
    color: #000;
    padding: 0; }
    .Select .btns div {
      flex: 1;
      cursor: pointer; }
    .Select .btns .go-buy {
      background: #ffe328;
      border-bottom-left-radius: 0.13333rem;
      color: #000; }
    .Select .btns .go-car {
      background: #ffc559;
      border-bottom-right-radius: 0.13333rem;
      float: left; }
    .Select .btns .go-buy.single {
      border-bottom-left-radius: 0.26667rem;
      background: #ffe32a;
      color: #c43818; }

/*吹泡泡*/
.Dialogbg-bubble {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .7;
  filter: alpha(opacity=70); }

.Dialog-bubble {
  width: 9.61333rem;
  height: 13.05333rem !important;
  padding: 0;
  top: 50%;
  left: 50%;
  margin: -6.45333rem auto 0 -4.80667rem !important;
  position: fixed;
  z-index: 99999;
  display: none; }
  .Dialog-bubble img {
    width: 100%; }
  .Dialog-bubble .closes {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    cursor: pointer;
    z-index: 8;
    background: url("../images/close.png") no-repeat; }
  .Dialog-bubble .bubble {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/game-bg1.png") center no-repeat;
    background-size: 100%;
    overflow: hidden; }
    .Dialog-bubble .bubble .game-btn {
      display: block;
      position: absolute;
      bottom: 3.2rem;
      left: 50%;
      margin-left: -1.26667rem;
      width: 2.53333rem;
      cursor: pointer; }
    .Dialog-bubble .bubble.bubble-2 {
      background: url("../images/game-bg2.png");
      background-size: 100%; }
      .Dialog-bubble .bubble.bubble-2 .uimg {
        width: 8.8rem;
        margin: 4rem auto 0; }
        .Dialog-bubble .bubble.bubble-2 .uimg ul li {
          position: relative;
          float: left;
          width: 2.4rem;
          margin: 0 0.26667rem 0.26667rem; }
          .Dialog-bubble .bubble.bubble-2 .uimg ul li:nth-of-type(1) {
            margin-left: 1.76rem; }
          .Dialog-bubble .bubble.bubble-2 .uimg ul li.first {
            margin-left: 1.76rem; }
          .Dialog-bubble .bubble.bubble-2 .uimg ul li:nth-of-type(2) {
            margin-right: 1.06667rem; }
          .Dialog-bubble .bubble.bubble-2 .uimg ul li img {
            width: 100%; }
          .Dialog-bubble .bubble.bubble-2 .uimg ul li .select {
            position: absolute;
            bottom: -0.10667rem;
            left: 0.33333rem;
            width: 0.72rem;
            height: 0.72rem;
            background: url("../images/select.png") center no-repeat;
            cursor: pointer;
            background-size: 50%; }
            .Dialog-bubble .bubble.bubble-2 .uimg ul li .select.on {
              background: url("../images/selected.png") center no-repeat;
              background-size: 50%; }
      .Dialog-bubble .bubble.bubble-2 .game-btn {
        bottom: 1.33333rem; }
    .Dialog-bubble .bubble.bubble-3 {
      background: url("../images/game-bg3.png");
      background-size: 100%; }
      .Dialog-bubble .bubble.bubble-3 .bubbles {
        position: relative;
        width: 100%;
        height: 100%; }
        .Dialog-bubble .bubble.bubble-3 .bubbles ul li {
          position: absolute;
          top: 0.26667rem;
          left: 0.26667rem;
          z-index: 1;
          width: 10.04rem; }
          .Dialog-bubble .bubble.bubble-3 .bubbles ul li img {
            width: 100%; }
          .Dialog-bubble .bubble.bubble-3 .bubbles ul li:nth-of-type(1) {
            animation: floatani1 7s ease-in-out infinite; }
          .Dialog-bubble .bubble.bubble-3 .bubbles ul li:nth-of-type(2) {
            width: 2.10667rem;
            top: -0.53333rem;
            left: 0.8rem;
            animation: floatani2 4.4s ease-in-out infinite; }
          .Dialog-bubble .bubble.bubble-3 .bubbles ul li.bubble-2 {
            width: 2.10667rem;
            top: -0.53333rem;
            left: 0.8rem;
            animation: floatani2 4.4s ease-in-out infinite; }
          .Dialog-bubble .bubble.bubble-3 .bubbles ul li:nth-of-type(3) {
            top: 2.13333rem;
            animation: floatani3 8s ease-in-out infinite; }
          .Dialog-bubble .bubble.bubble-3 .bubbles ul li:nth-of-type(4) {
            top: 0.04rem;
            animation: floatani4 6s ease-in-out infinite; }
          .Dialog-bubble .bubble.bubble-3 .bubbles ul li:nth-of-type(5) {
            top: 2.13333rem;
            animation: floatani5 7s ease-in-out infinite; }
          .Dialog-bubble .bubble.bubble-3 .bubbles ul li.bubbleBig {
            width: 5.2rem;
            height: 4.13333rem;
            top: 4.66667rem;
            left: 2.26667rem;
            z-index: 5;
            background: url("../images/bubble-big.png") no-repeat;
            background-size: 100%;
            background: none\9;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bubble-big.png', sizingMethod='scale');
            animation: floatani1 10s ease-in-out infinite; }
            .Dialog-bubble .bubble.bubble-3 .bubbles ul li.bubbleBig.p {
              background: url("../images/bubble-big-p.png") no-repeat;
              background-size: 100%;
              background: none\9;
              filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bubble-big-p', sizingMethod='scale'); }
        .Dialog-bubble .bubble.bubble-3 .bubbles .bubble-time {
          position: absolute;
          bottom: 4.66667rem;
          left: 1.50667rem;
          font-size: 0.24rem;
          opacity: 0.5;
          color: #ff0000; }
        .Dialog-bubble .bubble.bubble-3 .bubbles .stick {
          position: absolute;
          bottom: -0.24rem;
          left: 3.73333rem;
          width: 2.21333rem;
          animation: floatani6 6s ease-in-out infinite;
          cursor: pointer;
          z-index: 10; }
        .Dialog-bubble .bubble.bubble-3 .bubbles .uimg-big {
          position: absolute;
          bottom: 0;
          left: 0.8rem;
          width: 2.93333rem;
          height: 3rem; }
          .Dialog-bubble .bubble.bubble-3 .bubbles .uimg-big.uimg-big-1 {
            background: url("../images/uimg-big-1.png") no-repeat;
            background-size: 100%; }
          .Dialog-bubble .bubble.bubble-3 .bubbles .uimg-big.uimg-big-2 {
            background: url("../images/uimg-big-2.png") no-repeat;
            background-size: 100%; }
          .Dialog-bubble .bubble.bubble-3 .bubbles .uimg-big.uimg-big-3 {
            background: url("../images/uimg-big-3.png") no-repeat;
            background-size: 100%; }
          .Dialog-bubble .bubble.bubble-3 .bubbles .uimg-big.uimg-big-4 {
            background: url("../images/uimg-big-4.png") no-repeat;
            background-size: 100%; }
          .Dialog-bubble .bubble.bubble-3 .bubbles .uimg-big.uimg-big-5 {
            background: url("../images/uimg-big-5.png") no-repeat;
            background-size: 100%; }

/*抽奖彈窗*/
.Dialogbg-quan {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.82;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none; }

.Dialog-quan {
  position: fixed;
  width: 7.73333rem;
  height: 5.32rem;
  top: 50%;
  left: 50%;
  z-index: 99999;
  margin: -2.66667rem 0 0 -3.86667rem;
  display: none; }
  .Dialog-quan img {
    width: 100%; }
  .Dialog-quan .closes {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: -0.53333rem;
    right: 0;
    cursor: pointer;
    z-index: 8;
    background: url("../images/close.png") no-repeat;
    background-size: 100%; }
  .Dialog-quan .quan {
    position: relative;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%; }
    .Dialog-quan .quan .go-use {
      display: block;
      position: absolute;
      bottom: 1.22667rem;
      left: 50%;
      width: 1.85333rem;
      height: 0.53333rem;
      margin-left: -0.93333rem;
      background: url("../images/go-use.png") no-repeat;
      background-size: 100%;
      cursor: pointer; }
  .Dialog-quan .quan-1 {
    background: url("../images/quan-1.png");
    background-size: 100%; }
  .Dialog-quan .quan-2 {
    background: url("../images/quan-2.png");
    background-size: 100%; }
  .Dialog-quan .quan-3 {
    background: url("../images/quan-3.png");
    background-size: 100%; }
  .Dialog-quan .quan-4 {
    background: url("../images/quan-4.png");
    background-size: 100%; }
  .Dialog-quan .quan-5 {
    background: url("../images/quan-5.png");
    background-size: 100%; }
  .Dialog-quan .quan-6 {
    background: url("../images/quan-6.png");
    background-size: 100%; }
  .Dialog-quan .quan-7 {
    background: url("../images/quan-7.png");
    background-size: 100%; }

@keyframes floatani1 {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(10px, 30px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floatani2 {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(10px, -20px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floatani3 {
  0% {
    transform: translate(0px, 0px); }
  33% {
    transform: translate(20px, 10px); }
  66% {
    transform: translate(10px, 15px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floatani4 {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(-20px, -4px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floatani5 {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(5px, -15px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floatani6 {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(2px, -5px); }
  100% {
    transform: translate(0px, 0px); } }
