#evt_content {
  background: #f9f1ee; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec > div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .a {
    width: 2.89333rem;
    top: 0.13333rem;
    left: 0.13333rem; }
  #evt_content .b {
    width: 11.10667rem;
    top: 2.66667rem;
    left: 0; }
  #evt_content .sec-1 {
    height: 14.8rem;
    background: #f9f1ee; }
    #evt_content .sec-1 .title {
      width: 4.8rem;
      top: 0.93333rem;
      left: 2.8rem; }
    #evt_content .sec-1 .cake-1 {
      width: 6.01333rem;
      top: 3.74667rem;
      left: 1.90667rem; }
    #evt_content .sec-1 .tree {
      width: 1.61333rem;
      top: 4.02667rem;
      left: 0.13333rem; }
    #evt_content .sec-1 .xiaocao {
      width: 9.12rem;
      top: 5.73333rem;
      left: 0.66667rem; }
    #evt_content .sec-1 .dadi {
      width: 3.62667rem;
      top: 11.70667rem;
      left: 0rem; }
    #evt_content .sec-1 .che {
      top: 9.77333rem;
      left: 1.12rem; }
      #evt_content .sec-1 .che canvas {
        width: 2.50667rem;
        height: 2.26667rem; }
    #evt_content .sec-1 .baozi {
      top: 11.70667rem;
      left: 7.10667rem; }
      #evt_content .sec-1 .baozi canvas {
        width: 2.65333rem;
        height: 2.17333rem; }
    #evt_content .sec-1 .word-1 {
      width: 3.48rem;
      top: 10.34667rem;
      left: 6.22667rem; }
    #evt_content .sec-1 .houtai {
      width: 10rem;
      height: 8.8rem;
      bottom: 0rem;
      left: 0rem; }
    #evt_content .sec-1 .long-mogu {
      top: 5.82667rem;
      left: 8.24rem; }
      #evt_content .sec-1 .long-mogu canvas {
        width: 0.69333rem;
        height: 2.21333rem; }
    #evt_content .sec-1 .across {
      width: 0.6rem;
      top: 13.50667rem;
      left: 4.77333rem;
      -webkit-animation: arrow 2s linear 1s infinite normal;
      animation: arrow 2s linear 1s infinite normal; }
  #evt_content .sec-2 {
    height: 14.90667rem;
    background: #f9f1ee; }
    #evt_content .sec-2 .kuai {
      width: 4.74667rem;
      top: 0.41333rem;
      left: 4.10667rem; }
    #evt_content .sec-2 .small-pic-1 {
      width: 0.86667rem;
      top: 0.17333rem;
      left: 2.4rem; }
    #evt_content .sec-2 .small-pic-2 {
      width: 2.01333rem;
      top: 1.62667rem;
      left: 6.69333rem; }
    #evt_content .sec-2 .small-pic-3 {
      width: 1.05333rem;
      top: 6.81333rem;
      left: 2.01333rem; }
    #evt_content .sec-2 .pic {
      width: 4.8rem;
      top: 1.2rem;
      left: 0.33333rem; }
    #evt_content .sec-2 .cake-2 {
      width: 8.92rem;
      top: 2.57333rem;
      left: 1.33333rem; }
    #evt_content .sec-2 .tuzi {
      top: 8.65333rem;
      left: 0.8rem; }
      #evt_content .sec-2 .tuzi canvas {
        width: 6.14667rem;
        height: 4.36rem; }
    #evt_content .sec-2 .jieshao {
      width: 5.16rem;
      top: 10.06667rem;
      left: 4rem; }

@keyframes arrow {
  0% {
    opacity: 1;
    transform: translate3d(0, -100%, 0); }
  50% {
    opacity: .5;
    transform: translate3d(0, 0%, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }

@-webkit-keyframes arrow {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0); }
  50% {
    opacity: .5;
    -webkit-transform: translate3d(0, 0%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0); } }
