html, body {
  height: 100%; }

#evt_content {
  max-width: 10rem;
  margin: 0 auto;
  background: #fffcee; }
  #evt_content div {
    position: absolute; }
  #evt_content img {
    width: 100%; }
  #evt_content .sec {
    position: relative; }
  #evt_content .sec-banner {
    z-index: 1; }
  #evt_content .sec-1 {
    background: #fffcee;
    padding: 0.93333rem 0; }
  #evt_content .btns {
    position: relative;
    width: 2.65333rem;
    margin: 0 auto;
    background: #ffaf7d;
    text-align: center;
    cursor: pointer;
    border-radius: 0.74667rem; }
    #evt_content .btns span {
      display: block;
      color: #fff;
      font-size: 0.32rem;
      line-height: 0.78667rem; }
  #evt_content .sec-footer {
    background: #fffcee;
    background-size: 12%;
    position: relative;
    padding-bottom: 0.66667rem;
    z-index: 1;
    text-align: left;
    color: #8b4a12; }
    #evt_content .sec-footer .txt {
      position: relative;
      width: 8.26667rem;
      padding: 1.6rem 0;
      margin: 0 auto;
      text-align: left; }
      #evt_content .sec-footer .txt h2 {
        font-size: 0.36rem;
        font-weight: normal; }
      #evt_content .sec-footer .txt p {
        font-size: 0.36rem;
        padding-left: 0.46667rem;
        line-height: 0.66667rem;
        text-indent: -0.46667rem;
        margin: 0.06667rem 0;
        text-align: left !important; }
        #evt_content .sec-footer .txt p span {
          display: block;
          padding-left: 0.13333rem;
          text-indent: -0.13333rem; }
